@charset "UTF-8";
/*
  File generato con SASS, non modificare direttamente il css,
  per i fix veloci (possibilmente nessuno) usare il file shame.css

  Il foglio di stile usa BEM come name-convention  
  Il responsive è scritto mobile-first
  Per i breakpoint e i relativi mixin vedere utils.scss

  La base è un bootstrap custom (vedere cartella /vendor/bootstrap/custom)  

*/
/*------------------------------------------------
	Colors
------------------------------------------------*/
.azure {
  color: #3fa2f7; }

.bg-azure {
  background-color: #3fa2f7; }

.border-azure {
  border-color: #3fa2f7; }

.blue-dark {
  color: #244868; }

.bg-blue-dark {
  background-color: #244868; }

.border-blue-dark {
  border-color: #244868; }

.blueish-grey {
  color: #3c3d41; }

.bg-blueish-grey {
  background-color: #3c3d41; }

.border-blueish-grey {
  border-color: #3c3d41; }

.dark {
  color: #1A171B; }

.bg-dark {
  background-color: #1A171B; }

.border-dark {
  border-color: #1A171B; }

.fucsia {
  color: #e73b62; }

.bg-fucsia {
  background-color: #e73b62; }

.border-fucsia {
  border-color: #e73b62; }

.grey {
  color: #676767; }

.bg-grey {
  background-color: #676767; }

.border-grey {
  border-color: #676767; }

.grey-dark {
  color: #4a4a4a; }

.bg-grey-dark {
  background-color: #4a4a4a; }

.border-grey-dark {
  border-color: #4a4a4a; }

.grey-light {
  color: #9b9b9b; }

.bg-grey-light {
  background-color: #9b9b9b; }

.border-grey-light {
  border-color: #9b9b9b; }

.grey-lighter {
  color: #F5F4F4; }

.bg-grey-lighter {
  background-color: #F5F4F4; }

.border-grey-lighter {
  border-color: #F5F4F4; }

.orange {
  color: #f5a623; }

.bg-orange {
  background-color: #f5a623; }

.border-orange {
  border-color: #f5a623; }

.orange-dark {
  color: #ec7a46; }

.bg-orange-dark {
  background-color: #ec7a46; }

.border-orange-dark {
  border-color: #ec7a46; }

.red {
  color: #C10529; }

.bg-red {
  background-color: #C10529; }

.border-red {
  border-color: #C10529; }

.yellow {
  color: #F4B800; }

.bg-yellow {
  background-color: #F4B800; }

.border-yellow {
  border-color: #F4B800; }

.white {
  color: white; }

.bg-white {
  background-color: white; }

.border-white {
  border-color: white; }

/*------------------------------------------------
	Fonts
------------------------------------------------*/
/*------------------------------------------------
	Font sizes
------------------------------------------------*/
/*------------------------------------------------
	Font weights
------------------------------------------------*/
.fs-xs {
  font-size: 12px; }

.fs-sm {
  font-size: 14px; }

.fs {
  font-size: 17px; }

.fs-md {
  font-size: 24px; }

.fs-lg {
  font-size: 38px; }

.fs-xl {
  font-size: 48px; }

.fs-xxl {
  font-size: 63px; }

/*------------------------------------------------
	Titles
------------------------------------------------*/
.title-lg, .section-title {
  font-size: 24px; }
  @media only screen and (min-width: 992px) {
    .title-lg, .section-title {
      font-size: 36px; } }

.title-xl {
  font-size: 32px; }
  @media only screen and (min-width: 992px) {
    .title-xl {
      font-size: 48px; } }

/*------------------------------------------------
	Z-index list
------------------------------------------------*/
/*------------------------------------------------
	Globals
------------------------------------------------*/
body {
  font-size: 17px;
  font-family: "lft-etica", Arial, sans-serif; }

strong {
  color: #3fa2f7;
  font-weight: 600; }

@media only screen and (min-width: 768px) {
  .two-cols-text {
    -webkit-column-count: 2;
            column-count: 2; } }

@media only screen and (min-width: 768px) {
  .three-cols-text {
    -webkit-column-count: 3;
            column-count: 3; } }

.ts-icon, .ts-icon--search, .ts-icon--next, .ts-icon--next-white {
  background: url(../img/ui/icons.svg) no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: auto 100%;
  vertical-align: middle; }

.ts-icon--search {
  background-position: -0px top; }

.ts-icon--next {
  background-position: -16px top; }

.ts-icon--next-white {
  background-position: -32px top; }

.btn, .big-cta {
  font-size: 16px;
  padding: 11px 18px;
  font-weight: 600;
  color: white;
  font-style: normal;
  -webkit-transition: all .4s;
  transition: all .4s;
  background-color: #3fa2f7;
  border: 0; }
  .btn:hover, .big-cta:hover {
    color: white; }
  .btn-azure {
    background-color: #3fa2f7;
    border: 1px solid #3fa2f7; }
    .btn-azure:hover {
      background: transparent;
      color: #3fa2f7; }
  .btn-blue-dark {
    background-color: #244868;
    border: 1px solid #244868; }
    .btn-blue-dark:hover {
      background: transparent;
      color: #244868; }
  .btn-blueish-grey {
    background-color: #3c3d41;
    border: 1px solid #3c3d41; }
    .btn-blueish-grey:hover {
      background: transparent;
      color: #3c3d41; }
  .btn-dark {
    background-color: #1A171B;
    border: 1px solid #1A171B; }
    .btn-dark:hover {
      background: transparent;
      color: #1A171B; }
  .btn-fucsia {
    background-color: #e73b62;
    border: 1px solid #e73b62; }
    .btn-fucsia:hover {
      background: transparent;
      color: #e73b62; }
  .btn-grey {
    background-color: #676767;
    border: 1px solid #676767; }
    .btn-grey:hover {
      background: transparent;
      color: #676767; }
  .btn-grey-dark {
    background-color: #4a4a4a;
    border: 1px solid #4a4a4a; }
    .btn-grey-dark:hover {
      background: transparent;
      color: #4a4a4a; }
  .btn-grey-light {
    background-color: #9b9b9b;
    border: 1px solid #9b9b9b; }
    .btn-grey-light:hover {
      background: transparent;
      color: #9b9b9b; }
  .btn-grey-lighter {
    background-color: #F5F4F4;
    border: 1px solid #F5F4F4; }
    .btn-grey-lighter:hover {
      background: transparent;
      color: #F5F4F4; }
  .btn-orange {
    background-color: #f5a623;
    border: 1px solid #f5a623; }
    .btn-orange:hover {
      background: transparent;
      color: #f5a623; }
  .btn-orange-dark {
    background-color: #ec7a46;
    border: 1px solid #ec7a46; }
    .btn-orange-dark:hover {
      background: transparent;
      color: #ec7a46; }
  .btn-red {
    background-color: #C10529;
    border: 1px solid #C10529; }
    .btn-red:hover {
      background: transparent;
      color: #C10529; }
  .btn-yellow {
    background-color: #F4B800;
    border: 1px solid #F4B800; }
    .btn-yellow:hover {
      background: transparent;
      color: #F4B800; }
  .btn-white {
    background-color: white;
    border: 1px solid white; }
    .btn-white:hover {
      background: transparent;
      color: white; }
    .btn-white, .btn-white:hover {
      color: #3fa2f7; }
  .btn-lg {
    padding: 15px 22px; }
  .btn-xl {
    padding: 15px 22px;
    border-radius: 8px;
    text-transform: uppercase; }
  .btn-icon {
    display: block; }
    .btn-icon img {
      margin-right: 10px; }
    .btn-icon:hover {
      opacity: .8; }
    @media only screen and (min-width: 992px) {
      .btn-icon {
        display: inline-block; } }
  .btn-xxl {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 12px;
    padding: 30px 50px;
    display: block; }
    @media only screen and (min-width: 992px) {
      .btn-xxl {
        display: inline-block;
        font-size: 32px; } }

.form-control:hover, .form-control:focus, .form-control:focus:hover, .form-control:active {
  -webkit-box-shadow: none;
          box-shadow: none; }

.input-group .input-group-btn .btn:focus, .input-group .input-group-btn .big-cta:focus, .input-group .input-group-btn .btn:hover, .input-group .input-group-btn .big-cta:hover, .input-group .input-group-btn .btn:active, .input-group .input-group-btn .big-cta:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none; }

.slick-slide {
  outline: none !important; }

.slick-dots li button:before {
  font-size: 9px; }

.slick-dots li.slick-active button:before {
  color: #3fa2f7; }

.slick--blue-arrows .slick-prev, .slick--blue-arrows .slick-next {
  width: 17px;
  height: 32px;
  opacity: .8; }
  .slick--blue-arrows .slick-prev:before, .slick--blue-arrows .slick-next:before {
    content: none; }
  .slick--blue-arrows .slick-prev:hover, .slick--blue-arrows .slick-next:hover {
    opacity: 1; }

.slick--blue-arrows .slick-prev {
  background: url(../img/ui/arrow-prev-blue.svg); }

.slick--blue-arrows .slick-next {
  background: url(../img/ui/arrow-next-blue.svg); }

html {
  background: no-repeat fixed center center;
  background-size: cover; }

body {
  background: white; }

.rtl {
  direction: rtl; }

.container-fluid {
  max-width: 1470px; }

.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1470px; }

a {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink; }

/*------------------------------------------------
	Section title
------------------------------------------------*/
.title-section {
  font-size: 38px;
  font-weight: 100;
  color: #244868; }

/*------------------------------------------------
	Points line divider
------------------------------------------------*/
hr.points {
  background: url(../img/ui/title-points.svg) no-repeat center bottom;
  background-size: 90px auto;
  width: 90px;
  height: 10px;
  border: 0;
  margin: 5px auto 10px; }

/*------------------------------------------------
	Back to top
------------------------------------------------*/
.backtotop {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 2000;
  text-align: center;
  text-transform: uppercase;
  padding: 8px;
  right: -60px;
  bottom: 30px;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: right .4s ease-out;
  transition: right .4s ease-out; }
  .backtotop.visible {
    right: 0; }
  .backtotop svg {
    display: block;
    margin: 0 auto;
    fill: white; }
  @media only screen and (min-width: 768px) {
    .backtotop {
      bottom: 100px; } }

/*------------------------------------------------
	Slider
------------------------------------------------*/
.slider a {
  display: block;
  position: relative; }

.slider__wrap {
  background: #F5F4F4;
  padding: 60px 15px; }

.slider__logo, .slider__text {
  padding: 20px; }

.slider__logo {
  max-width: 100%; }
  .slider__logo img {
    display: block;
    margin: 0 auto;
    max-width: 100%; }

.slider__text {
  font-size: 22px;
  font-style: italic;
  position: absolute;
  z-index: 2;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1A171B;
  width: 100%; }
  .slider__text strong {
    color: #1A171B;
    font-weight: 800; }

@media only screen and (min-width: 768px) {
  .slider__wrap {
    padding: 60px; }
  .slider__logo {
    padding: 0; }
    .slider__logo img {
      margin: 0; }
  .slider__text {
    text-align: left; } }

/* -------------------------------------
  Intro
--------------------------------------*/
.intro {
  -webkit-box-shadow: 0 5px 15px black;
          box-shadow: 0 5px 15px black;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5); }
  .intro__main-title {
    font-size: 36px;
    font-weight: 100;
    color: #244868; }
    @media only screen and (min-width: 768px) {
      .intro__main-title {
        font-size: 48px; } }
  .intro__title {
    font-size: 36px;
    font-weight: 100;
    color: #3fa2f7;
    text-transform: uppercase; }
    @media only screen and (min-width: 1200px) {
      .intro__title {
        font-size: 48px; } }
  .intro__abstract {
    color: #9b9b9b; }
  .intro__slider {
    position: relative; }
  .intro__slide {
    background-color: white;
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: left bottom -50px;
    min-height: 500px;
    outline: none;
    padding: 0 25px; }
    @media only screen and (min-width: 576px) {
      .intro__slide {
        background-position: left bottom -65%;
        background-size: 570px; } }
    @media only screen and (min-width: 768px) {
      .intro__slide {
        min-height: 350px;
        background-position: left top;
        background-size: 570px; } }
    @media only screen and (min-width: 992px) {
      .intro__slide {
        background: no-repeat 15px center;
        padding: 0 30px;
        background-size: 90%;
        min-height: 500px; } }
  .intro__content {
    padding-top: 90px;
    width: 100%; }
    @media only screen and (min-width: 768px) {
      .intro__content {
        padding-left: 50%; } }
  .intro__text {
    font-size: 18px;
    font-weight: 100; }
    @media only screen and (min-width: 1200px) {
      .intro__text {
        font-size: 22px; } }
  .intro__nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 35px; }
    @media only screen and (min-width: 768px) {
      .intro__nav {
        padding-left: 50%; } }
  .intro__nav-item {
    border-radius: 50%;
    background: none;
    border: 4px solid transparent;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
    overflow: hidden;
    width: 44px;
    height: 44px;
    padding: 0;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; }
    .intro__nav-item, .intro__nav-item:focus, .intro__nav-item:hover, .intro__nav-item:active {
      outline: none; }
    .intro__nav-item--active {
      border: 4px solid #f5a623 !important; }
    .intro__nav-item:hover {
      border: 4px solid #9b9b9b; }
  .intro__icon {
    width: 102%; }
  .intro .slick-prev, .intro .slick-next {
    width: 26px;
    height: 86px;
    opacity: 1;
    z-index: 1; }
    .intro .slick-prev:before, .intro .slick-next:before {
      content: none; }
    .intro .slick-prev:hover, .intro .slick-next:hover {
      opacity: 1; }
  .intro .slick-prev {
    left: -12px; }
  .intro .slick-next {
    right: 0; }

/* -------------------------------------
  Trasformazione digitale
--------------------------------------*/
.trasf-dig {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#214561), to(#20303f));
  background-image: linear-gradient(to bottom, #214561, #20303f);
  color: white;
  position: relative; }
  .trasf-dig__title {
    color: white;
    font-size: 30px;
    text-align: center; }
  .trasf-dig__blocks {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media only screen and (min-width: 768px) {
      .trasf-dig__blocks {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
  .trasf-dig__block {
    font-size: 18px;
    color: white;
    text-align: left;
    padding: 8%;
    -webkit-transition: -webkit-transform .4s ease-out;
    transition: -webkit-transform .4s ease-out;
    transition: transform .4s ease-out;
    transition: transform .4s ease-out, -webkit-transform .4s ease-out;
    cursor: pointer; }
    .trasf-dig__block:hover {
      -webkit-transform: translateY(-15px);
              transform: translateY(-15px); }
    .trasf-dig__block *, .trasf-dig__block:hover * {
      color: white;
      text-decoration: none; }
    .trasf-dig__block a {
      display: block; }
    .trasf-dig__block--blue {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#24abe3), to(#0d5399));
      background-image: linear-gradient(to bottom, #24abe3, #0d5399); }
    .trasf-dig__block--yellow {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcd34), to(#db8300));
      background-image: linear-gradient(to bottom, #ffcd34, #db8300); }
    @media only screen and (min-width: 768px) {
      .trasf-dig__block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 0px;
                flex: 1 1 0; } }
    @media only screen and (min-width: 992px) {
      .trasf-dig__block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .trasf-dig__block:nth-child(1) {
          margin-right: 50px; }
        .trasf-dig__block:nth-child(2) {
          margin-left: 50px; } }
  .trasf-dig__target {
    text-transform: uppercase; }
    .trasf-dig__target, .trasf-dig__target * {
      color: white; }
  .trasf-dig__name {
    font-size: 46px;
    color: white;
    text-transform: uppercase; }
    @media only screen and (min-width: 768px) {
      .trasf-dig__name {
        font-size: 52px; } }
    @media only screen and (min-width: 992px) {
      .trasf-dig__name {
        font-size: 64px; } }
    @media only screen and (min-width: 1200px) {
      .trasf-dig__name {
        font-size: 76px; } }
  .trasf-dig__abstract {
    color: white;
    font-weight: 100;
    font-size: 16px; }
    @media only screen and (min-width: 768px) {
      .trasf-dig__abstract {
        font-size: 16px; } }
    @media only screen and (min-width: 992px) {
      .trasf-dig__abstract {
        font-size: 18px;
        padding-left: 20%; } }
  .trasf-dig__footer {
    height: 100px;
    background: white;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    position: absolute;
    z-index: 0;
    width: 100%; }

/*------------------------------------------------
	Mercati verticali
------------------------------------------------*/
.ts-card {
  border: 0;
  -webkit-transition: -webkit-transform .4s ease-out;
  transition: -webkit-transform .4s ease-out;
  transition: transform .4s ease-out;
  transition: transform .4s ease-out, -webkit-transform .4s ease-out;
  text-align: center;
  outline: none;
  position: relative; }
  .ts-card:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    opacity: 0; }
  .ts-card:hover {
    text-decoration: none;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); }
    .ts-card:hover:after {
      opacity: 1; }
  .ts-card .card-img-top {
    max-width: 100%;
    height: auto; }
  .ts-card .card-title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase; }
    .ts-card .card-title, .ts-card .card-title:hover {
      color: #4a4a4a; }
  .ts-card .card-text {
    font-size: 14px; }
    .ts-card .card-text, .ts-card .card-text:hover {
      color: #9b9b9b; }

/*------------------------------------------------
	Quotes
------------------------------------------------*/
.quotes {
  overflow: hidden; }
  .quotes__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left; }
  .quotes__thumb {
    -ms-flex-preferred-size: 90px;
        flex-basis: 90px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .quotes__text {
    font-size: 13px;
    color: #3fa2f7;
    padding-left: 30px; }
  .quotes__author {
    color: #244868;
    font-weight: 600; }
  .quotes p:before, .quotes p:after {
    content: '"'; }

/*------------------------------------------------
	Lanci
------------------------------------------------*/
.lanci__item {
  position: relative; }

.lanci__btn {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .lanci__btn:hover {
    background: #3fa2f7; }
  @media only screen and (min-width: 576px) {
    .lanci__btn {
      width: calc(100% - 60px);
      display: block; } }

.lanci .slick-slide {
  padding: 0; }
  .lanci .slick-slide img {
    margin: 0 auto; }

/*------------------------------------------------
	blog
------------------------------------------------*/
.blog__item {
  text-align: left;
  max-width: 350px; }

.blog__title {
  font-size: 40px;
  font-weight: 100;
  text-transform: uppercase;
  background: no-repeat left bottom;
  padding-bottom: 10px;
  line-height: 1; }
  .blog__title, .blog__title strong {
    color: black; }

.blog__icons {
  height: 25px;
  width: auto; }

.blog__abstract {
  font-size: 16px;
  font-weight: 100; }

/*------------------------------------------------
	Footer
------------------------------------------------*/
.main-footer {
  background: url(../img/ui/footer-border.png) no-repeat center bottom #3c3d41;
  background-size: 100% 14px;
  min-height: 300px; }
  .main-footer__newsletter .btn, .main-footer__newsletter .big-cta {
    width: 100%; }
  @media only screen and (min-width: 576px) {
    .main-footer__newsletter .btn, .main-footer__newsletter .big-cta {
      width: auto; } }
  .main-footer__newsletter-title {
    font-size: 24px;
    color: #e73b62;
    font-weight: 600; }
  .main-footer__links {
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .main-footer__links a {
      color: white;
      margin-bottom: 5px;
      display: block; }
    @media only screen and (min-width: 992px) {
      .main-footer__links {
        padding-top: 13px; } }
  .main-footer__title--sm {
    font-size: 12px;
    font-weight: 600;
    color: white;
    text-transform: uppercase; }
  .main-footer__link {
    color: white; }
  .main-footer__bottom {
    color: #939495;
    font-size: 12px; }
  @media only screen and (min-width: 992px) {
    .main-footer__socialize {
      padding-top: 13px; } }
  .main-footer__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (min-width: 768px) {
      .main-footer__socials {
        display: block; } }
  .main-footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    opacity: 1; }
    .main-footer__social, .main-footer__social:hover {
      color: white;
      text-decoration: none; }
    .main-footer__social:hover {
      opacity: .4; }
    .main-footer__social .fa, .main-footer__social span {
      background: #58585a; }
    .main-footer__social .fa {
      text-align: center;
      width: 28px;
      height: 24px;
      line-height: 24px;
      border-radius: 3px;
      margin-right: 4px; }
    .main-footer__social span {
      padding: 5px 10px;
      display: block;
      border-radius: 5px;
      width: 100%; }
    @media only screen and (min-width: 768px) {
      .main-footer__social {
        margin-right: 10px; } }
  .main-footer .form-control {
    background: #9b9b9b;
    border: 0;
    font-size: 14px;
    padding: 15px; }

.main-nav__secondary .dropdown .dropdown-menu a, .main-nav .dropdown-menu .ui-menu a {
  -webkit-transition: all .4s;
  transition: all .4s;
  border-radius: 4px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px 0; }
  .main-nav__secondary .dropdown .dropdown-menu a:hover, .main-nav .dropdown-menu .ui-menu a:hover {
    background: #0e8af5;
    text-decoration: none !important;
    color: white; }

.main-nav {
  text-align: left;
  position: absolute;
  margin-bottom: -55px;
  width: 100%;
  /* ------------------------------
    Search
  -------------------------------*/
  /* ------------------------------
    Secondary
  -------------------------------*/
  /* ------------------------------
    Primary
  -------------------------------*/
  /**
   *----------------------------------------------------------
   *  Subnav styles
   *----------------------------------------------------------
   */ }
  .main-nav .navbar {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
    width: 100%; }
    .main-nav .navbar:before {
      position: absolute;
      width: 100%;
      height: 142px;
      top: 0;
      left: 0;
      z-index: 0;
      border-top: 1px solid white; }
    .main-nav .navbar-brand {
      margin: 6px 15px;
      z-index: 300;
      position: relative; }
      .main-nav .navbar-brand img {
        width: 180px;
        height: 32px; }
    .main-nav .navbar-toggler {
      font-size: 24px;
      color: #3fa2f7;
      outline: 0;
      z-index: 1;
      cursor: pointer; }
      .main-nav .navbar-toggler-icon {
        width: 23px;
        height: 17px; }
    .main-nav .navbar-collapse {
      background: grey; }
    .main-nav .navbar-collapse {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      left: 0;
      position: relative;
      z-index: 200; }
      .main-nav .navbar-collapse.show {
        background: grey; }
  .main-nav .dropdown-toggler:after {
    content: '';
    font-family: 'FontAwesome';
    float: right;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s; }
  .main-nav .dropdown-toggler.open {
    color: white; }
    .main-nav .dropdown-toggler.open:after {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .main-nav .dropdown-menu {
    display: none;
    font-size: 13px;
    -webkit-box-shadow: 0 5px 20px rgba(26, 23, 27, 0.2);
            box-shadow: 0 5px 20px rgba(26, 23, 27, 0.2); }
    .main-nav .dropdown-menu .menu {
      position: relative;
      background: rgba(0, 0, 0, 0.1); }
      .main-nav .dropdown-menu .menu ul {
        position: static;
        display: none; }
      .main-nav .dropdown-menu .menu li {
        list-style: none; }
      .main-nav .dropdown-menu .menu a {
        color: #1A171B; }
  .main-nav__search {
    margin-right: 20px; }
    .main-nav__search:hover .form-control, .main-nav__search:focus .form-control {
      width: 140px; }
    .main-nav__search .input-group {
      height: 22px; }
      .main-nav__search .input-group .btn, .main-nav__search .input-group .big-cta {
        background: none;
        padding: 0;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        cursor: pointer; }
      .main-nav__search .input-group .ts-icon--search {
        vertical-align: super; }
    .main-nav__search .form-control {
      background: none;
      border: 0;
      border-bottom: 1px solid grey;
      border-radius: 0;
      font-size: 12px;
      padding: 0;
      color: white;
      width: 0;
      -webkit-transition: width .3s ease-out;
      transition: width .3s ease-out; }
  .main-nav__secondary {
    font-size: 13px;
    height: 92px;
    padding: 12px 8px;
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main-nav__secondary a:hover {
      color: #3fa2f7; }
    .main-nav__secondary .dropdown .dropdown-menu {
      top: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 20px; }
    .main-nav__secondary .nav-item {
      margin-left: 10px;
      margin-right: 10px; }
      .main-nav__secondary .nav-item:last-child {
        margin-left: 10px; }
    .main-nav__secondary .nav-link {
      color: white;
      font-weight: 600;
      white-space: nowrap; }
    @media only screen and (min-width: 992px) {
      .main-nav__secondary {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; } }
  .main-nav__primary {
    font-size: 13px;
    width: 100%; }
    .main-nav__primary a, .main-nav__primary strong, .main-nav__primary span {
      display: block; }
    .main-nav__primary a {
      color: white;
      display: block;
      padding: 15px; }
    .main-nav__primary li {
      border-bottom: 1px solid rgba(26, 23, 27, 0.1); }
    .main-nav__primary .nav-item {
      position: relative;
      border-bottom: 1px solid rgba(26, 23, 27, 0.1);
      background: white;
      font-size: 13px; }
      .main-nav__primary .nav-item:last-child .nav-link:after {
        content: none; }
      .main-nav__primary .nav-item ul {
        padding: 0; }
      .main-nav__primary .nav-item .nav-link {
        font-weight: 600;
        text-transform: uppercase;
        padding: 15px;
        color: #1A171B;
        font-size: 13px;
        margin: 0 15px; }
    @media only screen and (min-width: 992px) {
      .main-nav__primary {
        height: 45px;
        font-size: 14px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .main-nav__primary a {
          padding: 5px 0; }
        .main-nav__primary li {
          border: 0; }
        .main-nav__primary .nav-item {
          border-bottom: 0;
          background: none;
          margin: 0 8px;
          position: relative; }
          .main-nav__primary .nav-item.open, .main-nav__primary .nav-item.active, .main-nav__primary .nav-item:hover {
            background: #ffffff66; }
          .main-nav__primary .nav-item .nav-link {
            padding: 0;
            font-size: 14px;
            color: white;
            line-height: 45px; } }
    @media only screen and (min-width: 1200px) {
      .main-nav__primary .nav-item {
        margin: 0 15px; } }
  .main-nav .dropdown-menu {
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
    border-radius: 0;
    top: 100%; }
    .main-nav .dropdown-menu .ui-menu {
      width: 250px;
      top: 0 !important;
      min-height: 100%;
      border: 0 !important;
      -webkit-box-shadow: 0 5px 20px rgba(26, 23, 27, 0.2);
              box-shadow: 0 5px 20px rgba(26, 23, 27, 0.2);
      font-family: "lft-etica", Arial, sans-serif;
      font-size: 13px;
      padding: 10px 0;
      position: absolute !important; }
      .main-nav .dropdown-menu .ui-menu a, .main-nav .dropdown-menu .ui-menu strong, .main-nav .dropdown-menu .ui-menu span {
        text-decoration: none;
        color: white; }
      .main-nav .dropdown-menu .ui-menu span {
        color: white;
        font-size: 12px; }
      .main-nav .dropdown-menu .ui-menu .dropdown-toggler {
        margin-right: 0;
        margin-left: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
      .main-nav .dropdown-menu .ui-menu .ui-state-active {
        margin-top: 0;
        margin-bottom: 0;
        border: 0 !important; }
      .main-nav .dropdown-menu .ui-menu-item {
        outline: none !important;
        border: 0 !important; }
      .main-nav .dropdown-menu .ui-menu .ui-menu {
        background: #3fa2f7; }
    .main-nav .dropdown-menu > .ui-menu {
      padding-right: 0; }
      .main-nav .dropdown-menu > .ui-menu > .ui-menu-item {
        color: #1A171B; }
        .main-nav .dropdown-menu > .ui-menu > .ui-menu-item > a {
          color: #1A171B;
          border: 0;
          border-radius: 0;
          padding-left: 10px;
          padding-right: 10px; }
          .main-nav .dropdown-menu > .ui-menu > .ui-menu-item > a:hover {
            color: white;
            background: #3fa2f7; }
      .main-nav .dropdown-menu > .ui-menu .ui-state-active {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        background: #3fa2f7;
        color: white !important; }
  @media only screen and (min-width: 992px) {
    .main-nav {
      position: relative; }
      .main-nav .navbar > div {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        height: 142px; }
      .main-nav .navbar-collapse {
        background: none;
        position: absolute;
        width: 100%;
        padding-top: 5px; }
      .main-nav .navbar:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 142px;
        top: 0;
        left: 0;
        z-index: -1;
        background: url(../img/ui/menu-line.svg) no-repeat center 92px;
        border: 0; }
      .main-nav .navbar:after {
        content: '';
        position: fixed;
        width: 100%;
        height: 182px;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -2;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(26, 23, 27, 0.6)), to(rgba(26, 23, 27, 0)));
        background-image: linear-gradient(to bottom, rgba(26, 23, 27, 0.6) 50%, rgba(26, 23, 27, 0));
        -webkit-transition: opacity .4s;
        transition: opacity .4s; }
      .main-nav .navbar-brand {
        margin-left: 0;
        top: 15px; }
        .main-nav .navbar-brand img {
          width: 270px;
          height: 48px; }
      .main-nav--scrolled .navbar:after {
        opacity: 1; }
      .main-nav--scrolled .main-nav__primary .nav-item:hover {
        background-color: rgba(26, 23, 27, 0.2); }
      .main-nav .nav-item:hover .nav-link.dropdown-toggler:after {
        content: '';
        background: url(../img/ui/dropdown-triangle.svg);
        width: 16px;
        height: 7px;
        bottom: 0;
        position: absolute;
        left: calc(50% - 8px);
        border: 0; }
      .main-nav .dropdown-toggler:after {
        content: none; }
      .main-nav .dropdown-menu .menu {
        background: white; }
      .main-nav .dropdown-menu .ui-menu a {
        margin-right: 0;
        margin-left: 0; }
      .main-nav .dropdown-menu .ui-menu .ui-menu-item-wrapper {
        padding-left: 10px;
        padding-right: 10px; }
      .main-nav .nav-item:hover > .dropdown-menu {
        display: block; } }

/**
 * --------------------------------------------
 *   HAMBURGER 
 * --------------------------------------------- 
 */
.navbar-toggler {
  /* -------------------------------------
    Chiuso
  ------------------------------------- */ }
  .navbar-toggler .main-nav__hamburger {
    width: 22.5px;
    height: 17.25px;
    position: relative;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: block; }
    .navbar-toggler .main-nav__hamburger span {
      display: block;
      position: absolute;
      height: 3px;
      width: 50%;
      background: white;
      -webkit-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out; }
      .navbar-toggler .main-nav__hamburger span:nth-child(1), .navbar-toggler .main-nav__hamburger span:nth-child(6) {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .navbar-toggler .main-nav__hamburger span:nth-child(2), .navbar-toggler .main-nav__hamburger span:nth-child(5) {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .navbar-toggler .main-nav__hamburger span:nth-child(1), .navbar-toggler .main-nav__hamburger span:nth-child(2) {
        top: 3.92045px; }
      .navbar-toggler .main-nav__hamburger span:nth-child(1), .navbar-toggler .main-nav__hamburger span:nth-child(5) {
        left: calc(50% - 9px); }
      .navbar-toggler .main-nav__hamburger span:nth-child(2), .navbar-toggler .main-nav__hamburger span:nth-child(6) {
        right: calc(50% - 9px); }
      .navbar-toggler .main-nav__hamburger span:nth-child(3), .navbar-toggler .main-nav__hamburger span:nth-child(4) {
        top: 7.125px; }
      .navbar-toggler .main-nav__hamburger span:nth-child(3), .navbar-toggler .main-nav__hamburger span:nth-child(4) {
        opacity: 0; }
      .navbar-toggler .main-nav__hamburger span:nth-child(3) {
        left: -50%; }
      .navbar-toggler .main-nav__hamburger span:nth-child(4) {
        right: -50%; }
      .navbar-toggler .main-nav__hamburger span:nth-child(5), .navbar-toggler .main-nav__hamburger span:nth-child(6) {
        top: 10.32955px; }
  .navbar-toggler.collapsed .main-nav__hamburger span {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
    background: white; }
    .navbar-toggler.collapsed .main-nav__hamburger span:nth-child(even) {
      right: 0;
      border-radius: 0 3px 3px 0; }
    .navbar-toggler.collapsed .main-nav__hamburger span:nth-child(odd) {
      left: 0;
      border-radius: 3px 0 0 3px; }
    .navbar-toggler.collapsed .main-nav__hamburger span:nth-child(1), .navbar-toggler.collapsed .main-nav__hamburger span:nth-child(2) {
      top: 0px; }
    .navbar-toggler.collapsed .main-nav__hamburger span:nth-child(5), .navbar-toggler.collapsed .main-nav__hamburger span:nth-child(6) {
      top: 14.25px; }

.hero__image, .hero__video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none; }

/* --------------------------------------------
  Hero
---------------------------------------------*/
.hero {
  overflow: hidden;
  text-align: center;
  position: relative;
  /* --------------------------------------------
    .hero .slick
  ---------------------------------------------*/ }
  .hero__slider {
    margin: 0; }
  .hero__slide {
    min-height: 500px; }
    .hero__slide:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: linear-gradient(43deg, black, #003c61, #5a5000);
      top: 0;
      left: 0;
      z-index: 2;
      pointer-events: none;
      opacity: .8; }
    @media only screen and (min-width: 992px) {
      .hero__slide {
        min-height: 800px; } }
  .hero__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 500px;
    max-height: 1200px; }
    .hero__wrapper.video-playing .hero__image, .hero__wrapper.video-playing .hero__copy {
      opacity: 0;
      pointer-events: none; }
    .hero__wrapper.video-playing .hero__video {
      pointer-events: initial; }
    @media only screen and (min-width: 768px) {
      .hero__wrapper {
        min-height: 800px;
        height: calc(80vh - 60px); } }
    @media only screen and (min-width: 992px) {
      .hero__wrapper {
        padding-top: 120px; } }
    @media only screen and (min-width: 1200px) {
      .hero__wrapper {
        height: calc(100vh - 60px); } }
  .hero__title {
    font-size: 32px;
    font-weight: 800;
    line-height: 1; }
    .hero__title, .hero__title strong {
      color: white; }
    @media only screen and (min-width: 768px) {
      .hero__title {
        font-size: 52px; } }
  .hero__copy {
    -webkit-transition: opacity .4s, -webkit-transform .4s;
    transition: opacity .4s, -webkit-transform .4s;
    transition: opacity .4s, transform .4s;
    transition: opacity .4s, transform .4s, -webkit-transform .4s;
    position: relative;
    z-index: 4;
    padding: 0 15px;
    max-width: 800px; }
  .hero__abstract {
    color: white;
    font-size: 18px; }
    .hero__abstract, .hero__abstract strong {
      color: white; }
  .hero__image {
    z-index: 1;
    background-position: center center;
    background-size: cover;
    -webkit-transition: opacity .4s, -webkit-transform .8s;
    transition: opacity .4s, -webkit-transform .8s;
    transition: opacity .4s, transform .8s;
    transition: opacity .4s, transform .8s, -webkit-transform .8s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .hero__play {
    display: inline-block;
    background: none;
    border: 0;
    text-align: center;
    cursor: pointer; }
    .hero__play img {
      display: inline; }
  .hero__video {
    z-index: 0;
    cursor: url(../img/ui/close.cur), auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .hero .btn, .hero .big-cta {
    display: inline-block; }
  .hero .slick-dots {
    bottom: 15px;
    z-index: 3; }
    .hero .slick-dots li:nth-child(1) {
      background: white; }
    .hero .slick-dots li:nth-child(2) {
      background: #bd10e0; }
    .hero .slick-dots li:nth-child(3) {
      background: #b8e986; }
    .hero .slick-dots li {
      width: 30px;
      height: 10px;
      border-radius: 5px;
      background: white;
      opacity: .5; }
      .hero .slick-dots li.slick-active {
        opacity: 1; }
      .hero .slick-dots li button:before {
        content: none; }
    @media only screen and (min-width: 768px) {
      .hero .slick-dots {
        bottom: 55px; }
        .hero .slick-dots li {
          width: 110px; } }
  .hero .slick-arrow {
    background: none !important;
    width: 72px;
    height: 72px;
    z-index: 3; }
    .hero .slick-arrow:before {
      content: none; }
    .hero .slick-arrow.slick-prev {
      left: 15px; }
    .hero .slick-arrow.slick-next {
      right: 15px; }
    @media (min-width: 1450px) {
      .hero .slick-arrow.slick-prev {
        left: calc((100vw - 1440px) / 2); }
      .hero .slick-arrow.slick-next {
        right: calc((100vw - 1440px) / 2); } }
  .hero .slick-slide {
    position: relative;
    overflow: hidden; }
    .hero .slick-slide-active:not([data-slick-index="0"]) .hero__image {
      -webkit-transform: scale(1);
              transform: scale(1); }

/* --------------------------------------------
  Hero pagine interne
---------------------------------------------*/
.hero--small .hero__slide {
  min-height: 500px; }
  @media only screen and (min-width: 992px) {
    .hero--small .hero__slide {
      min-height: 500px; } }

.hero--small .hero__wrapper {
  min-height: 500px;
  height: auto; }

/*------------------------------------------------
	Global
------------------------------------------------*/
.links-list {
  padding-left: 15px; }
  .links-list li {
    list-style: none; }
    .links-list li:before {
      content: '\2022';
      font-size: 30px;
      line-height: 0;
      margin-right: 10px;
      color: #3fa2f7;
      vertical-align: sub; }

/*------------------------------------------------
	Title
------------------------------------------------*/
.section-title {
  padding: 15px;
  border-bottom: 2px solid #3fa2f7; }

/*------------------------------------------------
	Path
------------------------------------------------*/
.breadcrumb {
  font-size: 16px;
  background: none;
  padding: 0; }
  .breadcrumb-item a {
    color: #676767; }
  .breadcrumb-item + .breadcrumb-item:before {
    content: '›';
    padding-left: 3px; }
  .breadcrumb-item.active {
    color: #1A171B; }

/*------------------------------------------------
	Big CTA
------------------------------------------------*/
.big-cta {
  font-size: 22px;
  width: 100%;
  color: #3fa2f7;
  border: 1px solid #3fa2f7;
  background: transparent;
  display: block;
  text-align: center;
  padding: 30px 15px; }
  .big-cta:hover {
    text-decoration: none;
    background: #3fa2f7;
    color: white; }
  @media only screen and (min-width: 768px) {
    .big-cta {
      font-size: 32px; } }

/*------------------------------------------------
	Funzioni
------------------------------------------------*/
.funzioni__title {
  font-size: 26px;
  color: #3fa2f7;
  padding: 0 10px; }

.funzioni li {
  font-size: 16px;
  border-bottom: 1px solid #dcddde;
  padding: 5px 10px; }
  @media only screen and (min-width: 992px) {
    .funzioni li {
      font-size: 22px; } }

/*------------------------------------------------
	FAQ
------------------------------------------------*/
.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch; }

.faq__pill {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-size: 22px;
  border: 2px solid #3fa2f7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1A171B;
  padding: 20px 20px;
  margin-bottom: 10px;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left; }
  .faq__pill:hover {
    background: #3fa2f7;
    color: white;
    text-decoration: none; }
  @media only screen and (min-width: 576px) {
    .faq__pill {
      margin: 0 20px 20px 0; } }
  @media only screen and (min-width: 992px) {
    .faq__pill {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      padding: 0 100px;
      height: 110px;
      font-size: 26px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

/*------------------------------------------------
	Strumenti
------------------------------------------------*/
.strumenti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media only screen and (min-width: 992px) {
    .strumenti {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .strumenti .dropdown {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 100%;
    margin-right: 15px;
    margin-bottom: 10px; }
    .strumenti .dropdown .fa {
      float: right;
      font-size: 26px; }
      @media only screen and (min-width: 992px) {
        .strumenti .dropdown .fa {
          font-size: 38px; } }
    .strumenti .dropdown:last-child {
      margin-right: 0; }
    .strumenti .dropdown-toggle, .strumenti .dropdown-menu {
      width: 100%; }
    .strumenti .dropdown-toggle {
      background: #e5f4fa;
      font-size: 20px;
      color: #3fa2f7;
      text-align: left;
      font-weight: 400;
      outline: none;
      border: 0;
      -webkit-box-shadow: none !important;
              box-shadow: none !important; }
      .strumenti .dropdown-toggle:after {
        content: none; }
      .strumenti .dropdown-toggle:focus, .strumenti .dropdown-toggle:hover, .strumenti .dropdown-toggle:active {
        background: #3fa2f7 !important;
        color: white; }
      @media only screen and (min-width: 768px) {
        .strumenti .dropdown-toggle {
          font-size: 22px; } }
      @media only screen and (min-width: 1200px) {
        .strumenti .dropdown-toggle {
          font-size: 26px; } }
    .strumenti .dropdown.show .dropdown-toggle {
      background: #3fa2f7 !important;
      color: white; }
    .strumenti .dropdown-item:active, .strumenti .dropdown-item:hover {
      background: #3fa2f7 !important; }

/*------------------------------------------------
	Banner
------------------------------------------------*/
.banner {
  padding: 40px;
  background-size: cover;
  color: white;
  font-size: 24px;
  line-height: 1.4; }
  @media only screen and (min-width: 992px) {
    .banner {
      font-size: 48px; } }
