@require '_utils'


/* -----------------------------
  Global
----------------------------- */ 
html, body
  background: $colors.primary
  max-width 768px
  overflow-x hidden
  margin 0 auto

body
  font-family $fontFamily
  font-size 14px
  max-width 768px
  margin 0 auto
  box-shadow 0 10px 20px rgba(0,0,0,.1)

  // overflow hidden



/* -----------------------------
  View
----------------------------- */
.view
  padding-bottom 80px
  min-height 100vh
  background white


/* -----------------------------------
  View header
------------------------------------*/
.view-header
  padding 15px
  display flex
  align-items center
  height $viewHeaderHeight
  position relative
  z-index 20
  background: $colors.greyLight
  &__back
    margin-right 10px
  &__title 
    font-size 30px 
    margin-bottom 0
  &__btn
    align-self flex-end
    margin-left 5px
    padding 0
    width 48px
    height 48px
    text-align center


/* -----------------------------
  Table
----------------------------- */  
th, td
  padding 10px 5px

th
  //border-bottom 1px solid #ddd
  // color $grey
  white-space nowrap
  &, button
    font-weight bold
    font-size .55rem
    text-transform uppercase
    color $grey    
  button
    background none
    border 0
    padding 0

  



/* -----------------------------
  Colors
----------------------------- */
for key, val in $colors
  .c-{key}
    color val 
  .bg-{key} 
    background-color val 
  


/* -----------------------------
  Buttons
----------------------------- */
for key, val in $colors
  .btn-link-{key} 
    color val 
    &:hover, &:active
      color darken(val, 10)

button
  font-family $fontFamily
  cursor pointer
  border 0
  background none
  &:focus
    outline none 




/* -----------------------------
  Utils
----------------------------- */ 
.flex-center
  @extend $flex-center

.flex-h-center
  @extend $flex-h-center

.flex-v-center
  @extend $flex-v-center