@require '_utils'

/* -----------------------------------
  Login
------------------------------------*/
.login-view
  min-height 100vh  
  text-align center
  color white
  background: $colors.primary

  a 
    color #fff

  .logo
    font-size 24px 
    margin-top -60px
    transform translateX(-14px)
    img
      margin-right -5px
    strong
      font-weight 900


