@require '_utils'


/* -----------------------------------
  Search
------------------------------------*/
.search

  &__form
    input
      border 0

  &__list 
    list-style none
    padding 0

  &__item
    border-bottom: 1px solid $colors.grey
    &:first-child
      border-top: 1px solid $colors.grey
    a
      @extend $flex-v-center
      color: $colors.black

  &__thumb
    width 100px
    min-height 100px
    background-size cover
    background-position center center
    flex 0 0 100px

  &__recipe-name
    font-size 18px
    font-weight 700

// .search 