/*-------------------------------
  Colors hash
-------------------------------*/
$colors = {
  black: darken(#f66d64, 60),
  primary: #f66d64,
  primaryDark: desaturate(darken(#f66d64, 5), 30),
  primaryDarker: desaturate(darken(#f66d64, 30), 60),
  grey: desaturate(lighten(#f66d64, 10), 90),
  greyLight: desaturate(lighten(#f66d64, 27), 90),
  white: white
} 
 

$viewHeaderHeight = 76px


/*-------------------------------
  Typo
-------------------------------*/
$fontFamily = 'Nunito', sans-serif



/*-------------------------------
  Button reset
-------------------------------*/
button-reset()
  border 0
  background none
  cursor pointer


/*-------------------------------
  Flex
-------------------------------*/
$flex-center
  display flex
  justify-content center
  align-items center 

$flex-h-center
  display flex
  justify-content center 

$flex-v-center
  display flex
  align-items center      