/* -----------------------------
  Vars
----------------------------- */ 
$dark =             #101112
$orange =           #f66d64
$grey =             lighten($dark, 50)
$grey-light =       lighten($dark, 70)
$fontFamily =       'Nunito'
$shadow =           box-shadow 0 20px 60px -30px black

$btn-reset
  background none
  border 0
  cursor pointer

/* -----------------------------
  Global
----------------------------- */ 
body  
  font-family $fontFamily
  font-size 14px
  box-shadow $shadow 
  max-width 768px
  margin 0 auto
 
    
a
  &, &:hover
    color $orange   

button
  font-family $fontFamily
  cursor pointer
  border 0
  background none
  &:focus
    outline none 




/* -----------------------------
  Bottoni
----------------------------- */  
.btn-primary
  color white
  background $orange
  border-color $orange   
  &:hover,
  &:not(:disabled):not(.disabled):active
    border-color $orange   
    background $orange
  &:not(:disabled):not(.disabled):active
    &:focus
      box-shadow: 0 0 0 3px rgba($orange, .5);
  &:focus
    box-shadow: 0 0 0 3px rgba($orange, .5);

.btn-outline-primary
  &, &:disabled
    color $orange
    border-color $orange   
  &:hover 
    border-color $orange   
    background $orange
  &:not(:disabled):not(.disabled):active
    border-color $orange   
    background $orange
    color white
    box-shadow: 0 0 0 3px rgba($orange, .5);
    &:focus
      box-shadow: 0 0 0 3px rgba($orange, .5);
  &:focus
    box-shadow: 0 0 0 3px rgba($orange, .5);







/* -----------------------------
  Recipes
----------------------------- */  
.recipes
  width 100%
  &__recipe
    &--selected
      background $orange
      color white
      border-radius 3px
      padding-left 5px
      padding-right 5px
      margin-left -5px
  &__select
    @extend $btn-reset 
    color $grey-light
    &--selected
      color $orange


/* -----------------------------
  Action
----------------------------- */  
.action
  background $orange
  text-transform uppercase
  text-align center
  color white
  padding 5px 0


/* -----------------------------
  Utils
----------------------------- */    


.c-orange
  color $orange

.bg-orange
  background $orange  