@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
/* -----------------------
  downloads
------------------------*/
.news-list {
  background: #edeeee;
}
.news-list > .row {
  margin-left: 0;
  margin-right: 0;
}
.news-list .aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-shadow: 0 7px 14px rgba(0,0,0,0.2);
          box-shadow: 0 7px 14px rgba(0,0,0,0.2);
  background: #fff;
}
@media screen and (min-width: 768px) {
  .news-list .aside {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
@media screen and (min-width: 992px) {
  .news-list .aside {
    position: relative;
  }
}
.news-list .nav {
  background: #fff;
}
.news-list .nav button {
  border: 0;
  background: none;
  cursor: pointer;
  text-align: left;
  padding-right: 70px;
  color: #e0e3e3;
  position: relative;
  font-size: 15px;
}
.news-list .nav button:after {
  content: '';
  background: #e30613;
  height: 1px;
  width: 40px;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}
.news-list .nav button.active {
  color: #020202;
  font-weight: 600;
}
.news-list .nav button.active:after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
@media screen and (min-width: 992px) {
  .news-list .nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .news-list .nav button {
    font-size: 18px;
    display: block;
    width: 100%;
    text-align: right;
  }
}
.news-list__item {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.news-list__item--hidden {
  display: none;
}

/*# sourceMappingURL=news.css.map */
