@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
/* -----------------------
  Fascia immagine di sfondo
------------------------*/
.full-img-bg {
  color: #fff;
  background-size: cover;
}
/* -----------------------
  Architetti
------------------------*/
.architetti {
  text-align: center;
}

/*# sourceMappingURL=contatti.css.map */
