﻿
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Websolute </title>
<link rel="icon" href="favicon.ico">
<link href="style.css" rel="stylesheet" type="text/css">

<style>

    

    #zoom {
            background-color: #dee3e5; 
            /*background-size: 1920px auto;*/
    }


    @media (max-width: 1919px) {
        #zoom {
           background-size: contain;
        }
    }
</style>
    

</head>
<body class="white">

<div id="container">
	<!-- START HEADER -->
    <div class="title">
        <h1>{{clientName}}</h1>
        <h2></h2>
    </div>
    <!-- FINE HEADER -->

    <div id="app">

      <!-- START BLOCCO PROPOSTE  Secret--> 
      <div class="proposte cf" v-for="block in blocks">
          <h3>{{ block.title }}</h3>
          <ul>
              <li v-for="item in block.images">
                  <a title="" :href="'grafiche/' + item + '.jpg'" style="object-fit: cover">
                      <img rel="gal" :src="'grafiche/' + item + '.jpg'" :alt="item">
                      {{item}}
                  </a>
              </li>
          </ul>
      </div>
      <!-- END BLOCCO PROPOSTE -->

    </div>



    
</div>

<script src="https://unpkg.com/vue@2.1.10/dist/vue.js"
></script>
<script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script>

    new Vue({
        el: '.title',
        data: {
            clientName: "Loran"
        }
    });


    // proposte
    new Vue({
        el: '#app',
        data: {
          blocks: [
            {
              title: 'Menu',
              images: ['menu', 'menu-logout']
            },
            {
              title: 'Download',
              images: ['download']
            }
          ]
        }
      });





</script>
<script src="script.js"></script>
<script>
// -----------------------------------------
// Se la cache è uguale a false le immagini verranno ricaricate ogni volta
// altrimenti, se la cache è uguale a true le immagini vengono riprese dalla cache (se esiste)
// -----------------------------------------
var cache = false;

$(function(){
	if (!cache) {
		$('a').each(function(){
			$(this).attr('href',$(this).attr('href') + '?v=' + Math.floor(Math.random()*2000));
		});
	}
	// -----------------------------------------
	// i div.proposte con classe .secret non si vedranno
	// si potranno vedere solamente se in querystring si appende ?secret
	// es. http://extranet.wslabs.it/proposte/index.html?secret
	// serve per visualizzare le nuove proposte internamente senza darne visione al cliente
	// -----------------------------------------
	if (location.search == '?segrete') $('.segrete').show();
});
</script>


</body>
</html>
