/*--------------------------------------------------
T U I
website by websolute
--------------------------------------------------*/
@import url("default.css"); 
@import url(http://fonts.googleapis.com/css?family=Open+Sans);


/*--------------------------------------------------
body & altro
--------------------------------------------------*/
body { font-family:'Open Sans', sans-serif; font-size:12px; position:relative; margin:0; padding:0; padding:20px 0; overflow-y:scroll;}
#container {border-radius:5px; margin:0 auto; width:940px; padding:10px; box-shadow:0 1px 2px rgba(0,0,0,.05);}
h1, h2, h3 {font-weight:normal; margin:0; padding:0;}
h1 {font-size:22px; margin-bottom:0px;}
h2 {font-size:14px; margin-top:-2px;}
h3 {margin-bottom:10px; font-size:13px; padding:5px;}
.title {padding:0 0 0 55px; height:70px; position:relative;}
.title p {position:absolute; top:0; right:0; z-index:1; color:#999; font-size:10px;}


/*--------------------------------------------------
white
--------------------------------------------------*/
body.white {background:#f5f4f2; color:222;}
body.white #container {background:#fff;}
body.white h2 {color:#444;}
body.white h3 {background:#F5F4F2; border-top:1px dotted #ccc; border-bottom:1px dotted #ccc;}
body.white .title {background:url(logo_ws.png) no-repeat 0 1px;}
body.white .proposte ul li {border:5px solid #eee; background:url(loading.gif) no-repeat center;}
body.white .proposte ul li:hover {border-color:#ccc;}


/*--------------------------------------------------
black
--------------------------------------------------*/
body.black {background:#000; color:#ddd;}
body.black #container {background:#000;}
body.black h2 {color:#fff;}
body.black h3 {background:#222; border-top:1px dotted #333; border-bottom:1px dotted #333;}
body.black .title {background:url(logo_ws_white.png) no-repeat 0 1px;}
body.black .proposte ul li {border:5px solid #111; background:url(loading.gif) no-repeat center;}
body.black .proposte ul li:hover {border-color:#3889A9;}


/*--------------------------------------------------
proposte
--------------------------------------------------*/
.proposte {clear:both; padding:5px 0 0;}
.proposte ul {margin:0; padding:0; list-style:none;}
.proposte ul li {margin:0 15px 15px 0; padding:0; list-style:none; float:left; width:130px; height:130px; overflow:hidden; position:relative; cursor:pointer;}
/*.proposte ul li img {width:160px; position:absolute; left:50%; margin-left:-80px; top:0;}*/
.proposte ul li img {width:130px; position:absolute; left:0; top:0;}
.secret {display:none; background:#faeeee;}
.secret h3 {background:#f4dfdf!important; color:#613c3c!important;}
.secret ul li {border:5px solid #ebd5d5!important;}
.secret ul li:hover {border:5px solid #e0b8b8!important;}


/*--------------------------------------------------
zoom
--------------------------------------------------*/
#zoom {position:absolute; top:0; left:0; width:100%; background-color:#fff; z-index:10; text-align:center; min-height:100%; display:none; overflow-x:hidden;}
#close {width:16px; height:16px; background:url(close.png) no-repeat; cursor:pointer; position:absolute; top:3px; right:3px; z-index:200; display:none;}


/*--------------------------------------------------
thumbs
--------------------------------------------------*/
#thumbs {position:fixed; top:0; left:0; width:100%; z-index:20; background:rgba(0,0,0,0); height:50px; text-align:center; margin:0; padding:0;}
.thumbs {position:absolute; top:-100px; left:0; width:100%; z-index:20; background:rgba(0,0,0,.7); min-height:44px; text-align:center; margin:0; padding:30px 0 0; border-bottom:1px solid rgba(255,255,255,.95); box-shadow:0 1px 2px rgba(0,0,0,.2);}
#thumbs ul {margin:0; padding:0;}
#thumbs ul li {display:inline-block; margin-right:3px; height:40px; position:relative;}
#thumbs ul li a {display:block; width:32px; height:32px; overflow:hidden; position:relative; text-decoration:none; background:#51e4ff;}
#thumbs ul li a:hover img {opacity:0.8; filter:alpha(opacity=80);}
#thumbs ul li a.on {border:2px solid #51e4ff; width:36px; height:36px; top:-2px;}
#thumbs ul li span {z-index:10; position:absolute; font-size:11px; text-align:right; width:100%; color:#000; bottom:0px; right:3px; text-shadow:1px 1px 3px #fff, 0px 1px 3px #fff, -1px 1px 3px #fff;}
#thumbs ul li img {width:100%; vertical-align:top;}
#title {position:absolute; top:6px; left:0px; text-align:center; width:100%; color:#fff; height:30px; z-index:20; font-size:12px;}
#title a {background:rgba(0,0,0,.5); border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; padding:2px 5px; text-decoration:none; color:#fff;}
#title span {font-size:8px; margin-left:5px; color:#eee; display:none;}


/*--------------------------------------------------
footer
--------------------------------------------------*/
.footer {clear:both; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#555;}

