.block-checkbox {
  font-family: 'Berthold Akzidenz Grotesk BE', sans-serif;
  letter-spacing: 0.6px;
}
/* -----------------------
  Button
----------------------- */
.btn-submit {
  font-size: 13px;
}
/* -----------------------
  Custom controls
----------------------- */
.custom-control-label {
  color: #bcbec0;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 2;
}
.custom-control-label:before {
  border: 1px solid #bcbec0;
}
.custom-checkbox .custom-control-label {
  text-transform: none;
  color: #47433f;
}
/* -----------------------
  Form group
----------------------- */
.form-group {
  position: relative;
}
.form-group:focus {
  border: 1px solid #f00;
}
.form-group > label {
  text-transform: uppercase;
  font-size: 10px;
  color: #bcbec0;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
  pointer-events: none;
  position: relative;
  z-index: 5;
}
.form-group > input {
  width: 100%;
}
.form-group:not(.static-label) > label {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scale(1.4) translateY(20px);
      -ms-transform: scale(1.4) translateY(20px);
          transform: scale(1.4) translateY(20px);
}
.form-group:not(.static-label).not-empty > label {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.form-group.error .form-control {
  border-bottom-color: #db4949;
  background: url("img/ico-error.svg") no-repeat right 10px center;
  background-size: 34px;
}
/*------------------------------
	Custom select
------------------------------*/
.fake-select button {
  background: none;
  border: 0;
  padding: 0;
  color: #75726f;
  cursor: pointer;
  text-align: left;
}
.fake-select button:hover {
  color: #47433f;
}
.fake-select .dropdown-toggle {
  width: 100%;
  padding: 0;
  text-align: left;
  min-height: 24px;
  background: url("../../img/ui/arrow-down.svg") no-repeat right center;
  background-size: 30px;
}
.fake-select .dropdown-toggle:after {
  content: none;
}
.fake-select .dropdown-menu {
  border: 0;
  background: url("../../img/ui/arrow-down.svg") no-repeat right 28px top 19px #fff;
  background-size: 30px;
  max-height: 400px;
  overflow-y: scroll;
  z-index: 10;
}
.fake-select .dropdown-menu.show {
  -webkit-box-shadow: 0 5px 25px rgba(0,0,0,0.2);
          box-shadow: 0 5px 25px rgba(0,0,0,0.2);
  width: calc(100% + 1.5rem);
}
.fake-select .dropdown-item {
  padding: 0.25rem 1.25rem;
  background: none;
}
.fake-select .dropdown-item button {
  width: 100%;
}
.fake-select .dropdown-item:first-child button {
  border-bottom: 2px solid #75726f;
  padding-bottom: 6px;
}
/*------------------------------
	Privacy
------------------------------*/
.privacy {
  font-size: 12px;
  color: #75726f;
}
/*------------------------------
	Form 
------------------------------*/
.form-control {
  border: 0;
  border-bottom: 1px solid #bcbec0;
}
.form-control,
.form-control:focus,
.form-control:focus:hover {
  color: #47433f;
  background: none;
  outline: none;
}
.form-control:focus,
.form-control:focus:hover {
  border-bottom: 1px solid #47433f;
}
.form-horizontal .text-link-line {
  -webkit-transform: translateY(18px);
      -ms-transform: translateY(18px);
          transform: translateY(18px);
}
.form--on-dark .form-control,
.form--on-dark .form-control:focus,
.form--on-dark .form-control:focus:hover {
  color: #fff;
  border-bottom: 1px solid #a3a19f;
}
/* -----------------------
  Block checkbox (news)
----------------------- */
.block-checkbox {
  border: 0;
  border-bottom: 1px solid #a3a19f;
  font-size: 14px;
  min-width: 230px;
  text-align: left;
  padding: 14px 20px;
  cursor: pointer;
  background: url("img/block-checkbox-o.svg") no-repeat transparent right 15px center;
  background-size: 16px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.block-checkbox--selected {
  background-image: url("img/block-checkbox-x.svg");
  background-color: #e1e3e5;
  background-size: 20px;
}
/*------------------------------
	Response
------------------------------*/
.form__response {
  text-align: center;
}

/*# sourceMappingURL=form.css.map */
