﻿@import "variables";

.fadeInRightSmall {
    animation-name: fadeInRightSmall;
}

@keyframes fadeInRightSmall {
	0% {
			opacity: 0;
			transform: translate3d(10%,0,0)
	}

	to {
			opacity: 1;
			transform: none
	}
}