﻿@import "variables";

/* ----------------------------------------
  Discover
-----------------------------------------*/
.discover {
  
  &__header {
    background: url('../img/discover.jpg');
    background-size: cover; 
    background-position: center top;
    padding-top: 160px;
		height: 790px;
		
		@include md-max {
			height: 500px;
			padding-top: 120px;
		}

    @include xxs-max {
      height: 380px;
      padding-top: 100px;
    }
  }
   
  &__body {
    background: white;
    padding-top: 120px;
    padding-bottom: 120px;
    color: $dark;

    .title {
      font-size: 16px;
      color: $red;
			margin-bottom: 30px;
			letter-spacing: 0;
		}
		
		

	} // &__body
	

	// Slider
	&__slider {

		a, button, .slick-slide {
			&:focus, &:hover {outline: none!important;}
		}

		.slider {
			@extend .shadow;	

			a { display: block;}

			img {
				width: 100%;
			}
			
			&__nav {
				font-size: 40px;
				button {
					background: none;
					border: 0;
					color: $red;
				}
			}

			&__count {
				line-height: 56px;
				padding-left: 15px;
			}

			&__zoom {
				flex: 1 0 auto;
				text-align: right;
				line-height: 56px;

				button{
					background: none;
					border: 0;
				}
			}

      

		} // .slider

		footer {
			display: flex;
			margin-top: 10px;
			color: $red;
			font-size: 13px;
		}

		@include sm-max {
			.slider__zoom { display: none;}
		}

    @include xxs-max {
      .slider {
        &__nav {
          margin-bottom: 40px;
        }

        &__zoom {
          display: none;
        }
      }      
    }
	} // &__slider

	

	&__data {

		ul {
			padding: 0;
			margin-bottom: 30px;
			@extend .font-bold;

			li {
				list-style: none;
				padding: 20px 0;
				border-bottom: 1px solid #eee;
			} 
			a { 				
				color: #575756;
				font-size: 16px;
				text-decoration: none;
				display: inline-block;
				line-height: 1.8;
			}
			small {
				font-size: 12px; 
				color: $red;
				display: block;
			}
		}

		@include md-max {	padding-left: 30px;	}
		@include sm-max {	
			padding-top: 60px;
			padding-left: 15px;	
		}
	} // &__data

	.dimensions {
		li { 
			padding: 0;
			border: 0;
		}
	}

	&__thumb {
		@extend .shadow; 
	}
	

  @include xxs-max {
    &__body {
      padding-top: 60px;
      padding-bottom: 60px;
    }    
  }

} 
