﻿@import "variables";

/* ----------------------------------------
  Fancybox content
-----------------------------------------*/
.fbox {
  display: none;
  padding: 0;  

  .fancybox-close-small {
    background: $red;
    &:after {
      font-size: 30px;
      line-height: 35px;
      background: none; 
      color: #ddd;
      transition: color .4s;
    }
    &:hover:after {
      color: white;
    }
  }

  &__wrapper {
    width: 1300px;
    border: 20px solid $red;
    color: $dark;
    background: white;
    padding: 50px 100px;
  }

  .title {
    color: $red;
  }

  .title-md {
    margin-bottom: 60px;
  }

  .text {
    font-size: 14px;
    line-height: 1.6;

    li:before { color: $red;}
	}
	

  // Quality
  &-quality {

    .title-sm {
       margin-bottom: 30px;
      
      img {
        float: left;
        margin-right: 10px;
        margin-top: -10px;
        margin-left: -4px;
      }
    }
  }


	@include xs-max {
		width: calc(100% - 20px);

		&__wrapper { 
			width: 100%;
			margin: 0 auto;
			border: 5px solid #c1022c;
			padding: 50px 20px;
		}

		[class*="col-"]:not(:last-child) { margin-bottom: 60px; }
 		
	}

} // .fbox

