﻿@font-face {
   font-family: 'Pluto Sans Regular';
   src: url("../font/PlutoSansRegular_0.otf");
}

@font-face {
    font-family: "Pluto Sans Medium";
    src: url("../font/PlutoSansMedium_0.otf");
}

@font-face {
    font-family: "Pluto Sans Light";
    src: url("../font/PlutoSansLight_0.otf");
}

@font-face {
   font-family: 'Pluto Sans Heavy';
   src: url("../font/PlutoSansHeavy_0.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Pluto Sans Bold";
    src: url("../font/PlutoSansBold_0.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Pluto Sans Condensed Regular";
    src: url("../font/PlutoSansCondRegular_0.otf");
    font-stretch: condensed;
}

@font-face {
    font-family: "Pluto Sans Condensed Bold";
    src: url("../font/PlutoSansCondBold_0.otf");
    font-stretch: condensed;
}  