﻿@import "variables";

/* ----------------------------------------
  Form styles
-----------------------------------------*/
form {
  
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  border: 0;
}
