﻿@import "variables";


/* ----------------------------------------
  Fonts
-----------------------------------------*/
.font-light {
    font-family: 'Pluto Sans Light', Arial, sans-serif;
}

.font-bold {
    font-family: 'Pluto Sans Bold', Arial, sans-serif;
}


/* ----------------------------------------
  Global
-----------------------------------------*/
body {
    @extend .font-light;
    background: #26739a;
    color: white;

    @include xs-max {
        font-size:12px;
        }
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.container-fluid {
    max-width: 1340px;
}

strong {
    @extend .font-bold;
}

.shadow {
    box-shadow: 10px 10px 30px rgba(0,0,0,.3);
}


/* ----------------------------------------
  Flex
-----------------------------------------*/
.flex-row {
    display: flex;
    flex-wrap: wrap;
}


/* ----------------------------------------
  Titles
-----------------------------------------*/
.title {
    @extend .font-bold;
    margin: 0;
    text-transform: uppercase;
    position: relative;
    line-height: 1;
    letter-spacing: -2px;
    z-index: 2;

    &-sm {
        font-size: 22px;
        margin-bottom: 20px;
        line-height: 1.2;
        letter-spacing: -1px;
    }

    &-md {
        font-size: 46px;
				margin-bottom: 30px;
    }

    &-lg {
        font-size: 60px;
        margin-bottom: 40px;
    }

    &-xl {
        @extend .title-line;
        font-size: 75px;
        margin-bottom: 40px;
    }

    &-line {
        &:before {
            content: '';
            background: white;
            width: 15px;
            height: 100%;
            position: absolute;
            top: 0;
            left: -100px;
        }
		}
		
		@include lg-max {
			&-xl { font-size: 55px; }
			&-md { font-size: 36px; }
		}

		@include md-max {
			
		}

		@include sm-max {
			&-xl {font-size: 42px;}
			&-md { font-size: 30px; }
		}

		@include xs-max {
			&-lg { font-size: 40px;	margin-bottom: 20px;}
		}

    @include xxs-max {
			&-xl {
				font-size: 40px;
				margin-bottom: 30px;
			}
        
      &-lg {
        font-size: 32px;
        margin-bottom: 20px;
			}
			
			&-md {
					font-size: 28px;
			}        
    }
}


/* ----------------------------------------
  Text
-----------------------------------------*/
.text {
    font-size: 16px;
    line-height: 1.8;

    ul {
        padding-left: 20px;
    }

    li {
        list-style: none;

        &:before {
            content: '/';
            margin-right: 10px;
            margin-left: -21px;
        }
    }

    &-lg {
				font-size: 22px;
				
				@include lg-max {
					font-size: 20px;
					line-height: 1.6;
				}

        @include xxs-max {
            font-size: 16px;
            line-height: 1.4;
        }
    }

    &-xl {
			@extend .font-light;
			font-size: 26px;
			line-height: 1.3;

			@include lg-max { font-size: 18px; }

			@include xs-max {
					font-size: 14px;
			}
    }

    @include xxs-max {
        font-size: 18px;
    }
}


/* ----------------------------------------
  Text content
-----------------------------------------*/
.text-content {
    position: relative;

    p {
        margin-bottom: 20px;
    }

    small {
        font-size: 12px;
        display: block;
    }

    @include xxs-max {
        small {
            margin-bottom: 30px;
        }
    }
}


/* ----------------------------------------
  Lydos video
-----------------------------------------*/
.lydos-video {
    position: relative;
    margin-bottom: 30px;

    .button {

        &-wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
        }

        &.hide {
            opacity: 0;
        }
    }

    video {
        @extend .shadow;
        width: 100%;
    }
}
