﻿@import "variables";

/* ----------------------------------------
  Overview
-----------------------------------------*/
.overview {
    background-image: linear-gradient(to bottom, #112534, #15628b 50%, #5f94b1 75%, #acc6d4 90%, #426679 100%);
    overflow: hidden;

    .button {
        @extend .shadow;
    }

    .text-content {
        z-index: $z-text;
        text-shadow: 2px 2px 6px rgba(0,0,0,.1);
    }

    .aside-img {
        box-shadow: 10px 20px 40px rgba(0,0,0,.5);
        margin-bottom: 60px;
        max-width: 100%;
    }
}



/* ----------------------------------------
  BG Video
-----------------------------------------*/
.sea-bg {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;

    video {
        width: 100%;
        height: auto;
        z-index: 0;
    }

    img {
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    .divider {
        width: 100%;
        z-index: 1;
        position: absolute;
        left: 0;
    }


    &__splash {
    }


    &__divider-1 {
				@extend .divider;
    }

    &__50 {
        @extend video;
        position: absolute;
        z-index: 1;
    }


    &__intelligence {
        z-index: 2;
		}
		
		@include sm-max {
			display: none;
		}
		  
} // .sea-bg





/* ----------------------------------------
  Cover
-----------------------------------------*/
.cover {
    margin-bottom: 180px;

    // Per evitare che si veda troppo presto, 
		// poi sovrascritto via JS al window.load()
		// Solo Desktop
		@media screen and (min-width:992px) {
			opacity: 0;
		}

    .alpha-video {
        position: absolute;
    }

    .text-content {
        padding-top: 220px;
        position: relative;
    }

    .text {
        margin-bottom: 50px;
        position: relative;
        z-index: 2;

        @include xs-max {
            margin-bottom: 20px;
        }
		}
		
		
    &__boiler {
        position: absolute;
        top: 0;
        right: -100%;
    }

    @include lg-max {
			margin-bottom: 80px;
			.text-content {
					padding-top: 150px;
					padding-left: 15px;
			}
			&__boiler {
					width: 473px;
					right: -54%;
			}
		}
		
		@include md-max {
			&__boiler {
				right: -88%;
			}
		}

    @include sm-max { 
				margin-bottom: 0;
				padding-bottom: 80px;
				background: url(../img/overview/bg-cover--m.jpg) no-repeat fixed left center;
				background-size: cover;

				&__boiler { 
					display: none;
				} 

				.text { 
					font-size: 22px; 
					
					br {display: none;}
				}
				
				.text-content {
        	padding-top: 0; 
        }
		} // 992

		@include xs-max { 
			.text-content {
				padding-top: 60px; 
			}
		}

	
    @include xxs-max {

        .text-content {
					padding: 30px 0 0;
        }

        &__boiler {
					position: absolute;
					top: 0;
					right: -10%;
					width: 198px;
        }
    }
}


/* ----------------------------------------
  Cover mobile
-----------------------------------------*/
.cover__mobile {
	display: none;
	padding: 0; 
	float: none;

	@include sm-max { 
		display: block;  
		
		&__boiler {
			position: absolute;
			width: 80vw;
			right: 0;
			bottom: -20vw;
			max-width: 700px;
		}
		.cover__bg {
			width: 100%;
			opacity: 0;	// Utilizzato come spaziatore
		}
	} // 992

	@media screen and (max-width: 520px) {
		height: 280px;
		
		&__boiler {
			right: -66px;
			bottom: -80px;
			width: 340px;
		}

		.cover__bg {
			display: none;
		}
	} 
}


/* ----------------------------------------
  Everyday
-----------------------------------------*/
.everyday {
    position: relative;
    margin-bottom: 480px;


    &__divider {
        position: absolute;
        width: 100%;
        height: 1000px;
        top: -240px;
        left: 0;
        z-index: 1;
    }

    &__boiler {
        position: absolute;
        top: -490px;
        left: -35px;
        z-index: 1;
    }

    .container-fluid {
        position: relative;
        z-index: 5;
    }


    header {
        margin-bottom: 180px;

        .title {
            margin-bottom: 30px;
        }

        .button {
            margin-top: 0;
        }

        @include xs-max {
            margin-bottom: 80px;
        }
    }

    .text { margin-bottom: 50px; }

		.button { margin-top: 50px; }
		
		.meno50--mobile { 
			display: none;
			text-align: right;

			img { width: 100%; max-width: 650px;}
		}

    @include lg-max { 
			margin-bottom: 230px;
			&__boiler {
					width: 800px;
					top: -200px;
			}
		}
		
		@include md-max { 
			&__boiler {
				left: -100px;
			}
    }

    @include sm-max {
			background: url(../img/overview/bg-everyday--m.jpg) no-repeat fixed center center;
			background-size: cover; 
			padding-top: 60px;
			padding-bottom: 60px;
			margin-bottom: 0;

			header {margin-bottom: 0;}

			header .button,
			&__boiler {
				display: none;
			}
				
			.meno50--mobile { 
				display: block;
				margin: -26vw -15px -7vw;
				padding: 0;
			}

		}
		
		@include xs-max {
			.meno50--mobile { 
				margin: -30vw -15px -7vw;
			}
		}

    @include xxs-max {
        .text {
            margin-bottom: 30px;
        }
    }
}




/* ----------------------------------------
  Intelligence
-----------------------------------------*/
.intelligence {
    position: relative;
    z-index: 2;
    margin-bottom: 80px;

    &__bg {
			position: absolute;
			width: 100%;
			top: -140px;
			left: 0;
			z-index: 1;
    }

    .container-fluid {
        position: relative;
        z-index: 5;
    }

    .title-sm {
        margin-top: 50px;
    }

    .text {
        margin-bottom: 50px;
    }

    &__technology {
        margin-bottom: 40px;
		}

		@include lg-max {
			padding-top: 80px;
		}
		
		@include xs-max {
			background: url(../img/overview/bg-intelligence--m.jpg) no-repeat fixed center center;
			background-size: cover; 
			padding-top: 60px;
			padding-bottom: 60px;
		}
}



/* ----------------------------------------
  Comfort
-----------------------------------------*/
.comfort {
	margin-bottom: 150px;

	@include md-max {
		margin-bottom: 60px;	
	}

	@include sm-max {	
		.aside-img { margin-top: 30px;}
	}

	@include xxs-max {			
	}
}



/* ----------------------------------------
  Easy Fit
-----------------------------------------*/
.easy-fit {
		margin-bottom: 100px;
		padding-top: 60px;
		padding-bottom: 60px;

    .title-xl {
    	margin-bottom: 100px;
    }

    .row-video {
        margin-bottom: 60px;
    }

    .connections {
        float: right;
        margin-left: 20px;
    }

    .app-store {
        margin-right: 15px;
        margin-top: 40px;
        display: inline-block;
        border-radius: 4px;
        transition: box-shadow .4s;
        position: relative;

        img {
            width: 160px;
            transform: translateZ(1px);
        }

        &:after {
            content: '';
            box-shadow: 2px 5px 13px -5px #000;
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 4px;
        }
		}

	@include md-max {
		padding-top: 60px;
		margin-bottom: 30px;  
		.title-xl { 
    	margin-bottom: 50px;
    }
	}

	@include sm-max {
		background: url(../img/overview/bg-easyfit--m.jpg) no-repeat fixed center top;
		background-size: cover; 	
		.hidden-connections { margin-top: 60px; }
	}
		
	@include xs-max {
		.title-xl {	margin-bottom: 30px; }
	}
} // easy-fit


/* ----------------------------------------
  Service
-----------------------------------------*/
.service {
	padding-bottom: 150px;

	.button {
			margin-top: 30px;
	}

	@include xs-max {
		padding-bottom: 0;
		.button {
			margin-bottom: 60px;
		}
	}
}
