﻿/* ----------------------------------------
  Vars
-----------------------------------------*/
$red: #c1022c;
$dark: #575756;

$z-text: 100;
$z-widget: 200;

/* ----------------------------------------
  Vars
-----------------------------------------*/
@mixin lg-max {
  @media (max-width: 1400px) {
    @content;
  }
}

@mixin md-max {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin sm-max {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin xs-max {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin xxs-max {
  @media (max-width: 480px) {
    @content;
  }
}
 