﻿@import "variables";


/* ----------------------------------------
  Contact widget
-----------------------------------------*/
.widget {
	position: fixed;
	right: 0;
	bottom: 40%;
	z-index: $z-widget;
	right: -330px;

	a {
		color: $dark;
		&:hover {
			text-decoration: none;
		}
	}

	&__item {
		width: 400px; 
		height: 70px;
		overflow: hidden;
		background: white;
		margin-bottom: 1px;
		position: relative;
		right: 0;
		transition: all .6s cubic-bezier(0.470, 0.005, 0.000, 1.240);

		&:hover {
			right: 300px;
		}
	}

	&__icon {
		background: $red;
		width: 70px;
		float: left; 

		img {
			width: 100%;
		}
	} 

	&__text {
		@extend .font-bold;
		padding: 20px 15px 10px 85px;    
    color: $dark;
		font-size: 16px;
		display: block;

		h5 {
			color: $red;
			display:block;
			font-size: 16px;
			margin: 0;
		}
	}


  @include xs-max {
		bottom: 40px;
		transform: scale(0.85) translateX(-22px); 
  }

}

