@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
.tab-comparazione .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tab-comparazione .header img {
  height: 50px;
  width: auto;
}
@media screen and (min-width: 768px) {
  .tab-comparazione .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .tab-comparazione .header img {
    height: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .tab-comparazione .header img {
    height: 70px;
  }
}
@media screen and (min-width: 1600px) {
  .tab-comparazione .header img {
    height: 90px;
  }
}
.tab-comparazione .feats {
  color: #5b5e60;
}
.tab-comparazione .feats-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e0e3e3;
}
.tab-comparazione .single-feat {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.tab-comparazione .view-more {
  display: inline-block;
  border: 0;
  background: none;
  cursor: pointer;
}
.tab-comparazione .view-more span {
  font-size: 2em;
  vertical-align: middle;
}

/*# sourceMappingURL=tab-comparazione - Copia.css.map */
