@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
.tab-comparazione .logo {
  height: 70px;
  width: auto;
  max-width: 100%;
  min-width: 250px;
  display: block;
  margin: 0 auto;
}
.tab-comparazione .feats {
  color: #5b5e60;
  min-width: 800px;
}
.tab-comparazione .feats-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e0e3e3;
}
.tab-comparazione .feats tr {
  border-bottom: 2px solid #e0e3e3;
}
.tab-comparazione .feats th,
.tab-comparazione .feats td {
  padding: 15px 15px;
  vertical-align: top;
}
.tab-comparazione .feats td {
  border-left: 1px solid #e0e3e3;
}
.tab-comparazione .feats td:first-child {
  border: 0;
}
.tab-comparazione .single-feat {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.tab-comparazione .hidden-feats {
  display: none;
}
.tab-comparazione .toggler {
  display: inline-block;
  border: 0;
  background: none;
  cursor: pointer;
}
.tab-comparazione .toggler span {
  font-size: 2em;
  vertical-align: middle;
}
.tab-comparazione .toggler-less {
  display: none;
}
.tab-comparazione .toggler-less span {
  vertical-align: sub;
}

/*# sourceMappingURL=tab-comparazione.css.map */
