@-webkit-keyframes fadeInUp10 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp10 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp10 {
  -webkit-animation-name: fadeInUp10;
          animation-name: fadeInUp10; }

@-webkit-keyframes fadeInUp20 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp20 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp20 {
  -webkit-animation-name: fadeInUp20;
          animation-name: fadeInUp20; }

@-webkit-keyframes fadeInUp30 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp30 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp30 {
  -webkit-animation-name: fadeInUp30;
          animation-name: fadeInUp30; }

@-webkit-keyframes fadeInUp40 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp40 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp40 {
  -webkit-animation-name: fadeInUp40;
          animation-name: fadeInUp40; }

@-webkit-keyframes fadeInUp50 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp50 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp50 {
  -webkit-animation-name: fadeInUp50;
          animation-name: fadeInUp50; }

@-webkit-keyframes fadeInUp60 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 60px, 0);
            transform: translate3d(0, 60px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp60 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 60px, 0);
            transform: translate3d(0, 60px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp60 {
  -webkit-animation-name: fadeInUp60;
          animation-name: fadeInUp60; }

@-webkit-keyframes fadeInUp70 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 70px, 0);
            transform: translate3d(0, 70px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp70 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 70px, 0);
            transform: translate3d(0, 70px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp70 {
  -webkit-animation-name: fadeInUp70;
          animation-name: fadeInUp70; }

@-webkit-keyframes fadeInUp80 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 80px, 0);
            transform: translate3d(0, 80px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp80 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 80px, 0);
            transform: translate3d(0, 80px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp80 {
  -webkit-animation-name: fadeInUp80;
          animation-name: fadeInUp80; }

@-webkit-keyframes fadeInUp90 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 90px, 0);
            transform: translate3d(0, 90px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp90 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 90px, 0);
            transform: translate3d(0, 90px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp90 {
  -webkit-animation-name: fadeInUp90;
          animation-name: fadeInUp90; }

@-webkit-keyframes fadeInUp100 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
            transform: translate3d(0, 100px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp100 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
            transform: translate3d(0, 100px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp100 {
  -webkit-animation-name: fadeInUp100;
          animation-name: fadeInUp100; }

/*
$theme-primary: #1fd6a6; //#fed136;
$theme-danger: #e74c3c;

$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default;
$gray-dark: lighten($gray-base, 20%) !default;
$gray: lighten($gray-base, 33.5%) !default;
$gray-light: lighten($gray-base, 46.7%) !default;
$gray-lighter: lighten($gray-base, 93.5%) !default;
*/
.slick-slide {
  position: relative;
  outline: none; }

.form-control {
  border: 0; }

button {
  border: 0;
  background: none; }

body {
  font-family: "lft-etica", Arial, sans-serif;
  font-size: 16px;
  color: #393939;
  max-width: 1920px; }

.shadow-light, .people__areas__item, .posizioni__item {
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); }

.header-default {
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: no-repeat center center; }

::-moz-selection {
  background: #3f90cf;
  text-shadow: none; }

::selection {
  background: #3f90cf;
  text-shadow: none; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #3f90cf; }

p {
  line-height: 1.75; }

a {
  color: #3f90cf; }
  a.active, a:focus, a:hover {
    color: #2c76af; }

.text-link, .text-link--back {
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  color: #393939;
  background: url(../img/ui/next--blue.svg) no-repeat right center;
  background-size: 14px 14px;
  padding-right: 20px; }
  .text-link:hover, .text-link--back:hover {
    cursor: pointer;
    color: #3f90cf; }
  .text-link--back {
    background: url(../img/ui/prev--blue.svg) no-repeat left center;
    background-size: 14px 14px;
    padding-right: 0;
    padding-left: 20px; }
    .text-link--back--white {
      background-image: url(../img/ui/prev--white.svg); }

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

h1 {
  font-size: 58px;
  color: #3f90cf; }

h2 {
  font-size: 44px; }

.title {
  color: #3f90cf; }
  .title-md {
    font-size: 24px; }

.section-name {
  font-size: 14px;
  font-weight: 600;
  color: #3f90cf; }

/* Text */
.main-nav {
  background: white;
  padding-top: 20px; }
  .main-nav .navbar {
    padding: 0; }
    .main-nav .navbar li {
      padding: 0; }
    .main-nav .navbar a {
      color: #3f90cf;
      text-transform: uppercase; }
    .main-nav .navbar-brand {
      padding: 0; }
      .main-nav .navbar-brand img {
        width: 150px; }
    .main-nav .navbar-toggler {
      padding: 0;
      border: 0;
      outline: none !important; }
      .main-nav .navbar-toggler:hover {
        cursor: pointer; }
      .main-nav .navbar-toggler-icon {
        background-image: url("../img/ui/menu-close.svg");
        width: 26px;
        height: 26px; }
      .main-nav .navbar-toggler.collapsed .navbar-toggler-icon {
        background-image: url("../img/ui/menu.svg"); }
  @media only screen and (min-width: 768px) {
    .main-nav {
      padding-top: 58px; }
      .main-nav .navbar-brand img {
        width: 250px; }
      .main-nav .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        padding-top: 30px; }
      .main-nav .navbar .nav-item {
        padding-left: 15px;
        padding-right: 15px; }
        .main-nav .navbar .nav-item:first-child {
          padding-left: 0; } }
  @media only screen and (min-width: 1200px) {
    .main-nav .navbar-brand img {
      width: 340px; } }

.main-footer {
  font-size: 12px;
  padding-bottom: 60px; }
  .main-footer:before {
    content: '';
    height: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(transparent));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), transparent);
    width: 100%;
    display: block;
    background-repeat: no-repeat; }
  .main-footer .breadcrumb {
    background: none;
    padding-left: 0;
    padding-right: 0; }
    .main-footer .breadcrumb-item {
      color: #393939;
      font-weight: 600; }
      .main-footer .breadcrumb-item:before {
        content: ''; }
      .main-footer .breadcrumb-item.active {
        font-weight: normal; }
  .main-footer__divisions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .main-footer__divisions nav {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
    .main-footer__divisions a {
      display: inline-block;
      height: 36px; }
      .main-footer__divisions a img {
        width: auto;
        height: 100%;
        display: block; }
      .main-footer__divisions a.teamsystem {
        -ms-flex-item-align: end;
            align-self: flex-end;
        margin-right: 0;
        height: 36px; }
  .main-footer__service {
    background: url(../img/ui/footer-service.png) no-repeat center center;
    padding: 8px 0;
    margin: 30px 0;
    height: 49px; }
    .main-footer__service a {
      color: white; }
  .main-footer__bottom {
    margin-top: 30px; }
    .main-footer__bottom .row {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
  .main-footer__credits {
    -ms-flex-line-pack: start;
        align-content: flex-start; }
    .main-footer__credits li {
      -ms-flex-item-align: start;
          align-self: flex-start; }
    .main-footer__credits a {
      display: inline; }
    .main-footer__credits img {
      height: 18px; }
  .main-footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main-footer__social img {
      height: 36px;
      width: auto; }

body.home .home-nav {
  display: none;
  background: white; }
  body.home .home-nav__logo {
    height: auto; }

body.home .main-footer {
  display: none; }

@media only screen and (min-width: 768px) {
  body.home .main-nav {
    display: none; }
  body.home .home-nav {
    display: block;
    margin: 0 auto; }
    body.home .home-nav .row {
      height: 106px;
      background: white;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    body.home .home-nav .col {
      text-align: center;
      line-height: 1; }
    body.home .home-nav a {
      text-transform: uppercase;
      font-size: 15px;
      white-space: nowrap; }
    body.home .home-nav__logo {
      width: 180px; } }

@media only screen and (min-width: 992px) {
  body.home .home-nav a {
    font-size: 22px; }
  body.home .home-nav__logo {
    width: 240px; } }

@media only screen and (min-width: 1200px) {
  body.home .home-nav__logo a {
    font-size: 18px; }
  body.home .home-nav__logo__logo {
    width: 345px; } }

.home-bg {
  max-width: 100%; }

.people__areas__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 190px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px;
  color: white; }
  .people__areas__item div {
    float: left;
    width: 220px; }
  .people__areas__item h2 {
    line-height: 0.9;
    text-transform: capitalize; }
  .people__areas__item:hover {
    color: white;
    text-decoration: none; }
  .people__areas__item:nth-child(even) {
    background-position: right top;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    .people__areas__item:nth-child(even) div {
      float: right; }

.eventi__slider {
  position: relative; }
  .eventi__slider__wrap {
    position: relative;
    overflow: hidden; }
  .eventi__slider__desc {
    position: absolute;
    padding: 60px 30px;
    color: white;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none; }
    .eventi__slider__desc .type {
      font-size: 40px; }
  .eventi__slider .slick-list {
    overflow: visible; }
    .eventi__slider .slick-list:before {
      content: '';
      position: absolute;
      background: #3f90cf;
      width: 100%;
      height: 100%;
      opacity: .6;
      z-index: 10; }
  .eventi__slider .slick-slide .eventi__slider__desc {
    display: none; }
  .eventi__slider .slick-next, .eventi__slider .slick-prev {
    width: 17px;
    height: 32px;
    background-size: cover;
    z-index: 20; }
    .eventi__slider .slick-next:before, .eventi__slider .slick-prev:before {
      content: none; }
  .eventi__slider .slick-next {
    background-image: url(../img/ui/next-lg.svg);
    right: 28px; }
  .eventi__slider .slick-prev {
    background-image: url(../img/ui/prev-lg.svg);
    left: 28px; }
  @media only screen and (min-width: 576px) {
    .eventi__slider .slick-next, .eventi__slider .slick-prev {
      width: 33px;
      height: 62px; }
    .eventi__slider .slick-next {
      right: -50px; }
    .eventi__slider .slick-prev {
      left: -50px; } }

.eventi__lista {
  overflow: hidden;
  max-width: 1920px; }

.eventi__articolo {
  color: #393939; }
  .eventi__articolo, .eventi__articolo:hover {
    text-decoration: none; }
  .eventi__articolo__image {
    height: 190px;
    position: relative;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    overflow: hidden; }
    .eventi__articolo__image .data {
      margin-left: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      z-index: 1;
      color: white; }
      .eventi__articolo__image .data .dd {
        font-size: 60px;
        margin-right: 10px; }
      .eventi__articolo__image .data .mmyy {
        padding-top: 20px;
        line-height: 1;
        font-size: 20px; }
        .eventi__articolo__image .data .mmyy span {
          display: block;
          text-transform: uppercase; }
      .eventi__articolo__image .data .mm {
        margin-bottom: 10px; }
    .eventi__articolo__image img {
      position: absolute;
      right: 15px;
      top: 0; }
  .eventi__articolo__copy {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  @media only screen and (min-width: 576px) {
    .eventi__articolo__image {
      overflow: visible; }
    .eventi__articolo:nth-child(even) .eventi__articolo__image {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
      .eventi__articolo:nth-child(even) .eventi__articolo__image img {
        right: auto;
        left: 15px; }
    .eventi__articolo:nth-child(even) .eventi__articolo__copy {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; } }

.tslife__list {
  overflow: hidden;
  padding-top: 20px; }

.tslife__article {
  position: relative; }
  .tslife__article__bg {
    position: absolute;
    right: -12px; }
  .tslife__article__header {
    display: block;
    position: relative;
    height: 275px;
    color: white;
    padding-top: 24px; }
    .tslife__article__header .title {
      color: white;
      font-weight: 500; }
    .tslife__article__header .date {
      font-size: 16px; }
  .tslife__article__body {
    position: relative; }
  .tslife__article__location {
    position: absolute;
    font-size: 18px;
    color: #3f90cf;
    font-weight: 400;
    top: -35px; }
  .tslife__article__person {
    margin-left: auto; }
    .tslife__article__person__header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: auto; }
      .tslife__article__person__header, .tslife__article__person__header .title {
        color: #3f90cf; }
      .tslife__article__person__header img {
        -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.4);
                box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.4); }
  @media only screen and (min-width: 576px) {
    .tslife__article__body {
      padding-right: 17%; } }
  @media only screen and (min-width: 768px) {
    .tslife__article__person__header {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      color: white; }
      .tslife__article__person__header img {
        margin-top: -41px; }
    .tslife__article:nth-child(even) .tslife__article__bg {
      right: auto;
      left: -12px; }
    .tslife__article:nth-child(even) .tslife__article__event {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      margin-left: 8.333%; }
    .tslife__article:nth-child(even) .tslife__article__person {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      margin-left: 0; }
      .tslife__article:nth-child(even) .tslife__article__person .tslife__article__header {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
      .tslife__article:nth-child(even) .tslife__article__person .tslife__article__body {
        padding-right: 0;
        padding-left: 17%; } }

.fade-enter-active, .fade-leave-active {
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

.fade-move {
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s; }

/* Departments */
.posizioni__header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white; }

.posizioni__filtro {
  z-index: 10;
  color: #3f90cf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  text-align: right;
  position: relative; }
  @media only screen and (min-width: 768px) {
    .posizioni__filtro .form-inline {
      position: absolute;
      bottom: 0;
      right: 0; } }

.posizioni__risultati > .row {
  position: relative; }

.posizioni__item {
  margin-bottom: 30px; }
  .posizioni__item.factory {
    background: url(../img/posizioni/factory.png); }
  .posizioni__item.business {
    background: url(../img/posizioni/business.png); }
  .posizioni__item.cloud-newbusiness {
    background: url(../img/posizioni/cloud-newbusiness.png); }
  .posizioni__item.sales-delivery {
    background: url(../img/posizioni/sales-delivery.png); }
  .posizioni__item.customers {
    background: url(../img/posizioni/customers.png); }
  .posizioni__item.vertical {
    background: url(../img/posizioni/vertical.png); }
  .posizioni__item.staff {
    background: url(../img/posizioni/staff.png); }
  .posizioni__item a {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 30px;
    height: 95px; }
    .posizioni__item a:hover {
      text-decoration: none; }
  .posizioni__item__name {
    display: block;
    font-size: 30px;
    color: white;
    font-weight: 300;
    line-height: 1.4; }
  .posizioni__item .text-link, .posizioni__item .text-link--back {
    color: white;
    background-image: url(../img/ui/next.svg); }
  @media only screen and (min-width: 768px) {
    .posizioni__item__name {
      font-size: 40px; } }

/* ----------------------------------------
	Pagina dettaglio
-----------------------------------------*/
.posizione__header {
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: no-repeat center center; }
  .posizione__header.factory {
    background: url(../img/posizioni/factory.jpg); }
  .posizione__header.business {
    background: url(../img/posizioni/business.jpg); }
  .posizione__header.cloud-newbusiness {
    background: url(../img/posizioni/cloud-newbusiness.jpg); }
  .posizione__header.sales-delivery {
    background: url(../img/posizioni/sales-delivery.jpg); }
  .posizione__header.customers {
    background: url(../img/posizioni/customers.jpg); }
  .posizione__header.vertical {
    background: url(../img/posizioni/vertical.jpg); }
  .posizione__header.staff {
    background: url(../img/posizioni/staff.jpg); }
  .posizione__header__name {
    display: block;
    font-size: 30px;
    color: white;
    font-weight: 300;
    line-height: 1.4; }
  .posizione__header__dept {
    color: white;
    font-size: 18px; }

.posizione__details dt {
  color: #3f90cf; }
  .posizione__details dt:before {
    content: '__'; }

.posizione__details dd {
  padding-left: 15px;
  margin-bottom: 30px; }

@media only screen and (min-width: 768px) {
  .posizione__header__name {
    font-size: 40px; } }

.percorsi__header {
  background-image: url(../img/percorsi/header.jpg); }

.percorsi__tabs__header a:after {
  content: ''; }

.percorsi__tabs__header a footer {
  text-align: right;
  border-bottom: 1px solid #3f90cf;
  -webkit-box-shadow: 0 5px 12px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 12px -3px rgba(0, 0, 0, 0.2);
  max-width: 240px; }

.percorsi__tabs__logo {
  width: 240px;
  max-width: 100%; }

.percorsi__tabs__detail {
  display: none;
  position: relative; }
  .percorsi__tabs__detail .title {
    color: #3f90cf; }
  .percorsi__tabs__detail:before, .percorsi__tabs__detail:after {
    content: '';
    display: block;
    background: #3f90cf;
    height: 1px; }
  .percorsi__tabs__detail:before {
    margin-bottom: 30px;
    -webkit-box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.6);
            box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.6); }
  .percorsi__tabs__detail:after {
    margin-top: 30px;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6); }

.percorsi__tabs__close {
  position: absolute;
  right: 0;
  top: 10px; }
  .percorsi__tabs__close:hover {
    cursor: pointer; }

.percorsi__tabs__tree {
  max-width: 90%;
  max-height: 70vw;
  overflow: hidden;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  margin: 0 auto -16px; }
  .percorsi__tabs__tree.isOpen {
    opacity: .5; }
  @media only screen and (min-width: 576px) {
    .percorsi__tabs__tree {
      margin-bottom: -96px; } }
  @media only screen and (min-width: 992px) {
    .percorsi__tabs__tree {
      max-width: 760px;
      max-height: 650px; } }

.facemosaic {
  position: relative;
  margin: 0 auto; }
  .facemosaic__mosaic {
    overflow: hidden;
    background: #3f90cf; }
  .facemosaic__wrapper {
    overflow-x: hidden;
    overflow-y: scroll; }
  .facemosaic__scroller {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transition: -webkit-transform 2s;
    transition: -webkit-transform 2s;
    transition: transform 2s;
    transition: transform 2s, -webkit-transform 2s;
    overflow: hidden; }
  .facemosaic__person {
    background: #3f90cf;
    float: left;
    overflow: hidden; }
    .facemosaic__person.empty {
      background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(0, 0, 0, 0.3)));
      background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.3)); }
    .facemosaic__person a {
      display: block;
      background: #3f90cf;
      position: relative; }
    .facemosaic__person .cta {
      position: absolute;
      width: 100%;
      bottom: -20px;
      color: white;
      z-index: 1;
      text-align: center;
      display: block;
      -webkit-transition: all .4s;
      transition: all .4s;
      font-size: 11px;
      text-transform: uppercase; }
    .facemosaic__person img {
      width: 100%;
      -webkit-filter: grayscale(80%);
              filter: grayscale(80%);
      opacity: .7;
      -webkit-transition: opacity .4s, -webkit-filter .8s, -webkit-transform .8s;
      transition: opacity .4s, -webkit-filter .8s, -webkit-transform .8s;
      transition: opacity .4s, filter .8s, transform .8s;
      transition: opacity .4s, filter .8s, transform .8s, -webkit-filter .8s, -webkit-transform .8s; }
    .facemosaic__person:hover .cta {
      bottom: 0; }
    .facemosaic__person:hover img {
      opacity: 1;
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
  .facemosaic__detail {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background: white;
    left: 0;
    top: 0;
    -webkit-box-shadow: 10px 10px 90px rgba(0, 0, 0, 0.4);
            box-shadow: 10px 10px 90px rgba(0, 0, 0, 0.4);
    overflow: hidden; }
    .facemosaic__detail > div {
      position: relative;
      width: 100%;
      height: 100%; }
    .facemosaic__detail img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1; }
    .facemosaic__detail__copy {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      text-align: center;
      padding: 15px 10px;
      background: rgba(255, 255, 255, 0.6); }
      .facemosaic__detail__copy h4 {
        font-size: 22px;
        color: #3f90cf;
        margin-bottom: 0;
        font-weight: normal; }
      .facemosaic__detail__copy p {
        font-size: 16px;
        margin-bottom: 0; }
    .facemosaic__detail__close {
      position: absolute;
      top: 10px;
      left: 10px;
      border: 0;
      background: none;
      z-index: 2;
      font-size: 13px; }
      .facemosaic__detail__close svg line {
        stroke: #3f90cf; }
      .facemosaic__detail__close:hover {
        cursor: pointer; }
      .facemosaic__detail__close .oi {
        font-size: 12px; }
    @media only screen and (min-width: 768px) {
      .facemosaic__detail {
        left: calc(-100% - 30px);
        width: calc(100% + 30px); } }
  .facemosaic .fade-enter-active, .facemosaic .fade-leave-active {
    -webkit-transition: all .4s;
    transition: all .4s; }
  .facemosaic .fade-enter, .facemosaic .fade-leave-to {
    opacity: 0;
    -webkit-transform: translateX(10%);
            transform: translateX(10%); }
  .facemosaic .fade-move {
    -webkit-transition: all .4s;
    transition: all .4s; }

/*# sourceMappingURL=maps/main.css.map */
