.prog-info li {
  font-family: "AndesCndW04-Md", sans-serif;
}
.prog-info small {
  font-family: 'Berthold Akzidenz Grotesk BE', sans-serif;
  letter-spacing: 0.6px;
}
/* -----------------------
  Intro
----------------------- */
.prog__intro {
  overflow-x: hidden;
}
/* -----------------------
  Info
----------------------- */
.prog-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.prog-info li {
  padding-right: 35px;
  font-size: 18px;
}
.prog-info small {
  font-size: 12px;
  display: block;
}

/*# sourceMappingURL=azienda.css.map */
