.newsletter-subscribe {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #fff;
}
.newsletter-subscribe .form-group {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 0;
}
.newsletter-subscribe .form-group label {
  color: #000;
}
.newsletter-subscribe .form-group input {
  width: 100%;
}
.newsletter-subscribe .form-control {
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.newsletter-subscribe button {
  -webkit-transform: translateY(8px);
      -ms-transform: translateY(8px);
          transform: translateY(8px);
}
.newsletter-subscribe small {
  font-size: 12px;
}
@media print {
  .newsletter-subscribe {
    display: none;
  }
}

/*# sourceMappingURL=newsletter-subscribe.css.map */
