@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
.vert-img-and-text {
  position: relative;
}
.vert-img-and-text .palette {
  position: absolute;
  bottom: -21px;
}
@media screen and (min-width: 1200px) {
  .vert-img-and-text .copy {
    padding-right: 25%;
  }
}

/*# sourceMappingURL=vert-img-and-text.css.map */
