@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
.double-gallery {
  overflow: hidden;
}
.double-gallery .title {
  padding: 0 8.3333%;
}
@media screen and (min-width: 576px) {
  .double-gallery .title {
    padding: 0;
  }
}
@media (min-width: 1400px) {
  .double-gallery .title {
    position: absolute;
    bottom: 120px;
  }
}
@media screen and (min-width: 768px) {
  .double-gallery .slick-list {
    overflow: visible;
  }
}
.double-gallery .slick-slide {
  margin-right: 40px;
}
.double-gallery .slick-slide > div {
  margin-bottom: 80px;
}
.double-gallery .slick-slide > div:last-child {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .double-gallery .slick-slide {
    margin-right: 80px;
  }
}
.double-gallery .slick-dots {
  position: static;
}
.double-gallery .slick-nav {
  position: relative;
}

/*# sourceMappingURL=double-gallery.css.map */
