/* -----------------------
  Filtri
------------------------*/
.journal__filters {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

/*# sourceMappingURL=area-tecnica-dettaglio.css.map */
