@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
/* -----------------------
  Filtri
------------------------*/
.journal__filters {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

/*# sourceMappingURL=journal-detail.css.map */
