.main-footer .links {
  font-family: "AndesCndW04-Lt", sans-serif;
}
.main-footer a {
  color: #75726f;
}
.main-footer .footer {
  min-height: 300px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2c2a27), to(#000));
  background-image: -o-linear-gradient(top, #2c2a27, #000);
  background-image: linear-gradient(to bottom, #2c2a27, #000);
  color: #75726f;
}
.main-footer .links {
  text-transform: uppercase;
}
.main-footer .links a {
  color: #fff;
  font-size: 18px;
}
.main-footer .bottom {
  font-size: 14px;
}
.main-footer .bottom a {
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.main-footer .bottom a:hover {
  text-decoration: none;
  color: #fff;
}
@media print {
  .main-footer {
    display: none;
  }
}

/*# sourceMappingURL=main-footer.css.map */
