.btn-share {
  line-height: 1;
}
.btn-share .text-link-line,
.btn-share__social {
  overflow: hidden;
  display: inline-block;
}
.btn-share__social {
  font-size: 14px;
  display: none;
}
.btn-share__social a {
  margin: 0 3px;
  color: #fff;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0;
}
.btn-share__social a:hover {
  opacity: 0.5 !important;
  text-decoration: none;
}

/*# sourceMappingURL=share-btn.css.map */
