@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
/* -------------------------------
  Intro
--------------------------------*/
.scegli-colore__intro {
  background: #edeeee;
  position: relative;
}
.scegli-colore__intro:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 200px;
  background: #fff;
  display: none;
}
@media screen and (min-width: 992px) {
  .scegli-colore__intro:before {
    display: block;
  }
}
/* -------------------------------
  Loghi
--------------------------------*/
.scegli-colore__loghi {
  display: none;
}
@media screen and (min-width: 992px) {
  .scegli-colore__loghi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

/*# sourceMappingURL=scegli-colore.css.map */
