<div class="container-fluid pt-4">
  <div class="row">
    <div class="col">
      {{ recipe }}
        <h1>
          {{ 'My week' | yandex }}
        </h1>
      </div> 
    </div>
  </div>
</div> 

<week-table week="ctrl.week">
  
</week-table>


<!-- 
<table class="w-100"> 
  <tr>
    <th class="text-center">Day</th>
    <th class="text-center">Lunch</th>
    <th class="text-center">Dinner</th>
  </tr>
  <tr ng-repeat="day in ctrl.week" ng-class="{'past': day.date < ctrl.today}" ng-if="false">
    <td class="day" title="{{day.date}}">
      <span>{{ day.date | date:'dd' }} </span>
      <small>{{ day.date | date:'MMM' }} </small>
    </td>
    <td>
      <pre>
        {{ day | json }}
      </pre>

      <div ng-if="day.date < ctrl.yesterday || day.lunch !== ''">
        {{ day.lunch.name }}
      </div>
      <div ng-if="day.date >= ctrl.yesterday">
        <a href="#!/ricette" class="btn btn-sm btn-outline-primary" ng-click="ctrl.startSelection('lunch')">
          Scegli 
        </a>
      </div>
    </td>
    <td>
      <div ng-if="day.date < ctrl.yesterday">
        {{ day.lunch.name }}
      </div>
      <div ng-if="day.date >= ctrl.yesterday">
        <a href="#!/ricette" class="btn btn-sm btn-outline-primary" ng-click="ctrl.startSelection('dinner')">
          Scegli 
        </a>
      </div>
    </td>
  </tr>  
</table>
-->
