<div class="container-fluid">
  <div class="row">
    <div class="col">
      <header class="mb-3">
        <h1>
          {{ ctrl.recipe.title | yandex }}
        </h1>
        <p>{{ Math.round(ctrl.recipe.social_rank / 10) }}</p>
        <small>By {{ctrl.recipe.publisher}} </small>
      </header>
      <div class="mb-3">
        <img ng-src="{{ctrl.recipe.image_url}}" class="img-fluid" alt="{{ctrl.recipe.title}}">        
      </div>
      <h3>{{ 'Ingredients' | yandex }}: </h3>
      <ul>
        <li ng-repeat="ingredient in ctrl.recipe.ingredients track by $index">
          {{ ingredient | yandex}}
        </li>
      </ul>
      <footer>
        <a ng-href="{{ctrl.recipe.source_url}}" class="btn-link" target="_blank">Source url</a>
        <a ng-href="{{ctrl.recipe.f2f_url}}" class="btn-link" target="_blank">Food2Fork url</a>

      </footer>

      <pre>
        {{ ctrl.recipe | json }} 
      </pre>
    </div>
  </div>
</div> 