<header class="action" ng-show="ctrl.state.selecting.active">
  Choose a <strong>{{ ctrl.state.selecting.meal }}</strong> for <strong>{{ ctrl.state.selecting.date | date:'dd/MM' }}</strong>
</header>

<div class="container-fluid pt-4">
  <div class="row">
    <div class="col">
      <header class="d-flex justify-content-between mb-3">
        <h1 class="mb-0">{{ 'Recipes' | yandex }}</h1>
        <a ng-href="#!/food2fork/search" class="btn btn-outline-primary" title="Browse Food2Fork database">
          <span class="oi oi-book"></span>
        </a>
        <button class="btn btn-outline-primary" ng-click="ctrl.showAddRecipe = !ctrl.showAddRecipe">
          <span class="oi oi-plus" ng-show="!ctrl.showAddRecipe"></span>
          <span class="oi oi-minus" ng-show="ctrl.showAddRecipe"></span>
        </button>
      </header>

      <table class="recipes mb-4"> 
        <!-- Table head -->
        <tr>
          <th>
            <button ng-click="ctrl.sortOrder = 'name'">
              {{ 'Recipe' | yandex }} 
              <span class="oi oi-caret-bottom" ng-show="ctrl.sortOrder === 'name'"></span>
            </button>
          </th>
          <th class="text-center">
            <button ng-click="ctrl.sortOrder = 'daysAgo'">
              {{ 'Days ago' | yandex }}
              <span class="oi oi-caret-bottom" ng-show="ctrl.sortOrder === 'daysAgo'"></span>
            </button>
          </th>
          <th class="text-center"> </th>
        </tr>
        <!-- /Table head -->        

        <!-- Ricette -->        
        <tr ng-repeat="recipe in ctrl.mappedRecipesArray | orderBy: ctrl.sortOrder" ng-class="">
          <td>
            <a 
              ng-href="#!/my-recipes/{{recipe.id}}" 
              title="{{recipe.name}}" 
              ng-class="{'recipes__recipe--selected': ctrl.selectedRecipe === recipe.$id}">
              {{ recipe.name }}
            </a>
          </td>
          <td class="text-center">
            {{ recipe.dates | mostRecent | daysAgo:ctrl.state.selecting.date }}
          </td>
          <td class="text-center">
            <toggle-selection 
              selected-recipe="ctrl.selectedRecipe"
              recipe-id="recipe.$id"
            ></toggle-selection>
          </td>
        </tr>
        <!-- /Ricette -->        

        <!-- Aggiungi piatto -->
        <tr ng-show="ctrl.showAddRecipe">
          <td colspan="2">
            <input type="text" class="form-control" ng-model="ctrl.newRecipe" placeholder="{{ 'Add a recipe' | yandex }}">
          </td>
          <td>
            <button class="btn btn-outline-primary" ng-click="ctrl.addRecipe($event)" ng-disabled="!ctrl.newRecipe">{{ 'Add' | yandex }}</button>
          </td>
        </tr>
        <!-- /Aggiungi piatto -->
      </table>

      <!-- Conferma selezione -->
      <a
        href="#!/calendar" 
        class="btn btn-block btn-primary mb-4" 
        ng-show="ctrl.state.selecting.active"
        ng-click="ctrl.confirmRecipe()"
      >
        {{ 'Confirm' | yandex }}
      </a>
      <!-- /Conferma selezione -->

      Current: {{ ctrl.selectedRecipe }}
     
      <pre>
      filter
        {{ ctrl.mappedRecipesArray | json }}
      </pre> 


    </div>
  </div>
</div> 