<header class="action" ng-show="ctrl.state.selecting.active">
  Scegli {{ ctrl.state.selecting.meal | translate}} del {{ ctrl.state.selecting.date | date}}
</header>

<div class="search-view  pt-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <header class="d-flex justify-content-between mb-3">
          <h1 class="mb-0">{{ 'Search' | yandex }}</h1>
          
        </header>

        <form action="" ng-submit="ctrl.search($event)">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="{{ 'Search recipe' | yandex }}" ng-model="ctrl.query">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">
                {{ 'Search' | yandex }}
              </button>
            </div>
          </div>
        </form>


      </div>
    </div>
  </div>

  <div ng-show="ctrl.response">
    <div class="col">
      <h5 class="card-title">Results for: <strong>{{ ctrl.query }}</strong></h5>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item" ng-repeat="recipe in ctrl.response.recipes">
        <div class="media">
          <img class="thumb mr-3" ng-src="{{recipe.image_url}}" alt="{{ recipe.title }}">
          <div class="media-body">
            <h5 class="mt-0">{{ recipe.title | yandex}}</h5>
            <a ng-href="#!/food2fork/recipe/{{recipe.recipe_id}}" title="{{ recipe.title }}">
              {{ 'See details' | yandex }} {{ recipe.recipe_id }}
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div> 