body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

h1 {
    margin-top: 20px;
    font-weight: bold;
}

h2 {
    margin-top: 50px;
    font-weight: bold;
}

h3 {
    margin-top: 40px;
    font-weight: bold;
}

h4 {
    margin-top: 30px;
    font-weight: bold;
}

p {
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: justify;
}

li {
    margin-bottom: 5px;
}


.ng-cloak { display: none !important }



.main-container {
    display: flex;
}

.side-menu__wrapper {
    position: sticky;
    top: 0;
    overflow-y: auto;
    height: 100vh;
}

.thumbRight {
    float: right;
    width: 20%;
    margin: 5px 15px;
}

.thumbRight img {
    width: 100%;
    border: 1px solid #e8c90c;
    max-width: 200px;
}


#corpoHelp {
    max-width: 1080px; 
    overflow: hidden;
}

a.linkSezione {
    font-weight: bold;
    color: #e69138 !important;
}

.logoPolisweb {
    display: inline-block;
    width: 20px;
    margin-bottom: 3px;
}

.separatore {
    clear: both;
}

.testoDiEsempio {
    font-style: italic;
}



/* --------------------------------------------------
  SchedaDomanda
-------------------------------------------------- */
.schedaDomanda {
}

.schedaDomanda .layout-style2__header, 
.schedaDomanda .layout-style2__footer {
  position: relative;
}

.schedaDomanda__title {
  margin: 0;
  cursor: pointer;
}



.schedaDomanda .layout-style2__body  p {
    font-size: 0.85em;
}

.schedaDomanda .interruttoreContenutoCard {
    float: left;
}


#side-menu {
    display: block;
    max-width: 220px;
}

#main-body {
    background: white;
}


.btn-menu {
    display: none;
    color: white;
    border: 0;
    padding: 8px;
}

.btn-menu small {
    font-size: 7PX;
    display: inline-block;
}



@media screen and (max-width: 1023px) {
 
    .btn-menu {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 20;
        font-size: 24px;
        width: 50px;
        height: 50PX;
        line-height: 0px;
        overflow: hidden;
    }


    #side-menu {
        display: none;
        width: 100%;
        z-index: 10;
    }

    #side-menu .list-style1__item__label {
        display: inline-block;
    }

    #main-body {
        width: 100%;
        left: 0;
    }

    .schedaDomanda .titlebar-style2 {
        height: auto;
    }

    .schedaDomanda .titlebar-style2__title {
        font-size: 14px;
    }    
}



