/*------------------------------------------------
	Fade In 
------------------------------------------------*/
@mixin fadeInUpCustom($offset) {

	@keyframes fadeInUp#{$offset} {
		0% {
				opacity: 0;
				transform: translate3d(0,#{$offset}px,0)
		}
	
		to {
				opacity: 1;
				transform: none
		}
	}
		
}


@for $i from 1 through 10 {
	$j: $i*10;

	@include fadeInUpCustom(#{$j});
	
	.fadeInUp#{$j} { 
		animation-name: fadeInUp#{$j};
	}
}



/*------------------------------------------------
	Fade Out
------------------------------------------------*/
@mixin fadeOutUpCustom($offset) {	
	@keyframes fadeOutUp#{$offset} {
		0% {
			opacity: 1;
			transform: none;
		}	
		to {
			opacity: 0;				
			transform: translate3d(0, -#{$offset}px,0);
		}
	}		
}


@for $i from 1 through 10 {
	$j: $i*10;

	@include fadeOutUpCustom(#{$j});
	
	.fadeOutUp#{$j} { 
		animation-name: fadeOutUp#{$j};
		animation-fill-mode: forwards;
	}
}




/*------------------------------------------------
  Vue Transitions classes
------------------------------------------------*/
 .fade-enter-active, .fade-leave-active {
  transition: all .4s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-move {
  transition: all .4s;
}