.btn {

  font-size: 20px;
  padding: 11px 18px;
  font-weight: $bold;
  color: white;
  font-style: normal;
  transition: all .4s;

  &:hover {
    color: white;
  }


  // Colori
  @each $key, $value in $colors {
    &-#{$key} {
      background-color: #{$value};
      border: 1px solid #{$value};

      &:hover {
        background: transparent;
        color: #{$value};
      }
    }
  } 


  // Versione larga
  &-lg {
    padding: 15px 22px;
  }




} 