.main-footer {  
  color: white;
  font-size: 11px;

  li {list-style: none;}

  a { 
    color: white;
  }
  

  &__pre {

  }

  &__quicklinks {
    @extend .list-reset;
    li {margin-bottom: 10px;}
    a {font-size: 11px;}
  }

  &__socials {
    font-size: 22px;

    a { 
      margin-right: 15px; 
      opacity: .6;
      .fa {font-size: 22px;}

      &:hover {
        opacity: 1;
      }
    }
  }


  &__bottom {
    background: $bluedark;
    padding-top: $spacer;
    padding-bottom: $spacer;

    &, a { 
      font-size: 11px; 
    }
  }

  @include md-min {
    &, a {font-size: 13px;}
  }

} // .main-footer