.form-control {

  &:hover, 
  &:focus, 
  &:focus:hover,
  &:active {
    box-shadow: none;
  }

}

.input-group {

  & &-btn {
    
    .btn {
      &:focus,
      &:hover,
      &:active {
        box-shadow: none;
        background: none;
      }
    }
  }

}