html {
  background: no-repeat fixed center center;
  background-size: cover;
}

body {
  background: white;
}






/*------------------------------------------------
	Section title
------------------------------------------------*/
.title-section {
  text-align: center;
  font-size: $fs-lg;
  background: url(../img/ui/title-bg.png) no-repeat right center;
  background-size: cover;
  padding: 20px;
  margin-bottom: 0;
}


/*------------------------------------------------
	Sections
------------------------------------------------*/
section { text-align: center;}



/*------------------------------------------------
	Points line divider
------------------------------------------------*/
hr.points {
  background: url(../img/ui/title-points.svg) no-repeat center bottom;
  background-size: 90px auto;
  width: 90px;
  height: 10px;
  border: 0;
  margin: 5px auto 10px;
}



/*------------------------------------------------
	Back to top
------------------------------------------------*/
.backtotop {
  position: fixed; 
  background: rgba(0,0,0,.5);
  color: white;
  z-index: $z-backtotop;
  text-align: center;
  text-transform: uppercase;
  padding: 8px;
  right: -60px;
  bottom: 100px;
  font-size: 18px;
  cursor: pointer;
  transition: right .4s ease-out;

  &.visible {
    right: 0;
  }


  svg {
    display: block;
    margin: 0 auto;
    fill: white;
  }
}


/*------------------------------------------------
	Slider
------------------------------------------------*/
.slider {  

  a { 
    display: block;
    position: relative;
  }

  &__wrap {
    background: $greylighter;
    padding: 60px 15px;
  }

  &__logo, &__text {
    padding: 20px;
  }

  &__logo {
    max-width: 100%;

    img {    
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }

  &__text {
    font-size: 22px;
    font-style: italic;
    position: absolute;
    z-index: 2;
    height: 100%;
    align-items: center;
    color: $dark;
    width: 100%;
    
    strong { 
      color: $dark; 
      font-weight: $bolder;
    }
  }

  @include md-min {
    &__wrap {
      padding: 60px;
    }

    &__logo {
      padding: 0;
      img {        
        margin: 0;
      }
    }

    &__text {
      text-align: left;
    }
  }

}



/*------------------------------------------------
	Icone social
------------------------------------------------*/
.social-icon {
  $icons: ('facebook', 'linkedin', 'youtube', 'twitter');
  $size: 40px;

  @for $i from 0 through length($icons)-1 {
    &--#{nth($icons, $i+1)} {
      background: url(../img/ui/socials-circle.svg) no-repeat -#{$size*$i} top;
      width: $size;
      height: $size;
      display: inline-block;
      background-size: auto 100%;
    }
  }
}




/*------------------------------------------------
	Intro
------------------------------------------------*/
.intro {
  text-align: center;

  &__prodotto {
    background: $greylighter;

    .title {
      font-size: $fs-lg;
      text-transform: uppercase;
      font-weight: $bold;
    }

  }
  
  @include lg-min {
    &__prodotto {  
      .title { font-size: $fs-xl; } 
    }
  } // .lg-min

}



/*------------------------------------------------
	Eventi
------------------------------------------------*/
.eventi {
  .slider {
    img {width: 100%;}

    &__wrap {
      padding: 30px 15px;
    }
  }

  &__list {

    &__wrapper {
      height: 100%;
      top: 0;
      left: 0;
      background-color: $greylighter;
      overflow-y: scroll;

      ul {padding: 30px 20px;}
    }
  }

  &__evento {
    display: flex;
    margin-bottom: 28px;

    svg {
      fill: $greylighter;
      position:absolute;
      right: -1px;
      top: 20px;
    }

    &__data {
      background: $azure;
      color: white;
      text-align: center;
      width: 70px;
      padding: 15px 0;
      position: relative;
      flex-grow: 1;
      flex-shrink: 0;
    }

    &__text { 
      font-size: 14px;
      text-align: left;
      padding-left: 10px;
      width: 100%;
      flex-grow: 0;
      flex-shrink: 1;
    }

    &__giorno { 
      font-size: 38px;
      line-height: 0.8;
    }
    &__mese { font-size: 18px; }

    &__title { 
      font-weight: $bold;
      font-size: 14px;
      margin-bottom: 0;
    }
    &__cta {
      color: $dark;
      font-weight: $bold;
    }

  } // &__evento

  @include md-min {
    .slider {
  
      &__wrap {
        padding: 30px 60px;
      }
    }

    &__list {
      &__wrapper {
        position: absolute;        
        width: calc(100% - 15px);
      }
    }

    &__evento {
  
      &__data { width: 50px; }  
      &__giorno { font-size: 32px; }
      &__mese { font-size: 16px; }
      &__abstract {font-size: 12px;}
  
    } // &__evento

  } // .md-min


  @include lg-min {
    &__evento {      
      &__data { width: 70px; }
      &__giorno { font-size: 38px; }
      &__mese { font-size: 18px; }
      &__abstract {font-size: 14px;}
    }
  }

} // eventi





/*------------------------------------------------
	Free education e magazine
------------------------------------------------*/
.edumag {

  &__item {
    font-size: $fs-sm;
    line-height: 1.3;
  }

  &__image {
    border-radius: 50%; 
    overflow: hidden;
    border-style: solid;
    border-width: 3px;
    max-width: 175px;
    margin-left: auto;
    margin-right: auto;

    img {
      width: 100%;
      border: 6px solid white;
    }
  }

  &__title {
    font-weight: $bold;
    font-size: $fs-md;
  }

  &__text {

  }

  @include lg-min {
    
  }


}




/*------------------------------------------------
	Altre Soluzioni Digitali
------------------------------------------------*/
.alt-sol-dig {  
  &__item {
    font-size: $fs-sm;
    line-height: 1.3;
    &:hover { text-decoration: none;}
  }
 
  &__image {
    border-radius: 50%; 
    overflow: hidden;
    max-width: 175px;
    margin-left: auto;
    margin-right: auto;

    img {
      width: 100%;
      max-width: 110px;
    }
  }

  &__title {
    @extend .points-bg;
    font-size: 20px;
    text-transform: uppercase;
    color: $dark;
    padding-bottom: 20px;
    font-weight: $bold;
  }

  &__text {
    color: $dark;
  }

}



/*------------------------------------------------
	Store
------------------------------------------------*/
.store {

  &__item {
    background: white;
    color: $dark;
    font-size: 14px;

    &:hover {
      color: $dark;
      text-decoration: none;

      .store__item__cta {
        background: darken($azure, 10);
      }
    }

    &__wrapper {      
      padding: 15px;      
      background: white;
    }

    img {
      width: 50px;
      height: 50px;
      margin: 0 auto;
    }

    &__title {
      font-size: 20px;
      margin-bottom: 0;
    }

    &__price {
      strong {
        font-size: 28px;    
        display: block;    
        
      }
    }

    &__cta {
      background: $azure;
      color: white;
      font-size: 18px;
      font-weight: 600;
      padding: 10px;
      transition: background .4s;
    }
  } // &__item

  .slick {
    &-track {
      padding-bottom: 24px;
    }
    &-slide {
      margin-left: 30px;
      box-shadow: 0 60px 40px -70px;
    }
  }


}



/*------------------------------------------------
	Fanbase
------------------------------------------------*/
.fanbase {
  background-image: radial-gradient(#f6ad05, #e23153);
  font-size: 33px;
  color: white;

  a {
    transition: all .4s;
    &:hover {
      opacity: .7;
    }
  }
}




/*------------------------------------------------
	Prefooter
------------------------------------------------*/
.prefooter {
  background: $grey;
  color: white;  
  text-align: left;
  font-size: $fs-sm; 

  a { color: white;}

  &__ts-mark {
    flex-basis: 25px;
    flex-grow: 0;

    img { 
      width: 25px;
      height: 25px;
    }
  }

  &__service-links {
    a {display: inline-block;}
  }

 

  @include md-min {
    &__main-links {
      ul {white-space: nowrap; }
      li {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }

  

  @include lg-min {
    &__main-links {
      ul {white-space: nowrap; }
    }
  }

}




/*------------------------------------------------
	Footer
------------------------------------------------*/
.footer {

  .teamsystem {
    img {
      width: 160px;
      height: auto;
    }
  }

  background: $greydark;
  color: white;
  font-size: $fs-xs;  
  text-align: left;

  @include md-min {
    .teamsystem {direction: rtl;}
  }
}