/*------------------------------------------------
	Vars
------------------------------------------------*/
$c-factory: #65a6d9;
$c-cloud: #2c4491;
$c-sales: #b10e6c;
$c-support: #d1694e;
$c-vertical: #e7b042;
$c-staff: #b1b1b1;


// Colors
$primary:    #002463;
$blue:    #002463;
$bluedark: #001d4d;
$bluedull: #b3c0d5;
$cyan: #0091e5;
$yellow: #ffd300;
$yellowlight: #ffe45e;
$dark: #181818;
$light: #e7e7e7;

 
// Spacer
$spacer: 25px;


// z-index
$z-main-nav: 10;
$z-scheda-play: 200;
$z-fullpage-nav: 20;
$z-fullpage-chapters: 30;
$z-menu-overlay: 1000;
$z-storia-arrows: 50;


// Dimensions
$menu-h: 100px;
$menu-h-lg: 140px;
$hero-h: 540px;
$hero-h-lg: 690px;



/*------------------------------------------------
	Fonts
------------------------------------------------*/
$cliche: 'font135484';
$adelleItalic: 'font124193';
$adelleSB: 'font124084';
$adelleLight: 'font112844';
$montserrat: 'Montserrat', arial, sans-serif;




/*------------------------------------------------
	Color & BG utility
------------------------------------------------*/
$colors: (
  primary:    #002463,
  blue:    #002463,
  bluedark: #001d4d,
  bluedull: #b3c0d5,
  cyan: #0091e5,
  yellow: #ffd300,
  yellowlight: #ffe45e,
  dark: #181818
);

@each $key, $value in $colors {
  .#{$key} { color: #{$value}!important; }
  .bg-#{$key} { background-color: #{$value} !important;} 
}


/*------------------------------------------------
	Globals
------------------------------------------------*/
body {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  background: $primary;
  color: white;
  position: relative;
  

  // Vedere doc ready su main.js
  display: none;
}  


/*------------------------------------------------
	Layout
------------------------------------------------*/
.container {
  
  @include xs-max {
    padding-right: 30px;
    padding-left: 30px;
  }
}

/*------------------------------------------------
	columns
------------------------------------------------*/
.cols {
  &-2 {
    column-count: 2;
    column-gap: 100px;
  }

  &-md-2 {
    @include md-min {
      column-count: 2;
      column-gap: 100px;
    }
  }

  &-lg-2 {
    @include lg-min {
      column-count: 2;
      column-gap: 100px;
    }
  }

  &-xl-2 {
    @include xl-min {
      column-count: 2;
      column-gap: 100px;
    }
  }
}




/*------------------------------------------------
	Row gutters
------------------------------------------------*/
.row.gutters {  
  $size: 13px;
  $size-sm: 6px;
  $size-lg: 30px;

  margin-right: -$size;
  margin-left: -$size;
  
  > [class*="col"] {
    padding-right: $size;
    padding-left: $size;
  }    

  &-sm {
    @extend .row.gutters;
    @include lg-min {
      margin-right: -$size-sm;
      margin-left: -$size-sm;
      
      > [class*="col"] {
        padding-right: $size-sm;
        padding-left: $size-sm;
      }    
    }
  }

  &-lg {
    @extend .row.gutters;
    @include lg-min {
      margin-right: -$size-lg;
      margin-left: -$size-lg;
      
      > [class*="col"] {
        padding-right: $size-lg;
        padding-left: $size-lg;
      }    
    }
  }
}


  

/*------------------------------------------------
	Divider
------------------------------------------------*/
.divider {  
  height: 10px;
  border: 0;
  margin: 0;

  $colors: (
    white: white,
    blue: $primary,
    yellow: $yellow,
    cyan: $cyan
  );
  
  @each $key, $value in $colors {    
    &-#{$key} {
      @extend .divider;
      background-color: #{$value};
    }
  }
 
}



/*------------------------------------------------
	Shadow
------------------------------------------------*/
.shadow {
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);

  &--md { box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.2); }
  &--lg {box-shadow: 0 20px 80px -10px rgba(0,0,0,.2); }
  
}



/*------------------------------------------------
	Icons
------------------------------------------------*/
.dc-icon {
   $size: 33px;
   $size-lg: 60px;

   background: url(../img/ui/sprite.png) no-repeat;
   width: $size;
   height: $size;
   display: inline-block;
   background-size: auto 200%;
   vertical-align: middle;
   
   $icons: 'search', 'world', 'grid', 'close', 'down', 'down-o';

   @for $i from 0 through length($icons)-1 {
    &.dc-icon--#{nth($icons, $i+1)} {
      background-position: -#{$i*$size} bottom;
    }

    &.dc-icon--#{nth($icons, $i+1)}--blue {
      background-position: -#{$i*$size} top;
    }
  }

  &--lg {
    @extend .dc-icon;
    width: $size-lg;
    height: $size-lg;
    

    @for $i from 0 through length($icons)-1 {
      &.dc-icon--#{nth($icons, $i+1)} {
        background-position: -#{$i * $size-lg} top;
      }
      &.dc-icon--#{nth($icons, $i+1)}--blue {
        background-position: -#{$i*$size-lg} top;
      }
    }
  }
 }

.ricetta-icon {
  $size: 29px;
  background: url(../img/ui/sprite-ricette.png) no-repeat;
  width: 26px;
  height: $size;
  display: inline-block;
  background-size: auto 100%;
  vertical-align: middle;
  
  $icons: 
    'tempo', 
    'persone', 
    'difficolta', 
    'difficolta-vuoto', 
    'pasta',
    'tempo-blu',
    'difficolta-blu'
  ;

  @for $i from 0 through length($icons)-1 {
    &.#{nth($icons, $i+1)} {
      background-position: -#{$i*$size} top;
    }
  }

  &.persone { width: 29px;}
}


.info-icon {
  $size: 29px;
  background: url(../img/ui/sprite-infolist.png) no-repeat;
  width: 26px;
  height: $size;
  display: inline-block;
  background-size: auto 200%;
  vertical-align: middle;
  
  $icons: 
    'tempo', 
    'persone', 
    'difficolta', 
    'difficolta-vuoto', 
    'pasta',
    'peso'
  ;

  @for $i from 0 through length($icons)-1 {
    &.#{nth($icons, $i+1)} {
      background-position: -#{$i*$size} top;
    }
    &.#{nth($icons, $i+1)}-blu {
      background-position: -#{$i*$size} bottom;
    }
  }

  // larghezza differente
  &[class*="persone"], &[class*="pasta"] { width: 29px;}
}



.pasta-icon {
  $size: 45px;
  background: url(../img/scheda/info-sprite.png) no-repeat;
  width: $size;
  height: $size;
  display: inline-block;
  background-size: auto 100%;
  vertical-align: middle;
  
  $icons: 'dimensione', 'ingredienti', 'conservazione', 'provenienza';

  @for $i from 0 through length($icons)-1 {
   &.info-icon--#{nth($icons, $i+1)} {
     background-position: -#{$i*$size} top;
   }
 }
}



/*------------------------------------------------
  Lista riepilogo con icone
------------------------------------------------*/
.infolist {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  color: white;
  flex-wrap: wrap;

  li {
    list-style: none;
    font-weight: 500;
    font-style: italic;
    display: flex;
    align-items: center;
    margin-right: 30px;
    &:last-child { margin-right: 0;}
  }

  small {      
    font-size: 13px;
    margin-left: 5px;
  }
}
 


/*------------------------------------------------
	Gradient background
------------------------------------------------*/
 .bg-gradient {
   background-image:linear-gradient(to bottom, #001f57, #0091e5);
  
   &--cyan-white {
    background-image:linear-gradient(to bottom, #0091e5, white);
   }
 }






/*------------------------------------------------
	Default
------------------------------------------------*/
.section {
  background: white;
  color: $primary;

  &__title {
    @extend .title-lg;
    text-align: center;
  }

  &__text {
    
  }

 




  /*-----------------------------------
    Sezione con foto e testo
  -----------------------------------*/
  &--textimage {
    @extend .bg-gradient;
    border-bottom: 8px solid white;

    &__text {}
    &__image {
      text-align: right;
      img {
				@extend .shadow--lg;
			}
    }

    .btn { margin: 0;}

    /* Versione specchiata */
    &:nth-child(even), &--mirror {
      background: white;
			color: $primary;
      border-top: 8px solid $cyan;      

			.text-link { color: $cyan; }

			.section--textimage__text {text-align: right;}
      
      .section--textimage__image {
        text-align: left;
        order: -1;
      }
      
    } // .section--textimage--invert

  } // .section--textimage

} // .section









/*------------------------------------------------
	Hero default
------------------------------------------------*/
.hero {
  @extend .bg-gradient;
  background-size: cover;
  color: white;
  text-align: center;

  .row {
    height: $hero-h;
    align-items: center;
  } 

  &.hero--short {
    .row {
      height: auto;
    } 
  }

  &__title {
    @extend .title-md;
    font-family: $cliche;
    color: white;
  }

  &__copy {
    @extend .text-lg;
    font-family: $adelleItalic;
  }

  @include lg-min {
    .row { height: $hero-h-lg; }
  }
}

.default-body {
  background: white;
  color: $primary;


} 



/*------------------------------------------------
	Rellax (parallax)
------------------------------------------------*/
[class*="rellax"] {
  transition: transform 2s;
}


/*------------------------------------------------
	Modal
------------------------------------------------*/
.modal {

  &-content { border: 0; }

  &__close {
    position: fixed;
    width: 100%;
    bottom: 30px;
    text-align: center;
    
    button {
      display: inline-block;
      width: 36px;
      height: 36px;       
      padding: 0;
      
      img {width: 100%;}
    }
  }
  
}
  
  
  

// Highlight color customization
/*
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $primary;
}
*/


.styleguide {
  background: #ddd;

  hr {margin: 40px auto;}
}