﻿.hero {
  background: url(../img/hero/bg.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 40px;

  &, strong { color: white; }


  // Headline
  &__headline {
    font-size: $fs-lg; 
    line-height: 1.1;     
    text-align: left;  

    strong {
      font-weight: $bold;
    }
  }


  // Slider
  &__slider {
    padding: 40px; 
    padding-bottom: 5px;


    &__image {
      height: 0;
      padding-bottom: 200px;
      border-radius: 100%;
      box-shadow: 10px 10px 0 rgba(0,0,0,.2);
      max-width: 200px;   
      margin: 0 auto;
      background-size: cover;
    }

    &__text {

      blockquote { 
        font-style: italic; 
        footer { font-style: normal; }
      }
    }

    .slick {
      
      &-arrow {
        &.slick-next { right: -32px; }
        &.slick-prev { left: -32px; }
      }

    }
  } // slider


  // CTA 
  &__cta {
    text-align: center;
    padding-top: 30px;
    margin-top: 20px;

    .btn:hover {
      color: white;
      border-color: white;
    }
  }

  @include sm-min {
    &__headline {
      font-size: $fs-xl; 
    }
  }

  @include md-min {
    &__headline {
      font-size: $fs-xxl; 
    }
  }

  @include lg-min {
    &__headline {
    }

    &__slider {      
      background: rgba(255,255,255, .5);

      &__image {
        max-width: 100%;
        padding-bottom: 100%;
      }

      &__text {
        text-align: left;
      }
    }

    // CTA 
    &__cta {
      border-top: 1px solid white;
    }

  }


} // .hero