﻿$iconSize: 16px;

.ts-icon {
  background: url(../img/ui/icons.svg) no-repeat;
  width: $iconSize;
  height: $iconSize;
  display: inline-block;
  background-size: auto 100%;
  vertical-align: middle;
}


$icons: 'search', 'next', 'next-white';

@for $i from 0 through length($icons)-1 {
  .ts-icon--#{nth($icons, $i+1)} {
    @extend .ts-icon;
    background-position: -#{$i*$iconSize} top;
  }
}
   
  


  
 
     