$mainNavHeight: 105px;
$secondaryNavHeight: 60px;
$primaryNavHeight: 45px;
$ui-menu-a-padding-lg: 5px 10px;
$dropdown-shadow: 0 5px 20px rgba($dark,.2);

body {
  @include lg-min {
    padding-top: $secondaryNavHeight;
  }
}


.main-nav {
  text-align: left;
  position: relative;
  height: auto;

  .dropdown-link-style {
    transition: all .4s;
    border-radius: 4px;
    margin-right:10px;
    margin-left: 10px;      
    padding: $ui-menu-a-padding-lg;
    &:hover {
      background: darken($azure, 10);          
      text-decoration: none!important;
      color: white;
    }
  }

  .navbar {    
    max-width: $body-max-width;
    margin: 0 auto;
    padding: 0;
    width: 100%;

    // Sfondo 
    &:before {
      // content: '';
      position: absolute;
      width:100%;
      height: $secondaryNavHeight;
      top: 0;
      left: 0;
      z-index: -1;
      border-top: $secondaryNavHeight solid white;
    }

    > .container {  
      // height: $secondaryNavHeight;
    }
    
    &-brand {
      margin: 6px 15px;

      img {
        width: 180px;
        height: 32px;
      }
    }

    &-toggler {
      font-size: 24px;
      color: $azure;
      outline: 0;
      cursor: pointer;

      &-icon {
        width: 23px;
        height: 17px;
      }
    }

    &-collapse {
      background: grey;
    }

    &-collapse {
      flex-direction: column;
      // height: auto;
      position: relative;
      z-index: $z-navbar-collapse;
      &.show {
        background: grey;
      }
    }

    
  } // .navbar


  .dropdown-toggler {
    &:after { 
      content: '';
      font-family: 'FontAwesome';
      float: right;
      transition: transform .4s;
    }
    &.open {
      box-shadow: 0 2px 5px rgba(0,0,0,.2);
      // background: rgba($azure, .5);
      color: white;

      &:after {
        transform: rotate(180deg);
      }
      + ul {
      }
    }
  }

  // Dropdown mobile
  .dropdown-menu {
    display: none;
    font-size: 13px;
    box-shadow: $dropdown-shadow;

    .menu {
      position: relative;
      background: rgba(0,0,0,.1);

      ul {
        position: static;
        display: none;
      }

      li {list-style: none;}

      a { color: $dark; }
    } 
  }




  /* ------------------------------
    Search
  -------------------------------*/
  &__search {
    margin-right: 20px; 
    .input-group { 
      width: 140px;   
      height: 16px;   
      margin-top: 10px;
     
      .btn {
        background: none;
        padding: 0;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        cursor: pointer;        
      }
      .ts-icon--search { vertical-align: super; }
    }
    .form-control {
      background: none;
      border: 0;
      border-bottom: 1px solid grey;
      border-radius: 0;
      font-size: 12px;
      padding: 0;
    }
  }


  /* ------------------------------
    Secondary
  -------------------------------*/
  &__secondary {
    font-size: 14px;
    height: $secondaryNavHeight;
    padding: 12px 8px;
    display: none;
    justify-content: space-between;
    width: 100%;

    a:hover {
      color: $azure;
    }

    .dropdown {
      .dropdown-menu {
        top: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px; 

        a {
          @extend .dropdown-link-style;
        }
      }
    }     
    
    .nav-item:last-child { margin-left: 10px;}

    .nav-link { 
      color: $dark; 
      font-weight: $bold;
    }

    .btn {
      padding: 4px 16px;
    }

    @include lg-min {
      display: flex;
    }
  } 


  /* ------------------------------
    Primary
  -------------------------------*/
  &__primary {
    font-size: 13px;   
    justify-content: space-between;
    width: 100%;

    a, strong, span {          
      display: block;
    }

    a {
      color: white;  
      padding: $ui-menu-a-padding-lg;
      display: block;
      padding: 5px 15px;
    }

    li {
      border-bottom: 1px solid rgba($dark, .1);
    }



   
    .nav-item {
      position: relative;
      border-bottom: 1px solid rgba($dark, .1);
      background: white;  
      font-size: 13px;   
      
      &:last-child {
        .nav-link:after {
          content: none;
        }
      }

      ul {
        padding: 0;
      }

      .nav-link { 
        font-weight: $bold;
        text-transform: uppercase;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;   
        color: $dark;
        font-size: 13px; 
        
      }
    }

    @include lg-min {
      height: $primaryNavHeight;       
      padding-top: 10px;
      font-size: 14px;

      a {
        padding-bottom: 5px;
        padding-left: 5px;
        // padding: 5px 10px;
      }

      li {border: 0;}

      .nav-item {
        border-bottom: 0;
        background: none;

        &.open, &.active, &:hover {
          border-bottom: 5px solid $azure;
        }

        .nav-link {          
          padding-top: 3px;
          padding-bottom: 3px;
          padding-left: 7px;
          padding-right: 7px;  
          font-size: 14px;    
          color: white;

          &:after {
            content: '';
            width: 1px;
            height: 20px;
            background: white;
            position: absolute;
            display: inline-block;
            top: 4px;
            right: -6%;
            border: 0;
          }
        }
      }
    }


  } // &__primary


  /**
   *----------------------------------------------------------
   *  Subnav styles
   *----------------------------------------------------------
   */ 
  .dropdown-menu {
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
    border-radius: 0;
    top: calc(100% + 5px);

    // Global
    .ui-menu {
      width: 250px; 
      top: 0!important;
      min-height: 100%;
      border: 0!important;  
      box-shadow: $dropdown-shadow;
      font-family: $font-family;      
      font-size: 13px;
      padding: 10px 0;
      position: absolute!important;

      a, strong, span {
        text-decoration: none;
        color: white;
      }

      a {
        @extend .dropdown-link-style;
      }

      span {
        color: lighten($azure, 50);
        font-size: 12px;
      }

      .dropdown-toggler {
        margin-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }


      .ui-state-active {
        margin-top: 0; 
        margin-bottom: 0; 
        border: 0!important;
      }

      &-item { 
        outline: none!important; 
        border: 0!important;        
        
      }

      
      
      .ui-menu {
        background: $azure;
      }
    }


    // Primo livello
    > .ui-menu {
      padding-right: 0;
      > .ui-menu-item { 
        color: $dark; 

        > a {
          color: $dark;
          border: 0;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          &:hover { 
            color: white;
            background: $azure;
          }

        } 
      }
      .ui-state-active {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        background: $azure;
        color: white!important;
      }
    }

  } // .dropdown-menu


  @include lg-min {
    .navbar {

      > .container {
        align-items: flex-start;      
        height: $mainNavHeight;
      }

      &-collapse {
        background: none;
      }

      // Sfondo 
      &:before {
        content: '';
        position: absolute;
        width:100%;
        height: $secondaryNavHeight;
        top: 0;
        left: 0;
        z-index: -1;
        border-top: $secondaryNavHeight solid white;
        border-bottom: $primaryNavHeight solid rgba(0,0,0,.5);
      }

      
      &-brand {
        margin-left: 0;
        img {        
          width: 180px;
          height: 32px;
        }
      }
      
    }   // .navbar


    .dropdown-toggler {
      &:after { 
        content: none;
      }
    }

    .dropdown-menu .menu { background: white; }

    

    .nav-item:hover > .dropdown-menu {
      display: block;
    }


  } // -lg-min


} // .main-nav





/**
 * --------------------------------------------
 *   HAMBURGER 
 * --------------------------------------------- 
 */
.navbar-toggler {
  $width: 30px * .75;
  $height: 23px * .75;
  $lineHeight: 3px;
  $color: $azure;
  $isOpenColor: $azure;
  $offset: $width / 2.5; 

  .main-nav__hamburger {    
    width: $width;
    height: $height;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;    
    display: block;
    
    span { 
      display: block;
      position: absolute;
      height: $lineHeight;
      width: 50%;
      background: $color;
      transition: 0.25s ease-in-out;
      
      &:nth-child(1),
      &:nth-child(6) {
        transform: rotate(45deg);
      }
      
      &:nth-child(2),
      &:nth-child(5) {
        transform: rotate(-45deg);
      }
      
      &:nth-child(1), &:nth-child(2)  {
        top: $height / 4.4;
      }    
      
      &:nth-child(1), &:nth-child(5) {
        left: calc(50% - #{$offset});
      }
      
      &:nth-child(2), &:nth-child(6) {
        right: calc(50% - #{$offset});
      }

      &:nth-child(3),
      &:nth-child(4) {
        top: ($height / 2) - ($lineHeight / 2);
      }
      
      &:nth-child(3), &:nth-child(4) {
        opacity: 0;
      }
      
      &:nth-child(3) {
        left: -50%;
      }
      
      &:nth-child(4) {
        right: -50%;
      }
      
      &:nth-child(5), &:nth-child(6) {        
        top: ($height - $lineHeight) - ($height / 4.4);
      }
      
    } // span
    
  }

  /* -------------------------------------
    Chiuso
  ------------------------------------- */ 
  &.collapsed {

    .main-nav__hamburger span {
      transform: rotate(0deg);       
      opacity: 1;     
      background: $azure;

      &:nth-child(even) {
        right: 0;
        border-radius: 0 $lineHeight $lineHeight 0;
      }

      &:nth-child(odd) {
        left: 0;
        border-radius: $lineHeight 0 0 $lineHeight;
      }

      &:nth-child(1),
      &:nth-child(2) {
        top: 0px;
      }
      

      &:nth-child(5),
      &:nth-child(6) {
        top: $height - $lineHeight;
      }
    }
  } // .collapsed

}
