﻿
$grid-breakpoints-sm: 576px;
$grid-breakpoints-md: 768px;
$grid-breakpoints-lg: 992px;
$grid-breakpoints-xl: 1200px;
$grid-breakpoints-xxl: 1600px;


// MIN
@mixin sm-min {
  @media only screen and (min-width: $grid-breakpoints-sm) {
    @content;
  }
}

@mixin md-min {
  @media only screen and (min-width: $grid-breakpoints-md) {
    @content;
  }
}

@mixin lg-min {
  @media only screen and (min-width: $grid-breakpoints-lg) {
    @content;
  }
}

@mixin xl-min {
  @media only screen and (min-width: $grid-breakpoints-xl) {
    @content;
  }
}


@mixin xxl-min {
  @media only screen and (min-width: $grid-breakpoints-xxl) {
    @content;
  }
}



// max
@mixin xs-max {
  @media only screen and (max-width: $grid-breakpoints-sm - 1 ) {
    @content;
  }
}

@mixin sm-max {
  @media only screen and (max-width: $grid-breakpoints-md - 1) {
    @content;
  }
}

@mixin md-max {
  @media only screen and (max-width: $grid-breakpoints-lg - 1) {
    @content;
  }
}

@mixin lg-max {
  @media only screen and (max-width: $grid-breakpoints-xl - 1) {
    @content;
  }
}


@mixin xl-max {
  @media only screen and (max-width: $grid-breakpoints-xxl - 1) {
    @content;
  }
}


