.slider {

  .slick-slide {
    outline: none;
  }

  .slick-arrow {
    &, &:hover, &:focus  { 
      background: url(../img/ui/slider-arrows.png); 
      width: 28px; 
      height: 54px; 
      margin: 0; 
      padding: 0; 
      transform: translate(0,-50%); 
      background-size: auto 100%;
    }

    &:before { 
      content: ''; 
      width: 21px;
      height: 40px;
      display: block;
    }

    &.slick-prev { left: -50px; }    
    &.slick-next { 
      right: -50px; 
      background-position: top right; 
    }
  }

  .slick-dots { 
    bottom: -20px; 

    li { 
      width: 10px; height: 10px; margin: 0 3px; 

      button {
        background: none; width: 10px; height: 10px; margin: 0 3px; padding: 0; display: inline-block; border: 1px solid #0090d1; border-radius: 10px;

        &:before { display: none; }
      }

      &.slick-active button { background: #0090d1; }
    }  
  }


  // Versione UI bianca
  &.ui-white {
    .slick-arrow {
      &, &:hover, &:focus  { 
        background-image: url(../img/ui/slider-arrows--white.png); 
      }
    }

    .slick-dots { 
      bottom: -20px; 
  
      li { 
  
        button {
          border-color: white;
        }
  
        &.slick-active button { background: white; }
      }  
    }
  }


  // Controlli piccoli
  &.ui-small {
    .slick-arrow {
      &, &:hover, &:focus  { 
        width: 21px; 
        height: 40px; 
      }
    }
  }

}





