/*------------------------------------------------
	Globals
------------------------------------------------*/
body {
  font-size: $fs;
  font-family:  $font-family;  
}



strong {
  color: $azure;
  font-weight: 600;
}



.points-bg {
  background: url(../img/ui/title-points.svg) no-repeat center bottom;
  background-size: 90px auto;
}





