/*------------------------------------------------
	Colors
------------------------------------------------*/
$azure: #0090D1;
$dark: #1A171B;
$grey: #676767;
$greydark: #505050;
$greylight: #ededed;
$greylighter: #F5F4F4;
$orange: #EC7A46;
$red: #C10529;
$yellow: #F4B800;


// Generazione classi colore
$colors: (
  azure: #0090D1,
  dark: #1A171B, 
  grey: #676767,
  greydark: #505050,
  greylight: #ededed,
  greylighter: #F5F4F4,
  orange: #EC7A46,
  red: #C10529,
  yellow: #F4B800
);

@each $key, $value in $colors {
  .#{$key} { color: #{$value}; }
  .bg-#{$key} { background-color: #{$value};} 
  .border-#{$key} { border-color: #{$value};} 
} 
 


// Layout 
$body-max-width: 1920px;


/*------------------------------------------------
	Fonts
------------------------------------------------*/
$font-family: "lft-etica", Arial, sans-serif;


/*------------------------------------------------
	Font sizes
------------------------------------------------*/
$fs-xs: 12px;
$fs-sm: 14px;
$fs: 17px;
$fs-md: 24px;
$fs-lg: 38px;
$fs-xl: 48px;
$fs-xxl: 63px;


/*------------------------------------------------
	Font weights
------------------------------------------------*/
$bold: 600;
$bolder: 800;


// Generazione classi font-size
$font-sizes: (
  fs-xs: 12px,
  fs-sm: 14px,
  fs: 17px,
  fs-md: 24px,
  fs-lg: 38px,
  fs-xl: 48px,
  fs-xxl: 63px
);

@each $key, $value in $font-sizes {
  .#{$key} { font-size: #{$value}; }
} 





/*------------------------------------------------
	Z-index list
------------------------------------------------*/
$z-navbar-collapse: 200;
$z-backtotop: 2000;