@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
body,
.font-copy {
  font-family: 'Libre Franklin', sans-serif;
  letter-spacing: 0.6px;
}
/*------------------------------------------------
	Font import
------------------------------------------------*/
@font-face {
  font-family: "PL Avalon";
  src: url("https://db.onlinewebfonts.com/t/8244c37b3caefb15d0b7ecb617b7b54e.eot"); /* IE9*/
  src: url("https://db.onlinewebfonts.com/t/8244c37b3caefb15d0b7ecb617b7b54e.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/8244c37b3caefb15d0b7ecb617b7b54e.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/8244c37b3caefb15d0b7ecb617b7b54e.woff") format("woff"), url("https://db.onlinewebfonts.com/t/8244c37b3caefb15d0b7ecb617b7b54e.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/8244c37b3caefb15d0b7ecb617b7b54e.svg#PL Avalon") format("svg"); /* iOS 4.1- */
}
/*------------------------------------------------
	Global
------------------------------------------------*/
body {
  color: #5b5e60;
  font-weight: 300;
  font-size: 15px;
  max-width: 1920px;
  margin: 0 auto;
}
.container-xl {
  max-width: 1600px;
}
a:focus,
button:focus {
  outline: none;
}
a {
  text-decoration-skip-ink: auto;
}
strong {
  font-weight: 900;
}
.rtl {
  direction: rtl;
}
/*------------------------------------------------
	Colonna da 10 più larga su mobile
------------------------------------------------*/
@media screen and (max-width: 575px) {
  .col-10.offset-1 {
    padding-left: 0;
    padding-right: 0;
  }
}
/*------------------------------------------------
	Colonne CSS
------------------------------------------------*/
.css-cols-3 {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}
/*------------------------------------------------
	Font 
------------------------------------------------*/
.fw-light {
  font-weight: 200;
}
.fw-regular {
  font-weight: 500;
}
.fw-bold {
  font-weight: 700;
}
.fw-black {
  font-weight: 900;
}
/*------------------------------------------------
	Custom list style/
------------------------------------------------*/
[class*="text-"] ul {
  padding: 0;
}
[class*="text-"] li {
  list-style: none;
}
[class*="text-"] li:before {
  content: '—';
  margin-right: 0.8em;
}
/*------------------------------------------------
	Flex
------------------------------------------------*/
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-v-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*------------------------------------------------
	Shadow class
------------------------------------------------*/
.shadow {
  -webkit-box-shadow: 0 7px 14px rgba(0,0,0,0.2);
          box-shadow: 0 7px 14px rgba(0,0,0,0.2);
}
/*------------------------------
	Colors utils
------------------------------*/
.c-black {
  color: #020202;
}
.bg-black {
  background-color: #020202;
}
.c-blue {
  color: #005da9;
}
.bg-blue {
  background-color: #005da9;
}
.c-cyan-light {
  color: #edf0f7;
}
.bg-cyan-light {
  background-color: #edf0f7;
}
.c-dark {
  color: #5b5e60;
}
.bg-dark {
  background-color: #5b5e60;
}
.c-green {
  color: #829f1b;
}
.bg-green {
  background-color: #829f1b;
}
.c-grey {
  color: #bdbfbf;
}
.bg-grey {
  background-color: #bdbfbf;
}
.c-grey-light {
  color: #e0e3e3;
}
.bg-grey-light {
  background-color: #e0e3e3;
}
.c-grey-lightest {
  color: #edeeee;
}
.bg-grey-lightest {
  background-color: #edeeee;
}
.c-purple {
  color: #864299;
}
.bg-purple {
  background-color: #864299;
}
.c-red {
  color: #e30613;
}
.bg-red {
  background-color: #e30613;
}
.c-red-lightest {
  color: #f3e9f4;
}
.bg-red-lightest {
  background-color: #f3e9f4;
}
.c-white {
  color: #fff;
}
.bg-white {
  background-color: #fff;
}
.c-facebook {
  color: #3b5998;
}
.bg-facebook {
  background-color: #3b5998;
}
.c-twitter {
  color: #55acee;
}
.bg-twitter {
  background-color: #55acee;
}
.c-linkedin {
  color: #0976b4;
}
.bg-linkedin {
  background-color: #0976b4;
}
/*------------------------------
	Titles utils
------------------------------*/
.title-sm,
.title-sm-bd,
.title-sm-blk {
  font-size: 20px;
  line-height: 1.2;
}
.title-sm strong,
.title-sm-bd strong,
.title-sm-blk strong {
  font-weight: 900;
}
@media screen and (min-width: 1200px) {
  .title-sm,
  .title-sm-bd,
  .title-sm-blk {
    font-size: 20px;
  }
}
.title-sm {
  font-weight: 300;
}
.title-sm-bd {
  font-weight: 700;
}
.title-sm-blk {
  font-weight: 900;
}
.title-md,
.title-md-bd,
.title-md-blk {
  font-size: 24px;
  line-height: 1.2;
}
.title-md strong,
.title-md-bd strong,
.title-md-blk strong {
  font-weight: 900;
}
@media screen and (min-width: 1200px) {
  .title-md,
  .title-md-bd,
  .title-md-blk {
    font-size: 24px;
  }
}
.title-md {
  font-weight: 300;
}
.title-md-bd {
  font-weight: 700;
}
.title-md-blk {
  font-weight: 900;
}
.title-xmd,
.title-xmd-bd,
.title-xmd-blk {
  font-size: 30px;
  line-height: 1.2;
}
.title-xmd strong,
.title-xmd-bd strong,
.title-xmd-blk strong {
  font-weight: 900;
}
@media screen and (min-width: 1200px) {
  .title-xmd,
  .title-xmd-bd,
  .title-xmd-blk {
    font-size: 30px;
  }
}
.title-xmd {
  font-weight: 300;
}
.title-xmd-bd {
  font-weight: 700;
}
.title-xmd-blk {
  font-weight: 900;
}
.title-lg,
.title-lg-bd,
.title-lg-blk {
  font-size: 36px;
  line-height: 1.2;
  font-size: 21px;
}
.title-lg strong,
.title-lg-bd strong,
.title-lg-blk strong {
  font-weight: 900;
}
@media screen and (min-width: 1200px) {
  .title-lg,
  .title-lg-bd,
  .title-lg-blk {
    font-size: 36px;
  }
}
.title-lg {
  font-weight: 300;
}
.title-lg-bd {
  font-weight: 700;
}
.title-lg-blk {
  font-weight: 900;
}
.title-xl,
.title-xl-bd,
.title-xl-blk {
  font-size: 48px;
  line-height: 1.2;
  font-size: 28px;
}
.title-xl strong,
.title-xl-bd strong,
.title-xl-blk strong {
  font-weight: 900;
}
@media screen and (min-width: 1200px) {
  .title-xl,
  .title-xl-bd,
  .title-xl-blk {
    font-size: 48px;
  }
}
.title-xl {
  font-weight: 300;
}
.title-xl-bd {
  font-weight: 700;
}
.title-xl-blk {
  font-weight: 900;
}
.title-xxl,
.title-xxl-bd,
.title-xxl-blk {
  font-size: 64px;
  line-height: 1.2;
  font-size: 38px;
}
.title-xxl strong,
.title-xxl-bd strong,
.title-xxl-blk strong {
  font-weight: 900;
}
@media screen and (min-width: 1200px) {
  .title-xxl,
  .title-xxl-bd,
  .title-xxl-blk {
    font-size: 64px;
  }
}
.title-xxl {
  font-weight: 300;
}
.title-xxl-bd {
  font-weight: 700;
}
.title-xxl-blk {
  font-weight: 900;
}
.title-xxxl,
.title-xxxl-bd,
.title-xxxl-blk {
  font-size: 80px;
  line-height: 1.2;
  font-size: 40px;
}
.title-xxxl strong,
.title-xxxl-bd strong,
.title-xxxl-blk strong {
  font-weight: 900;
}
@media screen and (min-width: 992px) {
  .title-xxxl,
  .title-xxxl-bd,
  .title-xxxl-blk {
    font-size: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .title-xxxl,
  .title-xxxl-bd,
  .title-xxxl-blk {
    font-size: 80px;
  }
}
.title-xxxl {
  font-weight: 300;
}
.title-xxxl-bd {
  font-weight: 700;
}
.title-xxxl-blk {
  font-weight: 900;
}
.title-huge {
  font-family: 'PL Avalon', sans-serif;
  font-size: 48px;
}
@media screen and (min-width: 768px) {
  .title-huge {
    font-size: 72px;
  }
}
@media screen and (min-width: 992px) {
  .title-huge {
    font-size: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .title-huge {
    font-size: 120px;
  }
}
/*------------------------------
	Text font size utils
------------------------------*/
.text-sm {
  font-size: 12px;
  line-height: 1.8;
}
.text-md {
  font-size: 15px;
}
@media screen and (min-width: 992px) {
  .text-md {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .text-md {
    font-size: 15px;
  }
}
.text-lg {
  font-size: 18px;
}
@media screen and (min-width: 992px) {
  .text-lg {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .text-lg {
    font-size: 18px;
  }
}
.text-xl {
  font-size: 26px;
  font-size: 18px;
  line-height: 1.4;
}
@media screen and (min-width: 992px) {
  .text-xl {
    font-size: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .text-xl {
    font-size: 26px;
  }
}
.text-xxl {
  font-size: 30px;
  font-size: 21px;
  line-height: 1.4;
}
@media screen and (min-width: 992px) {
  .text-xxl {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .text-xxl {
    font-size: 30px;
  }
}
/*------------------------------
	Blur shadow
------------------------------*/
.cssfilters .blur-shadow__wrapper {
  position: relative;
  text-align: center;
}
.cssfilters .blur-shadow__wrapper img {
  width: 100%;
}
.cssfilters .blur-shadow__wrapper img:first-child {
  opacity: 1;
  position: relative;
  z-index: 1;
}
.cssfilters .blur-shadow__wrapper img:last-child {
  left: 0;
  position: absolute;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  z-index: 0;
  opacity: 0.8;
}
.no-cssfilters .blur-shadow__wrapper {
  padding-bottom: 4%;
}
.no-cssfilters .blur-shadow {
  -webkit-box-shadow: 0 30px 40px -20px rgba(0,0,0,0.5);
          box-shadow: 0 30px 40px -20px rgba(0,0,0,0.5);
  width: 100%;
}
/*------------------------------
	Buttons
------------------------------*/
.btn {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800;
  white-space: initial;
  padding: 15px;
}
@media screen and (min-width: 576px) {
  .btn + .btn {
    margin-left: 15px;
  }
}
@media screen and (min-width: 992px) {
  .btn {
    white-space: nowrap;
  }
  .btn:not(.btn-underline) {
    padding: 15px 30px;
  }
}
.btn-black {
  background: #020202;
}
.btn-black,
.btn-black:hover {
  color: #fff;
}
.btn-black:hover {
  background: #1c1c1c;
}
.btn-outline-black {
  color: #020202;
  border-color: #020202;
  border-width: 2px;
}
.btn-outline-black:hover {
  background-color: #020202;
  color: #fff;
}
.btn-underline {
  padding-left: 0;
  padding-right: 0;
  border: 0;
  border-bottom: 2px solid #e30613;
  color: #020202;
}
@media screen and (min-width: 992px) {
  .btn-underline {
    padding-left: 0;
    padding-right: 0;
  }
}
.btn-blue {
  background: #005da9;
}
.btn-blue,
.btn-blue:hover {
  color: #fff;
}
.btn-blue:hover {
  background: #0079dc;
}
.btn-outline-blue {
  color: #005da9;
  border-color: #005da9;
  border-width: 2px;
}
.btn-outline-blue:hover {
  background-color: #005da9;
  color: #fff;
}
.btn-underline {
  padding-left: 0;
  padding-right: 0;
  border: 0;
  border-bottom: 2px solid #e30613;
  color: #020202;
}
@media screen and (min-width: 992px) {
  .btn-underline {
    padding-left: 0;
    padding-right: 0;
  }
}
.btn-cyan-light {
  background: #edf0f7;
}
.btn-cyan-light,
.btn-cyan-light:hover {
  color: #fff;
}
.btn-cyan-light:hover {
  background: #fff;
}
.btn-outline-cyan-light {
  color: #edf0f7;
  border-color: #edf0f7;
  border-width: 2px;
}
.btn-outline-cyan-light:hover {
  background-color: #edf0f7;
  color: #fff;
}
.btn-underline {
  padding-left: 0;
  padding-right: 0;
  border: 0;
  border-bottom: 2px solid #e30613;
  color: #020202;
}
@media screen and (min-width: 992px) {
  .btn-underline {
    padding-left: 0;
    padding-right: 0;
  }
}
.btn-dark {
  background: #5b5e60;
}
.btn-dark,
.btn-dark:hover {
  color: #fff;
}
.btn-dark:hover {
  background: #74787a;
}
.btn-outline-dark {
  color: #5b5e60;
  border-color: #5b5e60;
  border-width: 2px;
}
.btn-outline-dark:hover {
  background-color: #5b5e60;
  color: #fff;
}
.btn-underline {
  padding-left: 0;
  padding-right: 0;
  border: 0;
  border-bottom: 2px solid #e30613;
  color: #020202;
}
@media screen and (min-width: 992px) {
  .btn-underline {
    padding-left: 0;
    padding-right: 0;
  }
}
.btn-green {
  background: #829f1b;
}
.btn-green,
.btn-green:hover {
  color: #fff;
}
.btn-green:hover {
  background: #a6cb22;
}
.btn-outline-green {
  color: #829f1b;
  border-color: #829f1b;
  border-width: 2px;
}
.btn-outline-green:hover {
  background-color: #829f1b;
  color: #fff;
}
.btn-underline {
  padding-left: 0;
  padding-right: 0;
  border: 0;
  border-bottom: 2px solid #e30613;
  color: #020202;
}
@media screen and (min-width: 992px) {
  .btn-underline {
    padding-left: 0;
    padding-right: 0;
  }
}
.btn-grey {
  background: #bdbfbf;
}
.btn-grey,
.btn-grey:hover {
  color: #fff;
}
.btn-grey:hover {
  background: #d7d8d8;
}
.btn-outline-grey {
  color: #bdbfbf;
  border-color: #bdbfbf;
  border-width: 2px;
}
.btn-outline-grey:hover {
  background-color: #bdbfbf;
  color: #fff;
}
.btn-underline {
  padding-left: 0;
  padding-right: 0;
  border: 0;
  border-bottom: 2px solid #e30613;
  color: #020202;
}
@media screen and (min-width: 992px) {
  .btn-underline {
    padding-left: 0;
    padding-right: 0;
  }
}
.btn-grey-light {
  background: #e0e3e3;
}
.btn-grey-light,
.btn-grey-light:hover {
  color: #fff;
}
.btn-grey-light:hover {
  background: #fbfbfb;
}
.btn-outline-grey-light {
  color: #e0e3e3;
  border-color: #e0e3e3;
  border-width: 2px;
}
.btn-outline-grey-light:hover {
  background-color: #e0e3e3;
  color: #fff;
}
.btn-underline {
  padding-left: 0;
  padding-right: 0;
  border: 0;
  border-bottom: 2px solid #e30613;
  color: #020202;
}
@media screen and (min-width: 992px) {
  .btn-underline {
    padding-left: 0;
    padding-right: 0;
  }
}
.btn-grey-lightest {
  background: #edeeee;
}
.btn-grey-lightest,
.btn-grey-lightest:hover {
  color: #fff;
}
.btn-grey-lightest:hover {
  background: #fff;
}
.btn-outline-grey-lightest {
  color: #edeeee;
  border-color: #edeeee;
  border-width: 2px;
}
.btn-outline-grey-lightest:hover {
  background-color: #edeeee;
  color: #fff;
}
.btn-underline {
  padding-left: 0;
  padding-right: 0;
  border: 0;
  border-bottom: 2px solid #e30613;
  color: #020202;
}
@media screen and (min-width: 992px) {
  .btn-underline {
    padding-left: 0;
    padding-right: 0;
  }
}
.btn-purple {
  background: #864299;
}
.btn-purple,
.btn-purple:hover {
  color: #fff;
}
.btn-purple:hover {
  background: #a257b7;
}
.btn-outline-purple {
  color: #864299;
  border-color: #864299;
  border-width: 2px;
}
.btn-outline-purple:hover {
  background-color: #864299;
  color: #fff;
}
.btn-underline {
  padding-left: 0;
  padding-right: 0;
  border: 0;
  border-bottom: 2px solid #e30613;
  color: #020202;
}
@media screen and (min-width: 992px) {
  .btn-underline {
    padding-left: 0;
    padding-right: 0;
  }
}
.btn-red {
  background: #e30613;
}
.btn-red,
.btn-red:hover {
  color: #fff;
}
.btn-red:hover {
  background: #f9232f;
}
.btn-outline-red {
  color: #e30613;
  border-color: #e30613;
  border-width: 2px;
}
.btn-outline-red:hover {
  background-color: #e30613;
  color: #fff;
}
.btn-underline {
  padding-left: 0;
  padding-right: 0;
  border: 0;
  border-bottom: 2px solid #e30613;
  color: #020202;
}
@media screen and (min-width: 992px) {
  .btn-underline {
    padding-left: 0;
    padding-right: 0;
  }
}
.btn-red-lightest {
  background: #f3e9f4;
}
.btn-red-lightest,
.btn-red-lightest:hover {
  color: #fff;
}
.btn-red-lightest:hover {
  background: #fff;
}
.btn-outline-red-lightest {
  color: #f3e9f4;
  border-color: #f3e9f4;
  border-width: 2px;
}
.btn-outline-red-lightest:hover {
  background-color: #f3e9f4;
  color: #fff;
}
.btn-underline {
  padding-left: 0;
  padding-right: 0;
  border: 0;
  border-bottom: 2px solid #e30613;
  color: #020202;
}
@media screen and (min-width: 992px) {
  .btn-underline {
    padding-left: 0;
    padding-right: 0;
  }
}
.btn-white {
  background: #fff;
}
.btn-white,
.btn-white:hover {
  color: #fff;
}
.btn-white:hover {
  background: #fff;
}
.btn-white,
.btn-white:hover {
  color: #000;
}
.btn-outline-white {
  color: #fff;
  border-color: #fff;
  border-width: 2px;
}
.btn-outline-white:hover {
  background-color: #fff;
  color: #fff;
  background: rgba(255,255,255,0.3);
}
.btn-underline {
  padding-left: 0;
  padding-right: 0;
  border: 0;
  border-bottom: 2px solid #e30613;
  color: #020202;
}
@media screen and (min-width: 992px) {
  .btn-underline {
    padding-left: 0;
    padding-right: 0;
  }
}
.btn-play {
  display: inline-block;
  text-align: center;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  background: url("../img/ui/ico-play.svg") center center/cover;
  width: 100px;
  height: 100px;
}
.btn-play:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.btn-play:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
.btn-play img {
  display: inline;
}
/*------------------------------
	Sliders  
------------------------------*/
.slick-slide:focus {
  outline: none;
}
.slick-prev,
.slick-next {
  z-index: 10;
  width: 59px;
  height: 32px;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  -o-transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1), -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.slick-prev img,
.slick-next img {
  width: 100%;
  height: 32px;
}
.slick-prev:before,
.slick-next:before {
  content: none;
}
.slick-prev {
  left: 0;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.slick-prev:hover {
  -webkit-transform: translate(-15px, 0);
      -ms-transform: translate(-15px, 0);
          transform: translate(-15px, 0);
}
.slick-next {
  right: 0;
}
.slick-next:hover {
  -webkit-transform: translate(15px, 0);
      -ms-transform: translate(15px, 0);
          transform: translate(15px, 0);
}
.slick-dots {
  position: static;
}
.slick-dots li {
  margin: 0 15px;
}
.slick-dots li,
.slick-dots li button,
.slick-dots li button:before {
  width: 10px;
  height: 10px;
}
.slick-dots li button {
  border: 2px solid #bdbfbf;
  border-radius: 50%;
  padding: 0;
}
.slick-dots li button:before {
  content: '';
  opacity: 1;
  position: relative;
}
.slick-dots li:hover button {
  background: rgba(0,0,0,0.2);
}
.slick-dots li.slick-active button {
  background: #e30613;
  border-color: #e30613;
}
.slick-dots.slick-dots--inverted li button {
  border-color: #5b5e60;
}
.slider-prev,
.slider-next {
  background: none;
  border: 0;
}
/*------------------------------
	Scroll Reveal
------------------------------*/
[data-reveal] {
  visibility: hidden;
}
/*------------------------------
	Fancybox
------------------------------*/
.fancybox-bg {
  background: rgba(0,0,0,0.9);
}
.fancybox-button {
  background: #e30613;
}
.fancybox-close-small {
  position: fixed;
  background: #e30613;
}
.fancybox-close-small:after,
.fancybox-close-small:hover:after {
  border-radius: 0;
  color: #fff;
  background: none;
}
.fancybox-is-open .fancybox-bg {
  opacity: 0.98;
}
.fancybox-slide > * {
  color: #fff;
  background: none;
}
.fancybox-slide .fancy-image {
  display: block;
  position: relative;
  padding: 0;
}
.fancybox-slide .fancy-image a {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}
/*------------------------------
	Media
------------------------------*/
.media {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .media {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*------------------------------
	Modals
------------------------------*/
.modal.show .modal-dialog {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.2s ease-out 0.2s;
  transition: -webkit-transform 0.2s ease-out 0.2s;
  -o-transition: transform 0.2s ease-out 0.2s;
  transition: transform 0.2s ease-out 0.2s;
  transition: transform 0.2s ease-out 0.2s, -webkit-transform 0.2s ease-out 0.2s;
}
.modal-nobg .modal-content {
  background: none;
  color: #fff;
}
/*------------------------------
	Pagination
------------------------------*/
.pagination ul {
  padding: 0;
  list-style: none;
}
.pagination li {
  display: inline-block;
  height: 60px;
}
.pagination__item {
  font-weight: 700;
  margin-right: 15px;
  border-bottom: 3px solid #e30613;
  padding: 15px 20px;
}
.pagination__item--active {
  border-color: #bdbfbf;
  color: #020202;
  pointer-events: none;
}
.pagination a,
.pagination a:hover {
  text-decoration: none;
}
/*------------------------------
	Social
------------------------------*/
.social-share {
  display: inline-block;
  margin: 0 5px;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  position: relative;
}
.social-share,
.social-share:hover {
  color: #fff;
}
.social-share:hover:after {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.social-share:after {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.social-share--facebook:after {
  background: #3b5998;
}
.social-share--twitter:after {
  background: #55acee;
}
.social-share--linkedin:after {
  background: #0976b4;
}
/*------------------------------------------------
	Slided BG
------------------------------------------------*/
.slided-bg {
  position: relative;
}
.slided-bg-panel {
  background: #eee;
  position: absolute;
  display: block;
  width: 100%;
  z-index: -2;
}
.slided-bg-red .slided-bg-panel {
  background: #f3e9f4;
}
.slided-bg-cyan .slided-bg-panel {
  background: #edf0f7;
}
.slided-bg-top .slided-bg-panel {
  top: 250px;
  bottom: 0;
}
.slided-bg-left .slided-bg-panel {
  width: 80%;
}
.slided-bg-bottom .slided-bg-panel {
  top: 0;
  bottom: 300px;
}
.slided-bg-top-bottom .slided-bg-panel {
  top: 10%;
  bottom: 20%;
}
/*------------------------------
	Text link
------------------------------*/
.text-link {
  color: #e30613;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  line-height: 3;
}
.text-link:after {
  content: '';
  width: 100%;
  display: block;
  background: #e30613;
  height: 3px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}
.text-link:hover {
  text-decoration: none;
}
.text-link:hover:after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
/*------------------------------------------------
	Word break 
------------------------------------------------*/
.word-break-all {
  word-break: break-all;
}
@media screen and (min-width: 576px) {
  .word-break-sm-all {
    word-break: break-all;
  }
}
@media screen and (min-width: 768px) {
  .word-break-md-all {
    word-break: break-all;
  }
}
@media screen and (min-width: 992px) {
  .word-break-lg-all {
    word-break: break-all;
  }
}
@media screen and (min-width: 992px) {
  .word-break-lg-all {
    word-break: break-all;
  }
}
@media screen and (min-width: 1200px) {
  .word-break-xl-all {
    word-break: break-all;
  }
}
@media screen and (min-width: 576px) {
  .word-break-sm-none {
    word-break: none;
  }
}
@media screen and (min-width: 768px) {
  .word-break-md-none {
    word-break: none;
  }
}
@media screen and (min-width: 992px) {
  .word-break-lg-none {
    word-break: none;
  }
}
@media screen and (min-width: 992px) {
  .word-break-lg-none {
    word-break: none;
  }
}
@media screen and (min-width: 1200px) {
  .word-break-xl-none {
    word-break: none;
  }
}
/*------------------------------------------------
	Vue transitions
------------------------------------------------*/
.disappear-enter,
.disappear-leave-to {
  opacity: 0;
}
.disappear-enter-active {
  -webkit-transition: opacity 5s;
  -o-transition: opacity 5s;
  transition: opacity 5s;
}
.disappear-enter-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  -o-transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  -webkit-transform: translateX(-30px);
      -ms-transform: translateX(-30px);
          transform: translateX(-30px);
}
/*------------------------------------------------
	Utils
------------------------------------------------*/
.overflow-hidden {
  overflow: hidden;
}

/*# sourceMappingURL=global.css.map */
