.filter-group .title {
  font-family: "AndesCndW04-Lt", sans-serif;
}
.tile .title {
  font-family: "AndesCndW04-Bold", sans-serif;
}
/* -----------------------
  Filtri
----------------------- */
.filters {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 500;
  background: #fff;
}
@media screen and (min-width: 768px) {
  .filters {
    position: static;
  }
}
.mobile-filters {
  border-bottom: 1px solid #e1e3e5;
  margin-left: -10%;
  margin-right: -10%;
}
.mobile-filters button {
  width: 100%;
  border: 0;
  background: none;
  text-align: center;
  padding: 30px;
}
/* -----------------------
  Gruppo filtri
----------------------- */
.filter-group {
  text-transform: uppercase;
  border-bottom: 1px solid #e1e3e5;
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .filter-group:first-child {
    padding-top: 0;
  }
}
.filter-group .title,
.filter-group button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
}
.filter-group .title {
  font-size: 18px;
  color: #a3a19f;
}
@media screen and (min-width: 992px) {
  .filter-group .title {
    font-size: 21px;
  }
}
.filter-group .arrow {
  width: 30px;
  height: 22px;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  -o-transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1), -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
}
.filter-group .arrow.open {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.filter-group button {
  background: none;
  border: 0;
  text-transform: uppercase;
  padding: 5px 0;
  cursor: pointer;
  width: 100%;
  text-align: left;
  opacity: 0.3;
  font-size: 14px;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.filter-group button:hover {
  opacity: 0.6;
}
.filter-group button.selected {
  opacity: 1;
}
@media screen and (min-width: 992px) {
  .filter-group button {
    font-size: 16px;
  }
}
.filter-group .remove {
  width: 18px;
  height: 12px;
  -webkit-transition: opacity 0.4s cubic-bezier(0.33, 0, 0, 1);
  -o-transition: opacity 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: opacity 0.4s cubic-bezier(0.33, 0, 0, 1);
  opacity: 0;
}
.filter-group .remove.selected {
  opacity: 1;
}
.filter-types {
  padding-top: 10px;
}
/* -----------------------
  Link Prodotti
----------------------- */
.tile-wrap {
  width: 100%;
  display: block;
}
@media screen and (min-width: 992px) {
  .tile-wrap {
    width: 50%;
  }
}
@media screen and (min-width: 1600px) {
  .tile-wrap {
    width: 33.3333%;
  }
}
.tile {
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-position: center center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 30px;
  position: relative;
  margin-bottom: 10%;
}
@media screen and (min-width: 992px) {
  .tile {
    margin-bottom: 20%;
  }
}
.tile,
.tile:hover {
  color: #fff;
  text-decoration: none;
}
.tile:hover:before {
  opacity: 1;
}
.tile:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(71,67,63,0.7)), to(#000));
  background-image: -o-linear-gradient(top, rgba(71,67,63,0.7), #000);
  background-image: linear-gradient(to bottom, rgba(71,67,63,0.7), #000);
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0.4;
}
.tile:after {
  content: '';
}
.tile > div {
  position: relative;
  z-index: 1;
}
.tile .protect {
  width: 60px;
}
.tile .detail {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.tile .title {
  font-size: 25px;
  text-transform: uppercase;
}
.tile .detail,
.tile .abstract,
.tile .cta {
  display: none;
}
.tile .abstract {
  font-size: 14px;
}
.tile .feats {
  text-transform: uppercase;
  font-size: 12px;
  display: block;
}

/*# sourceMappingURL=listing.css.map */
