.alladececco {
	background-color: $yellow;
  color: $blue;


	&__title {
    @extend .title-lg;    
		font-family: $cliche;
		text-align: center;
	}


	&__subtitle {
		@extend .title;
	}


	&__image {
    > [class*="col"] {position: relative;}
    &__lg { max-width: 100%;}
    &__ingrediente {
      position: absolute;
      z-index: 2;
      bottom: -20%;
      right: -6%;
      width: 40%;
    }
	}


	&__headline {
		font-style: italic;
    font-family: $adelleLight;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
  }
  
  &__post { 
    text-align: center; 
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    color: $dark;

    &:last-child { margin-bottom: 0!important;}
  
    &__image {
      @extend .shadow--lg;
      height: 0;
      padding-bottom: 75%;
      background-size: cover;
      background-position: center center;      
    }

    &__author {
      font-size: 12px;

      img {
        width: 32px; 
        height: 32px;
        border-radius: 32px;
        margin-right: 15px;
      }
    }

  } // &__post


  &__footer {
    text-align: center;
    strong {
      display: block;
      text-transform: uppercase;
    }
  }


  @include sm-min {
    &__headline {
      font-size: 20px;
    }
  }

  @include md-min {
    &__headline {
      font-size: 24px;
    }

    &__image {
      &__ingrediente {
        bottom: -16%;
        right: -4%;
        width: 25%;
      }
    }

    &__post { max-width: initial;}
  }

  @include lg-min {
    &__headline {
      font-size: 30px;
    }
  }
	

} // .alladececco
 