.certificati {

	&__item {
		@extend .bg-gradient;
		color: white;
		border-bottom: 8px solid white;

		&__thumb {
			text-align: right;
			img {
				@extend .shadow--lg;
			}
		}


		/*------------------------------------------------
			Versione alternata
		------------------------------------------------*/
		&:nth-child(even) {
			background: white;
			color: $primary;
			border-top: 8px solid $cyan;

			.text-link { color: $cyan; }

			.certificati__item {

				&__copy {text-align: right;}

				&__thumb {
					text-align: left;
					order: -1;
				}
			}

		} // even




		/*------------------------------------------------
			Primo elemento
		------------------------------------------------*/
		&:first-child {
			padding-top: 300px !important;
		}
		

	} // &__item

	

} // .certificati
 