.contatti {

	&__hero {
		@extend .hero;

    .row { height: auto;}
    
    &__info {
      font-size: 13px;
      p {margin-bottom: 0;}
    }
	}


	&__locations {
		@extend .bg-gradient;		
	}

	&__site {
		&__country { text-transform: uppercase; font-weight: 500;}
		&__name { @extend .title; }
  }
  
  @include md-min {
    &__hero {
      &__info {
        font-size: 14px;        
        p {margin-bottom: 5px;}
      }
    }
  }
	  
} // .contatti 
 