.faq {

	&__hero {
		.input-group { 
			max-width: 360px;
			margin: 0 auto;
    }
	}



	&__body {
		@extend .bg-gradient;
	}

	&__item {
		padding-left: 40px;	

		&.open {
			.faq__question:before {
				background-position: -60px center;
			}
			.faq__answer:before {
				height: calc(100% + 30px);
			}
		}

		&:first-child {
			.faq__question:before {
				background-position: 0 center;
			}
			&.open {
				.faq__question:before {
					background-position: -20px center;
				}
			}
		}

		&:last-child {
			.faq__question:before {
				background-position: -80px center;
			}
			.faq__answer:before {
				background: none;
			}
			&.open {
				.faq__question:before {
					background-position: -100px center;
				}
			}
		}		

		&:hover {cursor: pointer;}

	} // _&__item


	&__question {
		font-size: 17px;		 
		position: relative;		
		font-family: $adelleSB;
		line-height: 1.4;
		margin-bottom: 30px;

		&:before {
			content:'';
			background: url(../img/faq/line-sprite.png) no-repeat -40px center;
			position: absolute;
			width: 20px;
			height: calc(100% + 30px);
			top: -15px;
			left: -50px;
			background-size: 120px auto;
		}
		
	} // &__question


	&__answer {
		font-family: 'Montserrat';
		font-size: 12px;
		line-height: 2;		 
		position: relative;		

		&__text {
			margin: 30px 0;
			padding: 25px;
			background: rgba(255,255,255,.1);
			display: none;
		}

		&:before {
			content:'';
			background: url(../img/faq/line-sprite.png) no-repeat right top;
			position: absolute;
			width: 20px;
			height: calc(100%);
			top: -15px;
			left: -50px;
			background-size: 120px auto;
			// transition: height;
		}
  } // &__answer
  

  @include lg-min {

    &__item {padding-left: 82px;}
    &__question {font-size: 25px;}
    &__answer { 
      font-size: 14px;
      &__text {
        padding: 35px;
      }
    }

  }
	 
} // .faq
 