$form-font-size: 14px; 
$form-el-mb: 30px;



.form-control {
	@extend .shadow;
  border: 0;
  margin-bottom: $form-el-mb;
  padding: 10px 15px;		
  font-size: $form-font-size;
}



/* ------------------------------------------------
  Custom controls
-------------------------------------------------*/
.custom {  

  &-select {
    width: 100%;
    height: 45px;
    border: 0;
    background-image: url(../img/ui/chevron-down.svg);
    background-size: 12px 12px;
    font-size: $form-font-size;
    color: $blue;
    
    option:not(:first-child) {
      font-size: 12px;
    }
  }

  &-control {
    &-description {
      font-size: 13px;
      text-align: left;
    }
  } // &-control

} // .custom



select.form-control  {
  height: 44px;
}


.input-group {
  @extend .shadow;  
  margin-bottom: $form-el-mb;

  &:focus {
    box-shadow: 0 0 20px $yellow;
  }

  .form-control, .btn { box-shadow: none;}
  .btn {
    padding: 6px;
    background: white;
    margin: 0;
  }
  &-addon {
    background: white;
    border: 0;
  }
}


button {
	border: 0;
  background: none;
  
  &:hover {
    cursor: pointer;
  }
}






/*------------------------------------------------
	Form flat
------------------------------------------------*/
.form-flat {

	.form-control {
		box-shadow: none;  
    border-bottom: 1px solid $bluedark;
    background: none;
    position: relative;
    transition: all .4s;

    &:focus {
      border-color: $yellow;
    }

    &:invalid {
      color: red;
    }
  }
  
  .custom-select {
    background-color: transparent;
    border-bottom: 1px solid $bluedark;
    height: 42px;
  }

} // .form-flat