.fullpage {

  &__scroll-down {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    transition: all .4s;
    display: block;

    &:hover {
      color: white;
      opacity: .5;
    }
    
    img {
      width: 12px;
      height: 12px;
      display: block;
      margin: 0 auto;
    }
  }


  .section {
    background: no-repeat white;
    background-size: cover;
    background-position: center 80%;
    color: white;
    background-attachment: fixed;
    text-align: center;
    line-height: 1.8;

    // Direzione dell'animazione in base a quella dello scroll
    &.scrolled-up {
      .fullpage__wrapper {transform: translateY(-20px);}
    }
    &.scrolled-down {
      .fullpage__wrapper {transform: translateY(20px);}
    }
    &.fp-completely {
      .fullpage__wrapper {
        transform: translateY(0)!important;
        opacity: 1;
      }
    }
  }



  &__wrapper {
    opacity: 0;
    transition: transform .4s ease-out, opacity .4s ease-out;
    transition-delay: 0;
  }

  &__title-lg {
    @extend .title-xl;
    color: white;

  }

  &__title {
    @extend .text-xl;
    font-family: $adelleSB;
    color: white;
  }

  &__title--chapter {
    @extend .text-lg;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__text {
    font-size: 12px;
  }

  &__text-lg {
    @extend .text-lg;
    color: white;
    font-size: 14px;
  }

  


  /* CTA play */
  &__play-video {
    display: flex;
    line-height: 1;
    align-items: center;

    &__icon {
      color: $yellowlight;
      border: 2px solid $yellowlight;
      width: 60px;
      height: 60px;
      text-align: center;
      line-height: 1;
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 60px;
      font-weight: 500;
      padding-top: 16px;
      margin-right: 30px;
    }

    div {
      line-height: 1.4;
      margin: 0;
    }

    strong {
      font-weight: 800;      
      color: $yellowlight;
      display: block;
    }

    small {      
      color: white;
      font-size: 12px;
      text-transform: uppercase;
    }

  } // &__play-video


  /* Video */
  &__video {
    display: none;
    [class*="col"] {
      position: relative;
      text-align: right;
    }
    iframe {
      @extend .shadow--lg;
    }
  }


  /*------------------------------------------------
    Nav
  ------------------------------------------------*/
  &__nav {
    position: fixed;
    bottom: 20px; 
    z-index: $z-fullpage-nav;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;

    &__num, &__chapter {
      flex-basis: 200px;
    }

    &__num {
      span {
        font-size: 20px;
        margin: 0 5px;
      }
    }

    &__spinner {
      flex-basis: 80px;
      text-align: center;
      background: url(../img/ui/icon-grid.png) no-repeat center 14px;
      background-size: 16px 16px;
      cursor: pointer;

      &:hover {

      }

      svg {
        width: 43px;
        height: 44px;
        transform: rotate(-85deg);
        position: relative;

        .base {
          stroke: white;
          stroke-dasharray: 125, 125;
          stroke-width: 2px;
          fill: none;
        }
        .rotation {
          stroke: $primary;
          stroke-width: 4px;
          stroke-dashoffset: 0;
          stroke-dasharray: 0, 125;
          transition: all .4s;
          fill: none;
        }
      }
      
    }

  } // &__nav
  




  /*------------------------------------------------
    Chapters
  ------------------------------------------------*/
  &__chapters {
    background: $yellow;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-fullpage-chapters;
    color: $blue;
    overflow-y: scroll;

    a {
      color: white;
      display: block;
      width: 100%;
      font-family: $adelleSB;
      font-size: 13px;
      margin-bottom: 30px;
      background-size: cover;
      position: relative;
      overflow: hidden;

      img { 
        width: 100%;
        transition: transform .4s;
      }

      p {     
        margin: 0;
        position: absolute;
        width: 100%;
        top: 50%;
        color: white;
        text-align: center;
        transform: translateY(-50%);
        z-index: 10;
      }

      &:hover {
        cursor: pointer;
        img { transform: scale(1.1); } 
      }
    } // a

    &__wrapper {
      position: relative;
      width: 100vw;
      height: 100vh;
    }

    &__title {
      @extend .text-lg;
      font-family: $montserrat;
      text-transform: uppercase;
      text-align: center;
    }


    &__close {
      position: fixed;
      width: 100%;
      bottom: 30px;
      text-align: center;

      button {
        display: inline-block;
        width: 36px;
        height: 36px;       
        padding: 0;

        img {width: 100%;}
      }
    }

  } // .fullpage__chapters



  /* ---------------------------------
    #AllaDeCecco
  ----------------------------------*/
  &-alladececco {
    .fullpage {
      &__title-lg {
        @extend .title-xl;
        font-family: $cliche;
      }

      &__title {
        @extend .title-lg;
        line-height: 1.2;
      }
    }
  } // .fullpage-alladececco



  @include xs-max {
    &__chapters {
      .row.gutters {
        margin-left: -6px;
        margin-right: -6px;
        > [class*="col"] {
          padding-right: 6px;
          padding-left: 6px;
        }    
      }

      a {
        margin-bottom: 12px;
      }
    }
  }

  @include md-min {
    &__text {
      font-size: 16px;
    }

    &__chapters {
      a { font-size: 20px; }
    }
  }


  @include lg-min {

    &__text {
      font-size: 19px;

      &-lg {
        font-size: 16px;
      }
    }

    /* Colonna destra */
    &__text-right {
      .fullpage__wrapper {text-align: right;}
    }

    /* Colonna sinistra */
    &__text-left {
      .fullpage__wrapper {text-align: left;}
    }

    &__nav {
      font-size: 14px;
    }


    &__chapters {
      a { font-size: 22px; }
    }


  }


} // .fullpage