/*------------------------------------------------
	HERO
------------------------------------------------*/
.hp-hero {
	border-bottom: 8px solid $yellow;

	&__slider {
    margin-bottom: 0;
  }

	&__slide {
		position: relative;		

		&__wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 600px;
		}
	}

	&__media {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;		 
		background-size: cover;
	}

	&__title {
    @extend .title-xl;
		font-family: $cliche;
		color: white;
	}

	&__text {
		text-align: center;
		font-family: $adelleItalic;
    font-size: 21px;
    width: 100%;
	}

  // Slick
  .slick {

    &-dots {
      bottom: 15px;
    }
  }

  @include lg-min {
    &__slide__wrapper {
      height: 765px;
    }
  }


} // .hp-hero




/*------------------------------------------------
	HIGHLIGHTS
------------------------------------------------*/
.hp-highlights {	
  background: $yellow;	
  overflow: hidden;
	
	&__item {
		display: flex;
		padding: 30px;
		height: 210px;    
		border-bottom: 8px solid $yellow;
		border-top: 8px solid white;		
		color: $blue;
		position: relative;	
		overflow: hidden;
    font-family: $adelleSB;
    text-align: center;
    justify-content: center;
    align-items: center;

		&:first-child { border-left: 0;}
    &:last-child { border-right: 0;}

    &:hover {
      .hp-highlights__item__title {
        transform: translateY(-20px);
      }
    }
    
    &__title {
      @extend .title;
      transition: transform .4s;
      position: relative;
      z-index: 1;
    } 
  

		&__image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;			
			background: no-repeat center center;
			background-size: cover;
			z-index: 0;
			transition: transform .4s ease-out;
			transform: translateZ(0);
		}

		&:hover {
			text-decoration: none;
			.hp-highlights__item__image { transform: scale(1.05) translateZ(0); }
    }
    
    

	} // &__item

  

  @include md-min {
    border-top: 8px solid white;

    &__item {
      height: 370px;
      border-image: linear-gradient(to bottom, white, $yellow) 1 100%;
      border-width: 4px;
      border-style: solid;      
      border-bottom: 0;
      border-top: 0;		

      &--text-left-center {     
        text-align: left;
        align-items: center;
      }

      &--text-right-bottom {        
        align-items: flex-end;
        justify-content: flex-end;
      }

    }
  }
		
}