.main-nav {
  padding-top: 30px;
  color: white;
  position: absolute;
  z-index: $z-main-nav;
  width: 100%;
  font-weight: 600;

  &.open {
    background-image:linear-gradient(to bottom, rgba(0, 31, 87, 1), rgba(0, 145, 229, 0.96));
    padding-bottom: 30px;
  }

  > .container-fluid {
    padding-left: 30px;
    padding-right: 30px;

    @include xl-min {
      max-width: 1440px;
    } 
  }



  /* --------------------
    NAVBAR
  -------------------- */ 
  .navbar {
    padding: 0;

    li { padding: 0;}    

    &-brand { 
      padding: 0;
      img {
        width: 100px;
        height: auto;
      }
    }


    &-collapse {
      justify-content: flex-end;
      padding-top: 30px;
    }


    &-toggler {
      padding: 0; border: 0; outline: none!important;

      &:hover {cursor: pointer;}

    } // &-toggler


    @include lg-min {
      &-brand img {
        width: 144px;
        height: 69px;
      }

      &-collapse {
        padding-top: 0;
      }
    }

  } // .navbar 



  /* --------------------
    DROPDOWN
  -------------------- */
  .dropdown {
    &-menu {
      background: none;
      border: 0;
    }

    &-item { 
      padding: 0 15px;
      font-size: 13px;
      font-weight: 500;
      color: white;
      margin-bottom: 7px;

      &:hover { 
        background: none;
        color: $yellow;
      }
    }
 
    &-toggle {
      &:after {content: none;}
    }

    @include xl-min {
      &-item { 
        padding: 0 10px;
      }
    }

    @include xxl-min {
      &-item { padding: 0 15px;}
    }
  }


  /* --------------------
    Nav Item 
  -------------------- */
  .nav-item {
    transition: opacity .3s ease-out;

    .nav-link {
      color: white;
      text-transform: uppercase;
      white-space: nowrap;      
      font-size: 13px;
      font-weight: 600;
      padding-left: 10px;
      padding-right: 10px;

      span {
        position: relative;
        overflow: hidden; 
        &:after {
          content: '';          
          width: 100%;
          height: 2px;
          background: $yellow;
          transition: transform .2s ease-out;
          position: absolute;
          left: 0;
          bottom: -4px;
          transform: scaleX(0);
        }  
      }
    }

    &.active, &:hover {
      .nav-link {
        color: $yellow;  
        span:after {          
          transform: scaleX(1);
        }        
      }      
    }

    &.not-hover {
      opacity: .5;
    }

    @include xxl-min {      
      .nav-link {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

  } // .nav-item




  /* --------------------
    SERVICE NAV
  -------------------- */
  &__service {
    flex-direction: row;
    opacity: .8;

    .nav-item {
      position: relative;

      // linea di separazione
      &:first-child {
        margin-right: 25px;        
        &:after {
          content: '';
          position: absolute;
          right: -12px;
          width: 1px;
          background: rgba(255, 255, 255, 0.5);
          height: 30px;
          top: 9px;
        }
      }

      .nav-link { 
        padding-right: 0;
        padding-left: 0;
      }

    }
  }


  @include md-min {
    padding-top: 40px;

    .navbar {      

    }

  } // md-min


  @include xl-min {

    /* --------------------
      bg-gradient 
    -------------------- */
    &:before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 595px;
      z-index: 9;
      background-image: linear-gradient(to bottom, hsla(219, 100%, 17%, 0.9) 63%, hsla(202, 100%, 45%, 0));
      transition: opacity .4s;
      z-index: 0;
      opacity: 0;
      pointer-events: none;
    }

    &.desktop-open:before {
      opacity: 1;
    }


    &__primary {
      padding-right: 25px;
    } 

   


  } // xl-min


  @include xxl-min {
    &__primary {
      padding-right: 50px;
    } 
  } // xl-min
 

} // .main-nav



/* ---------------------------------------------
  HAMBURGER 
--------------------------------------------- */
.navbar-toggler {
  $width: 30px;
  $height: 23px;
  $lineHeight: 3px;
  $color: white;
  $isOpenColor: $yellow;
  $offset: $width / 2.5; 

  .main-nav__hamburger {    
    width: $width;
    height: $height;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;    
    display: block;
    
    span { 
      display: block;
      position: absolute;
      height: $lineHeight;
      width: 50%;
      background: $yellow;
      transition: 0.25s ease-in-out;
      
      &:nth-child(1),
      &:nth-child(6) {
        transform: rotate(45deg);
      }
      
      &:nth-child(2),
      &:nth-child(5) {
        transform: rotate(-45deg);
      }
      
      &:nth-child(1), &:nth-child(2)  {
        top: $height / 4.4;
      }    
      
      &:nth-child(1), &:nth-child(5) {
        left: calc(50% - #{$offset});
      }
      
      &:nth-child(2), &:nth-child(6) {
        right: calc(50% - #{$offset});
      }

      &:nth-child(3),
      &:nth-child(4) {
        top: ($height / 2) - ($lineHeight / 2);
      }
      
      &:nth-child(3), &:nth-child(4) {
        opacity: 0;
      }
      
      &:nth-child(3) {
        left: -50%;
      }
      
      &:nth-child(4) {
        right: -50%;
      }
      
      &:nth-child(5), &:nth-child(6) {        
        top: ($height - $lineHeight) - ($height / 4.4);
      }
      
    } // span
    
  }

  /* -------------------------------------
    Chiuso
  ------------------------------------- */ 
  &.collapsed {

    .main-nav__hamburger span {
      transform: rotate(0deg);       
      opacity: 1;     
      background: white;

      &:nth-child(even) {
        right: 0;
        border-radius: 0 $lineHeight $lineHeight 0;
      }

      &:nth-child(odd) {
        left: 0;
        border-radius: $lineHeight 0 0 $lineHeight;
      }

      &:nth-child(1),
      &:nth-child(2) {
        top: 0px;
      }

      

      &:nth-child(5),
      &:nth-child(6) {
        top: $height - $lineHeight;
      }
    }
  } // .collapsed

}




/* ---------------------------------------------
  Ricerca / cambio lingua 
--------------------------------------------- */
.menu-overlay {
  color: $blue;

  .modal-content {
    height: calc(100vh - 130px);
    align-items: center;
    flex-direction: row;
    background: none;
  }

  &__country {

    a {
      color: $blue;
      display: block;
      text-align: center;
      margin-bottom: 15px;

      span {
        position: relative;

        &:after {
          content: '';          
          width: 100%;
          height: 2px;
          background: $blue;
          transition: transform .2s ease-out;
          position: absolute;
          left: 0;
          bottom: -4px;
          transform: scaleX(0);
        }  
  
        &:hover:after {
          transform: scaleX(1);
        }
      }
      
    } // a

    &__list {
    }    


    
  }
}