/* ----------------------------------------
	News 
-----------------------------------------*/
[data-page="news"] {
  @extend .bg-gradient;
}


.news {

  &__hero {
    color: white;
  }


  &__highlight {

    a { color: white; }

    img {
      @extend .shadow--lg;
      max-width: 100%; 
      height: auto;
    }

    &__text {
      @extend .flex-v-center; 
    }

    &__title {
      @extend .title-md;
    }

  } // &__highlight

  &__category {
    font-weight: 600;
    text-transform: uppercase;
    display: block;
  }


  /* Archivio */
  &__archive {

    &__title {
      @extend .text-lg;
      text-transform: uppercase;
      font-weight: 600;
    }

  }


  /* -----------------------------------
    Bootstrap 4 Cards
  ------------------------------------*/
  .card {
    border: 0;
    background: none;

    a {        
      color: white;
      transition: opacity .4s ease-out;
      display: block;
    }

    &.unfocus a {
      opacity: .5!important; // !important sovrascrive stile in linea di scrollreveal
    }

    &-columns { column-gap: 36px; column-count: 1 } 
    &-img-top { @extend .shadow--md; }
    &-body { padding-left: 0; padding-right: 0 }
    &-date { display: block; font-size: 12px;  }
    &-title { @extend .text-lg; font-family: $adelleSB;}
    &-text { font-size: 14px; }

  } // .card

  
  /* Load more */
  &__loadmore {
    text-align: center;

    a {
      display: inline-block;
      color: white;
      text-transform: uppercase;
    }
  } 

  @include sm-min {
    .card-columns { column-count: 1; }
  }

  @include md-min {
    .card-columns { column-count: 3; }
  }


} // .news



/* ----------------------------------------
	News dettaglio
-----------------------------------------*/
.news-dettaglio {
  &__hero {
    padding-top: $menu-h;

    .row { height: auto; }
    img {width: 100%;}

    &__date {
      display: block;
    }
  }


  &__body {
    background: white;
    color: $primary;
  }

  &__copy {
    font-size: 14px;
  }

  &__share {
    &__title {
      font-size: 16px;
      font-family: $montserrat;
      font-weight: 600;
    }
  }

  &__goback {
    a {
       color: $blue;
       font-weight: 600;
      }
  }

  @include sm-min {
    &__hero {
      padding-top: 160px;
    }
  }
  
  @include lg-min {
    &__hero {
      padding-top: 200px;
    }
  }

} //.news-dettaglio