.ricette {
  $ricetta-pad-v-lg: 35px;
  $ricetta-pad-v-xl: 60px;

  &__hero {
    color: white;
    background: no-repeat right top;
    background-size: cover;
    
    .row {
      height: $hero-h;
      align-items: center;
    }

    @include lg-min {
      .row {
        height: $hero-h-lg;
      }
    }
  } // &__hero


  &__body {
    @extend .bg-gradient;
  }

  // Linea di separazione
  &__hr {
    border: 0;
    height: 2px;
    background: url(../img/ricette/ricetta-hr.png) repeat-x;
    margin: 0;
    background-size: 100% 100%;
  }


  /*------------------------------------------------
    Filtri
  ------------------------------------------------*/
  &__filtri {

    &__sticky {
      position: sticky;
      top: 40px;
    }

    .input-group {
      margin-bottom: 15px;

      &-addon { width: 64px; }
    }
  }



  /*------------------------------------------------
    Risultati
  ------------------------------------------------*/
  &__risultati {


    > .container {
      padding-left: 15px;
      padding-right: 15px;
    }
    
    > div:last-child {
      .ricette__hr { display: none;}
    }

    @include lg-min {
      > div:first-child {
        margin-top: -$ricetta-pad-v-lg;
      }
    }

    @include xl-min {
      > div:first-child {
        margin-top: -$ricetta-pad-v-xl;
      }
    }
    
  }  


  /*------------------------------------------------
    Ricetta
  ------------------------------------------------*/
  .ricetta {  
    color: white;
    padding: 35px 10px;
    transition: background .4s;
    background: transparent;
    display: block;
    margin-left: -10px;
    margin-right: -10px;

    

    &__title {
      font-family: $adelleSB;
      font-size: 20px;
    }

    &:hover {
      text-decoration: none;
      color: white;
      background: rgba(255, 255, 255, .1)
    }

    @include lg-min {
      padding: $ricetta-pad-v-lg 30px; 
      margin-left: 0;
      margin-right: 0;
      
      &__title {
        font-size: 26px;
      }
    }

    @include xl-min {
      padding: $ricetta-pad-v-xl 50px;
      &__title {
        font-size: 30px;
      }
    }

  } // .ricetta 

}  // .ricette






/*------------------------------------------------
  Pagina dettaglio
------------------------------------------------*/
.ricetta {  
  

  /*--------------------------------------------
    Hero
  --------------------------------------------*/
  &__hero {
    @extend .bg-gradient;
    padding-top: 200px;
    color: white;

    &__chef { 
      font-size: 16px;      
      font-style: italic; 
      font-weight: 300;
    }

    &__title {
      @extend .title-lg;        
      color: white;
    }

    .infolist {  
      justify-content: center;
    }

    &__img {
      @extend .shadow--lg;
      max-width: 100%;
    }
    
  } // &__hero


  /*--------------------------------------------
    Share
  --------------------------------------------*/
  &__share {
    @extend .bg-gradient--cyan-white;
    font-size: 28px;
    text-align: center;
    a {color: $blue;}
  }


  /*--------------------------------------------
    Ingredienti
  --------------------------------------------*/
  &__ingredienti {
    background: white;
    color: $primary;

    &__title { 
      @extend .title-md; 
      font-family: $adelleSB;
    }

    &__lista {
      padding: 0;      
      color: $dark;

      li { 
        list-style: none;
        border-top: 1px solid #9aa7c1;
        padding-top: 15px;
        margin-bottom: 20px;
        font-size: 13px;
        font-weight: 500;
      } 
    }

    &__prod {
      text-align: center;
      font-size: 17px;
      color: $primary;
      font-family: $adelleSB;
      img {
        display: block;
        margin: 0 auto 25px;
      }
      strong {        
        font-size: 21px;
        display: block;
        line-height: 1;
      }
    }

    @include lg-min {
      &__lista {
        column-count: 2;
        column-gap: 70px;

        li {          
          margin-bottom: 30px;
        }
      }
    }


  } // &__ingredienti


  /*--------------------------------------------
    Preparazione
  --------------------------------------------*/
  &__preparazione {
    background: $yellow;
    color: $primary;
    font-family: $adelleLight;

    &__title {
      @extend .title-brush;
      @extend .title-lg;
      text-align: center;
    }

    &__copy {
      @extend .cols-xl-2;
      @extend .text-lg;
      line-height: 1.75;
    }

    

  } // &__preparazione

} // .ricetta 