.scheda {
  
    /*------------------------------------------------
      Hero
    ------------------------------------------------*/
    &__hero {
      $fade-height-lg: 160px;
      $fade-height-xl: 230px;

      @extend .bg-gradient; 
      color: white;
      position: relative;
      padding-bottom: $spacer * 3;
  
      &__num {
        font-size: 20px;
        display: block;
      }
  
      &__title {
        @extend .title-lg;
        color: white; 
      }
  
      &__abstract {}
  
      &__info {}
  
      &__image {    
        margin-bottom: 300px;    

        > div {
          position: relative;
          background: url(../img/ui/hr-line.png) no-repeat center 90%;
          background-size: 100% 2px;
        }
      }
  
      &__pack {
        max-width: 110%;
        display: block;
        margin: 0 auto;
        max-height: 280px;
      }
  
      &__prod {
        position: absolute;
        width: 200px;
        left: calc(50% - 100px);
        top: 75%;
      }
      
      @include md-min {
        
  
        &__pack {
          max-height: 320px;
        }
  
        &__prod {
          bottom: initial;
          top: 75%;
          left: 60%;
        }
      }

      @include lg-min {
        padding-bottom: $fade-height-lg;

        // Sfumatura
        &:after {
          content: '';
          display: block; 
          height: $fade-height-lg + 10;
          background: url(../img/scheda/curve-fade.png) no-repeat center center;
          position: absolute;
          width: 100%;
          background-size: 100% 100%;
        }

        &__pack {
          max-height: initial;
          width: 110%;
          height: 110%;
          max-height: none;
        }
        &__prod {
          width: 70%;
        }
      }

      @include xl-min {
        padding-bottom: $fade-height-xl;

        // Sfumatura
        &:after {
          height: $fade-height-xl + 10;}
      }
  
    } // .scheda__hero
  
  
  
  
  
    /*------------------------------------------------
      Info
      generazione icone su _global.scss
    ------------------------------------------------*/
    &__info {
      background: white;
      color: $dark;
      font-size: 13px;
  
      &__list {
        @extend .list-reset;
        @extend .cols-md-2;
        margin-bottom: 0; 
        
        li {
          display: flex;
        }
  
        .pasta-icon { 
          margin-top: 22px;
          margin-right: 30px;
        }
  
        div {
          border-top: 1px solid #9aa7c1;          
          padding-top: 12px;
          flex-grow: 1;
  
          strong { 
            display: block;
            text-transform: uppercase;
          }
        }
      }

      @include md-min {
        

        .pasta-icon { 
          margin-top: 0;
        }
      }
  
  
    } // .scheda__info
  
  
  
    /*------------------------------------------------
      Chef
    ------------------------------------------------*/
    &__chef {
      background: white;
      color: $blue;
      border-bottom: 1px solid $light;
      
      &__image {
        img {
          @extend .shadow--lg;
          max-width: 100%;}
      }
  
      &__text {
        @extend .flex-v-center;
        text-align: center;
  
        blockquote {
          @extend .text-xl;
          font-family: $adelleSB;
          color: $dark;
  
          &:before {
            content: '“';
            display: block;
            font-size: 120px;
            height: 80px;
            color: $blue;
          }

          footer a { color: $blue; }
        }
  
      }

      @include md-min {
        &__text {
          text-align: left;
        }        
      }
  
    } // .scheda__chef
  
  
  
    /*------------------------------------------------
      Metodo
    ------------------------------------------------*/
    &__metodo {
      background: white;
      color: $primary;
      position: relative;
  
  
      /*----------------------
        Play
      ----------------------*/
      &__play {
        position:  absolute;
        width: 120px;
        height: 120px;
        background: rgba(0,0,0,0.2);
        border: 1px solid white;
        border-radius: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: top .55s ease-out, left .5s ease-out;
        transform: translate(-50%, -50%);
        z-index: $z-scheda-play;
        color: white;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
        top: 1000px;
        cursor: pointer;

        .fa { margin-right: 10px;}
      } 
  
  
      &__item {
        position: relative;        
        margin-bottom: 30px;
        outline: none!important;
  
        // Versione specchiata
        &:nth-of-type(even) {
          .scheda__metodo {
            &__text {text-align: left;} 
            &__title {
              @extend .title-line;
            }
            &__image { direction: ltr; order: -1;}
          }
        }
  
      } // .scheda__metodo__item
  
      &__text {
        display: flex;
        align-items: center;
        text-align: center;
      }
  
      &__title {
        @extend .title-line--invert;
      }  
  
  
      &__copy {
        font-family: $adelleLight;
        font-size: 14px;
        color: $dark;
        text-align: center;
      }
  
      &__image {
        direction: rtl;
        order: -1;
        
        img { 
          @extend .shadow--lg;  
          width: 100%;
        }  
      }


      .slick-dots {
        @extend .slick-dots--blue;
      }

      


      @include md-max {
        &__title {
          text-align: center;
          &:before, &:after { content: none!important;}          
        }  

        /* ----------------------------
          Slider (Mobile)
        -----------------------------*/
        &__slider {
          margin-left: -30px;
          margin-right: -30px;
        }

        &__image, &__text {
          margin-left: 30px;
          margin-right: 30px;
        }
        

       
      }


      @include md-min {
        &__image {order: inherit;}
        &__text {
          text-align: right;
        }
        
        &__copy {
          text-align: inherit;
        }
      }


      @include lg-min {

        &__item {
          margin-bottom: -30px;
        }

        &__copy {
          font-size: 16px;
        }

        img { 
          width: calc(100% + 15px);
        }  
      }


      @include xl-min {
        
        &__copy {
          font-size: 18px;
        }
      }
  
    } // .scheda__metodo
  
  
  
    /*------------------------------------------------
      Correlato
    ------------------------------------------------*/
    &__correlato {
      background: white;
      color: $primary;
      position: relative;
      overflow: hidden;
  
      &__bg {
        position: absolute;
        top: 20px;
        right: 0;
      }

      &__text {
        @extend .flex-v-center;
        text-align: center;
      }
  
      &__title {
        @extend .title-md;
        
        @include xl-min {
          font-size: 50px; 
        }
      }

      &__prod {
        width: 100%;
        position: relative;
        z-index: 2;

        &__bg {
          position: absolute;
          top: 0;
          right: -20%;
          z-index: 1;
          width: 130%;
        }
      }  

      @include md-min {
        &__text {text-align: left;}
        &__prod {width: 80%;}
      }

      @include lg-min {
        &__prod {width: 100%;}
      }
  
    } // .scheda__correlato
  
      
  } // .scheda
   