.slick {
  &-slide {
    position: relative;
    outline: none!important;
  }	


  &-dots {
    li {
      button:before {
        content: '';
        background: white;
        border-radius: 10px;
        transform: scale(.5); 
        opacity: 1;
        transition: all .2s;
      }

      &.slick-active {
        button:before {
          background: transparent;
          border: 4px solid $yellow;
          transform: scale(.75);
        }
      }
    }    
  }

  // Punti blu
  &-dots--blue {
    li {
      button:before {
        content: '';
        background: $blue;
        border-radius: 15px;
        transform: scale(.5); 
        opacity: 1;
        transition: all .2s;
        width: 15px;
        height: 15px;
      }
  
      &.slick-active {
        button:before {
          background: transparent;
          border: 4px solid $blue;
          transform: scale(.75);
        }
      }
    }    
  }

  

} // .slick


