.stories {
   @extend .bg-gradient;
  color: white;
  
  &__item {
    margin-bottom: 15px;
    display: block;
  }


  &__image {
    @extend .shadow--lg;
    width: 100%;

    img { 
      width: 100%;
    }
  }

  

  

  &__text {
    @extend .flex-v-center;
    position: absolute;
    width: 100%;
    height: 120%;
    background: rgba(0,0,0,0.6);
    text-align: center;   
    padding: 20px;
    color: white;  
    opacity: 0;
    transition: all .4s ease-out .2s;
    top: 0;
    font-size:12px;

    & > div { width: 100%; }

    .fa {
    font-size: 22px;
    }
  }


   &__copy {
    
   }




  /* ----------------------------------------
    Social wall
  -----------------------------------------*/      
  .social-wall-grid { 
    column-count: 2;
    column-gap: 15px;

    .grid-item {
      // padding: 0;
    }
  }


  @include md-min {

    &__wrapper {
      position: relative; 
      height: 0;
      padding-bottom: 100%;
    }

    &__item {
      // @extend .shadow--lg;
      position: absolute;    
      display:block;  
      font-size: 14px;
      transition: transform .4s ease-out;
      overflow: hidden;
        
  
      &:hover {
        z-index: 20!important;      
  
        .stories__text { 
          opacity: 1; 
          top: -10%;
        }
      }
  
  
      img {width: 100%;}    
             
      
      // top left
      &:nth-child(1) {
        top: 0;
        left: 0; 
        width: 40%;   
        height: 40%;
      }
  
      // center
      &:nth-child(2) {
        top: 16.6666%;
        left: 30%;
        width: 40%; 
        height: 50%;   
        
        .stories__image { padding-bottom: 125%; }
      }
  
      // top right
      &:nth-child(3) {
        top: 8.3333%;
        right: 1.6666%;
        width: 25%; 
        height: 25%;      
      }
  
      // bottom left
      &:nth-child(4) {
        top: 50%;
        left: 8.3333%;
        width: 25%; 
        height: 25%;       
      }
  
      // bottom right
      &:nth-child(5) {
        top: 50%;
        right: 0;    
        width: 33%; 
        height: 33%;    
      }
  
      
  
    } // .stories__item


    &__image {
      position: absolute;
      top: 0;
      padding-bottom: 100%;
      background-size: cover;
      background-position: center center;
    }

    &__text {
      font-size: 14px;
    }

    .social-wall-grid { 
      column-count: initial;
    }
  }


} // .stories