.storia {
  $h: 600px;
  $h-md: 680px;
  $h-xl: 780px;

	/*------------------------------------------------
		Hero
	------------------------------------------------*/
	&__hero {
    .row {height: $h + $menu-h;}

    &__title {@extend .title-lg;}

    @include md-min {
      .row {height: $h-md + $menu-h;}
    }

    @include lg-min {
      .row {height: $h-md + $menu-h-lg;}
    }
    
    @include xl-min {
      .row {height: $h-xl + $menu-h-lg;}
    }
	}



	/*------------------------------------------------
		Slider
	------------------------------------------------*/
	&__slider {
		position: absolute;
		top: $h;
    background: white;
    height: $h;
		width: 100%;
		display: none;
		

		&.visible {
			height: $h;
			top: $menu-h;
		}

		&__item {
			display: flex;
			color: $blue;
      height: $h;
      flex-direction: column;

			&--noimage {
				.storia__slider__copy { 
					text-align: center; 					
					font-family: $adelleSB;					
					font-size: 25px;
				}
			}
		} // &__item


		&__image, &__copy {			
			flex: 1 1 50%;
		}

		&__image {
			background: no-repeat center center;
			background-size: cover;
		}

		&__copy {
			text-align: center;
			color: $blue;
			height: $h;			
			font-family: $montserrat;
			font-weight: 300;
			display: flex;	
			justify-content: center;
			align-items: center;
			height: 100%;
      font-size: 17px;
      padding: 30px;
      background: white;
		}

		&__date {
      font-size: 60px;
      line-height: 1;
      margin: 0;
			font-family: $adelleSB;
    }

    .slick {
      // &-dots { @extend .slick-dots--blue; }
      &-arrow { 
        z-index: $z-storia-arrows;
        &:before {
          font-family: FontAwesome; 
          color: $dark;   
          font-size: 32px;  
        } 
      }
      &-prev { 
        left: 25px; 
        &:before { content: ''}
      }
      &-next { 
        right: 25px; 
        &:before { content: '\f105'}
      }
    }
    

    
    @include md-min {
      top: $menu-h;
      height: $h-md;

      &.visible {
        height: $h-md;
      }

      &__item {
        flex-direction: row;
        height: $h-md;
      }

      &__copy {
        padding: 120px;
        text-align: left;
        height: $h-md;
      }

      &__date {
        font-size: 100px;
      }
    } // md-min


    /* ----------------------------------------
    FX
  -----------------------------------------*/ 
  &__date, &__text { 
    opacity: 0;
    transform: translateX(60px);
    transition: all 1s;
  }
  &__date {transition-delay: 200ms;}
  &__text {transition-delay: 300ms;}
  
  .slick-active {
    .storia__slider__date, .storia__slider__text {       
      opacity: 1;
      transform: translateX(0);
    }
  }



    @include lg-min {
      &.visible {
        top: $menu-h-lg;
      }
    }


    @include xl-min {
      height: $h-xl;

      &.visible {
        height: $h-xl;
      }

      &__item {
        flex-direction: row;
        height: $h-xl;
      }

      &__copy {
        padding: 120px;
        text-align: left;
        height: $h-xl;
      }

      &__date {
        font-size: 100px;
      }
    } // lg-min

    

    @include xxl-min {
      &__copy {
        padding: 200px;
      }
    }

	} // &__slider


	/*------------------------------------------------
		Timeline
	------------------------------------------------*/
	&__timeline {
		background: white;
    font-size: 12px;	
    display: none;
    
    &__wrap {
			justify-content: space-around;
			align-items: center;
			height: 52px;
      position: relative;
      transform: translateY(-4px);

			&:before {
				content: '';
				height: 2px;
				width: calc(100% - 30px);
				background: $blue;
				position: absolute;
				bottom: 8px;
			}
		}

		&__data {
			margin: 0 5px;
			text-transform: uppercase;
			text-align: center;
			display: block;
			position: relative;

			&:before {
				content: '';
				width: 15px;
				height: 15px;				
				position: absolute;				
				background: white;
				left: calc(50% - 7.5px);
				bottom: -12px;
			}

			&:after {
				content: '';
				width: 5px;
				height: 5px;
				border-radius: 5px;
				display: block;
				margin: 0 auto;
				background: $blue;
				position: absolute;
				bottom: -10px;				
				left: calc(50% - 2.5px);
				transition: all .05s linear .1s;
			} 

			&.active {
				font-weight: 600;
				&:after {
					width: 9px;
					height: 9px;
					border-radius: 9px;
					display: block;
					margin: 0 auto;
					background: white;
					position: absolute;
					bottom: -12px;
					border: 2px solid $blue;
					left: calc(50% - 4.5px);
				}
			}

			&:hover {
				cursor: pointer;
			}

    } // &__data
    
    

  } // &__timeline 


  

  

  @include lg-min {
    &__timeline {
      display: block;
    }
  }

  @include xl-max {
    &__timeline {
      .container {
        max-width: none;
      }
    }
  }

} // .storia