/*------------------------------------------------
	Globals
------------------------------------------------*/
body {
  font-size: 14px;
  font-family: $montserrat;  
  font-weight: 500;
  

  @include lg-min {
    font-size: 16px;
  }
}

a, button {
  &:focus, &:hover, &:focus:hover {
    outline: none!important;
  }
} 

p {
  line-height: 1.75;
}

strong { font-weight: 700;}


.dash {
  width: 40px;
  height: 1px;
  background: $primary;
  display: inline-block;
  margin-right: 20px;
  transform: translateY(-5px);
}
 

.text {
  &-lg {
    font-size: 16px;
    line-height: 1.4;
  }

  &-xl {
    font-size: 20px;
    line-height: 1.4;
  }

  @include lg-min {
    &-lg { font-size: 20px; }
    &-xl {font-size: 24px; }
  }
}



/*------------------------------------------------
	Links
------------------------------------------------*/
a {
  color: $yellow;
  transition: all .4s;
  font-weight: 500; 

  &.active,
  &:focus,
  &:hover {
    color: darken($primary, 10%);
  }
} 

.text-link {
  color: $yellow;
  font-weight: 600;
  &:hover, &:visited {
    color: darken($yellow, 10)
  }
}
 



/*------------------------------------------------
	Titles
------------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
  font-family: $adelleSB;
}  
h1 {
  font-size: 58px;
}

h2 {
  font-size: 44px; 
}

.title {
  font-family: $adelleSB; 
  font-size: 26px;

  &-brush {font-family: $cliche; }

  &-serif { font-family: $adelleSB; }  

  &-md { 
    font-family: $adelleSB;
    font-size: 30px; }

  &-lg { 
    font-family: $adelleSB;
    font-size: 33px; }

  &-xl { 
    font-family: $adelleSB;
    font-size: 36px; }

  @include md-min {
    &-md { font-size: 40px; }
    &-lg { font-size: 44px; }
    &-xl { font-size: 48px; }
  }

  @include xl-min {
    &-lg { font-size: 60px; }
    &-xl { font-size: 90px; }
  }
}



.title-line {
  font-size: 20px;
  font-weight: 800;
  font-family: $montserrat;

  &:before {
    content: '';
    width: 40px;
    height: 1px;
    background: $primary;
    display: inline-block;
    margin-right: 30px;
    transform: translateY(-5px);
  }
  &:after {content: none;}

  &--invert {
    @extend .title-line;
    &:before { content: none; }
    &:after {
      content: '';
      width: 40px;
      height: 1px;
      background: $primary;
      display: inline-block;
      margin-left: 30px;
      transform: translateY(-5px);
    }
  }
}


.section-name {
  font-size: 14px;
  font-weight: 600;
  color: $primary;
}
 



/*------------------------------------------------
	Buttons
------------------------------------------------*/
.btn {
  @extend .shadow;
  font-family: $montserrat;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 14px 14px 12px;
  color: $bluedark;
  border: 0;
  margin-right: 6px;
  transition: all .3s;
  color: white;
  margin-bottom: 15px;

  &:focus {
    box-shadow: inherit;
    &:active {
      box-shadow: none;
    }
  }

  &:hover { cursor: pointer;}

  .fa { margin-right: 10px; transform: scale(1.2)}
  
  // Generazione bottoni
  $colors: (
    blue: (
      c: white,
      bg: $blue
    ),
    white: (
      c: $blue,
      bg: white
    ),
    yellow: (
      c: $blue,
      bg: $yellow
    ),
    facebook: (
      c: white,
      bg: #4367b4,
      txt-transf: none
    ),
    twitter: (
      c: white,
      bg: #1da1f3,
      txt-transf: none
    ),
    email: (
      c: white,
      bg: #a5a3a5,
      txt-transf: none
    )
  );
  
  @each $key, $value in $colors {
    &-#{$key} {
      color: map-get($value, c);
      background-color: map-get($value, bg);
      text-transform: map-get($value, txt-transf);
      
      &:focus, &:hover {
        opacity: .8;
        color: map-get($value, c);
      }

      &.btn-ghost {
        background: transparent;
        color: map-get($value, bg);
        border: 2px solid map-get($value, bg);
        padding: 12px 10px 10px;
      }
    }
  }



  /* Social */
  &-social {
    font-size: 14px;
    margin-right: 40px;
    color: inherit;
    font-weight: 700;
    font-family: $montserrat;
    white-space: nowrap;
    
    .fa { 
      font-size: 28px; 
      transform: translateY(4px); 
      margin-right: 15px;
    }

    &-sm {
      @extend .btn-social;
      margin-right: 30px;
      font-size: 12px;
      font-weight: 600;

      .fa { 
        font-size: 20px; 
        transform: translateY(4px); 
        margin-right: 10px;
      }
    }
  } 


  /* Texture */
  &-texture {
    @extend .btn;
    background: url(../img/ui/btn-texture-bg.jpg);
    background-size: center;
    border-color: transparent;
    box-shadow: none;
    color: white;
  }

  @include md-min {
    font-size: 15px;
    margin-right: 20px;
  }


} // .btn 

