@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
/* -----------------------
  Button
----------------------- */
.btn-submit {
  font-size: 13px;
}
/* -----------------------
  Custom controls
----------------------- */
.custom-checkbox .custom-control-label {
  text-transform: none;
  color: #5b5e60;
}
.custom-select {
  background: #fff url("img/select-arrow.svg") no-repeat right 0.75rem center;
  background-size: 12px 6px;
  border: 0;
}
/* -----------------------
  Form group
----------------------- */
.form-group {
  position: relative;
}
.form-group:focus {
  border: 1px solid #f00;
}
.form-group > label {
  text-transform: uppercase;
  font-size: 10px;
  color: #e0e3e3;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
  pointer-events: none;
  position: relative;
  z-index: 5;
}
.form-group > input {
  width: 100%;
}
.form-group.error .form-control {
  border-bottom-color: #db4949;
  background: url("img/ico-error.svg") no-repeat right 10px center;
  background-size: 34px;
}
/*------------------------------
	Misc
------------------------------*/
.required-fields {
  text-align: right;
}
.privacy {
  font-size: 12px;
  color: #5b5e60;
}
/*------------------------------
	Form
------------------------------*/
.form-control {
  border: 1px solid #edeeee;
}
.form-control,
.form-control:focus,
.form-control:focus:hover {
  color: #5b5e60;
  background: #fff;
  outline: none;
}
.form-control:focus,
.form-control:focus:hover {
  border: 1px solid #bdbfbf;
}
.form-horizontal .text-link-line {
  -webkit-transform: translateY(18px);
      -ms-transform: translateY(18px);
          transform: translateY(18px);
}
.form--on-dark .form-control,
.form--on-dark .form-control:focus,
.form--on-dark .form-control:focus:hover {
  color: #fff;
  border: 0;
  border-bottom: 1px solid #fff;
  background: none;
}
/* -----------------------
  Textarea
----------------------- */
textarea.form-control {
  -webkit-box-shadow: 0 20px 40px -20px rgba(0,0,0,0.2);
          box-shadow: 0 20px 40px -20px rgba(0,0,0,0.2);
}

/*# sourceMappingURL=forms.css.map */
