@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
/* -----------------------
  List
----------------------- */
.architetti__results {
  position: relative;
}
.architetti__results .palette {
  position: absolute;
  bottom: -21px;
}
.architetti__item .text-link {
  color: #020202;
}

/*# sourceMappingURL=architetti.css.map */
