@font-face {
  font-family: "AndesCndW04-Lt";
  src: url("../font/d9e351896421f24148c881c8559a3e14.eot"); /* IE9*/
  src: url("../font/d9e351896421f24148c881c8559a3e14.eot?#iefix") format("embedded-opentype"), url("../font/d9e351896421f24148c881c8559a3e14.woff2") format("woff2"), url("../font/d9e351896421f24148c881c8559a3e14.woff") format("woff"), url("../font/d9e351896421f24148c881c8559a3e14.ttf") format("truetype"), url("../font/d9e351896421f24148c881c8559a3e14.svg#AndesCndW04-Lt") format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "AndesCndW04-Regular";
  src: url("../font/b119d19e95ea89b5c09630b9420ffe3f.eot"); /* IE9*/
  src: url("../font/b119d19e95ea89b5c09630b9420ffe3f.eot?#iefix") format("embedded-opentype"), url("../font/b119d19e95ea89b5c09630b9420ffe3f.woff2") format("woff2"), url("../font/b119d19e95ea89b5c09630b9420ffe3f.woff") format("woff"), url("../font/b119d19e95ea89b5c09630b9420ffe3f.ttf") format("truetype"), url("../font/b119d19e95ea89b5c09630b9420ffe3f.svg#AndesCndW04-Regular") format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "AndesCndW04-Md";
  src: url("../font/c6904ce44ae1ab87d19f5b484a7591a2.eot"); /* IE9*/
  src: url("../font/c6904ce44ae1ab87d19f5b484a7591a2.eot?#iefix") format("embedded-opentype"), url("../font/c6904ce44ae1ab87d19f5b484a7591a2.woff2") format("woff2"), url("../font/c6904ce44ae1ab87d19f5b484a7591a2.woff") format("woff"), url("../font/c6904ce44ae1ab87d19f5b484a7591a2.ttf") format("truetype"), url("../font/c6904ce44ae1ab87d19f5b484a7591a2.svg#AndesCndW04-Md") format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "AndesCndW04-Bold";
  src: url("../font/e95fc82481d22d7ac76396631d3ec670.eot"); /* IE9*/
  src: url("../font/e95fc82481d22d7ac76396631d3ec670.eot?#iefix") format("embedded-opentype"), url("../font/e95fc82481d22d7ac76396631d3ec670.woff2") format("woff2"), url("../font/e95fc82481d22d7ac76396631d3ec670.woff") format("woff"), url("../font/e95fc82481d22d7ac76396631d3ec670.ttf") format("truetype"), url("../font/e95fc82481d22d7ac76396631d3ec670.svg#AndesCndW04-Bold") format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "Berthold Akzidenz Grotesk BE";
  src: url("../font/7dee4e8052171a216cd2446ea682b742.eot"); /* IE9*/
  src: url("../font/7dee4e8052171a216cd2446ea682b742.eot?#iefix") format("embedded-opentype"), url("../font/7dee4e8052171a216cd2446ea682b742.woff2") format("woff2"), url("../font/7dee4e8052171a216cd2446ea682b742.woff") format("woff"), url("../font/7dee4e8052171a216cd2446ea682b742.ttf") format("truetype"), url("../font/7dee4e8052171a216cd2446ea682b742.svg#Berthold Akzidenz Grotesk BE") format("svg"); /* iOS 4.1- */
}
.title,
.title-md-lt,
.title-md,
.title-md-bd,
.title-lg-lt,
.title-lg,
.title-lg-bd,
.title-xl-lt,
.title-xl,
.title-xl-bd,
.title-xxl-lt,
.title-xxl,
.title-xxl-bd,
.btn-playvideo {
  font-family: "AndesCndW04-Lt", sans-serif;
}
.link-download h6 {
  font-family: "AndesCndW04-Md", sans-serif;
}
.title-md-lt strong,
.title-md strong,
.title-md-bd strong,
.title-md-bd,
.title-lg-lt strong,
.title-lg strong,
.title-lg-bd strong,
.title-lg-bd,
.title-xl-lt strong,
.title-xl strong,
.title-xl-bd strong,
.title-xl-bd,
.title-xxl-lt strong,
.title-xxl strong,
.title-xxl-bd strong,
.title-xxl-bd {
  font-family: "AndesCndW04-Bold", sans-serif;
}
body,
.btn,
.link-download small {
  font-family: 'Berthold Akzidenz Grotesk BE', sans-serif;
  letter-spacing: 0.6px;
}
/*------------------------------------------------
	Global
------------------------------------------------*/
html {
  background: #eee;
}
body {
  color: #47433f;
  max-width: 1920px;
  margin: 0 auto;
  background: #f8f8f8;
}
.container-xl {
  max-width: 1600px;
}
a,
button,
a:hover,
button:hover {
  color: #a3a19f;
}
a:focus,
button:focus {
  outline: none;
}
.rtl {
  direction: rtl;
}
/*------------------------------------------------
	Flex
------------------------------------------------*/
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-v-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*------------------------------------------------
	Shadow class
------------------------------------------------*/
.shadow {
  -webkit-box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
          box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
}
/*------------------------------
	Colors utils
------------------------------*/
.c-black {
  color: #000;
}
.bg-black {
  background-color: #000;
}
.c-dark {
  color: #47433f;
}
.bg-dark {
  background-color: #47433f;
}
.c-land {
  color: #897054;
}
.bg-land {
  background-color: #897054;
}
.c-silver {
  color: #6d6e72;
}
.bg-silver {
  background-color: #6d6e72;
}
.c-white {
  color: #fff;
}
.bg-white {
  background-color: #fff;
}
.c-beige {
  color: #b6a999;
}
.bg-beige {
  background-color: #b6a999;
}
.c-swirl {
  color: #d7d1c5;
}
.bg-swirl {
  background-color: #d7d1c5;
}
.c-grey {
  color: #272727;
}
.bg-grey {
  background-color: #272727;
}
.c-grey-light {
  color: #bcbec0;
}
.bg-grey-light {
  background-color: #bcbec0;
}
.c-grey-lighter {
  color: #e1e3e5;
}
.bg-grey-lighter {
  background-color: #e1e3e5;
}
.c-grey-lightest {
  color: #f2f3f4;
}
.bg-grey-lightest {
  background-color: #f2f3f4;
}
.c-grey1 {
  color: #47433f;
}
.bg-grey1 {
  background-color: #47433f;
}
.c-grey2 {
  color: #75726f;
}
.bg-grey2 {
  background-color: #75726f;
}
.c-grey3 {
  color: #a3a19f;
}
.bg-grey3 {
  background-color: #a3a19f;
}
.c-grey4 {
  color: #d1d0cf;
}
.bg-grey4 {
  background-color: #d1d0cf;
}
/*------------------------------
	Titles utils
------------------------------*/
.title-md-lt,
.title-md,
.title-md-bd {
  font-size: 30px;
  line-height: 1.2;
}
@media screen and (min-width: 992px) {
  .title-md-lt,
  .title-md,
  .title-md-bd {
    font-size: 30px;
  }
}
.title-lg-lt,
.title-lg,
.title-lg-bd {
  font-size: 36px;
  line-height: 1.2;
  font-size: 24px;
}
@media screen and (min-width: 992px) {
  .title-lg-lt,
  .title-lg,
  .title-lg-bd {
    font-size: 36px;
  }
}
.title-xl-lt,
.title-xl,
.title-xl-bd {
  font-size: 48px;
  line-height: 1.2;
  font-size: 32px;
}
@media screen and (min-width: 992px) {
  .title-xl-lt,
  .title-xl,
  .title-xl-bd {
    font-size: 48px;
  }
}
.title-xxl-lt,
.title-xxl,
.title-xxl-bd {
  font-size: 60px;
  line-height: 1.2;
  font-size: 40px;
}
@media screen and (min-width: 992px) {
  .title-xxl-lt,
  .title-xxl,
  .title-xxl-bd {
    font-size: 60px;
  }
}
/*------------------------------
	Text font size utils
------------------------------*/
@media screen and (min-width: 992px) {
  .text-sm {
    font-size: 9.6px;
  }
}
@media screen and (min-width: 1200px) {
  .text-sm {
    font-size: 12px;
  }
}
@media screen and (min-width: 992px) {
  .text-lg {
    font-size: 14.4px;
  }
}
@media screen and (min-width: 1200px) {
  .text-lg {
    font-size: 18px;
  }
}
.text-xl {
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  .text-xl {
    font-size: 19.2px;
  }
}
@media screen and (min-width: 1200px) {
  .text-xl {
    font-size: 24px;
  }
}
.text-xxl {
  font-size: 20px;
}
@media screen and (min-width: 992px) {
  .text-xxl {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .text-xxl {
    font-size: 30px;
  }
}
/*------------------------------
	Links
------------------------------*/
.text-link-line:before,
.text-link-line:after,
.text-link-line-double:before,
.text-link-line-double:after,
.text-link:before,
.btn:before,
.btn:after {
  content: '';
  background: #a3a19f;
  display: inline-block;
  height: 1px;
  vertical-align: middle;
  -webkit-transition-property: width, margin;
  -o-transition-property: width, margin;
  transition-property: width, margin;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.33, 0, 0, 1);
       -o-transition-timing-function: cubic-bezier(0.33, 0, 0, 1);
          transition-timing-function: cubic-bezier(0.33, 0, 0, 1);
}
.text-link-line,
.text-link-line-double,
.text-link,
.btn {
  background: none;
  border: 0;
  font-size: 10px;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}
.text-link-line,
.btn,
.text-link-line:hover,
.btn:hover {
  color: inherit;
  text-decoration: none;
}
.text-link-line:before,
.btn:before {
  margin-right: 10px;
  width: 30px;
}
.text-link-line:after,
.btn:after {
  margin-left: 10px;
  width: 0;
}
.text-link-line:hover,
.btn:hover {
  text-decoration: none;
}
.text-link-line:hover:before,
.btn:hover:before {
  width: 0;
}
.text-link-line:hover:after,
.btn:hover:after {
  width: 30px;
}
.text-link-line.line-black:before,
.btn.line-black:before,
.text-link-line.line-black:after,
.btn.line-black:after {
  background: #000;
}
.text-link-line.line-dark:before,
.btn.line-dark:before,
.text-link-line.line-dark:after,
.btn.line-dark:after {
  background: #47433f;
}
.text-link-line.line-land:before,
.btn.line-land:before,
.text-link-line.line-land:after,
.btn.line-land:after {
  background: #897054;
}
.text-link-line.line-silver:before,
.btn.line-silver:before,
.text-link-line.line-silver:after,
.btn.line-silver:after {
  background: #6d6e72;
}
.text-link-line.line-white:before,
.btn.line-white:before,
.text-link-line.line-white:after,
.btn.line-white:after {
  background: #fff;
}
.text-link-line.line-beige:before,
.btn.line-beige:before,
.text-link-line.line-beige:after,
.btn.line-beige:after {
  background: #b6a999;
}
.text-link-line.line-swirl:before,
.btn.line-swirl:before,
.text-link-line.line-swirl:after,
.btn.line-swirl:after {
  background: #d7d1c5;
}
.text-link-line.line-grey:before,
.btn.line-grey:before,
.text-link-line.line-grey:after,
.btn.line-grey:after {
  background: #272727;
}
.text-link-line.line-grey-light:before,
.btn.line-grey-light:before,
.text-link-line.line-grey-light:after,
.btn.line-grey-light:after {
  background: #bcbec0;
}
.text-link-line.line-grey-lighter:before,
.btn.line-grey-lighter:before,
.text-link-line.line-grey-lighter:after,
.btn.line-grey-lighter:after {
  background: #e1e3e5;
}
.text-link-line.line-grey-lightest:before,
.btn.line-grey-lightest:before,
.text-link-line.line-grey-lightest:after,
.btn.line-grey-lightest:after {
  background: #f2f3f4;
}
.text-link-line.line-grey1:before,
.btn.line-grey1:before,
.text-link-line.line-grey1:after,
.btn.line-grey1:after {
  background: #47433f;
}
.text-link-line.line-grey2:before,
.btn.line-grey2:before,
.text-link-line.line-grey2:after,
.btn.line-grey2:after {
  background: #75726f;
}
.text-link-line.line-grey3:before,
.btn.line-grey3:before,
.text-link-line.line-grey3:after,
.btn.line-grey3:after {
  background: #a3a19f;
}
.text-link-line.line-grey4:before,
.btn.line-grey4:before,
.text-link-line.line-grey4:after,
.btn.line-grey4:after {
  background: #d1d0cf;
}
.text-link-line-double,
.text-link-line-double:hover {
  color: inherit;
  text-decoration: none;
}
.text-link-line-double:before,
.text-link-line-double:after {
  width: 30px;
}
.text-link-line-double:before {
  margin-right: 10px;
}
.text-link-line-double:after {
  margin-left: 10px;
}
.text-link-line-double:hover {
  text-decoration: none;
}
.text-link-line-double:hover:before,
.text-link-line-double:hover:after {
  width: 10px;
}
.text-link-line-double:hover:before {
  margin-right: 30px;
}
.text-link-line-double:hover:after {
  margin-left: 30px;
}
.text-link,
.text-link:hover {
  color: inherit;
  text-decoration: none;
}
.text-link:before {
  width: 0;
}
.text-link:hover {
  text-decoration: none;
}
.text-link:hover:before {
  width: 30px;
  margin-right: 10px;
}
/*------------------------------
	Buttons
------------------------------*/
.btn {
  text-transform: uppercase;
  font-size: 13px;
  padding: 10px 20px;
}
.btn +md-min () {
  font-size: 14px;
  padding: 15px 35px;
}
.btn-white,
.btn-white:hover {
  color: #000;
  background: #fff;
}
.btn-dark,
.btn-dark:hover {
  color: #fff;
  background: #47433f;
}
.btn-land,
.btn-land:hover {
  color: #fff;
  background: #a3a19f;
}
.btn-land:before,
.btn-land:after {
  background: #fff;
}
.btn-playvideo {
  text-transform: uppercase;
  background: url("../img/ui/ico-play.svg") no-repeat right 5px center;
  background-size: 27px 80px;
  height: 80px;
  line-height: 80px;
  padding-right: 32px;
  -webkit-transition: background-position 0.2s;
  -o-transition: background-position 0.2s;
  transition: background-position 0.2s;
}
.btn-playvideo,
.btn-playvideo:hover {
  color: #fff;
  text-decoration: none;
}
.btn-playvideo:hover {
  background-position: right 0 center;
}
/*------------------------------
	Link download  
------------------------------*/
.link-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 1.1;
  padding-right: 15px;
  color: #75726f;
}
.link-download:hover {
  color: #75726f;
  text-decoration: none;
}
.link-download:hover img {
  -webkit-animation: bounce 1s alternate infinite;
          animation: bounce 1s alternate infinite;
}
.link-download:hover span {
  opacity: 0.7;
}
.link-download img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.link-download div {
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.link-download h6 {
  font-size: 18px;
  text-transform: uppercase;
}
.link-download small {
  display: block;
  font-size: 12px;
  color: #bcbec0;
}
/*------------------------------
	Sliders  
------------------------------*/
.slick-slide:focus {
  outline: none;
}
.slick-prev,
.slick-next {
  z-index: 10;
  width: 59px;
  height: 32px;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  -o-transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1), -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.slick-prev img,
.slick-next img {
  width: 100%;
  height: 32px;
}
.slick-prev:before,
.slick-next:before {
  content: none;
}
.slick-prev {
  left: 0;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.slick-prev:hover {
  -webkit-transform: translate(-15px, 0);
      -ms-transform: translate(-15px, 0);
          transform: translate(-15px, 0);
}
.slick-next {
  right: 0;
}
.slick-next:hover {
  -webkit-transform: translate(15px, 0);
      -ms-transform: translate(15px, 0);
          transform: translate(15px, 0);
}
.slick-dots {
  bottom: 60px;
}
.slick-dots li {
  margin: 0 15px;
}
.slick-dots li,
.slick-dots li button,
.slick-dots li button:before {
  width: 10px;
  height: 10px;
}
.slick-dots li button {
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 0;
}
.slick-dots li button:before {
  content: '';
  opacity: 1;
  position: relative;
}
.slick-dots li:hover button {
  background: rgba(0,0,0,0.2);
}
.slick-dots li.slick-active button {
  background: #000;
}
.slick-dots.slick-dots--inverted li button {
  border-color: #75726f;
}
.slider-prev,
.slider-next {
  background: none;
  border: 0;
}
/*------------------------------
	Modals
------------------------------*/
.modal.show .modal-dialog {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.2s ease-out 0.2s;
  transition: -webkit-transform 0.2s ease-out 0.2s;
  -o-transition: transform 0.2s ease-out 0.2s;
  transition: transform 0.2s ease-out 0.2s;
  transition: transform 0.2s ease-out 0.2s, -webkit-transform 0.2s ease-out 0.2s;
}
.modal-nobg .modal-content {
  background: none;
  color: #fff;
}
.modal button.close {
  margin-top: 20px;
  margin-right: 20px;
}
/*------------------------------
	Scroll Reveal
------------------------------*/
[data-reveal],
[data-reveal-right],
[data-reveal-left],
[data-reveal-bottom] {
  visibility: hidden;
}
@media print {
  [data-reveal],
  [data-reveal-right],
  [data-reveal-left],
  [data-reveal-bottom] {
    visibility: visible !important;
    opacity: 1 !important;
  }
}
/*------------------------------
  Scrollbar
------------------------------*/
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bcbec0;
  border-radius: 8px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

/*# sourceMappingURL=global.css.map */
