@font-face {
  font-family: "Blair Light";
  src: url("../font/adfd8f89091da05f964dd1a6316a494a.eot");
  src: url("../font/adfd8f89091da05f964dd1a6316a494a.eot?#iefix") format("embedded-opentype"), url("../font/adfd8f89091da05f964dd1a6316a494a.woff2") format("woff2"), url("../font/adfd8f89091da05f964dd1a6316a494a.woff") format("woff"), url("../font/adfd8f89091da05f964dd1a6316a494a.ttf") format("truetype"), url("../font/adfd8f89091da05f964dd1a6316a494a.svg#BlairITC TT") format("svg");
}
@font-face {
  font-family: "Blair Md";
  src: url("../font/adfd8f89091da05f964dd1a6316a494a.eot");
  src: url("../font/adfd8f89091da05f964dd1a6316a494a.eot?#iefix") format("embedded-opentype"), url("../font/adfd8f89091da05f964dd1a6316a494a.woff2") format("woff2"), url("../font/adfd8f89091da05f964dd1a6316a494a.woff") format("woff"), url("../font/adfd8f89091da05f964dd1a6316a494a.ttf") format("truetype"), url("../font/adfd8f89091da05f964dd1a6316a494a.svg#BlairITC TT") format("svg");
}
@font-face {
  font-family: "Blair Bold";
  src: url("../font/93b4921f7bb794c9265bb7efd6e50a06.eot");
  src: url("../font/93b4921f7bb794c9265bb7efd6e50a06.eot?#iefix") format("embedded-opentype"), url("../font/93b4921f7bb794c9265bb7efd6e50a06.woff2") format("woff2"), url("../font/93b4921f7bb794c9265bb7efd6e50a06.woff") format("woff"), url("../font/93b4921f7bb794c9265bb7efd6e50a06.ttf") format("truetype"), url("../font/93b4921f7bb794c9265bb7efd6e50a06.svg#BlairITC TT") format("svg");
}
.grey {
  color: #5f6061 !important;
}
.bg-grey {
  background-color: #5f6061 !important;
}
.grey-light {
  color: #e1d8d6 !important;
}
.bg-grey-light {
  background-color: #e1d8d6 !important;
}
.orange {
  color: #ff5f00 !important;
}
.bg-orange {
  background-color: #ff5f00 !important;
}
.white {
  color: #fff !important;
}
.bg-white {
  background-color: #fff !important;
}
.flex-v-center,
.flex-center,
.box-link,
.slick-slide .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-center,
.box-link,
.slick-slide .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clearfix:after,
.video-overflow:after {
  display: block;
  content: "";
  clear: both;
}
.list-unstyled,
.breadcrumb ul,
.main-nav .primary ul {
  padding: 0;
  margin: 0;
}
.list-unstyled li,
.breadcrumb ul li,
.main-nav .primary ul li {
  list-style: none;
}
.list-inline li,
.breadcrumb ul li,
.main-nav .primary ul li {
  display: inline-block;
}
.container-xl,
.container-fluid {
  width: 1620px;
  margin: 0 auto;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 992px) {
  .container-fluid {
    padding-left: 60px;
    padding-right: 60px;
  }
}
a {
  outline: none;
}
a,
a:hover {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
  color: #ff5f00;
}
strong {
  color: #ff5f00;
}
.title,
.title-md,
.title-lg,
.title-md-lg,
.title-xl,
.title-md-xl,
.title-lg-xl,
.title-md-lg-xl,
.grid__title {
  color: #ff5f00;
  font-family: "Blair Light";
  text-transform: uppercase;
  line-height: 1.2;
  width: 100%;
  margin: 0;
  position: relative;
}
.title strong,
.title-md strong,
.title-lg strong,
.title-md-lg strong,
.title-xl strong,
.title-md-xl strong,
.title-lg-xl strong,
.title-md-lg-xl strong,
.grid__title strong {
  font-family: "Blair Bold";
}
.title-md,
.title-md-md,
.title-lg-md,
.title-md-lg-md,
.title-xl-md,
.title-md-xl-md,
.title-lg-xl-md,
.title-md-lg-xl-md,
.grid__title-md,
.grid__title {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .title-md,
  .title-md-md,
  .title-lg-md,
  .title-md-lg-md,
  .title-xl-md,
  .title-md-xl-md,
  .title-lg-xl-md,
  .title-md-lg-xl-md,
  .grid__title-md,
  .grid__title {
    font-size: 24px;
  }
}
.title-lg,
.title-md-lg,
.title-lg-lg,
.title-md-lg-lg,
.title-xl-lg,
.title-md-xl-lg,
.title-lg-xl-lg,
.title-md-lg-xl-lg,
.grid__title-lg {
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .title-lg,
  .title-md-lg,
  .title-lg-lg,
  .title-md-lg-lg,
  .title-xl-lg,
  .title-md-xl-lg,
  .title-lg-xl-lg,
  .title-md-lg-xl-lg,
  .grid__title-lg {
    font-size: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .title-lg,
  .title-md-lg,
  .title-lg-lg,
  .title-md-lg-lg,
  .title-xl-lg,
  .title-md-xl-lg,
  .title-lg-xl-lg,
  .title-md-lg-xl-lg,
  .grid__title-lg {
    font-size: 36px;
  }
}
.title-xl,
.title-md-xl,
.title-lg-xl,
.title-md-lg-xl,
.title-xl-xl,
.title-md-xl-xl,
.title-lg-xl-xl,
.title-md-lg-xl-xl,
.grid__title-xl {
  font-size: 26px;
}
@media screen and (min-width: 768px) {
  .title-xl,
  .title-md-xl,
  .title-lg-xl,
  .title-md-lg-xl,
  .title-xl-xl,
  .title-md-xl-xl,
  .title-lg-xl-xl,
  .title-md-lg-xl-xl,
  .grid__title-xl {
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .title-xl,
  .title-md-xl,
  .title-lg-xl,
  .title-md-lg-xl,
  .title-xl-xl,
  .title-md-xl-xl,
  .title-lg-xl-xl,
  .title-md-lg-xl-xl,
  .grid__title-xl {
    font-size: 60px;
  }
}
.title-square:before,
.title-md-square:before,
.title-lg-square:before,
.title-md-lg-square:before,
.title-xl-square:before,
.title-md-xl-square:before,
.title-lg-xl-square:before,
.title-md-lg-xl-square:before,
.grid__title-square:before {
  font-size: 36px;
  position: absolute;
  content: '■';
  left: -10%;
}
.text-md {
  font-size: 18px;
}
.text-lg {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .text-lg {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .text-lg {
    font-size: 26px;
  }
}
body {
  color: #5f6061;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  max-width: 1920px;
  overflow-x: hidden;
  min-width: 320px;
}
hr {
  margin: 0;
  background: #e1d8d6;
  border: 0;
  height: 1px;
}
.bg-twt {
  background: url("../img/ui/bg-twt.png") no-repeat left center #fff;
}
.bg-dark,
.divisioni {
  background: url("../img/ui/bg-dark.jpg") fixed no-repeat left top;
  background-size: cover;
}
.bg-light-mark,
.contatti__separator .container-fluid:before,
.contatti__form .container-fluid:before {
  background: url("../img/ui/mark-light.svg") no-repeat right -750px top -200px #f1f0ef;
}
.bg-header {
  background: url("../img/ui/bg-header.jpg") no-repeat center top;
}
.shadow-lg,
.fullslider .slick-slider,
.contatti__separator .container-fluid:before,
.contatti__form .container-fluid:before {
  -webkit-box-shadow: 73px 73px 73px rgba(0,0,0,0.17);
          box-shadow: 73px 73px 73px rgba(0,0,0,0.17);
}
.box-link {
  position: relative;
  text-align: center;
  pointer-events: none;
}
.box-link img,
.box-link__cta {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.box-link__cta {
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ff5f00;
  position: absolute;
  opacity: 0;
  border-bottom: 3px solid #ff5f00;
}
.box-link:after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  -webkit-box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
          box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  top: 0;
  left: 0;
}
.box-link:hover {
  z-index: 1;
}
.box-link:hover img {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}
.box-link:hover .box-link__cta {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  opacity: 1;
  z-index: 1;
}
.box-link:hover:after {
  opacity: 1;
}
.breadcrumb {
  font-size: 14px;
}
.breadcrumb li:not(:last-child):after {
  content: '■';
  font-size: 7px;
  margin: 0 5px 0 8px;
  display: inline-block;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  color: #e1d8d6;
}
.breadcrumb a {
  color: #5f6061;
  font-weight: bold;
}
.video-overflow {
  position: relative;
}
.video-overflow__play {
  width: 100px;
  height: 100px;
  background: url("../img/ui/play.svg") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: calc(50% - 50px);
  pointer-events: none;
}
.video-overflow video {
  float: right;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  cursor: pointer;
}
@media screen and (max-width: 577px) {
  .video-overflow video {
    margin-right: -20px;
    width: calc(100% + 40px) !important;
  }
}
.grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #fff;
}
.grid__mark {
  width: 110px;
  height: 50px;
  margin-right: 20px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.grid__title {
  color: #fff;
}
.banner-title {
  background-size: cover;
  background-attachment: fixed;
}
.banner-title .container {
  height: 300px;
}
@media screen and (min-width: 768px) {
  .banner-title .container {
    height: 500px;
  }
}
@media screen and (min-width: 1600px) {
  .banner-title .container {
    height: 780px;
  }
}
.banner-title [class*="title"],
.banner-title [class*="title"] strong {
  color: #fff;
}
.hexagons .image img {
  max-width: 200px;
}
@media screen and (min-width: 768px) {
  .hexagons .image img {
    max-width: 100%;
  }
}
.reveal {
  visibility: hidden;
}
.reveal-wrap {
  overflow: hidden;
  padding-top: 3%;
}
.main-nav {
  position: fixed;
  z-index: 100;
  width: 100%;
}
.main-nav:before {
  content: '';
  width: 100%;
  height: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)), to(transparent));
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), transparent);
  position: fixed;
  z-index: 99;
  pointer-events: none;
}
.main-nav a {
  font-size: 13px;
  color: #fff;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.main-nav a:hover {
  text-decoration: none;
  color: #ff5f00;
}
.main-nav .primary,
.main-nav .secondary {
  position: relative;
  z-index: 100;
}
.main-nav .primary ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Blair Md";
}
.main-nav .primary li {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.main-nav .primary li:hover .dropdown-menu {
  display: block;
}
.main-nav .primary li.active a {
  color: #ff5f00;
}
.main-nav .primary a {
  font-size: 10px;
  font-family: "Blair Bold";
}
.main-nav .primary .twt {
  margin: 0 30px;
}
.main-nav .primary .twt img {
  width: 36px;
  height: 36px;
}
@media screen and (min-width: 576px) {
  .main-nav .primary .twt img {
    width: 140px;
    height: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav .primary a {
    font-size: 12px;
  }
  .main-nav .primary .twt img {
    width: 236px;
    height: 60px;
  }
}
@media screen and (min-width: 1600px) {
  .main-nav .primary a {
    font-size: 13px;
  }
  .main-nav .primary .twt {
    margin: 0 90px;
  }
}
.main-nav .secondary {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  text-align: right;
  padding-top: 20px;
}
.main-nav .secondary a,
.main-nav .secondary strong {
  color: #fff;
}
.main-nav .secondary a {
  margin-left: 30px;
}
.main-nav .secondary img {
  vertical-align: baseline;
}
.main-nav .lang-country {
  color: #e1d8d6;
}
.main-nav .lang-country__lg {
  font-weight: bold;
  color: #fff;
  margin-right: 3px;
}
.main-nav .lang-country__country {
  margin-left: 3px;
}
.main-nav .dropdown-menu,
.main-nav .dropdown-item {
  background: none;
}
@media screen and (min-width: 768px) {
  .main-nav:before {
    height: 140px;
  }
}
.main-nav .primary {
  padding-top: 20px;
}
.main-nav .primary li {
  padding-left: 15px;
  padding-right: 15px;
}
.main-nav .primary .spacer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.main-nav .primary .twt {
  visibility: visible;
  margin: 0;
}
.main-footer {
  font-size: 14px;
  font-weight: 600;
}
.main-footer strong {
  color: #ff5f00;
}
.main-footer .prefooter {
  display: none;
}
.main-footer .prefooter__title {
  font-family: "Blair Light";
}
.main-footer .links:not(:last-child) {
  margin-bottom: 50px;
}
.main-footer .links a {
  display: block;
  color: #5f6061;
}
.main-footer .newsletter input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 0;
}
.main-footer .socials a {
  font-size: 24px;
  color: #ff5f00;
  margin-right: 5px;
}
.main-footer .bottom a {
  text-decoration: none;
  color: #5f6061;
}
.hero {
  overflow: hidden;
  text-align: center;
  font-family: "Blair Light";
}
.hero strong {
  font-family: "Blair Md";
  color: #fff;
}
.hero .slick-slider {
  margin-bottom: 50px;
}
.slick-dots {
  bottom: -56px;
}
.slick-slide {
  position: relative;
  overflow: hidden;
}
.slick-slide .image {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  background-position: center center;
  background-size: cover;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.slick-slide video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
  cursor: url("../img/ui/close.svg"), auto;
}
.slick-slide .btn-play {
  display: inline-block;
  text-align: center;
}
.slick-slide .btn-play img {
  display: inline;
}
.slick-slide .wrapper {
  height: calc(100vh - 60px);
  min-height: 280px;
}
.slick-slide .wrapper.video-playing .image,
.slick-slide .wrapper.video-playing .copy {
  opacity: 0;
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .slick-slide .wrapper {
    min-height: 500px;
  }
}
.slick-slide .copy {
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  position: relative;
  z-index: 2;
}
.slick-slide h2 {
  color: #fff;
}
.slick-slide {
  outline: none;
}
.slick-dots li button:before {
  font-size: 11px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.slick-dots li button:hover:before {
  opacity: 0.5;
  color: #ff5f00;
}
.slick-dots li.slick-active button:before {
  color: #ff5f00;
}
.fullslider img {
  max-height: 300px;
}
.fullslider .slick-slide {
  margin-left: 6px;
  margin-right: 6px;
}
@media screen and (min-width: 992px) {
  .fullslider img {
    max-height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .fullslider img {
    max-height: 600px;
  }
}
.btn {
  font-weight: 900;
  font-size: 13px;
  margin-bottom: 5px;
  display: block;
  font-family: 'Lato', sans-serif;
  color: #ff5f00;
  text-transform: uppercase;
  border: 3px solid #ff5f00;
  padding: 15px 15px;
  background: none;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: 1;
}
.btn-inline {
  margin-right: 5px;
}
.btn:after {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  background: #ff5f00;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.btn:hover {
  color: #fff;
  text-decoration: none;
}
.btn:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
@media (min-width: 340px) {
  .btn {
    display: inline-block;
  }
}
@media screen and (min-width: 768px) {
  .btn {
    padding: 15px 25px;
  }
}
.btn-play img {
  width: 80px;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .btn-play img {
    width: 100px;
    height: 100px;
  }
}
.form-error,
.form-control.error,
.custom-checkbox.error .custom-control-indicator {
  -webkit-box-shadow: -5px 0 #f00;
          box-shadow: -5px 0 #f00;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}
.form-control {
  border-bottom: 1px solid #5f6061;
  margin-bottom: 60px;
  background: none;
}
.form-control:focus {
  border-bottom-color: #ff5f00;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
}
textarea.form-control {
  border: 1px solid #5f6061;
}
textarea.form-control:focus {
  border-color: #ff5f00;
}
.form-inline {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.custom-checkbox {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #5f6061;
  display: block;
}
.custom-control-indicator {
  background: none;
  border: 1px solid #5f6061;
}
.custom-control-indicator:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.custom-control-input:checked ~ .custom-control-indicator {
  background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='%235f6061' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/></svg>");
  background-color: #ff5f00;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}
button {
  cursor: pointer;
  background: none;
  border: 0;
}
label {
  font-size: 12px;
  font-family: "Blair Bold";
  color: #ff5f00;
}
.required-info {
  font-size: 14px;
  color: #ff5f00;
}
.home-intro {
  background-position: left 250px;
}
.divisioni {
  color: #fff;
}
.divisioni-mask,
.divisioni__title:before,
.divisioni__items:before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  background: #fff;
  left: 0;
  top: -70%;
}
@media screen and (min-width: 992px) {
  .divisioni-mask,
  .divisioni__title:before,
  .divisioni__items:before {
    top: -50%;
  }
}
.divisioni__title {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.divisioni__title:before {
  top: 0;
}
.divisioni__items {
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 1600px) {
  .divisioni__items .row {
    padding-left: 200px;
  }
}
.divisioni__item {
  color: #fff;
  font-family: "Blair Light";
  -webkit-transition: all 0.4s ease-out 0;
  transition: all 0.4s ease-out 0;
}
.divisioni__item .thumb {
  max-width: 80%;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.divisioni__item strong {
  font-family: "Blair Md";
  display: block;
  color: #fff;
  -webkit-transition: all 0.4s ease-out 0;
  transition: all 0.4s ease-out 0;
}
.divisioni__item__title {
  font-size: 18px;
  position: relative;
  line-height: 1;
  border-left: 4px solid #fff;
  padding-left: 15px;
  -webkit-transition: all 0.4s ease-out 0;
  transition: all 0.4s ease-out 0;
}
.divisioni__item__title img {
  display: none;
}
.divisioni__item:hover {
  text-decoration: none;
}
.divisioni__item:hover,
.divisioni__item:hover strong {
  color: #ff5f00;
}
.divisioni__item:hover .thumb {
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}
.divisioni__item:hover .divisioni__item__title {
  border-color: #ff5f00;
}
@media screen and (min-width: 1200px) {
  .divisioni__item .thumb {
    max-width: 100%;
  }
  .divisioni__item__title {
    font-size: 24px;
    border: 0;
    padding-left: 0;
  }
  .divisioni__item__title img {
    display: block;
    position: absolute;
    left: -40px;
  }
}
.divisioni__copy strong {
  color: #ff5f00;
}
.contatti__separator,
.contatti__form {
  position: relative;
  z-index: 1;
}
.contatti__separator .container-fluid:before,
.contatti__form .container-fluid:before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}
.contatti__separator .container,
.contatti__form .container {
  padding-bottom: 240px;
}
@media screen and (min-width: 768px) {
  .contatti__form .container-fluid:before {
    left: auto;
  }
}
@media screen and (min-width: 992px) {
  .contatti__form .container-fluid:before {
    top: -6%;
  }
}

/*# sourceMappingURL=css/main.css.map */
