<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="robots" content="noindex">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">

	<title>Teamsystem HR</title>

	<!-- Bootstrap core CSS -->
	<link href="people/vendor/bootstrap/custom/css/bootstrap.min.css" rel="stylesheet">

	<!-- Font -->
	<script type="text/javascript" src="//use.typekit.net/qpe5kzh.js"></script>	

	<!-- Custom fonts for this template -->
	<link href="people/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="people/vendor/slick/slick-theme.css" rel="stylesheet" type="text/css">
	<link href="people/vendor/slick/slick.css" rel="stylesheet" type="text/css">
	<link href="people/vendor\animate.css\animate.min.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,100,300,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Eczar:400,500,600,900" rel="stylesheet">
	<link href="people/vendor/open-iconic/css/open-iconic-bootstrap.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="people/css/main.css" rel="stylesheet">

</head>

<body>

	
	<!-- ***********************************
		Main nav
	************************************ -->
	<section class="main-nav mb-5 mb-md-6">
		<div class="container">
			<nav class="navbar">
				<a class="navbar-brand" href="?home">
					<img src="people/img/ts-people.png" alt="">
				</a>
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				 aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				
			
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="?people">People <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="?percorsi">Percorsi</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="?eventi">Eventi</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="?tslife">TS Life</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="?posizioni">Posizioni aperte</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</section>


		<!-- ***********************************
			Home
		************************************ -->	
		<div data-page="home">
			<nav class="home-nav">
				<div class="container">
					<div class="row">
						<div class="col">
							<img src="people/img/ts-people.png" class="home-nav__logo" alt="">
						</div>
						<div class="col" v-for="item in links">
							<a :href="'?' + item.id" :title="item.label">{{ item.label }}</a>
						</div>		
					</div>
				</div>
			</nav>
			<section class="main-body">
				<img src="people/img/home/bg.jpg" class="home-bg d-none d-lg-block" alt="">
				<img src="people/img/home/bg-tablet.jpg" class="home-bg d-none d-md-block d-lg-none" alt="">
				<img src="people/img/home/bg-smartphone.jpg" class="home-bg d-md-none" alt="">
			</section>
		</div>



		<!-- ***********************************
			People
		************************************ -->	
		<div data-page="people">
			<section class="main-body">
				<div class="container">
					<h1 class="mb-3 mb-sm-5 ">
						People
					</h1>
					<div class="people__areas">
						<a href="?people-dettaglio" v-for="area in areas" class="people__areas__item mb-3 wow fadeInUp30" :style="'background-image:url(people/img/people/' + area.id + '.jpg)'">
							<div>
								<h2>{{ area.label | capitalize }}</h2>
								<span>Scopri di più </span>
								<ts-icon symbol="next"></ts-icon>
							</div>
						</a>
					</div>
				</div>
			</section>
		</div>
	

		<!-- ***********************************
			People dettaglio
		************************************ -->	
		<div data-page="people-dettaglio">
			<section class="main-body">
				<div class="container">
					<div class="row mb-3">
						<div class="col-md-6 wow fadeInUp30">
							<h2 class="section-name">People</h2>
							<h1 class="mb-3 mb-sm-5 ">
								Area 1
							</h1>
							<div class="copy mb-3">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque ligula aliquam eros laoreet accumsan. Aenean imperdiet ornare mattis. Pellentesque porttitor ut quam eget iaculis. Nulla consequat, lectus ut convallis auctor, eros quam tincidunt sem, nec accumsan risus elit in eros. Sed sed tempus dui. Ut justo est, lacinia id dignissim a, efficitur at nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin sed augue vehicula, ultricies dui ut, accumsan neque.
							</div>
						</div>
						<div class="col-md-6 wow fadeInUp30">

							<!-- Facemosaic -->
							<div class="facemosaic">
								<transition name="fade">
									<article class="facemosaic__detail" v-show="detailVisible">
										<div>
											<button class="facemosaic__detail__close" @click="detailVisible = false">
												<ts-icon symbol="x" color="#3f90cf"></ts-icon>
												<span>chiudi</span>
											</button>
											<img :src="selectedPerson.picture.large" alt="">
											<div class="facemosaic__detail__copy">
												<h4>{{ selectedPerson.name.first | capitalize }} {{ selectedPerson.name.last | capitalize }}</h4>
												<p>In TeamSystem da {{ selectedPerson.id.value }} anni </p>
											</div>									
										</div>
									</article>
								</transition>
								<div class="facemosaic__mosaic" 
									:style="'height:' + (tileSize * mosaic.cols) + 'px;'"
									@mouseover="stopAutoplay"
									@mouseout="startAutoplay"
									>	
									<div class="facemosaic__wrapper" :style="'height:' + (tileSize * mosaic.cols) + 'px; width:' + Math.floor(tileSize * mosaic.cols + 20) + 'px;'">
										<div class="facemosaic__scroller" 
											:style="'width:' + Math.floor(tileSize * mosaic.cols) + 'px;'">
											<facemosaic-person 
												v-for="person, index in people" 
												cta="dettagli"
												:person="person"                   
												:index="index"                   
												:key="index" 
												:tile-size="tileSize"                  
												:stop-autoplay="stopAutoplay"                  
												:start-autoplay="startAutoplay"
												@opendetail="setSelectedPerson"                  
											>      
											</facemosaic-person>
										</div> 
									</div>
								</div> 
							</div>
							<!-- /Facemosaic -->

						</div>
					</div>
					<div class="row">
						<div class="col">
							<a href="" class="text-link--back">
								back</a>
						</div>
						<div class="col text-right">
							<a href="" class="text-link ">candidati</a>
						</div>
					</div>
				</div>
			</section>
		</div>


		<!-- ***********************************
			Percorsi
		************************************ -->
		<div data-page="percorsi">		
		
			<section class="percorsi__header header-default mb-5">
				<div class="container">
					<h1 class="posizione__header__name">
						Percorsi
					</h1>
				</div>
			</section>
			<section class="main-body">
				<div class="container">
					<div class="copy mb-5">
							Innovazione, tenacia, creatività e curiosità: queste le caratteristiche delle nostre Persone impegnate giornalmente nel miglioramento e nello sviluppo 
							delle nostre soluzioni software. Linguaggi di programmazione: VB6, Javascript, Vb.Net,C#, Python, Asp.Net, Cobol, AcuCobol, Html, Html5.
							Framework e WebPlatform: Abstract, Dojo, JQuery, Spring, Hybernate, Entity Framework Database: DB2, SQlServer, Postgress, MySql, Oracle.
					</div>
					<section class="percorsi__tabs">
						<header class="percorsi__tabs__header">
							<div class="row mb-3">
								<div class="col-sm-4 mb-4 mb-sm-0" v-for="item in programs">
									<a href="/" @click.prevent="showDetail(item.id)"> 									
										<img :src="'people/img/percorsi/' + item.id + '.svg'" class="percorsi__tabs__logo" alt="">
										<footer>
											<img src="people/img/ui/down--blue.svg" width="18" alt="">
										</footer>
									</a>								
								</div>
							</div>
						</header>
						<section>
							<div class="percorsi__tabs__detail" :data-program="detail.id" v-for="detail in programs">
								<button class="percorsi__tabs__close" @click="closeDetail()">
									<ts-icon symbol="x" color="#3f90cf"></ts-icon>
								</button>
								<img :src="'people/img/percorsi/' + detail.id + '.svg'" class="percorsi__tabs__logo mb-4" alt="">
								<h2 class="title mb-2">{{ detail.label }}</h2>
								<div class="copy mb-3">
									Innovazione, tenacia, creatività e curiosità: queste le caratteristiche delle nostre Persone impegnate giornalmente nel miglioramento
									e nello sviluppo delle nostre soluzioni software. Linguaggi di programmazione: VB6, Javascript, Vb.Net,C#, Python, Asp.Net,
									Cobol, AcuCobol, Html, Html5. Framework e WebPlatform: Abstract, Dojo, JQuery, Spring, Hybernate, Entity Framework Database:
									DB2, SQlServer, Postgress, MySql, Oracle.
								</div>
								<ul>
									<li>Talent search</li>
									<li>Training</li>
									<li>On the Job</li>
									<li>Staffing</li>
								</ul>
								<footer class="text-right">
									<a href="" class="text-link">CANDIDATI</a>
								</footer>
							</div>
						</section>
						<footer class="percorsi__tabs__tree" :class="{isOpen: isDetailOpen}">
							<img src="people/img/percorsi/albero.svg" alt="">
						</footer>
					</section>
					
				</div>
			</section>
		</div>


		<!-- ***********************************
			Eventi
		************************************ -->	
		<div data-page="eventi">
			<section class="main-body">
				<div class="container">
					<h1 class="mb-3 mb-sm-5 ">
						Eventi
					</h1>
				</div>
				<div class="eventi__slider__wrap">
					<div class="container">
						<div class="eventi__slider__desc eventi__slider__desc--visible"></div>
							<div class="eventi__slider mb-5 mb-sm-6">						
								<div v-for="item, index in 3">
									<div class="eventi__slider__desc">
										<h3 class="type">
											Evento lorem {{index}}
										</h3>
										<small class="location">
											Location {{ index }}
										</small>
									</div>
									<img :src="'people/img/eventi/slider-' + index + '.jpg'" alt="">
								</div>
						</div>	
					</div> 
				</div>		
				<div class="eventi__lista">
					<div class="container">					
						<h2 class="title mb-5 mb-sm-6">
							I prossimi eventi a cui parteciperemo
						</h2>
						<div class="eventi__articoli">
							
							<!-- Articolo -->
							<a href="" class="eventi__articolo row mb-5 wow fadeInUp30" v-for="item, index in 6">
								<div class="eventi__articolo__image col-xs-12 col-sm-4 col-md-6 mb-3">
									<div class="data">
										<div class="dd">7</div>
										<div class="mmyy">
											<span class="mm">giu</span>
											<span class="yy">2017</span>
										</div>	
									</div> 
									<img src="people/img/eventi/articolo.jpg" alt="">
								</div>
								<div class="eventi__articolo__copy col-xs-12 col-sm-8 col-md-6">
									<h3 class="title">Politecnico di Milano {{index}} {{ index % 2 }}</h3>
									<div>
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. 
									</div>
									<span class="text-link">Leggi di più</span>		
								</div>
							</a>
							<!-- /Articolo -->

						</div>
					</div>
				</div>
			</section>
		</div>



		<!-- ***********************************
			TS LIFE
		************************************ -->	
		<div data-page="tslife">
			<section class="main-body">
				<div class="container">
					<h1 class="mb-3 mb-sm-5">
						TeamSystem Life
					</h1>
				</div>

				<div class="tslife__list">
					<div class="container">

						<!-- Article -->
						<article class="tslife__article wow fadeInUp30 mb-6" 
							v-for="item, index in 4">
							<div class="row">	

								<img class="tslife__article__bg" src="people/img/tslife/header.jpg" alt="" v-if="index % 2 === 0">
								<img class="tslife__article__bg" src="people/img/tslife/header-2.jpg" alt="" v-if="index % 2 !== 0">

								<div class="tslife__article__event col-xs-12 col-md-6">
									<header class="tslife__article__header">
										<h4 class="title">Evento direzione tecnico professionale</h4>
										<time class="date">10.11.2017</time>
									</header>
									<div class="tslife__article__body mb-4">
										<h4 class="tslife__article__location">Luogo</h4>
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									</div>
									<a href="" class="text-link">Leggi di più</a>
								</div>

								<div class="tslife__article__person col-xs-12 col-md-5">
									<header class="tslife__article__header tslife__article__person__header mb-4 mb-md-0">
										<div class="mb-3">	<img src="people/img/tslife/person.jpg" alt=""> </div>
										<div class="pl-md-3">
											<h4 class="title">Antonella Elia</h4>
											<time class="date">10.10.2017</time>
										</div>
									</header>
									<div class="tslife__article__body">
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
									</div>
								</div>
							</div>


<!-- 
							<header>
								<img src="people/img/tslife/header.jpg" alt="">
							</header>
							
							<h3 class="title">Middle Year Event</h3>
							<time class="subtitle">7.06.2017</time>
							<div class="thumb mb-3" style="background-image:url(http://via.placeholder.com/600x190)"></div>	
							<div class="copy">
								<h4>Evento direzione tecnico professionale</h4>
								<div>
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
								</div>
								<a href="" class="text-link">Leggi di più</a>
							</div>
						</article>
						<article class="tslife__article tslife__article--person col-lg-4"
							:class="{'order-2': (index % 2) === 0, 'order-1': (index % 2) !== 0, 'ml-auto': (index % 2) === 0}">
							<h3 class="title">Marco</h3>
							<time class="subtitle">Responsabile area test Alyante</time>
							<div class="thumb mb-3">
								<img src="http://via.placeholder.com/190x190">
							</div>		
							<div class="copy">
									<h4>Evento direzione tecnico professionale</h4>
									<div>
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									</div>
									<a href="" class="text-link">Leggi di più</a>
								</div> -->
						</article>
						<!-- /Article -->
							
					</div>
				</div>
			</section>
		</div>


		<!-- ***********************************
			Posizioni
		************************************ -->
		<div data-page="posizioni">
			<section class="main-body">
				<div class="container">
					<div class="row mb-3 mb-sm-5 posizioni__header sticky">
						<div class="col-lg-6">
							<h1 class="">
								Posizioni aperte
							</h1>							
						</div>
						<div class="col-lg-6 posizioni__filtro">
							<form action="" class="form-inline">
								<label for="">
									Filtra per Sede:
								</label>							
								<select class="form-control mx-3" v-model="filter.selectedLocation">
									<option value="all"> Tutte </option>
									<option :value="k" v-for="k in locations"> {{ k | capitalize }}</option>
								</select>
							</form>
						</div>
					</div>
					
					<div class="posizioni__risultati mb-5">
						<transition-group 
							name="fade" 	
							tag="div" 
							class=""
							v-bind:css="false"									
							@before-enter="beforeEnter"
							@enter="enter"
							@leave="leave">
								<article 
									class="posizioni__item align-middle" 
									:class="position.dept.id"
									v-for="(position, index) in filteredList"
									:key="index"
									:data-index="index">
									<a href="?posizioni-dettaglio" :title="position.location">
										<div class="posizioni__desc">
											<span class="posizioni__item__name">Posizione {{ index }}</span>
											<span class="text-link">{{position.dept.label}} </span>
											<!-- {{ person.name.title | capitalize }} {{ person.name.first | capitalize }} {{ person.name.last | capitalize }} -->
										</div>
									</a>
								</article>
							</transition-group>
					</div>

					<footer>
						<a href="" class="text-link--back">
							Back</a>
					</footer>
				</div>
			</section>
		</div>


		<!-- ***********************************
			Posizioni dettaglio
		************************************ -->
		<div data-page="posizioni-dettaglio">

			<section class="posizione__header factory mb-5">
				<div class="container">
					<h1 class="posizione__header__name">
						Posizione 1
					</h1>
					<h2 class="posizione__header__dept">
						Factory
					</h2>
				</div>
			</section>
			<section class="main-body">
				<div class="container">
					<div class="row mb-3">
						<div class="col-lg-7 wow fadeInUp30">
							<div class="copy mb-3">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque ligula aliquam eros laoreet accumsan. Aenean
								imperdiet ornare mattis. Pellentesque porttitor ut quam eget iaculis. Nulla consequat, lectus ut convallis auctor,
								eros quam tincidunt sem, nec accumsan risus elit in eros. Sed sed tempus dui. Ut justo est, lacinia id dignissim a,
								efficitur at nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin
								sed augue vehicula, ultricies dui ut, accumsan neque.
							</div>
							<footer class="row mb-3">
								<div class="col">
									<a href="" class="text-link text-link--back text-link--back--blue">
										Back</a>
								</div>
								<div class="col text-right">
									<a href="" class="text-link">
										Candidati</a>
								</div>
							</footer>
						</div>
						<div class="col-lg-3 ml-auto wow fadeInUp30">	
							<dl class="posizione__details">
								<dt>Area aziendale</dt>
								<dd>lorem ipsum dolor sit amet</dd>
								<dt>Tipologia contrattuale</dt>
								<dd>Full time</dd>
								<dt>Sede</dt>
								<dd>Pesaro</dd>
								<dt>Tipo di impiego</dt>
								<dd>01.06.2017</dd>	
								<dt>Livello di esperienza</dt>
								<dd>Medio-alto</dd>								
							</dl>	
						</div>
					</div>
		
				</div>
			</section>
		</div>





		<!-- ***********************************
			Styleguide
		************************************ -->
		<div data-page="styleguide">
			<section class="main-body">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<h1 class="main-title">.main-title</h1>
							<a class="text-link">.text-link</a>
						</div>
					</div>
					<div class="ts_life__list">
						<div class="row">
							<article class="event col-lg-6">
								<h3 class="title">Middle Year Event</h3>
								<time class="subtitle">7.06.2017</time>
								<div class="thumb" style="background-image:url(http://via.placeholder.com/600x190)"> </div>
								<div class="copy">
									<h4>Evento direzione tecnico professionale</h4>
									<div>
									</div>
									<a class="text-link">Leggi di più</a>
								</div>
							</article>
							<article class="person col-lg-4 ml-auto">
								<h3 class="title">Marco</h3>
								<time class="subtitle">Responsabile area test Alyante</time>
								<img src="http://via.placeholder.com/190x190">
							</article>
						</div>
					</div>
					<section>
						<h2>Icone</h2>
						<ts-icon symbol="prev" color="black"></ts-icon>
						<ts-icon symbol="next" color="black"></ts-icon>
						<ts-icon symbol="x" color="black"></ts-icon>
					</section>
					<section>
							<a href="" class="text-link text-link--back text-link--back--blue">
									Back</a>
					</section>
				</div>
			</section>
		</div>


		<!-- ***********************************
			Footer
		************************************ -->	
		<footer class="main-footer mt-3 mt-sm-6">
			<div class="container">
				<nav class="breadcrumb">
					<a class="breadcrumb-item" href="#">Home</a>
					<a class="breadcrumb-item" href="#">People</a>
					<span class="breadcrumb-item active">Area 1</span>
				</nav>

				<div class="main-footer__divisions">
					<nav class="">
						<a class="" href="#" v-for="division in divisions">
							<img :src="'people/img/loghi/' + division + '.svg'" alt="">
						</a>						
					</nav>
					<a class="teamsystem" href="#">
						<img src="people/img/loghi/teamsystem_simbolo.svg" alt="">
					</a>
				</div>

			</div>


			<div class="main-footer__service">
				<div class="container">
					<div class="row">
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link" href="#">Network Teamsystem</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Terms &amp; conditions</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Mappa del sito</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="main-footer__copyright">
						© Copyright 2017 - TeamSystem S.p.A. società con socio unico soggetta all’attività di direzione e coordinamento di TeamSystem Holding S.p.A.<br>
						Cap. Soc. € 24.000.000 I.v. - C.C.I.A.A. di Pesaro e Urbino - P.I. 01035310414 - Sede Legale: Via Sandro Pertini, 88 - 61122 Pesaro (PU) - Tutti i diritti riservati
				</div>
				<div class="main-footer__bottom">
					<div class="row">
						<ul class="nav main-footer__credits">
							<li class="nav-item">
								<a class="nav-link" href="#">
									<img src="people/img/loghi/acanto.svg" alt="">
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<img src="people/img/loghi/websolute.svg" alt="">
								</a>
							</li>
						</ul>
						<div class="main-footer__social">
							Seguici su
							<a href="">
								<img src="people/img/loghi/linkedin.png" alt="">
							</a>
							<a href="">
								<img src="people/img/loghi/youtube.png" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>

		</footer>

	




	<script src="people/vendor/lodash/lodash.min.js"></script>
	<script src="people/vendor/velocity-animate/velocity.min.js"></script>

	<!-- Bootstrap core JavaScript -->	
	<script src="people/vendor/jquery/jquery.min.js"></script>
	<script src="people/vendor/popper/popper.min.js"></script>
	<script src="people/vendor\tether\js\tether.min.js"></script>
	<script src="people/vendor/bootstrap/js/bootstrap.min.js"></script>

	<!-- Libraries -->
	<script src="people/vendor/jquery-easing/jquery.easing.min.js"></script>
	<!-- <script src="people/vendor/jquery.stellar/jquery.stellar.js"></script> -->
	<script src="people/vendor/slick/slick.min.js"></script>
	<script src="people/vendor/wowjs/dist/wow.min.js"></script>	
	<script src="people/vendor/vue/vue.js"></script>
	<script src="people/vendor/stickyfilljs/stickyfill.min.js"></script>

	<!-- Teamsystem font -->
	<script type="text/javascript" src="//use.typekit.net/xgp5dft.js"></script>
	<script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>


	<!-- Contact form JavaScript -->
	<!-- <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script> -->

	<!-- JS Websolute -->
	<script src="people/js/vue-components.js"></script>
	<script src="people/js/montaggio-statico.js"></script>
	<script src="people/js/facemosaic.js"></script>
	<script src="people/js/posizioni.js"></script>	
	<script src="people/js/main.js"></script>

</body>

</html>