.color-detail .prod-name,
.color-detail .color-name,
.color-detail .title {
  font-family: "AndesCndW04-Lt", sans-serif;
}
/* -----------------------
  Colori
----------------------- */
/* ------------------------------
  Filtri
------------------------------ */
.color-filter {
  border: 0;
  background: #000;
  cursor: pointer;
  -webkit-transition: all 0.2s cubic-bezier(0.33, 0, 0, 1);
  -o-transition: all 0.2s cubic-bezier(0.33, 0, 0, 1);
  transition: all 0.2s cubic-bezier(0.33, 0, 0, 1);
  padding: 0;
  margin: 0 5%;
  position: relative;
}
.color-filter:focus {
  outline: none;
}
.color-filter:hover {
  background: #333;
}
.color-filter.active {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.color-filter.active:before {
  background: #a3a19f;
  width: 120%;
  height: 120%;
  left: -10%;
  top: -10%;
}
.color-filter.active:after {
  opacity: 1;
}
.color-filter:before,
.color-filter:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.color-filter:before {
  background: #000;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.color-filter:after {
  z-index: -1;
  -webkit-box-shadow: 0 5px 25px;
          box-shadow: 0 5px 25px;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  opacity: 0;
}
.color-filter img {
  width: 50px;
  position: relative;
  z-index: 2;
}
/* ------------------------------
 Color grid
------------------------------ */
.color-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 100%;
  margin-left: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .color-grid {
    max-width: 83.33333%;
    margin-left: 8.33333%;
  }
}
/* ------------------------------
 Color tile
------------------------------ */
.color-tile {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  cursor: pointer;
  position: relative;
  color: #000;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
          box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
}
.color-tile.selected .thumb {
  opacity: 1;
}
.color-tile.unselected .thumb {
  opacity: 0.5;
}
.color-tile:hover .thumb {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}
.color-tile:hover .feats li {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
@media screen and (min-width: 576px) {
  .color-tile {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media screen and (min-width: 992px) {
  .color-tile {
    -ms-flex-preferred-size: 33.333333%;
        flex-basis: 33.333333%;
  }
}
.color-tile .close {
  position: absolute;
  display: block;
  opacity: 1;
  bottom: 0;
  left: 30px;
  width: 30px;
  height: 38px;
  z-index: 4;
  background: url("../../img/ui/x-close.svg") no-repeat center center #272727;
  background-size: 21px 14px;
}
.color-tile .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  height: 100%;
  padding: 30px;
  width: 100%;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.color-tile .feats {
  display: block;
  list-style: none;
  padding: 0;
  font-size: 14px;
  overflow: hidden;
}
.color-tile .feats li {
  display: inline-block;
  margin-right: 15px;
  -webkit-transform: translateY(15px);
      -ms-transform: translateY(15px);
          transform: translateY(15px);
  -webkit-transition: opacity 0.4s cubic-bezier(0.33, 0, 0, 1), -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: opacity 0.4s cubic-bezier(0.33, 0, 0, 1), -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  -o-transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1), opacity 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1), opacity 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1), opacity 0.4s cubic-bezier(0.33, 0, 0, 1), -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .color-tile .feats {
    font-size: 13px;
  }
}
.color-tile .text-link-line {
  pointer-events: none;
}
.color-tile .thumb {
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: opacity 0.4s, -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  -o-transition: opacity 0.4s, transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: opacity 0.4s, transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: opacity 0.4s, transform 0.4s cubic-bezier(0.33, 0, 0, 1), -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  width: 100%;
}
/* ------------------------------
 Color detail
------------------------------ */
.color-detail {
  background: #272727;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  min-height: 300px;
  color: #fff;
  padding-left: 6%;
  padding-right: 6%;
  font-size: 14px;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .color-detail {
    padding-left: 6%;
    padding-right: 6%;
  }
}
.color-detail .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.color-detail .header-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}
@media screen and (min-width: 992px) {
  .color-detail .header-title {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px);
  }
}
.color-detail .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
}
@media screen and (min-width: 992px) {
  .color-detail .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 180px;
  }
}
@media screen and (min-width: 1600px) {
  .color-detail .intro {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 80px;
  }
}
.color-detail .prod-name,
.color-detail .color-name {
  text-transform: uppercase;
}
.color-detail .prod-name {
  font-size: 24px;
}
.color-detail .color-name {
  font-size: 40px;
}
.color-detail .logo {
  width: 70px;
  height: 70px;
  margin: 0 20px 20px 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.color-detail .formati-speciali {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.color-detail .formati-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.color-detail .formati-list li {
  list-style: none;
  margin: 0 30px 10px 0;
  max-width: 160px;
}
.color-detail .formati-list img {
  margin-bottom: 10px;
}
.color-detail .formati-list p {
  max-width: 160px;
}
.color-detail .formati-list strong,
.color-detail .formati-list span {
  display: block;
}
.color-detail .title {
  color: #a3a19f;
  text-transform: uppercase;
  font-size: 18px;
  display: block;
}
.color-detail .filetto {
  padding-bottom: 100px;
}
.color-detail .filetto:after {
  content: '';
  display: block;
  position: absolute;
  background: #707070;
  height: 1px;
  left: 0;
  width: 100%;
  bottom: 50px;
}
@media screen and (min-width: 992px) {
  .color-detail .filetto {
    padding-bottom: 0;
    padding-right: 8.3333%;
  }
  .color-detail .filetto:after {
    left: initial;
    bottom: initial;
    height: 100%;
    right: 8.3333%;
    width: 1px;
    top: 0;
  }
}
.color-detail .slider .slick-track {
  padding-bottom: 25px;
}
.color-detail .slider .slick-slide {
  cursor: pointer;
}
.color-detail .slider img {
  -webkit-box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
          box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
  max-width: 540px;
  height: auto;
  margin-right: 60px;
}

/*# sourceMappingURL=color-grid.css.map */
