.double-gallery img,
.inverted-gallery .slick-slide img {
  height: 550px;
  width: auto;
}
/* -----------------------
  Double gallery
----------------------- */
.double-gallery {
  overflow: hidden;
}
.double-gallery .title {
  padding: 0 8.3333%;
}
@media screen and (min-width: 576px) {
  .double-gallery .title {
    padding: 0;
  }
}
@media (min-width: 1400px) {
  .double-gallery .title {
    position: absolute;
    bottom: 120px;
  }
}
@media screen and (min-width: 768px) {
  .double-gallery .slick-list {
    overflow: visible;
  }
}
.double-gallery .slick-slide {
  margin-right: 40px;
}
.double-gallery .slick-slide > div {
  margin-bottom: 80px;
}
.double-gallery .slick-slide > div:last-child {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .double-gallery .slick-slide {
    margin-right: 80px;
  }
}
.double-gallery .slick-dots {
  position: static;
}
.double-gallery .slick-nav {
  position: relative;
}
@media print {
  .double-gallery {
    display: none;
  }
}
/* -----------------------
  Inverted Gallery
----------------------- */
.inverted-gallery .slick-list {
  z-index: 2;
}
@media screen and (min-width: 992px) {
  .inverted-gallery .slick-slide {
    margin-right: 80px;
  }
}
@media print {
  .inverted-gallery {
    display: none;
  }
}

/*# sourceMappingURL=galleries.css.map */
