@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
/* -----------------------
  Test carousel
------------------------*/
.test-qa__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: no-repeat right center;
  background-size: contain;
  min-height: 300px;
  padding-right: 150px;
  color: #020202;
}
@media screen and (min-width: 576px) {
  .test-qa__item {
    width: 500px;
  }
}
.test-qa__answer {
  font-weight: 700;
}
/* -----------------------
  Test lanci
------------------------*/
.test-lanci__item {
  position: relative;
  overflow: hidden;
  border: 4px solid #fff;
}
.test-lanci__item:hover .test-lanci__thumb {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.test-lanci__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
}
.test-lanci__material {
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
}
.test-lanci__thumb {
  position: relative;
  z-index: 0;
  width: 100%;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  height: auto;
  display: block;
  margin: 0 auto;
}

/*# sourceMappingURL=life-performance.css.map */
