@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
.news-preview .title {
  font-family: "AndesCndW04-Md", sans-serif;
}
.news-preview .abstract {
  font-family: 'Libre Franklin', sans-serif;
  letter-spacing: 0.6px;
}
.news-preview {
  color: #000;
}
.news-preview .slick-list {
  padding-bottom: 25px;
}
.news-preview .item {
  position: relative;
  background: #fff;
  -webkit-transition: border 0.4s;
  -o-transition: border 0.4s;
  transition: border 0.4s;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  display: block;
}
.news-preview .item:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-shadow: 20px 20px 40px rgba(0,0,0,0.133);
          box-shadow: 20px 20px 40px rgba(0,0,0,0.133);
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0;
}
.news-preview .item,
.news-preview .item:hover * {
  text-decoration: none;
  color: #6d6e72;
}
.news-preview .item:hover {
  z-index: 1;
  border-top: 4px solid #897054;
  border-bottom: 4px solid #897054;
}
.news-preview .item:hover:after {
  opacity: 1;
}
.news-preview .item:hover .title {
  color: #897054;
}
.news-preview img {
  max-width: 100%;
  height: auto;
}
.news-preview .category {
  font-size: 11px;
  text-transform: uppercase;
  display: block;
  color: #000;
}
.news-preview .title {
  font-size: 22px;
  color: #000;
}
.news-preview .abstract {
  font-size: 16px;
  line-height: 1.56;
}

/*# sourceMappingURL=news-preview.css.map */
