@charset "UTF-8";
/*
  File generato con SASS, non modificare direttamente il css,
  per i fix veloci (possibilmente nessuno) usare il file shame.css

  Il foglio di stile usa BEM come name-convention  
  Il responsive è scritto mobile-first
  Per i breakpoint e i relativi mixin vedere utils.scss

  La base è un bootstrap custom (vedere cartella /vendor/bootstrap/custom)  

*/
/*------------------------------------------------
	Fade In 
------------------------------------------------*/
@-webkit-keyframes fadeInUp10 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }
@keyframes fadeInUp10 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp10 {
  -webkit-animation-name: fadeInUp10;
          animation-name: fadeInUp10; }

@-webkit-keyframes fadeInUp20 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp20 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp20 {
  -webkit-animation-name: fadeInUp20;
          animation-name: fadeInUp20; }

@-webkit-keyframes fadeInUp30 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp30 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp30 {
  -webkit-animation-name: fadeInUp30;
          animation-name: fadeInUp30; }

@-webkit-keyframes fadeInUp40 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp40 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp40 {
  -webkit-animation-name: fadeInUp40;
          animation-name: fadeInUp40; }

@-webkit-keyframes fadeInUp50 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp50 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp50 {
  -webkit-animation-name: fadeInUp50;
          animation-name: fadeInUp50; }

@-webkit-keyframes fadeInUp60 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 60px, 0);
            transform: translate3d(0, 60px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp60 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 60px, 0);
            transform: translate3d(0, 60px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp60 {
  -webkit-animation-name: fadeInUp60;
          animation-name: fadeInUp60; }

@-webkit-keyframes fadeInUp70 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 70px, 0);
            transform: translate3d(0, 70px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp70 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 70px, 0);
            transform: translate3d(0, 70px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp70 {
  -webkit-animation-name: fadeInUp70;
          animation-name: fadeInUp70; }

@-webkit-keyframes fadeInUp80 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 80px, 0);
            transform: translate3d(0, 80px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp80 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 80px, 0);
            transform: translate3d(0, 80px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp80 {
  -webkit-animation-name: fadeInUp80;
          animation-name: fadeInUp80; }

@-webkit-keyframes fadeInUp90 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 90px, 0);
            transform: translate3d(0, 90px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp90 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 90px, 0);
            transform: translate3d(0, 90px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp90 {
  -webkit-animation-name: fadeInUp90;
          animation-name: fadeInUp90; }

@-webkit-keyframes fadeInUp100 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
            transform: translate3d(0, 100px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp100 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
            transform: translate3d(0, 100px, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp100 {
  -webkit-animation-name: fadeInUp100;
          animation-name: fadeInUp100; }

/*------------------------------------------------
	Fade Out
------------------------------------------------*/
@-webkit-keyframes fadeOutUp10 {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0); } }
@keyframes fadeOutUp10 {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0); } }

.fadeOutUp10 {
  -webkit-animation-name: fadeOutUp10;
          animation-name: fadeOutUp10;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes fadeOutUp20 {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0); } }

@keyframes fadeOutUp20 {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0); } }

.fadeOutUp20 {
  -webkit-animation-name: fadeOutUp20;
          animation-name: fadeOutUp20;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes fadeOutUp30 {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0); } }

@keyframes fadeOutUp30 {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0); } }

.fadeOutUp30 {
  -webkit-animation-name: fadeOutUp30;
          animation-name: fadeOutUp30;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes fadeOutUp40 {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -40px, 0);
            transform: translate3d(0, -40px, 0); } }

@keyframes fadeOutUp40 {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -40px, 0);
            transform: translate3d(0, -40px, 0); } }

.fadeOutUp40 {
  -webkit-animation-name: fadeOutUp40;
          animation-name: fadeOutUp40;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes fadeOutUp50 {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
            transform: translate3d(0, -50px, 0); } }

@keyframes fadeOutUp50 {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
            transform: translate3d(0, -50px, 0); } }

.fadeOutUp50 {
  -webkit-animation-name: fadeOutUp50;
          animation-name: fadeOutUp50;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes fadeOutUp60 {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -60px, 0);
            transform: translate3d(0, -60px, 0); } }

@keyframes fadeOutUp60 {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -60px, 0);
            transform: translate3d(0, -60px, 0); } }

.fadeOutUp60 {
  -webkit-animation-name: fadeOutUp60;
          animation-name: fadeOutUp60;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes fadeOutUp70 {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -70px, 0);
            transform: translate3d(0, -70px, 0); } }

@keyframes fadeOutUp70 {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -70px, 0);
            transform: translate3d(0, -70px, 0); } }

.fadeOutUp70 {
  -webkit-animation-name: fadeOutUp70;
          animation-name: fadeOutUp70;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes fadeOutUp80 {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -80px, 0);
            transform: translate3d(0, -80px, 0); } }

@keyframes fadeOutUp80 {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -80px, 0);
            transform: translate3d(0, -80px, 0); } }

.fadeOutUp80 {
  -webkit-animation-name: fadeOutUp80;
          animation-name: fadeOutUp80;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes fadeOutUp90 {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -90px, 0);
            transform: translate3d(0, -90px, 0); } }

@keyframes fadeOutUp90 {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -90px, 0);
            transform: translate3d(0, -90px, 0); } }

.fadeOutUp90 {
  -webkit-animation-name: fadeOutUp90;
          animation-name: fadeOutUp90;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes fadeOutUp100 {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
            transform: translate3d(0, -100px, 0); } }

@keyframes fadeOutUp100 {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
            transform: translate3d(0, -100px, 0); } }

.fadeOutUp100 {
  -webkit-animation-name: fadeOutUp100;
          animation-name: fadeOutUp100;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

/*------------------------------------------------
  Vue Transitions classes
------------------------------------------------*/
.fade-enter-active, .fade-leave-active {
  -webkit-transition: all .4s;
  transition: all .4s; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

.fade-move {
  -webkit-transition: all .4s;
  transition: all .4s; }

/*
$theme-primary: #1fd6a6; //#fed136;
$theme-danger: #e74c3c;

$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default;
$gray-dark: lighten($gray-base, 20%) !default;
$gray: lighten($gray-base, 33.5%) !default;
$gray-light: lighten($gray-base, 46.7%) !default;
$gray-lighter: lighten($gray-base, 93.5%) !default;
*/
/* ----------------------------------------
	Browser detection
  Requires Modernizr
-----------------------------------------*/
/* ----------------------------------------
	Utilities
-----------------------------------------*/
.flex-v-center, .stories__text, .news__highlight__text, .scheda__chef__text, .scheda__correlato__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.img-fluid {
  max-width: 100%;
  height: auto; }

ul.list-reset, ul.main-footer__quicklinks, ul.scheda__info__list {
  padding: 0; }
  ul.list-reset li, ul.main-footer__quicklinks li, ul.scheda__info__list li {
    list-style: none; }

/*------------------------------------------------
	Vars
------------------------------------------------*/
/*------------------------------------------------
	Fonts
------------------------------------------------*/
/*------------------------------------------------
	Color & BG utility
------------------------------------------------*/
.primary {
  color: #002463 !important; }

.bg-primary {
  background-color: #002463 !important; }

.blue {
  color: #002463 !important; }

.bg-blue {
  background-color: #002463 !important; }

.bluedark {
  color: #001d4d !important; }

.bg-bluedark {
  background-color: #001d4d !important; }

.bluedull {
  color: #b3c0d5 !important; }

.bg-bluedull {
  background-color: #b3c0d5 !important; }

.cyan {
  color: #0091e5 !important; }

.bg-cyan {
  background-color: #0091e5 !important; }

.yellow {
  color: #ffd300 !important; }

.bg-yellow {
  background-color: #ffd300 !important; }

.yellowlight {
  color: #ffe45e !important; }

.bg-yellowlight {
  background-color: #ffe45e !important; }

.dark {
  color: #181818 !important; }

.bg-dark {
  background-color: #181818 !important; }

/*------------------------------------------------
	Globals
------------------------------------------------*/
body {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  background: #002463;
  color: white;
  position: relative;
  display: none; }

/*------------------------------------------------
	Layout
------------------------------------------------*/
@media only screen and (max-width: 575px) {
  .container {
    padding-right: 30px;
    padding-left: 30px; } }

/*------------------------------------------------
	columns
------------------------------------------------*/
.cols-2 {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 100px;
          column-gap: 100px; }

@media only screen and (min-width: 768px) {
  .cols-md-2, .scheda__info__list {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 100px;
            column-gap: 100px; } }

@media only screen and (min-width: 992px) {
  .cols-lg-2 {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 100px;
            column-gap: 100px; } }

@media only screen and (min-width: 1200px) {
  .cols-xl-2, .ricetta__preparazione__copy {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 100px;
            column-gap: 100px; } }

/*------------------------------------------------
	Row gutters
------------------------------------------------*/
.row.gutters, .row.gutters-sm, .row.gutters-lg {
  margin-right: -13px;
  margin-left: -13px; }
  .row.gutters > [class*="col"], .row.gutters-sm > [class*="col"], .row.gutters-lg > [class*="col"] {
    padding-right: 13px;
    padding-left: 13px; }
  @media only screen and (min-width: 992px) {
    .row.gutters-sm {
      margin-right: -6px;
      margin-left: -6px; }
      .row.gutters-sm > [class*="col"] {
        padding-right: 6px;
        padding-left: 6px; } }
  @media only screen and (min-width: 992px) {
    .row.gutters-lg {
      margin-right: -30px;
      margin-left: -30px; }
      .row.gutters-lg > [class*="col"] {
        padding-right: 30px;
        padding-left: 30px; } }

/*------------------------------------------------
	Divider
------------------------------------------------*/
.divider, .divider-white, .divider-blue, .divider-yellow, .divider-cyan {
  height: 10px;
  border: 0;
  margin: 0; }
  .divider-white {
    background-color: white; }
  .divider-blue {
    background-color: #002463; }
  .divider-yellow {
    background-color: #ffd300; }
  .divider-cyan {
    background-color: #0091e5; }

/*------------------------------------------------
	Shadow
------------------------------------------------*/
.shadow, .form-control, .input-group, .btn, .btn-texture {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .shadow--md, .news .card-img-top {
    -webkit-box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.2); }
  .shadow--lg, .section--textimage__image img, .stories__image, .alladececco__post__image, .news__highlight img, .ricetta__hero__img, .certificati__item__thumb img, .scheda__chef__image img, .scheda__metodo__image img, .fullpage__video iframe {
    -webkit-box-shadow: 0 20px 80px -10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 20px 80px -10px rgba(0, 0, 0, 0.2); }

/*------------------------------------------------
	Icons
------------------------------------------------*/
.dc-icon, .dc-icon--lg {
  background: url(../img/ui/sprite.png) no-repeat;
  width: 33px;
  height: 33px;
  display: inline-block;
  background-size: auto 200%;
  vertical-align: middle; }
  .dc-icon.dc-icon--search, .dc-icon--search.dc-icon--lg {
    background-position: -0px bottom; }
  .dc-icon.dc-icon--search--blue, .dc-icon--search--blue.dc-icon--lg {
    background-position: -0px top; }
  .dc-icon.dc-icon--world, .dc-icon--world.dc-icon--lg {
    background-position: -33px bottom; }
  .dc-icon.dc-icon--world--blue, .dc-icon--world--blue.dc-icon--lg {
    background-position: -33px top; }
  .dc-icon.dc-icon--grid, .dc-icon--grid.dc-icon--lg {
    background-position: -66px bottom; }
  .dc-icon.dc-icon--grid--blue, .dc-icon--grid--blue.dc-icon--lg {
    background-position: -66px top; }
  .dc-icon.dc-icon--close, .dc-icon--close.dc-icon--lg {
    background-position: -99px bottom; }
  .dc-icon.dc-icon--close--blue, .dc-icon--close--blue.dc-icon--lg {
    background-position: -99px top; }
  .dc-icon.dc-icon--down, .dc-icon--down.dc-icon--lg {
    background-position: -132px bottom; }
  .dc-icon.dc-icon--down--blue, .dc-icon--down--blue.dc-icon--lg {
    background-position: -132px top; }
  .dc-icon.dc-icon--down-o, .dc-icon--down-o.dc-icon--lg {
    background-position: -165px bottom; }
  .dc-icon.dc-icon--down-o--blue, .dc-icon--down-o--blue.dc-icon--lg {
    background-position: -165px top; }
  .dc-icon--lg {
    width: 60px;
    height: 60px; }
    .dc-icon--lg.dc-icon--search {
      background-position: -0px top; }
    .dc-icon--lg.dc-icon--search--blue {
      background-position: -0px top; }
    .dc-icon--lg.dc-icon--world {
      background-position: -60px top; }
    .dc-icon--lg.dc-icon--world--blue {
      background-position: -60px top; }
    .dc-icon--lg.dc-icon--grid {
      background-position: -120px top; }
    .dc-icon--lg.dc-icon--grid--blue {
      background-position: -120px top; }
    .dc-icon--lg.dc-icon--close {
      background-position: -180px top; }
    .dc-icon--lg.dc-icon--close--blue {
      background-position: -180px top; }
    .dc-icon--lg.dc-icon--down {
      background-position: -240px top; }
    .dc-icon--lg.dc-icon--down--blue {
      background-position: -240px top; }
    .dc-icon--lg.dc-icon--down-o {
      background-position: -300px top; }
    .dc-icon--lg.dc-icon--down-o--blue {
      background-position: -300px top; }

.ricetta-icon {
  background: url(../img/ui/sprite-ricette.png) no-repeat;
  width: 26px;
  height: 29px;
  display: inline-block;
  background-size: auto 100%;
  vertical-align: middle; }
  .ricetta-icon.tempo {
    background-position: -0px top; }
  .ricetta-icon.persone {
    background-position: -29px top; }
  .ricetta-icon.difficolta {
    background-position: -58px top; }
  .ricetta-icon.difficolta-vuoto {
    background-position: -87px top; }
  .ricetta-icon.pasta {
    background-position: -116px top; }
  .ricetta-icon.tempo-blu {
    background-position: -145px top; }
  .ricetta-icon.difficolta-blu {
    background-position: -174px top; }
  .ricetta-icon.persone {
    width: 29px; }

.info-icon {
  background: url(../img/ui/sprite-infolist.png) no-repeat;
  width: 26px;
  height: 29px;
  display: inline-block;
  background-size: auto 200%;
  vertical-align: middle; }
  .info-icon.tempo {
    background-position: -0px top; }
  .info-icon.tempo-blu {
    background-position: -0px bottom; }
  .info-icon.persone {
    background-position: -29px top; }
  .info-icon.persone-blu {
    background-position: -29px bottom; }
  .info-icon.difficolta {
    background-position: -58px top; }
  .info-icon.difficolta-blu {
    background-position: -58px bottom; }
  .info-icon.difficolta-vuoto {
    background-position: -87px top; }
  .info-icon.difficolta-vuoto-blu {
    background-position: -87px bottom; }
  .info-icon.pasta {
    background-position: -116px top; }
  .info-icon.pasta-blu {
    background-position: -116px bottom; }
  .info-icon.peso {
    background-position: -145px top; }
  .info-icon.peso-blu {
    background-position: -145px bottom; }
  .info-icon[class*="persone"], .info-icon[class*="pasta"] {
    width: 29px; }

.pasta-icon {
  background: url(../img/scheda/info-sprite.png) no-repeat;
  width: 45px;
  height: 45px;
  display: inline-block;
  background-size: auto 100%;
  vertical-align: middle; }
  .pasta-icon.info-icon--dimensione {
    background-position: -0px top; }
  .pasta-icon.info-icon--ingredienti {
    background-position: -45px top; }
  .pasta-icon.info-icon--conservazione {
    background-position: -90px top; }
  .pasta-icon.info-icon--provenienza {
    background-position: -135px top; }

/*------------------------------------------------
  Lista riepilogo con icone
------------------------------------------------*/
.infolist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .infolist li {
    list-style: none;
    font-weight: 500;
    font-style: italic;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 30px; }
    .infolist li:last-child {
      margin-right: 0; }
  .infolist small {
    font-size: 13px;
    margin-left: 5px; }

/*------------------------------------------------
	Gradient background
------------------------------------------------*/
.bg-gradient, .section--textimage, .hero, .contatti__hero, .stories, [data-page="news"], .ricette__body, .ricetta__hero, .faq__body, .certificati__item, .contatti__locations, .scheda__hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#001f57), to(#0091e5));
  background-image: linear-gradient(to bottom, #001f57, #0091e5); }
  .bg-gradient--cyan-white, .ricetta__share {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0091e5), to(white));
    background-image: linear-gradient(to bottom, #0091e5, white); }

/*------------------------------------------------
	Default
------------------------------------------------*/
.section {
  background: white;
  color: #002463;
  /*-----------------------------------
    Sezione con foto e testo
  -----------------------------------*/ }
  .section__title {
    text-align: center; }
  .section--textimage {
    border-bottom: 8px solid white;
    /* Versione specchiata */ }
    .section--textimage__image {
      text-align: right; }
    .section--textimage .btn, .section--textimage .btn-texture {
      margin: 0; }
    .section--textimage:nth-child(even), .section--textimage--mirror {
      background: white;
      color: #002463;
      border-top: 8px solid #0091e5; }
      .section--textimage:nth-child(even) .text-link, .section--textimage--mirror .text-link {
        color: #0091e5; }
      .section--textimage:nth-child(even) .section--textimage__text, .section--textimage--mirror .section--textimage__text {
        text-align: right; }
      .section--textimage:nth-child(even) .section--textimage__image, .section--textimage--mirror .section--textimage__image {
        text-align: left;
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1; }

/*------------------------------------------------
	Hero default
------------------------------------------------*/
.hero, .contatti__hero {
  background-size: cover;
  color: white;
  text-align: center; }
  .hero .row, .contatti__hero .row {
    height: 540px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .hero.hero--short .row, .hero--short.contatti__hero .row {
    height: auto; }
  .hero__title {
    font-family: "font135484";
    color: white; }
  .hero__copy {
    font-family: "font124193"; }
  @media only screen and (min-width: 992px) {
    .hero .row, .contatti__hero .row {
      height: 690px; } }

.default-body {
  background: white;
  color: #002463; }

/*------------------------------------------------
	Rellax (parallax)
------------------------------------------------*/
[class*="rellax"] {
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s; }

/*------------------------------------------------
	Modal
------------------------------------------------*/
.modal-content {
  border: 0; }

.modal__close {
  position: fixed;
  width: 100%;
  bottom: 30px;
  text-align: center; }
  .modal__close button {
    display: inline-block;
    width: 36px;
    height: 36px;
    padding: 0; }
    .modal__close button img {
      width: 100%; }

/*
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $primary;
}
*/
.styleguide {
  background: #ddd; }
  .styleguide hr {
    margin: 40px auto; }

.slick-slide {
  position: relative;
  outline: none !important; }

.slick-dots li button:before {
  content: '';
  background: white;
  border-radius: 10px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 1;
  -webkit-transition: all .2s;
  transition: all .2s; }

.slick-dots li.slick-active button:before {
  background: transparent;
  border: 4px solid #ffd300;
  -webkit-transform: scale(0.75);
          transform: scale(0.75); }

.slick-dots--blue li button:before, .scheda__metodo .slick-dots li button:before {
  content: '';
  background: #002463;
  border-radius: 15px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
  width: 15px;
  height: 15px; }

.slick-dots--blue li.slick-active button:before, .scheda__metodo .slick-dots li.slick-active button:before {
  background: transparent;
  border: 4px solid #002463;
  -webkit-transform: scale(0.75);
          transform: scale(0.75); }

.form-control {
  border: 0;
  margin-bottom: 30px;
  padding: 10px 15px;
  font-size: 14px; }

/* ------------------------------------------------
  Custom controls
-------------------------------------------------*/
.custom-select {
  width: 100%;
  height: 45px;
  border: 0;
  background-image: url(../img/ui/chevron-down.svg);
  background-size: 12px 12px;
  font-size: 14px;
  color: #002463; }
  .custom-select option:not(:first-child) {
    font-size: 12px; }

.custom-control-description {
  font-size: 13px;
  text-align: left; }

select.form-control {
  height: 44px; }

.input-group {
  margin-bottom: 30px; }
  .input-group:focus {
    -webkit-box-shadow: 0 0 20px #ffd300;
            box-shadow: 0 0 20px #ffd300; }
  .input-group .form-control, .input-group .btn, .input-group .btn-texture {
    -webkit-box-shadow: none;
            box-shadow: none; }
  .input-group .btn, .input-group .btn-texture {
    padding: 6px;
    background: white;
    margin: 0; }
  .input-group-addon {
    background: white;
    border: 0; }

button {
  border: 0;
  background: none; }
  button:hover {
    cursor: pointer; }

/*------------------------------------------------
	Form flat
------------------------------------------------*/
.form-flat .form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #001d4d;
  background: none;
  position: relative;
  -webkit-transition: all .4s;
  transition: all .4s; }
  .form-flat .form-control:focus {
    border-color: #ffd300; }
  .form-flat .form-control:invalid {
    color: red; }

.form-flat .custom-select {
  background-color: transparent;
  border-bottom: 1px solid #001d4d;
  height: 42px; }

/*------------------------------------------------
	Globals
------------------------------------------------*/
body {
  font-size: 14px;
  font-family: "Montserrat", arial, sans-serif;
  font-weight: 500; }
  @media only screen and (min-width: 992px) {
    body {
      font-size: 16px; } }

a:focus, a:hover, a:focus:hover, button:focus, button:hover, button:focus:hover {
  outline: none !important; }

p {
  line-height: 1.75; }

strong {
  font-weight: 700; }

.dash {
  width: 40px;
  height: 1px;
  background: #002463;
  display: inline-block;
  margin-right: 20px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px); }

.text-lg, .hero__copy, .news__archive__title, .news .card-title, .ricetta__preparazione__copy, .fullpage__title--chapter, .fullpage__text-lg, .fullpage__chapters__title {
  font-size: 16px;
  line-height: 1.4; }

.text-xl, .scheda__chef__text blockquote, .fullpage__title {
  font-size: 20px;
  line-height: 1.4; }

@media only screen and (min-width: 992px) {
  .text-lg, .hero__copy, .news__archive__title, .news .card-title, .ricetta__preparazione__copy, .fullpage__title--chapter, .fullpage__text-lg, .fullpage__chapters__title {
    font-size: 20px; }
  .text-xl, .scheda__chef__text blockquote, .fullpage__title {
    font-size: 24px; } }

/*------------------------------------------------
	Links
------------------------------------------------*/
a {
  color: #ffd300;
  -webkit-transition: all .4s;
  transition: all .4s;
  font-weight: 500; }
  a.active, a:focus, a:hover {
    color: #001130; }

.text-link {
  color: #ffd300;
  font-weight: 600; }
  .text-link:hover, .text-link:visited {
    color: #cca900; }

/*------------------------------------------------
	Titles
------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: "font124084"; }

h1 {
  font-size: 58px; }

h2 {
  font-size: 44px; }

.title, .alladececco__subtitle, .hp-highlights__item__title, .contatti__site__name {
  font-family: "font124084";
  font-size: 26px; }
  .title-brush, .ricetta__preparazione__title {
    font-family: "font135484"; }
  .title-serif {
    font-family: "font124084"; }
  .title-md, .hero__title, .news__highlight__title, .ricetta__ingredienti__title, .scheda__correlato__title {
    font-family: "font124084";
    font-size: 30px; }
  .title-lg, .section__title, .alladececco__title, .ricetta__hero__title, .ricetta__preparazione__title, .storia__hero__title, .scheda__hero__title, .fullpage-alladececco .fullpage__title {
    font-family: "font124084";
    font-size: 33px; }
  .title-xl, .hp-hero__title, .fullpage__title-lg, .fullpage-alladececco .fullpage__title-lg {
    font-family: "font124084";
    font-size: 36px; }
  @media only screen and (min-width: 768px) {
    .title-md, .hero__title, .news__highlight__title, .ricetta__ingredienti__title, .scheda__correlato__title {
      font-size: 40px; }
    .title-lg, .section__title, .alladececco__title, .ricetta__hero__title, .ricetta__preparazione__title, .storia__hero__title, .scheda__hero__title, .fullpage-alladececco .fullpage__title {
      font-size: 44px; }
    .title-xl, .hp-hero__title, .fullpage__title-lg, .fullpage-alladececco .fullpage__title-lg {
      font-size: 48px; } }
  @media only screen and (min-width: 1200px) {
    .title-lg, .section__title, .alladececco__title, .ricetta__hero__title, .ricetta__preparazione__title, .storia__hero__title, .scheda__hero__title, .fullpage-alladececco .fullpage__title {
      font-size: 60px; }
    .title-xl, .hp-hero__title, .fullpage__title-lg, .fullpage-alladececco .fullpage__title-lg {
      font-size: 90px; } }

.title-line, .title-line--invert, .scheda__metodo__title, .scheda__metodo__item:nth-of-type(even) .scheda__metodo__title {
  font-size: 20px;
  font-weight: 800;
  font-family: "Montserrat", arial, sans-serif; }
  .title-line:before, .title-line--invert:before, .scheda__metodo__title:before, .scheda__metodo__item:nth-of-type(even) .scheda__metodo__title:before {
    content: '';
    width: 40px;
    height: 1px;
    background: #002463;
    display: inline-block;
    margin-right: 30px;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
  .title-line:after, .title-line--invert:after, .scheda__metodo__title:after, .scheda__metodo__item:nth-of-type(even) .scheda__metodo__title:after {
    content: none; }
  .title-line--invert:before, .scheda__metodo__title:before {
    content: none; }
  .title-line--invert:after, .scheda__metodo__title:after {
    content: '';
    width: 40px;
    height: 1px;
    background: #002463;
    display: inline-block;
    margin-left: 30px;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }

.section-name {
  font-size: 14px;
  font-weight: 600;
  color: #002463; }

/*------------------------------------------------
	Buttons
------------------------------------------------*/
.btn, .btn-texture {
  font-family: "Montserrat", arial, sans-serif;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 14px 14px 12px;
  color: #001d4d;
  border: 0;
  margin-right: 6px;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: white;
  margin-bottom: 15px;
  /* Social */
  /* Texture */ }
  .btn:focus, .btn-texture:focus {
    -webkit-box-shadow: inherit;
            box-shadow: inherit; }
    .btn:focus:active, .btn-texture:focus:active {
      -webkit-box-shadow: none;
              box-shadow: none; }
  .btn:hover, .btn-texture:hover {
    cursor: pointer; }
  .btn .fa, .btn-texture .fa {
    margin-right: 10px;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .btn-blue {
    color: white;
    background-color: #002463; }
    .btn-blue:focus, .btn-blue:hover {
      opacity: .8;
      color: white; }
    .btn-blue.btn-ghost {
      background: transparent;
      color: #002463;
      border: 2px solid #002463;
      padding: 12px 10px 10px; }
  .btn-white {
    color: #002463;
    background-color: white; }
    .btn-white:focus, .btn-white:hover {
      opacity: .8;
      color: #002463; }
    .btn-white.btn-ghost {
      background: transparent;
      color: white;
      border: 2px solid white;
      padding: 12px 10px 10px; }
  .btn-yellow {
    color: #002463;
    background-color: #ffd300; }
    .btn-yellow:focus, .btn-yellow:hover {
      opacity: .8;
      color: #002463; }
    .btn-yellow.btn-ghost {
      background: transparent;
      color: #ffd300;
      border: 2px solid #ffd300;
      padding: 12px 10px 10px; }
  .btn-facebook {
    color: white;
    background-color: #4367b4;
    text-transform: none; }
    .btn-facebook:focus, .btn-facebook:hover {
      opacity: .8;
      color: white; }
    .btn-facebook.btn-ghost {
      background: transparent;
      color: #4367b4;
      border: 2px solid #4367b4;
      padding: 12px 10px 10px; }
  .btn-twitter {
    color: white;
    background-color: #1da1f3;
    text-transform: none; }
    .btn-twitter:focus, .btn-twitter:hover {
      opacity: .8;
      color: white; }
    .btn-twitter.btn-ghost {
      background: transparent;
      color: #1da1f3;
      border: 2px solid #1da1f3;
      padding: 12px 10px 10px; }
  .btn-email {
    color: white;
    background-color: #a5a3a5;
    text-transform: none; }
    .btn-email:focus, .btn-email:hover {
      opacity: .8;
      color: white; }
    .btn-email.btn-ghost {
      background: transparent;
      color: #a5a3a5;
      border: 2px solid #a5a3a5;
      padding: 12px 10px 10px; }
  .btn-social, .btn-social-sm {
    font-size: 14px;
    margin-right: 40px;
    color: inherit;
    font-weight: 700;
    font-family: "Montserrat", arial, sans-serif;
    white-space: nowrap; }
    .btn-social .fa, .btn-social-sm .fa {
      font-size: 28px;
      -webkit-transform: translateY(4px);
              transform: translateY(4px);
      margin-right: 15px; }
    .btn-social-sm {
      margin-right: 30px;
      font-size: 12px;
      font-weight: 600; }
      .btn-social-sm .fa {
        font-size: 20px;
        -webkit-transform: translateY(4px);
                transform: translateY(4px);
        margin-right: 10px; }
  .btn-texture {
    background: url(../img/ui/btn-texture-bg.jpg);
    background-size: center;
    border-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: white; }
  @media only screen and (min-width: 768px) {
    .btn, .btn-texture {
      font-size: 15px;
      margin-right: 20px; } }

.main-nav {
  padding-top: 30px;
  color: white;
  position: absolute;
  z-index: 10;
  width: 100%;
  font-weight: 600;
  /* --------------------
    NAVBAR
  -------------------- */
  /* --------------------
    DROPDOWN
  -------------------- */
  /* --------------------
    Nav Item 
  -------------------- */
  /* --------------------
    SERVICE NAV
  -------------------- */ }
  .main-nav.open {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#001f57), to(rgba(0, 145, 229, 0.96)));
    background-image: linear-gradient(to bottom, #001f57, rgba(0, 145, 229, 0.96));
    padding-bottom: 30px; }
  .main-nav > .container-fluid {
    padding-left: 30px;
    padding-right: 30px; }
    @media only screen and (min-width: 1200px) {
      .main-nav > .container-fluid {
        max-width: 1440px; } }
  .main-nav .navbar {
    padding: 0; }
    .main-nav .navbar li {
      padding: 0; }
    .main-nav .navbar-brand {
      padding: 0; }
      .main-nav .navbar-brand img {
        width: 100px;
        height: auto; }
    .main-nav .navbar-collapse {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      padding-top: 30px; }
    .main-nav .navbar-toggler {
      padding: 0;
      border: 0;
      outline: none !important; }
      .main-nav .navbar-toggler:hover {
        cursor: pointer; }
    @media only screen and (min-width: 992px) {
      .main-nav .navbar-brand img {
        width: 144px;
        height: 69px; }
      .main-nav .navbar-collapse {
        padding-top: 0; } }
  .main-nav .dropdown-menu {
    background: none;
    border: 0; }
  .main-nav .dropdown-item {
    padding: 0 15px;
    font-size: 13px;
    font-weight: 500;
    color: white;
    margin-bottom: 7px; }
    .main-nav .dropdown-item:hover {
      background: none;
      color: #ffd300; }
  .main-nav .dropdown-toggle:after {
    content: none; }
  @media only screen and (min-width: 1200px) {
    .main-nav .dropdown-item {
      padding: 0 10px; } }
  @media only screen and (min-width: 1600px) {
    .main-nav .dropdown-item {
      padding: 0 15px; } }
  .main-nav .nav-item {
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out; }
    .main-nav .nav-item .nav-link {
      color: white;
      text-transform: uppercase;
      white-space: nowrap;
      font-size: 13px;
      font-weight: 600;
      padding-left: 10px;
      padding-right: 10px; }
      .main-nav .nav-item .nav-link span {
        position: relative;
        overflow: hidden; }
        .main-nav .nav-item .nav-link span:after {
          content: '';
          width: 100%;
          height: 2px;
          background: #ffd300;
          -webkit-transition: -webkit-transform .2s ease-out;
          transition: -webkit-transform .2s ease-out;
          transition: transform .2s ease-out;
          transition: transform .2s ease-out, -webkit-transform .2s ease-out;
          position: absolute;
          left: 0;
          bottom: -4px;
          -webkit-transform: scaleX(0);
                  transform: scaleX(0); }
    .main-nav .nav-item.active .nav-link, .main-nav .nav-item:hover .nav-link {
      color: #ffd300; }
      .main-nav .nav-item.active .nav-link span:after, .main-nav .nav-item:hover .nav-link span:after {
        -webkit-transform: scaleX(1);
                transform: scaleX(1); }
    .main-nav .nav-item.not-hover {
      opacity: .5; }
    @media only screen and (min-width: 1600px) {
      .main-nav .nav-item .nav-link {
        padding-left: 15px;
        padding-right: 15px; } }
  .main-nav__service {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    opacity: .8; }
    .main-nav__service .nav-item {
      position: relative; }
      .main-nav__service .nav-item:first-child {
        margin-right: 25px; }
        .main-nav__service .nav-item:first-child:after {
          content: '';
          position: absolute;
          right: -12px;
          width: 1px;
          background: rgba(255, 255, 255, 0.5);
          height: 30px;
          top: 9px; }
      .main-nav__service .nav-item .nav-link {
        padding-right: 0;
        padding-left: 0; }
  @media only screen and (min-width: 768px) {
    .main-nav {
      padding-top: 40px; } }
  @media only screen and (min-width: 1200px) {
    .main-nav {
      /* --------------------
      bg-gradient 
    -------------------- */ }
      .main-nav:before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 595px;
        z-index: 9;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(63%, rgba(0, 30, 87, 0.9)), to(rgba(0, 145, 230, 0)));
        background-image: linear-gradient(to bottom, rgba(0, 30, 87, 0.9) 63%, rgba(0, 145, 230, 0));
        -webkit-transition: opacity .4s;
        transition: opacity .4s;
        z-index: 0;
        opacity: 0;
        pointer-events: none; }
      .main-nav.desktop-open:before {
        opacity: 1; }
      .main-nav__primary {
        padding-right: 25px; } }
  @media only screen and (min-width: 1600px) {
    .main-nav__primary {
      padding-right: 50px; } }

/* ---------------------------------------------
  HAMBURGER 
--------------------------------------------- */
.navbar-toggler {
  /* -------------------------------------
    Chiuso
  ------------------------------------- */ }
  .navbar-toggler .main-nav__hamburger {
    width: 30px;
    height: 23px;
    position: relative;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: block; }
    .navbar-toggler .main-nav__hamburger span {
      display: block;
      position: absolute;
      height: 3px;
      width: 50%;
      background: #ffd300;
      -webkit-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out; }
      .navbar-toggler .main-nav__hamburger span:nth-child(1), .navbar-toggler .main-nav__hamburger span:nth-child(6) {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .navbar-toggler .main-nav__hamburger span:nth-child(2), .navbar-toggler .main-nav__hamburger span:nth-child(5) {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .navbar-toggler .main-nav__hamburger span:nth-child(1), .navbar-toggler .main-nav__hamburger span:nth-child(2) {
        top: 5.22727px; }
      .navbar-toggler .main-nav__hamburger span:nth-child(1), .navbar-toggler .main-nav__hamburger span:nth-child(5) {
        left: calc(50% - 12px); }
      .navbar-toggler .main-nav__hamburger span:nth-child(2), .navbar-toggler .main-nav__hamburger span:nth-child(6) {
        right: calc(50% - 12px); }
      .navbar-toggler .main-nav__hamburger span:nth-child(3), .navbar-toggler .main-nav__hamburger span:nth-child(4) {
        top: 10px; }
      .navbar-toggler .main-nav__hamburger span:nth-child(3), .navbar-toggler .main-nav__hamburger span:nth-child(4) {
        opacity: 0; }
      .navbar-toggler .main-nav__hamburger span:nth-child(3) {
        left: -50%; }
      .navbar-toggler .main-nav__hamburger span:nth-child(4) {
        right: -50%; }
      .navbar-toggler .main-nav__hamburger span:nth-child(5), .navbar-toggler .main-nav__hamburger span:nth-child(6) {
        top: 14.77273px; }
  .navbar-toggler.collapsed .main-nav__hamburger span {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
    background: white; }
    .navbar-toggler.collapsed .main-nav__hamburger span:nth-child(even) {
      right: 0;
      border-radius: 0 3px 3px 0; }
    .navbar-toggler.collapsed .main-nav__hamburger span:nth-child(odd) {
      left: 0;
      border-radius: 3px 0 0 3px; }
    .navbar-toggler.collapsed .main-nav__hamburger span:nth-child(1), .navbar-toggler.collapsed .main-nav__hamburger span:nth-child(2) {
      top: 0px; }
    .navbar-toggler.collapsed .main-nav__hamburger span:nth-child(5), .navbar-toggler.collapsed .main-nav__hamburger span:nth-child(6) {
      top: 20px; }

/* ---------------------------------------------
  Ricerca / cambio lingua 
--------------------------------------------- */
.menu-overlay {
  color: #002463; }
  .menu-overlay .modal-content {
    height: calc(100vh - 130px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: none; }
  .menu-overlay__country a {
    color: #002463;
    display: block;
    text-align: center;
    margin-bottom: 15px; }
    .menu-overlay__country a span {
      position: relative; }
      .menu-overlay__country a span:after {
        content: '';
        width: 100%;
        height: 2px;
        background: #002463;
        -webkit-transition: -webkit-transform .2s ease-out;
        transition: -webkit-transform .2s ease-out;
        transition: transform .2s ease-out;
        transition: transform .2s ease-out, -webkit-transform .2s ease-out;
        position: absolute;
        left: 0;
        bottom: -4px;
        -webkit-transform: scaleX(0);
                transform: scaleX(0); }
      .menu-overlay__country a span:hover:after {
        -webkit-transform: scaleX(1);
                transform: scaleX(1); }

.main-footer {
  color: white;
  font-size: 11px; }
  .main-footer li {
    list-style: none; }
  .main-footer a {
    color: white; }
  .main-footer__quicklinks li {
    margin-bottom: 10px; }
  .main-footer__quicklinks a {
    font-size: 11px; }
  .main-footer__socials {
    font-size: 22px; }
    .main-footer__socials a {
      margin-right: 15px;
      opacity: .6; }
      .main-footer__socials a .fa {
        font-size: 22px; }
      .main-footer__socials a:hover {
        opacity: 1; }
  .main-footer__bottom {
    background: #001d4d;
    padding-top: 25px;
    padding-bottom: 25px; }
    .main-footer__bottom, .main-footer__bottom a {
      font-size: 11px; }
  @media only screen and (min-width: 768px) {
    .main-footer, .main-footer a {
      font-size: 13px; } }

.stories {
  color: white;
  /* ----------------------------------------
    Social wall
  -----------------------------------------*/ }
  .stories__item {
    margin-bottom: 15px;
    display: block; }
  .stories__image {
    width: 100%; }
    .stories__image img {
      width: 100%; }
  .stories__text {
    position: absolute;
    width: 100%;
    height: 120%;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 20px;
    color: white;
    opacity: 0;
    -webkit-transition: all .4s ease-out .2s;
    transition: all .4s ease-out .2s;
    top: 0;
    font-size: 12px; }
    .stories__text > div {
      width: 100%; }
    .stories__text .fa {
      font-size: 22px; }
  .stories .social-wall-grid {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 15px;
            column-gap: 15px; }
  @media only screen and (min-width: 768px) {
    .stories__wrapper {
      position: relative;
      height: 0;
      padding-bottom: 100%; }
    .stories__item {
      position: absolute;
      display: block;
      font-size: 14px;
      -webkit-transition: -webkit-transform .4s ease-out;
      transition: -webkit-transform .4s ease-out;
      transition: transform .4s ease-out;
      transition: transform .4s ease-out, -webkit-transform .4s ease-out;
      overflow: hidden; }
      .stories__item:hover {
        z-index: 20 !important; }
        .stories__item:hover .stories__text {
          opacity: 1;
          top: -10%; }
      .stories__item img {
        width: 100%; }
      .stories__item:nth-child(1) {
        top: 0;
        left: 0;
        width: 40%;
        height: 40%; }
      .stories__item:nth-child(2) {
        top: 16.6666%;
        left: 30%;
        width: 40%;
        height: 50%; }
        .stories__item:nth-child(2) .stories__image {
          padding-bottom: 125%; }
      .stories__item:nth-child(3) {
        top: 8.3333%;
        right: 1.6666%;
        width: 25%;
        height: 25%; }
      .stories__item:nth-child(4) {
        top: 50%;
        left: 8.3333%;
        width: 25%;
        height: 25%; }
      .stories__item:nth-child(5) {
        top: 50%;
        right: 0;
        width: 33%;
        height: 33%; }
    .stories__image {
      position: absolute;
      top: 0;
      padding-bottom: 100%;
      background-size: cover;
      background-position: center center; }
    .stories__text {
      font-size: 14px; }
    .stories .social-wall-grid {
      -webkit-column-count: initial;
              column-count: initial; } }

.alladececco {
  background-color: #ffd300;
  color: #002463; }
  .alladececco__title {
    font-family: "font135484";
    text-align: center; }
  .alladececco__image > [class*="col"] {
    position: relative; }
  .alladececco__image__lg {
    max-width: 100%; }
  .alladececco__image__ingrediente {
    position: absolute;
    z-index: 2;
    bottom: -20%;
    right: -6%;
    width: 40%; }
  .alladececco__headline {
    font-style: italic;
    font-family: "font112844";
    text-align: center;
    font-size: 18px;
    line-height: 1.5; }
  .alladececco__post {
    text-align: center;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    color: #181818; }
    .alladececco__post:last-child {
      margin-bottom: 0 !important; }
    .alladececco__post__image {
      height: 0;
      padding-bottom: 75%;
      background-size: cover;
      background-position: center center; }
    .alladececco__post__author {
      font-size: 12px; }
      .alladececco__post__author img {
        width: 32px;
        height: 32px;
        border-radius: 32px;
        margin-right: 15px; }
  .alladececco__footer {
    text-align: center; }
    .alladececco__footer strong {
      display: block;
      text-transform: uppercase; }
  @media only screen and (min-width: 576px) {
    .alladececco__headline {
      font-size: 20px; } }
  @media only screen and (min-width: 768px) {
    .alladececco__headline {
      font-size: 24px; }
    .alladececco__image__ingrediente {
      bottom: -16%;
      right: -4%;
      width: 25%; }
    .alladececco__post {
      max-width: initial; } }
  @media only screen and (min-width: 992px) {
    .alladececco__headline {
      font-size: 30px; } }

/*------------------------------------------------
	HERO
------------------------------------------------*/
.hp-hero {
  border-bottom: 8px solid #ffd300; }
  .hp-hero__slider {
    margin-bottom: 0; }
  .hp-hero__slide {
    position: relative; }
    .hp-hero__slide__wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 600px; }
  .hp-hero__media {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; }
  .hp-hero__title {
    font-family: "font135484";
    color: white; }
  .hp-hero__text {
    text-align: center;
    font-family: "font124193";
    font-size: 21px;
    width: 100%; }
  .hp-hero .slick-dots {
    bottom: 15px; }
  @media only screen and (min-width: 992px) {
    .hp-hero__slide__wrapper {
      height: 765px; } }

/*------------------------------------------------
	HIGHLIGHTS
------------------------------------------------*/
.hp-highlights {
  background: #ffd300;
  overflow: hidden; }
  .hp-highlights__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px;
    height: 210px;
    border-bottom: 8px solid #ffd300;
    border-top: 8px solid white;
    color: #002463;
    position: relative;
    overflow: hidden;
    font-family: "font124084";
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .hp-highlights__item:first-child {
      border-left: 0; }
    .hp-highlights__item:last-child {
      border-right: 0; }
    .hp-highlights__item:hover .hp-highlights__item__title {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px); }
    .hp-highlights__item__title {
      -webkit-transition: -webkit-transform .4s;
      transition: -webkit-transform .4s;
      transition: transform .4s;
      transition: transform .4s, -webkit-transform .4s;
      position: relative;
      z-index: 1; }
    .hp-highlights__item__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: no-repeat center center;
      background-size: cover;
      z-index: 0;
      -webkit-transition: -webkit-transform .4s ease-out;
      transition: -webkit-transform .4s ease-out;
      transition: transform .4s ease-out;
      transition: transform .4s ease-out, -webkit-transform .4s ease-out;
      -webkit-transform: translateZ(0);
              transform: translateZ(0); }
    .hp-highlights__item:hover {
      text-decoration: none; }
      .hp-highlights__item:hover .hp-highlights__item__image {
        -webkit-transform: scale(1.05) translateZ(0);
                transform: scale(1.05) translateZ(0); }
  @media only screen and (min-width: 768px) {
    .hp-highlights {
      border-top: 8px solid white; }
      .hp-highlights__item {
        height: 370px;
        -o-border-image: linear-gradient(to bottom, white, #ffd300) 1 100%;
           border-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#ffd300)) 1 100%;
           border-image: linear-gradient(to bottom, white, #ffd300) 1 100%;
        border-width: 4px;
        border-style: solid;
        border-bottom: 0;
        border-top: 0; }
        .hp-highlights__item--text-left-center {
          text-align: left;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
        .hp-highlights__item--text-right-bottom {
          -webkit-box-align: end;
              -ms-flex-align: end;
                  align-items: flex-end;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end; } }

/* ----------------------------------------
	News 
-----------------------------------------*/
.news {
  /* Archivio */
  /* -----------------------------------
    Bootstrap 4 Cards
  ------------------------------------*/
  /* Load more */ }
  .news__hero {
    color: white; }
  .news__highlight a {
    color: white; }
  .news__highlight img {
    max-width: 100%;
    height: auto; }
  .news__category {
    font-weight: 600;
    text-transform: uppercase;
    display: block; }
  .news__archive__title {
    text-transform: uppercase;
    font-weight: 600; }
  .news .card {
    border: 0;
    background: none; }
    .news .card a {
      color: white;
      -webkit-transition: opacity .4s ease-out;
      transition: opacity .4s ease-out;
      display: block; }
    .news .card.unfocus a {
      opacity: 0.5 !important; }
    .news .card-columns {
      -webkit-column-gap: 36px;
              column-gap: 36px;
      -webkit-column-count: 1;
              column-count: 1; }
    .news .card-body {
      padding-left: 0;
      padding-right: 0; }
    .news .card-date {
      display: block;
      font-size: 12px; }
    .news .card-title {
      font-family: "font124084"; }
    .news .card-text {
      font-size: 14px; }
  .news__loadmore {
    text-align: center; }
    .news__loadmore a {
      display: inline-block;
      color: white;
      text-transform: uppercase; }
  @media only screen and (min-width: 576px) {
    .news .card-columns {
      -webkit-column-count: 1;
              column-count: 1; } }
  @media only screen and (min-width: 768px) {
    .news .card-columns {
      -webkit-column-count: 3;
              column-count: 3; } }

/* ----------------------------------------
	News dettaglio
-----------------------------------------*/
.news-dettaglio__hero {
  padding-top: 100px; }
  .news-dettaglio__hero .row {
    height: auto; }
  .news-dettaglio__hero img {
    width: 100%; }
  .news-dettaglio__hero__date {
    display: block; }

.news-dettaglio__body {
  background: white;
  color: #002463; }

.news-dettaglio__copy {
  font-size: 14px; }

.news-dettaglio__share__title {
  font-size: 16px;
  font-family: "Montserrat", arial, sans-serif;
  font-weight: 600; }

.news-dettaglio__goback a {
  color: #002463;
  font-weight: 600; }

@media only screen and (min-width: 576px) {
  .news-dettaglio__hero {
    padding-top: 160px; } }

@media only screen and (min-width: 992px) {
  .news-dettaglio__hero {
    padding-top: 200px; } }

.ricette {
  /*------------------------------------------------
    Filtri
  ------------------------------------------------*/
  /*------------------------------------------------
    Risultati
  ------------------------------------------------*/
  /*------------------------------------------------
    Ricetta
  ------------------------------------------------*/ }
  .ricette__hero {
    color: white;
    background: no-repeat right top;
    background-size: cover; }
    .ricette__hero .row {
      height: 540px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    @media only screen and (min-width: 992px) {
      .ricette__hero .row {
        height: 690px; } }
  .ricette__hr {
    border: 0;
    height: 2px;
    background: url(../img/ricette/ricetta-hr.png) repeat-x;
    margin: 0;
    background-size: 100% 100%; }
  .ricette__filtri__sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 40px; }
  .ricette__filtri .input-group {
    margin-bottom: 15px; }
    .ricette__filtri .input-group-addon {
      width: 64px; }
  .ricette__risultati > .container {
    padding-left: 15px;
    padding-right: 15px; }
  .ricette__risultati > div:last-child .ricette__hr {
    display: none; }
  @media only screen and (min-width: 992px) {
    .ricette__risultati > div:first-child {
      margin-top: -35px; } }
  @media only screen and (min-width: 1200px) {
    .ricette__risultati > div:first-child {
      margin-top: -60px; } }
  .ricette .ricetta {
    color: white;
    padding: 35px 10px;
    -webkit-transition: background .4s;
    transition: background .4s;
    background: transparent;
    display: block;
    margin-left: -10px;
    margin-right: -10px; }
    .ricette .ricetta__title {
      font-family: "font124084";
      font-size: 20px; }
    .ricette .ricetta:hover {
      text-decoration: none;
      color: white;
      background: rgba(255, 255, 255, 0.1); }
    @media only screen and (min-width: 992px) {
      .ricette .ricetta {
        padding: 35px 30px;
        margin-left: 0;
        margin-right: 0; }
        .ricette .ricetta__title {
          font-size: 26px; } }
    @media only screen and (min-width: 1200px) {
      .ricette .ricetta {
        padding: 60px 50px; }
        .ricette .ricetta__title {
          font-size: 30px; } }

/*------------------------------------------------
  Pagina dettaglio
------------------------------------------------*/
.ricetta {
  /*--------------------------------------------
    Hero
  --------------------------------------------*/
  /*--------------------------------------------
    Share
  --------------------------------------------*/
  /*--------------------------------------------
    Ingredienti
  --------------------------------------------*/
  /*--------------------------------------------
    Preparazione
  --------------------------------------------*/ }
  .ricetta__hero {
    padding-top: 200px;
    color: white; }
    .ricetta__hero__chef {
      font-size: 16px;
      font-style: italic;
      font-weight: 300; }
    .ricetta__hero__title {
      color: white; }
    .ricetta__hero .infolist {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .ricetta__hero__img {
      max-width: 100%; }
  .ricetta__share {
    font-size: 28px;
    text-align: center; }
    .ricetta__share a {
      color: #002463; }
  .ricetta__ingredienti {
    background: white;
    color: #002463; }
    .ricetta__ingredienti__title {
      font-family: "font124084"; }
    .ricetta__ingredienti__lista {
      padding: 0;
      color: #181818; }
      .ricetta__ingredienti__lista li {
        list-style: none;
        border-top: 1px solid #9aa7c1;
        padding-top: 15px;
        margin-bottom: 20px;
        font-size: 13px;
        font-weight: 500; }
    .ricetta__ingredienti__prod {
      text-align: center;
      font-size: 17px;
      color: #002463;
      font-family: "font124084"; }
      .ricetta__ingredienti__prod img {
        display: block;
        margin: 0 auto 25px; }
      .ricetta__ingredienti__prod strong {
        font-size: 21px;
        display: block;
        line-height: 1; }
    @media only screen and (min-width: 992px) {
      .ricetta__ingredienti__lista {
        -webkit-column-count: 2;
                column-count: 2;
        -webkit-column-gap: 70px;
                column-gap: 70px; }
        .ricetta__ingredienti__lista li {
          margin-bottom: 30px; } }
  .ricetta__preparazione {
    background: #ffd300;
    color: #002463;
    font-family: "font112844"; }
    .ricetta__preparazione__title {
      text-align: center; }
    .ricetta__preparazione__copy {
      line-height: 1.75; }

.faq__hero .input-group {
  max-width: 360px;
  margin: 0 auto; }

.faq__item {
  padding-left: 40px; }
  .faq__item.open .faq__question:before {
    background-position: -60px center; }
  .faq__item.open .faq__answer:before {
    height: calc(100% + 30px); }
  .faq__item:first-child .faq__question:before {
    background-position: 0 center; }
  .faq__item:first-child.open .faq__question:before {
    background-position: -20px center; }
  .faq__item:last-child .faq__question:before {
    background-position: -80px center; }
  .faq__item:last-child .faq__answer:before {
    background: none; }
  .faq__item:last-child.open .faq__question:before {
    background-position: -100px center; }
  .faq__item:hover {
    cursor: pointer; }

.faq__question {
  font-size: 17px;
  position: relative;
  font-family: "font124084";
  line-height: 1.4;
  margin-bottom: 30px; }
  .faq__question:before {
    content: '';
    background: url(../img/faq/line-sprite.png) no-repeat -40px center;
    position: absolute;
    width: 20px;
    height: calc(100% + 30px);
    top: -15px;
    left: -50px;
    background-size: 120px auto; }

.faq__answer {
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 2;
  position: relative; }
  .faq__answer__text {
    margin: 30px 0;
    padding: 25px;
    background: rgba(255, 255, 255, 0.1);
    display: none; }
  .faq__answer:before {
    content: '';
    background: url(../img/faq/line-sprite.png) no-repeat right top;
    position: absolute;
    width: 20px;
    height: calc(100%);
    top: -15px;
    left: -50px;
    background-size: 120px auto; }

@media only screen and (min-width: 992px) {
  .faq__item {
    padding-left: 82px; }
  .faq__question {
    font-size: 25px; }
  .faq__answer {
    font-size: 14px; }
    .faq__answer__text {
      padding: 35px; } }

.storia {
  /*------------------------------------------------
		Hero
	------------------------------------------------*/
  /*------------------------------------------------
		Slider
	------------------------------------------------*/
  /*------------------------------------------------
		Timeline
	------------------------------------------------*/ }
  .storia__hero .row {
    height: 700px; }
  @media only screen and (min-width: 768px) {
    .storia__hero .row {
      height: 780px; } }
  @media only screen and (min-width: 992px) {
    .storia__hero .row {
      height: 820px; } }
  @media only screen and (min-width: 1200px) {
    .storia__hero .row {
      height: 920px; } }
  .storia__slider {
    position: absolute;
    top: 600px;
    background: white;
    height: 600px;
    width: 100%;
    display: none;
    /* ----------------------------------------
    FX
  -----------------------------------------*/ }
    .storia__slider.visible {
      height: 600px;
      top: 100px; }
    .storia__slider__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: #002463;
      height: 600px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .storia__slider__item--noimage .storia__slider__copy {
        text-align: center;
        font-family: "font124084";
        font-size: 25px; }
    .storia__slider__image, .storia__slider__copy {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 50%;
              flex: 1 1 50%; }
    .storia__slider__image {
      background: no-repeat center center;
      background-size: cover; }
    .storia__slider__copy {
      text-align: center;
      color: #002463;
      height: 600px;
      font-family: "Montserrat", arial, sans-serif;
      font-weight: 300;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%;
      font-size: 17px;
      padding: 30px;
      background: white; }
    .storia__slider__date {
      font-size: 60px;
      line-height: 1;
      margin: 0;
      font-family: "font124084"; }
    .storia__slider .slick-arrow {
      z-index: 50; }
      .storia__slider .slick-arrow:before {
        font-family: FontAwesome;
        color: #181818;
        font-size: 32px; }
    .storia__slider .slick-prev {
      left: 25px; }
      .storia__slider .slick-prev:before {
        content: ''; }
    .storia__slider .slick-next {
      right: 25px; }
      .storia__slider .slick-next:before {
        content: '\f105'; }
    @media only screen and (min-width: 768px) {
      .storia__slider {
        top: 100px;
        height: 680px; }
        .storia__slider.visible {
          height: 680px; }
        .storia__slider__item {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          height: 680px; }
        .storia__slider__copy {
          padding: 120px;
          text-align: left;
          height: 680px; }
        .storia__slider__date {
          font-size: 100px; } }
    .storia__slider__date, .storia__slider__text {
      opacity: 0;
      -webkit-transform: translateX(60px);
              transform: translateX(60px);
      -webkit-transition: all 1s;
      transition: all 1s; }
    .storia__slider__date {
      -webkit-transition-delay: 200ms;
              transition-delay: 200ms; }
    .storia__slider__text {
      -webkit-transition-delay: 300ms;
              transition-delay: 300ms; }
    .storia__slider .slick-active .storia__slider__date, .storia__slider .slick-active .storia__slider__text {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    @media only screen and (min-width: 992px) {
      .storia__slider.visible {
        top: 140px; } }
    @media only screen and (min-width: 1200px) {
      .storia__slider {
        height: 780px; }
        .storia__slider.visible {
          height: 780px; }
        .storia__slider__item {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          height: 780px; }
        .storia__slider__copy {
          padding: 120px;
          text-align: left;
          height: 780px; }
        .storia__slider__date {
          font-size: 100px; } }
    @media only screen and (min-width: 1600px) {
      .storia__slider__copy {
        padding: 200px; } }
  .storia__timeline {
    background: white;
    font-size: 12px;
    display: none; }
    .storia__timeline__wrap {
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 52px;
      position: relative;
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px); }
      .storia__timeline__wrap:before {
        content: '';
        height: 2px;
        width: calc(100% - 30px);
        background: #002463;
        position: absolute;
        bottom: 8px; }
    .storia__timeline__data {
      margin: 0 5px;
      text-transform: uppercase;
      text-align: center;
      display: block;
      position: relative; }
      .storia__timeline__data:before {
        content: '';
        width: 15px;
        height: 15px;
        position: absolute;
        background: white;
        left: calc(50% - 7.5px);
        bottom: -12px; }
      .storia__timeline__data:after {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 5px;
        display: block;
        margin: 0 auto;
        background: #002463;
        position: absolute;
        bottom: -10px;
        left: calc(50% - 2.5px);
        -webkit-transition: all .05s linear .1s;
        transition: all .05s linear .1s; }
      .storia__timeline__data.active {
        font-weight: 600; }
        .storia__timeline__data.active:after {
          width: 9px;
          height: 9px;
          border-radius: 9px;
          display: block;
          margin: 0 auto;
          background: white;
          position: absolute;
          bottom: -12px;
          border: 2px solid #002463;
          left: calc(50% - 4.5px); }
      .storia__timeline__data:hover {
        cursor: pointer; }
  @media only screen and (min-width: 992px) {
    .storia__timeline {
      display: block; } }
  @media only screen and (max-width: 1599px) {
    .storia__timeline .container {
      max-width: none; } }

.certificati__item {
  color: white;
  border-bottom: 8px solid white;
  /*------------------------------------------------
			Versione alternata
		------------------------------------------------*/
  /*------------------------------------------------
			Primo elemento
		------------------------------------------------*/ }
  .certificati__item__thumb {
    text-align: right; }
  .certificati__item:nth-child(even) {
    background: white;
    color: #002463;
    border-top: 8px solid #0091e5; }
    .certificati__item:nth-child(even) .text-link {
      color: #0091e5; }
    .certificati__item:nth-child(even) .certificati__item__copy {
      text-align: right; }
    .certificati__item:nth-child(even) .certificati__item__thumb {
      text-align: left;
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1; }
  .certificati__item:first-child {
    padding-top: 300px !important; }

.contatti__hero .row {
  height: auto; }

.contatti__hero__info {
  font-size: 13px; }
  .contatti__hero__info p {
    margin-bottom: 0; }

.contatti__site__country {
  text-transform: uppercase;
  font-weight: 500; }

@media only screen and (min-width: 768px) {
  .contatti__hero__info {
    font-size: 14px; }
    .contatti__hero__info p {
      margin-bottom: 5px; } }

.scheda {
  /*------------------------------------------------
      Hero
    ------------------------------------------------*/
  /*------------------------------------------------
      Info
      generazione icone su _global.scss
    ------------------------------------------------*/
  /*------------------------------------------------
      Chef
    ------------------------------------------------*/
  /*------------------------------------------------
      Metodo
    ------------------------------------------------*/
  /*------------------------------------------------
      Correlato
    ------------------------------------------------*/ }
  .scheda__hero {
    color: white;
    position: relative;
    padding-bottom: 75px; }
    .scheda__hero__num {
      font-size: 20px;
      display: block; }
    .scheda__hero__title {
      color: white; }
    .scheda__hero__image {
      margin-bottom: 300px; }
      .scheda__hero__image > div {
        position: relative;
        background: url(../img/ui/hr-line.png) no-repeat center 90%;
        background-size: 100% 2px; }
    .scheda__hero__pack {
      max-width: 110%;
      display: block;
      margin: 0 auto;
      max-height: 280px; }
    .scheda__hero__prod {
      position: absolute;
      width: 200px;
      left: calc(50% - 100px);
      top: 75%; }
    @media only screen and (min-width: 768px) {
      .scheda__hero__pack {
        max-height: 320px; }
      .scheda__hero__prod {
        bottom: initial;
        top: 75%;
        left: 60%; } }
    @media only screen and (min-width: 992px) {
      .scheda__hero {
        padding-bottom: 160px; }
        .scheda__hero:after {
          content: '';
          display: block;
          height: 170px;
          background: url(../img/scheda/curve-fade.png) no-repeat center center;
          position: absolute;
          width: 100%;
          background-size: 100% 100%; }
        .scheda__hero__pack {
          max-height: initial;
          width: 110%;
          height: 110%;
          max-height: none; }
        .scheda__hero__prod {
          width: 70%; } }
    @media only screen and (min-width: 1200px) {
      .scheda__hero {
        padding-bottom: 230px; }
        .scheda__hero:after {
          height: 240px; } }
  .scheda__info {
    background: white;
    color: #181818;
    font-size: 13px; }
    .scheda__info__list {
      margin-bottom: 0; }
      .scheda__info__list li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .scheda__info__list .pasta-icon {
        margin-top: 22px;
        margin-right: 30px; }
      .scheda__info__list div {
        border-top: 1px solid #9aa7c1;
        padding-top: 12px;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
        .scheda__info__list div strong {
          display: block;
          text-transform: uppercase; }
    @media only screen and (min-width: 768px) {
      .scheda__info .pasta-icon {
        margin-top: 0; } }
  .scheda__chef {
    background: white;
    color: #002463;
    border-bottom: 1px solid #e7e7e7; }
    .scheda__chef__image img {
      max-width: 100%; }
    .scheda__chef__text {
      text-align: center; }
      .scheda__chef__text blockquote {
        font-family: "font124084";
        color: #181818; }
        .scheda__chef__text blockquote:before {
          content: '“';
          display: block;
          font-size: 120px;
          height: 80px;
          color: #002463; }
        .scheda__chef__text blockquote footer a {
          color: #002463; }
    @media only screen and (min-width: 768px) {
      .scheda__chef__text {
        text-align: left; } }
  .scheda__metodo {
    background: white;
    color: #002463;
    position: relative;
    /*----------------------
        Play
      ----------------------*/ }
    .scheda__metodo__play {
      position: absolute;
      width: 120px;
      height: 120px;
      background: rgba(0, 0, 0, 0.2);
      border: 1px solid white;
      border-radius: 60px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transition: top .55s ease-out, left .5s ease-out;
      transition: top .55s ease-out, left .5s ease-out;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: 200;
      color: white;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 600;
      top: 1000px;
      cursor: pointer; }
      .scheda__metodo__play .fa {
        margin-right: 10px; }
    .scheda__metodo__item {
      position: relative;
      margin-bottom: 30px;
      outline: none !important; }
      .scheda__metodo__item:nth-of-type(even) .scheda__metodo__text {
        text-align: left; }
      .scheda__metodo__item:nth-of-type(even) .scheda__metodo__image {
        direction: ltr;
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1; }
    .scheda__metodo__text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; }
    .scheda__metodo__copy {
      font-family: "font112844";
      font-size: 14px;
      color: #181818;
      text-align: center; }
    .scheda__metodo__image {
      direction: rtl;
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1; }
      .scheda__metodo__image img {
        width: 100%; }
    @media only screen and (max-width: 991px) {
      .scheda__metodo {
        /* ----------------------------
          Slider (Mobile)
        -----------------------------*/ }
        .scheda__metodo__title {
          text-align: center; }
          .scheda__metodo__title:before, .scheda__metodo__title:after {
            content: none !important; }
        .scheda__metodo__slider {
          margin-left: -30px;
          margin-right: -30px; }
        .scheda__metodo__image, .scheda__metodo__text {
          margin-left: 30px;
          margin-right: 30px; } }
    @media only screen and (min-width: 768px) {
      .scheda__metodo__image {
        -webkit-box-ordinal-group: inherit;
            -ms-flex-order: inherit;
                order: inherit; }
      .scheda__metodo__text {
        text-align: right; }
      .scheda__metodo__copy {
        text-align: inherit; } }
    @media only screen and (min-width: 992px) {
      .scheda__metodo__item {
        margin-bottom: -30px; }
      .scheda__metodo__copy {
        font-size: 16px; }
      .scheda__metodo img {
        width: calc(100% + 15px); } }
    @media only screen and (min-width: 1200px) {
      .scheda__metodo__copy {
        font-size: 18px; } }
  .scheda__correlato {
    background: white;
    color: #002463;
    position: relative;
    overflow: hidden; }
    .scheda__correlato__bg {
      position: absolute;
      top: 20px;
      right: 0; }
    .scheda__correlato__text {
      text-align: center; }
    @media only screen and (min-width: 1200px) {
      .scheda__correlato__title {
        font-size: 50px; } }
    .scheda__correlato__prod {
      width: 100%;
      position: relative;
      z-index: 2; }
      .scheda__correlato__prod__bg {
        position: absolute;
        top: 0;
        right: -20%;
        z-index: 1;
        width: 130%; }
    @media only screen and (min-width: 768px) {
      .scheda__correlato__text {
        text-align: left; }
      .scheda__correlato__prod {
        width: 80%; } }
    @media only screen and (min-width: 992px) {
      .scheda__correlato__prod {
        width: 100%; } }

.fullpage {
  /* CTA play */
  /* Video */
  /*------------------------------------------------
    Nav
  ------------------------------------------------*/
  /*------------------------------------------------
    Chapters
  ------------------------------------------------*/
  /* ---------------------------------
    #AllaDeCecco
  ----------------------------------*/ }
  .fullpage__scroll-down {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    -webkit-transition: all .4s;
    transition: all .4s;
    display: block; }
    .fullpage__scroll-down:hover {
      color: white;
      opacity: .5; }
    .fullpage__scroll-down img {
      width: 12px;
      height: 12px;
      display: block;
      margin: 0 auto; }
  .fullpage .section {
    background: no-repeat white;
    background-size: cover;
    background-position: center 80%;
    color: white;
    background-attachment: fixed;
    text-align: center;
    line-height: 1.8; }
    .fullpage .section.scrolled-up .fullpage__wrapper {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px); }
    .fullpage .section.scrolled-down .fullpage__wrapper {
      -webkit-transform: translateY(20px);
              transform: translateY(20px); }
    .fullpage .section.fp-completely .fullpage__wrapper {
      -webkit-transform: translateY(0) !important;
              transform: translateY(0) !important;
      opacity: 1; }
  .fullpage__wrapper {
    opacity: 0;
    -webkit-transition: opacity .4s ease-out, -webkit-transform .4s ease-out;
    transition: opacity .4s ease-out, -webkit-transform .4s ease-out;
    transition: transform .4s ease-out, opacity .4s ease-out;
    transition: transform .4s ease-out, opacity .4s ease-out, -webkit-transform .4s ease-out;
    -webkit-transition-delay: 0;
            transition-delay: 0; }
  .fullpage__title-lg {
    color: white; }
  .fullpage__title {
    font-family: "font124084";
    color: white; }
  .fullpage__title--chapter {
    font-weight: 600;
    text-transform: uppercase; }
  .fullpage__text {
    font-size: 12px; }
  .fullpage__text-lg {
    color: white;
    font-size: 14px; }
  .fullpage__play-video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .fullpage__play-video__icon {
      color: #ffe45e;
      border: 2px solid #ffe45e;
      width: 60px;
      height: 60px;
      text-align: center;
      line-height: 1;
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 60px;
      font-weight: 500;
      padding-top: 16px;
      margin-right: 30px; }
    .fullpage__play-video div {
      line-height: 1.4;
      margin: 0; }
    .fullpage__play-video strong {
      font-weight: 800;
      color: #ffe45e;
      display: block; }
    .fullpage__play-video small {
      color: white;
      font-size: 12px;
      text-transform: uppercase; }
  .fullpage__video {
    display: none; }
    .fullpage__video [class*="col"] {
      position: relative;
      text-align: right; }
  .fullpage__nav {
    position: fixed;
    bottom: 20px;
    z-index: 20;
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    color: white; }
    .fullpage__nav__num, .fullpage__nav__chapter {
      -ms-flex-preferred-size: 200px;
          flex-basis: 200px; }
    .fullpage__nav__num span {
      font-size: 20px;
      margin: 0 5px; }
    .fullpage__nav__spinner {
      -ms-flex-preferred-size: 80px;
          flex-basis: 80px;
      text-align: center;
      background: url(../img/ui/icon-grid.png) no-repeat center 14px;
      background-size: 16px 16px;
      cursor: pointer; }
      .fullpage__nav__spinner svg {
        width: 43px;
        height: 44px;
        -webkit-transform: rotate(-85deg);
                transform: rotate(-85deg);
        position: relative; }
        .fullpage__nav__spinner svg .base {
          stroke: white;
          stroke-dasharray: 125, 125;
          stroke-width: 2px;
          fill: none; }
        .fullpage__nav__spinner svg .rotation {
          stroke: #002463;
          stroke-width: 4px;
          stroke-dashoffset: 0;
          stroke-dasharray: 0, 125;
          -webkit-transition: all .4s;
          transition: all .4s;
          fill: none; }
  .fullpage__chapters {
    background: #ffd300;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    color: #002463;
    overflow-y: scroll; }
    .fullpage__chapters a {
      color: white;
      display: block;
      width: 100%;
      font-family: "font124084";
      font-size: 13px;
      margin-bottom: 30px;
      background-size: cover;
      position: relative;
      overflow: hidden; }
      .fullpage__chapters a img {
        width: 100%;
        -webkit-transition: -webkit-transform .4s;
        transition: -webkit-transform .4s;
        transition: transform .4s;
        transition: transform .4s, -webkit-transform .4s; }
      .fullpage__chapters a p {
        margin: 0;
        position: absolute;
        width: 100%;
        top: 50%;
        color: white;
        text-align: center;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        z-index: 10; }
      .fullpage__chapters a:hover {
        cursor: pointer; }
        .fullpage__chapters a:hover img {
          -webkit-transform: scale(1.1);
                  transform: scale(1.1); }
    .fullpage__chapters__wrapper {
      position: relative;
      width: 100vw;
      height: 100vh; }
    .fullpage__chapters__title {
      font-family: "Montserrat", arial, sans-serif;
      text-transform: uppercase;
      text-align: center; }
    .fullpage__chapters__close {
      position: fixed;
      width: 100%;
      bottom: 30px;
      text-align: center; }
      .fullpage__chapters__close button {
        display: inline-block;
        width: 36px;
        height: 36px;
        padding: 0; }
        .fullpage__chapters__close button img {
          width: 100%; }
  .fullpage-alladececco .fullpage__title-lg {
    font-family: "font135484"; }
  .fullpage-alladececco .fullpage__title {
    line-height: 1.2; }
  @media only screen and (max-width: 575px) {
    .fullpage__chapters .row.gutters, .fullpage__chapters .row.gutters-sm, .fullpage__chapters .row.gutters-lg {
      margin-left: -6px;
      margin-right: -6px; }
      .fullpage__chapters .row.gutters > [class*="col"], .fullpage__chapters .row.gutters-sm > [class*="col"], .fullpage__chapters .row.gutters-lg > [class*="col"] {
        padding-right: 6px;
        padding-left: 6px; }
    .fullpage__chapters a {
      margin-bottom: 12px; } }
  @media only screen and (min-width: 768px) {
    .fullpage__text {
      font-size: 16px; }
    .fullpage__chapters a {
      font-size: 20px; } }
  @media only screen and (min-width: 992px) {
    .fullpage {
      /* Colonna destra */
      /* Colonna sinistra */ }
      .fullpage__text {
        font-size: 19px; }
        .fullpage__text-lg {
          font-size: 16px; }
      .fullpage__text-right .fullpage__wrapper {
        text-align: right; }
      .fullpage__text-left .fullpage__wrapper {
        text-align: left; }
      .fullpage__nav {
        font-size: 14px; }
      .fullpage__chapters a {
        font-size: 22px; } }

/*# sourceMappingURL=maps/main.css.map */
