@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
/* -----------------------
  Timeline
----------------------- */
.timeline__item {
  position: relative;
}
.timeline__item:not(:last-child):after {
  content: '';
  width: 1px;
  height: 100px;
  background: #5b5e60;
  display: block;
  margin: 0 auto;
}
.timeline__gallery {
  overflow: hidden;
}
.timeline__date {
  position: absolute;
  top: -150px;
  font-size: 180px;
  width: 100%;
  text-align: center;
  color: #edeeee;
  display: none;
}
@media screen and (min-width: 576px) {
  .timeline__date {
    display: block;
  }
}
.timeline__date--mobile {
  color: #bdbfbf;
}
@media screen and (min-width: 576px) {
  .timeline__date--mobile {
    display: none;
  }
}
.timeline .horizontal-gallery .slick-slide {
  max-width: 600px;
}

/*# sourceMappingURL=storia.css.map */
