/* -----------------------
  Filtri
------------------------*/
.tech-area__filters {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  width: 100%;
}

/*# sourceMappingURL=area-tecnica.css.map */
