@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
.hero .media,
.hero .image,
.hero .video,
.hero .youtube {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
}
.hero {
  overflow: hidden;
  text-align: center;
  position: relative;
/* -------------------------
    Navigation + copy
  --------------------------*/
}
.hero .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 460px;
  max-height: 900px;
  text-align: left;
  padding: 0 8.333333%;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.hero .wrapper:before {
  content: '';
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(70%, rgba(0,0,0,0.067)));
  background-image: -o-linear-gradient(top, #000, rgba(0,0,0,0.067) 70%);
  background-image: linear-gradient(to bottom, #000, rgba(0,0,0,0.067) 70%);
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  opacity: 0.8;
  top: 0;
  left: 0;
  pointer-events: none;
}
.hero .wrapper.video-playing .image,
.hero .wrapper.video-playing .copy,
.hero .wrapper.video-playing a {
  opacity: 0;
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .hero .wrapper {
    min-height: 600px;
    height: 50vh;
  }
}
@media screen and (min-width: 992px) {
  .hero .wrapper {
    min-height: 800px;
    height: 89vh;
  }
  .hero .wrapper--align-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 160px;
  }
}
.hero .slide {
  position: relative;
  overflow: hidden;
  color: #fff;
}
.hero .image {
  z-index: 1;
  background-position: center center;
  background-size: cover;
}
.hero .video {
  cursor: url("img/close.cur"), auto;
  z-index: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.hero .youtube {
  cursor: url("img/close.cur"), auto;
  z-index: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.hero .title {
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s ease-out;
  transition: opacity 0.4s, -webkit-transform 0.4s ease-out;
  -o-transition: opacity 0.4s, transform 0.4s ease-out;
  transition: opacity 0.4s, transform 0.4s ease-out;
  transition: opacity 0.4s, transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  position: relative;
  z-index: 2;
  line-height: 1;
  overflow: hidden;
  min-height: 135px;
}
.hero .title > span {
  display: block;
}
.hero .copy {
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s ease-out;
  transition: opacity 0.4s, -webkit-transform 0.4s ease-out;
  -o-transition: opacity 0.4s, transform 0.4s ease-out;
  transition: opacity 0.4s, transform 0.4s ease-out;
  transition: opacity 0.4s, transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  position: relative;
  z-index: 2;
  padding: 0 15px;
  text-align: center;
  color: #fff;
}
.hero .logo {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}
.hero .animejs {
  display: inline-block;
  opacity: 0;
}
.hero .slick-prev,
.hero .slick-next {
  z-index: 10;
  width: 58px;
  height: 16px;
  bottom: 60px;
  top: initial;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  -o-transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1), -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.hero .slick-prev img,
.hero .slick-next img {
  width: 100%;
}
.hero .slick-prev:before,
.hero .slick-next:before {
  content: none;
}
.hero .slick-prev {
  left: 8.333333%;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.hero .slick-prev:hover {
  -webkit-transform: translate(-15px, 0);
      -ms-transform: translate(-15px, 0);
          transform: translate(-15px, 0);
}
.hero .slick-next {
  right: 8.333333%;
}
.hero .slick-next:hover {
  -webkit-transform: translate(15px, 0);
      -ms-transform: translate(15px, 0);
          transform: translate(15px, 0);
}
.hero .slick-dots {
  bottom: 60px;
}
.hero .slick-dots li {
  margin: 0 15px;
}
.hero .slick-dots li,
.hero .slick-dots li button,
.hero .slick-dots li button:before {
  width: 10px;
  height: 10px;
}
.hero .slick-dots li button {
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 0;
}
.hero .slick-dots li button:before {
  content: '';
  opacity: 1;
  position: relative;
}
.hero .slick-dots li:hover button {
  background: rgba(0,0,0,0.2);
}
.hero .slick-dots li.slick-active button {
  background: rgba(0,0,0,0.667);
}
.hero--short .wrapper {
  min-height: 200px;
  height: 200px;
}
@media screen and (min-width: 768px) {
  .hero--short .wrapper {
    min-height: 475px;
    height: 475px;
  }
}
.hero .infonav {
  position: relative;
  bottom: 0;
  background: #fff;
  z-index: 1;
  border-bottom: 2px solid #5b5e60;
  max-height: 400px;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  -o-transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}
@media screen and (min-width: 992px) {
  .hero .infonav {
    position: absolute;
    width: 800px;
    border-bottom: 0;
  }
  .hero .infonav--hidden {
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
  }
}
@media screen and (min-width: 1200px) {
  .hero .infonav {
    width: 1000px;
  }
}
.hero .infonav-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: relative;
}
@media screen and (min-width: 992px) {
  .hero .infonav-inner {
    display: block;
  }
}
.hero .infonav .copy {
  text-align: left;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: block;
  position: relative;
}
@media screen and (min-width: 992px) {
  .hero .infonav .copy {
    -ms-flex-preferred-size: 680px;
        flex-basis: 680px;
    width: 680px;
    padding-left: 20%;
  }
}
@media screen and (min-width: 1200px) {
  .hero .infonav .copy {
    -ms-flex-preferred-size: 880px;
        flex-basis: 880px;
    width: 880px;
  }
}
.hero .infonav .slide {
  color: #5b5e60;
  border: 0;
}
.hero .infonav .nav {
  background: #343539;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50px;
          flex: 1 0 50px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero .infonav .nav button {
  background: none;
  border: 0;
  font-size: 14px;
  color: #bdbfbf;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  padding: 0 15px;
}
.hero .infonav .nav button:before {
  content: '';
  width: 0;
  background: #005da9;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  -webkit-transition: width 0.2s ease-out;
  -o-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
.hero .infonav .nav button.selected:before {
  width: 36px;
}
@media screen and (min-width: 992px) {
  .hero .infonav .nav {
    width: 120px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
  .hero .infonav .nav button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }
}

/*# sourceMappingURL=hero.css.map */
