.dl__menu .dl__menu--active {
  font-family: "AndesCndW04-Lt", sans-serif;
}
.dl__menu .dl__menu--active {
  font-size: 48px;
}
/* -----------------------
  Group
----------------------- */
.dl__divider {
  background: #000;
  width: 83.3333%;
  margin: 0 auto;
  display: block;
  height: 1px;
  border: 0;
}
/* -----------------------
  Menu
----------------------- */
.dl__menu {
  font-size: 18px;
}
.dl__menu button {
  display: none;
  width: 100%;
  border: 0;
  background: none;
  text-align: left;
  color: #75726f;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  padding: 0;
  margin-bottom: 10px;
}
.dl__menu button:hover {
  opacity: 1;
}
@media screen and (min-width: 992px) {
  .dl__menu button {
    display: block;
  }
}
.dl__menu .dl__menu--active {
  line-height: 1;
  opacity: 1;
  text-transform: uppercase;
  color: #000;
}
@media screen and (min-width: 992px) {
  .dl__menu .dl__menu--active {
    font-size: 42px;
  }
}
/* -----------------------
  List
----------------------- */
.dl__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dl__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
@media screen and (min-width: 992px) {
  .dl__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .dl__item {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
}

/*# sourceMappingURL=downloads.css.map */
