/* -----------------------------
  Vars
----------------------------- */
.recipes__select {
  background: none;
  border: 0;
  cursor: pointer;
}
/* -----------------------------
  Global
----------------------------- */
@media (min-width: 400px) {
  html {
    background: #d262ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }
}
body {
  font-family: 'Nunito';
  font-size: 14px;
  -webkit-box-shadow: box-shadow 0 20px 60px -30px #000;
          box-shadow: box-shadow 0 20px 60px -30px #000;
}
@media (min-width: 400px) {
  body {
    width: 380px;
    height: 640px;
  }
}
a,
a:hover {
  color: #ff8462;
}
button {
  font-family: 'Nunito';
  cursor: pointer;
}
button:focus {
  outline: none;
}
/* -----------------------------
  Bottoni
----------------------------- */
.btn-primary {
  color: #fff;
  background: #ff8462;
  border-color: #ff8462;
}
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active {
  border-color: #ff8462;
  background: #ff8462;
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(255,132,98,0.5);
          box-shadow: 0 0 0 3px rgba(255,132,98,0.5);
}
.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(255,132,98,0.5);
          box-shadow: 0 0 0 3px rgba(255,132,98,0.5);
}
.btn-outline-primary,
.btn-outline-primary:disabled {
  color: #ff8462;
  border-color: #ff8462;
}
.btn-outline-primary:hover {
  border-color: #ff8462;
  background: #ff8462;
}
.btn-outline-primary:not(:disabled):not(.disabled):active {
  border-color: #ff8462;
  background: #ff8462;
  color: #fff;
  -webkit-box-shadow: 0 0 0 3px rgba(255,132,98,0.5);
          box-shadow: 0 0 0 3px rgba(255,132,98,0.5);
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(255,132,98,0.5);
          box-shadow: 0 0 0 3px rgba(255,132,98,0.5);
}
.btn-outline-primary:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(255,132,98,0.5);
          box-shadow: 0 0 0 3px rgba(255,132,98,0.5);
}
/* -----------------------------
  Table
----------------------------- */
tr.selected {
  background: #ffd4c8;
}
th,
td {
  padding: 10px 5px;
}
th {
  border-bottom: 1px solid #ddd;
  color: #8a9197;
  white-space: nowrap;
}
th,
th button {
  font-weight: bold;
  font-size: 0.55rem;
  text-transform: uppercase;
  color: #8a9197;
}
th button {
  background: none;
  border: 0;
  padding: 0;
}
td {
  border-bottom: 1px solid #ddd;
}
/* -----------------------------
  Calendar
----------------------------- */
.day {
  text-align: center;
  background: #ff8462;
  color: #fff;
  text-transform: uppercase;
}
.day span,
.day small {
  display: block;
}
.day small {
  font-size: 8px;
}
.past .day {
  background: #ffac95;
}
/* -----------------------------
  Recipes
----------------------------- */
.recipes__recipe--selected {
  background: #ff8462;
  color: #fff;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: -5px;
}
.recipes__select {
  color: #c0c4c7;
}
.recipes__select--selected {
  color: #ff8462;
}
/* -----------------------------
  Action
----------------------------- */
.action {
  background: #ff8462;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 5px 0;
}
/* -----------------------------
  Utils
----------------------------- */
.c-orange {
  color: #ff8462;
}
.bg-orange {
  background: #ff8462;
}

/*# sourceMappingURL=global.css.map */
