.anim-fade.ng-enter,
.anim-fade.ng-move {
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  opacity: 0;
}
.anim-fade.ng-enter-stagger {
  -webkit-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.anim-fade.ng-enter.ng-enter-active,
.anim-fade.ng-move.ng-move-active {
  opacity: 1;
}
.anim-fade.ng-leave {
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  opacity: 1;
}
.anim-fade.ng-leave.ng-leave-active {
  opacity: 0;
}
.anim-view.ng-enter,
.anim-view.ng-move {
  -webkit-transition: all 0.4s ease-out 0.4s;
  -o-transition: all 0.4s ease-out 0.4s;
  transition: all 0.4s ease-out 0.4s;
  opacity: 0;
  -webkit-transform: translateX(60px) scale(1);
      -ms-transform: translateX(60px) scale(1);
          transform: translateX(60px) scale(1);
}
.anim-view.ng-enter.ng-enter-active,
.anim-view.ng-move.ng-move-active {
  opacity: 1;
  -webkit-transform: translateX(0) scale(1);
      -ms-transform: translateX(0) scale(1);
          transform: translateX(0) scale(1);
}
.anim-view.ng-leave {
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.anim-view.ng-leave.ng-leave-active {
  opacity: 0;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
.anim-slide--right.ng-enter,
.anim-slide--left.ng-enter,
.anim-slide--bottom.ng-enter,
.anim-slide--right.ng-move,
.anim-slide--left.ng-move,
.anim-slide--bottom.ng-move,
.anim-slide--right.ng-leave,
.anim-slide--left.ng-leave,
.anim-slide--bottom.ng-leave {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.anim-slide--right.ng-enter,
.anim-slide--right.ng-move {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.anim-slide--right.ng-enter.ng-enter-active,
.anim-slide--right.ng-move.ng-move-active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.anim-slide--right.ng-leave-active {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
.anim-slide--left.ng-enter,
.anim-slide--left.ng-move {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
.anim-slide--left.ng-enter.ng-enter-active,
.anim-slide--left.ng-move.ng-move-active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.anim-slide--left.ng-leave-active {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.anim-slide--bottom.ng-enter,
.anim-slide--bottom.ng-move,
.anim-slide--bottom.ng-leave-active {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.anim-slide--bottom.ng-enter.ng-enter-active,
.anim-slide--bottom.ng-move.ng-move-active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-h-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-v-center,
.search__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html,
body {
  background: #f66d64;
}
body {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  max-width: 768px;
  margin: 0 auto;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.1);
          box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.view {
  padding-bottom: 100px;
  min-height: 100vh;
  background: #fff;
}
.view-header {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 66px;
  position: relative;
  z-index: 20;
}
.view-header__back {
  margin-right: 10px;
}
.view-header__title {
  font-size: 30px;
  margin-bottom: 0;
}
.view-header__btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 5px;
  padding: 0;
  width: 38px;
  height: 38px;
  text-align: center;
}
th,
td {
  padding: 10px 5px;
}
th {
  white-space: nowrap;
}
th,
th button {
  font-weight: bold;
  font-size: 0.55rem;
  text-transform: uppercase;
  color: $grey;
}
th button {
  background: none;
  border: 0;
  padding: 0;
}
.c-primary {
  color: #f66d64;
}
.bg-primary {
  background-color: #f66d64;
}
.c-primaryDark {
  color: #d96f68;
}
.bg-primaryDark {
  background-color: #d96f68;
}
.c-primaryDarker {
  color: #7c4845;
}
.bg-primaryDarker {
  background-color: #7c4845;
}
.c-grey {
  color: #c6c7c7;
}
.bg-grey {
  background-color: #c6c7c7;
}
.c-greyLight {
  color: #f2f2f2;
}
.bg-greyLight {
  background-color: #f2f2f2;
}
.c-white {
  color: #fff;
}
.bg-white {
  background-color: #fff;
}
.btn-link-primary {
  color: #f66d64;
}
.btn-link-primary:hover,
.btn-link-primary:active {
  color: #f34034;
}
.btn-link-primaryDark {
  color: #d96f68;
}
.btn-link-primaryDark:hover,
.btn-link-primaryDark:active {
  color: #cf483f;
}
.btn-link-primaryDarker {
  color: #7c4845;
}
.btn-link-primaryDarker:hover,
.btn-link-primaryDarker:active {
  color: #5b3533;
}
.btn-link-grey {
  color: #c6c7c7;
}
.btn-link-grey:hover,
.btn-link-grey:active {
  color: #acaeae;
}
.btn-link-greyLight {
  color: #f2f2f2;
}
.btn-link-greyLight:hover,
.btn-link-greyLight:active {
  color: #d8d8d8;
}
.btn-link-white {
  color: #fff;
}
.btn-link-white:hover,
.btn-link-white:active {
  color: #e6e6e6;
}
button {
  font-family: 'Nunito', sans-serif;
  cursor: pointer;
  border: 0;
  background: none;
}
button:focus {
  outline: none;
}
.state-msg {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #f66d64;
  color: #fff;
  z-index: 10;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #d96f68;
  padding: 15px;
}
.login-view {
  min-height: 100vh;
  text-align: center;
  color: #fff;
  background: #f66d64;
}
.login-view .logo {
  font-size: 24px;
  margin-top: -60px;
  -webkit-transform: translateX(-14px);
      -ms-transform: translateX(-14px);
          transform: translateX(-14px);
}
.login-view .logo img {
  margin-right: -15px;
}
.login-view .logo strong {
  font-weight: 900;
}
.view-calendar {
  background: #fff;
}
.week {
  width: 100%;
}
.week th,
.week td {
  padding: 10px;
  text-align: center;
}
.week td {
  border-bottom: 1px solid #fff;
}
.week__date {
  min-width: 60px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background: #f66d64;
  padding: 18px 0;
}
.week__date span,
.week__date small {
  display: block;
}
.week__date small {
  font-size: 8px;
}
.week__date--past {
  color: rgba(255,255,255,0.4);
  background: #d96f68;
}
.week__meal {
  font-size: 13px;
  line-height: 1.2;
  background: #f66d64;
  color: #fff;
  font-weight: 700;
  position: relative;
}
.week__meal--dinner:before {
  content: '';
  width: 1px;
  height: 100%;
  background: #c6c7c7;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}
.week__meal--past {
  color: #f66d64;
  background: #f2f2f2;
}
.week__meal--today {
  background: #fff;
  color: #f66d64;
}
.week__meal--today .btn {
  color: #fff;
}
.week__recipe {
  color: #f66d64;
  text-align: center;
  display: block;
}
.week__choose {
  color: #c6c7c7;
  display: block;
  text-align: center;
  font-size: 12px;
}
.recipes {
  width: 100%;
}
.recipes th,
.recipes td {
  border-bottom: 1px solid #c6c7c7;
}
.recipes__recipe {
  -webkit-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
.recipes__recipe--selected {
  background: #f66d64;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: -5px;
}
.recipes__select {
  color: #c6c7c7;
}
.recipes__select--selected {
  color: #f66d64;
}
.recipes .ico-check {
  stroke: #c6c7c7;
  fill: none;
  stroke-width: 2px;
}
.recipes .ico-check--selected {
  stroke: #f66d64;
}
.search__form input {
  border: 0;
}
.search__list {
  list-style: none;
  padding: 0;
}
.search__item {
  border-bottom: 1px solid #c6c7c7;
}
.search__item:first-child {
  border-top: 1px solid #c6c7c7;
}
.search__thumb {
  width: 100px;
  height: 100px;
}
.search__recipe-name {
  font-size: 18px;
  font-weight: 700;
}
.recipe {
  width: 100%;
}
.recipe__hero {
  background-size: cover;
  height: 330px;
  margin-top: -66px;
  position: relative;
}
.recipe__hero:before {
  content: '';
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(246,109,100,0.7)), to(rgba(246,109,100,0.7)));
  background-image: -o-linear-gradient(top, rgba(246,109,100,0.7), rgba(246,109,100,0.7));
  background-image: linear-gradient(to bottom, rgba(246,109,100,0.7), rgba(246,109,100,0.7));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.recipe__title {
  position: absolute;
  bottom: 0;
  color: #fff;
  line-height: 1;
}
.recipe__author {
  color: #fff;
  display: block;
  font-size: 14px;
}
.recipe__labels {
  list-style: none;
  padding: 0;
}
.recipe__labels li {
  display: inline-block;
}
.recipe__labels li:before {
  content: '';
  background: url("../img/check.svg");
  background-size: cover;
  width: 18px;
  height: 13px;
  display: inline-block;
}

/*# sourceMappingURL=main.css.map */
