@charset "UTF-8";
/*
  File generato con SASS, non modificare direttamente il css,
  per i fix veloci (possibilmente nessuno) usare il file shame.css

  Il foglio di stile usa BEM come name-convention  
  Il responsive è scritto mobile-first
  Per i breakpoint e i relativi mixin vedere utils.scss

  La base è un bootstrap custom (vedere cartella /vendor/bootstrap/custom)  

*/
/*------------------------------------------------
	Colors
------------------------------------------------*/
.azure {
  color: #0090D1; }

.bg-azure {
  background-color: #0090D1; }

.border-azure {
  border-color: #0090D1; }

.dark {
  color: #1A171B; }

.bg-dark {
  background-color: #1A171B; }

.border-dark {
  border-color: #1A171B; }

.grey {
  color: #676767; }

.bg-grey {
  background-color: #676767; }

.border-grey {
  border-color: #676767; }

.greydark {
  color: #505050; }

.bg-greydark {
  background-color: #505050; }

.border-greydark {
  border-color: #505050; }

.greylight {
  color: #ededed; }

.bg-greylight {
  background-color: #ededed; }

.border-greylight {
  border-color: #ededed; }

.greylighter {
  color: #F5F4F4; }

.bg-greylighter {
  background-color: #F5F4F4; }

.border-greylighter {
  border-color: #F5F4F4; }

.orange {
  color: #EC7A46; }

.bg-orange {
  background-color: #EC7A46; }

.border-orange {
  border-color: #EC7A46; }

.red {
  color: #C10529; }

.bg-red {
  background-color: #C10529; }

.border-red {
  border-color: #C10529; }

.yellow {
  color: #F4B800; }

.bg-yellow {
  background-color: #F4B800; }

.border-yellow {
  border-color: #F4B800; }

/*------------------------------------------------
	Fonts
------------------------------------------------*/
/*------------------------------------------------
	Font sizes
------------------------------------------------*/
/*------------------------------------------------
	Font weights
------------------------------------------------*/
.fs-xs {
  font-size: 12px; }

.fs-sm {
  font-size: 14px; }

.fs {
  font-size: 17px; }

.fs-md {
  font-size: 24px; }

.fs-lg {
  font-size: 38px; }

.fs-xl {
  font-size: 48px; }

.fs-xxl {
  font-size: 63px; }

/*------------------------------------------------
	Z-index list
------------------------------------------------*/
body {
  max-width: 1920px;
  margin: 0 auto; }

.container {
  max-width: 980px; }

/*------------------------------------------------
	Globals
------------------------------------------------*/
body {
  font-size: 17px;
  font-family: "lft-etica", Arial, sans-serif; }

strong {
  color: #0090D1;
  font-weight: 600; }

.points-bg, .alt-sol-dig__title {
  background: url(../img/ui/title-points.svg) no-repeat center bottom;
  background-size: 90px auto; }

.ts-icon, .ts-icon--search, .ts-icon--next, .ts-icon--next-white {
  background: url(../img/ui/icons.svg) no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: auto 100%;
  vertical-align: middle; }

.ts-icon--search {
  background-position: -0px top; }

.ts-icon--next {
  background-position: -16px top; }

.ts-icon--next-white {
  background-position: -32px top; }

.btn {
  font-size: 20px;
  padding: 11px 18px;
  font-weight: 600;
  color: white;
  font-style: normal;
  -webkit-transition: all .4s;
  transition: all .4s; }
  .btn:hover {
    color: white; }
  .btn-azure {
    background-color: #0090D1;
    border: 1px solid #0090D1; }
    .btn-azure:hover {
      background: transparent;
      color: #0090D1; }
  .btn-dark {
    background-color: #1A171B;
    border: 1px solid #1A171B; }
    .btn-dark:hover {
      background: transparent;
      color: #1A171B; }
  .btn-grey {
    background-color: #676767;
    border: 1px solid #676767; }
    .btn-grey:hover {
      background: transparent;
      color: #676767; }
  .btn-greydark {
    background-color: #505050;
    border: 1px solid #505050; }
    .btn-greydark:hover {
      background: transparent;
      color: #505050; }
  .btn-greylight {
    background-color: #ededed;
    border: 1px solid #ededed; }
    .btn-greylight:hover {
      background: transparent;
      color: #ededed; }
  .btn-greylighter {
    background-color: #F5F4F4;
    border: 1px solid #F5F4F4; }
    .btn-greylighter:hover {
      background: transparent;
      color: #F5F4F4; }
  .btn-orange {
    background-color: #EC7A46;
    border: 1px solid #EC7A46; }
    .btn-orange:hover {
      background: transparent;
      color: #EC7A46; }
  .btn-red {
    background-color: #C10529;
    border: 1px solid #C10529; }
    .btn-red:hover {
      background: transparent;
      color: #C10529; }
  .btn-yellow {
    background-color: #F4B800;
    border: 1px solid #F4B800; }
    .btn-yellow:hover {
      background: transparent;
      color: #F4B800; }
  .btn-lg {
    padding: 15px 22px; }

.form-control:hover, .form-control:focus, .form-control:focus:hover, .form-control:active {
  -webkit-box-shadow: none;
          box-shadow: none; }

.input-group .input-group-btn .btn:focus, .input-group .input-group-btn .btn:hover, .input-group .input-group-btn .btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none; }

.slider .slick-slide {
  outline: none; }

.slider .slick-arrow, .slider .slick-arrow:hover, .slider .slick-arrow:focus {
  background: url(../img/ui/slider-arrows.png);
  width: 28px;
  height: 54px;
  margin: 0;
  padding: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-size: auto 100%; }

.slider .slick-arrow:before {
  content: '';
  width: 21px;
  height: 40px;
  display: block; }

.slider .slick-arrow.slick-prev {
  left: -50px; }

.slider .slick-arrow.slick-next {
  right: -50px;
  background-position: top right; }

.slider .slick-dots {
  bottom: -20px; }
  .slider .slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 3px; }
    .slider .slick-dots li button {
      background: none;
      width: 10px;
      height: 10px;
      margin: 0 3px;
      padding: 0;
      display: inline-block;
      border: 1px solid #0090d1;
      border-radius: 10px; }
      .slider .slick-dots li button:before {
        display: none; }
    .slider .slick-dots li.slick-active button {
      background: #0090d1; }

.slider.ui-white .slick-arrow, .slider.ui-white .slick-arrow:hover, .slider.ui-white .slick-arrow:focus {
  background-image: url(../img/ui/slider-arrows--white.png); }

.slider.ui-white .slick-dots {
  bottom: -20px; }
  .slider.ui-white .slick-dots li button {
    border-color: white; }
  .slider.ui-white .slick-dots li.slick-active button {
    background: white; }

.slider.ui-small .slick-arrow, .slider.ui-small .slick-arrow:hover, .slider.ui-small .slick-arrow:focus {
  width: 21px;
  height: 40px; }

html {
  background: no-repeat fixed center center;
  background-size: cover; }

body {
  background: white; }

/*------------------------------------------------
	Section title
------------------------------------------------*/
.title-section {
  text-align: center;
  font-size: 38px;
  background: url(../img/ui/title-bg.png) no-repeat right center;
  background-size: cover;
  padding: 20px;
  margin-bottom: 0; }

/*------------------------------------------------
	Sections
------------------------------------------------*/
section {
  text-align: center; }

/*------------------------------------------------
	Points line divider
------------------------------------------------*/
hr.points {
  background: url(../img/ui/title-points.svg) no-repeat center bottom;
  background-size: 90px auto;
  width: 90px;
  height: 10px;
  border: 0;
  margin: 5px auto 10px; }

/*------------------------------------------------
	Back to top
------------------------------------------------*/
.backtotop {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 2000;
  text-align: center;
  text-transform: uppercase;
  padding: 8px;
  right: -60px;
  bottom: 100px;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: right .4s ease-out;
  transition: right .4s ease-out; }
  .backtotop.visible {
    right: 0; }
  .backtotop svg {
    display: block;
    margin: 0 auto;
    fill: white; }

/*------------------------------------------------
	Slider
------------------------------------------------*/
.slider a {
  display: block;
  position: relative; }

.slider__wrap {
  background: #F5F4F4;
  padding: 60px 15px; }

.slider__logo, .slider__text {
  padding: 20px; }

.slider__logo {
  max-width: 100%; }
  .slider__logo img {
    display: block;
    margin: 0 auto;
    max-width: 100%; }

.slider__text {
  font-size: 22px;
  font-style: italic;
  position: absolute;
  z-index: 2;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1A171B;
  width: 100%; }
  .slider__text strong {
    color: #1A171B;
    font-weight: 800; }

@media only screen and (min-width: 768px) {
  .slider__wrap {
    padding: 60px; }
  .slider__logo {
    padding: 0; }
    .slider__logo img {
      margin: 0; }
  .slider__text {
    text-align: left; } }

/*------------------------------------------------
	Icone social
------------------------------------------------*/
.social-icon--facebook {
  background: url(../img/ui/socials-circle.svg) no-repeat -0px top;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: auto 100%; }

.social-icon--linkedin {
  background: url(../img/ui/socials-circle.svg) no-repeat -40px top;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: auto 100%; }

.social-icon--youtube {
  background: url(../img/ui/socials-circle.svg) no-repeat -80px top;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: auto 100%; }

.social-icon--twitter {
  background: url(../img/ui/socials-circle.svg) no-repeat -120px top;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-size: auto 100%; }

/*------------------------------------------------
	Intro
------------------------------------------------*/
.intro {
  text-align: center; }
  .intro__prodotto {
    background: #F5F4F4; }
    .intro__prodotto .title {
      font-size: 38px;
      text-transform: uppercase;
      font-weight: 600; }
  @media only screen and (min-width: 992px) {
    .intro__prodotto .title {
      font-size: 48px; } }

/*------------------------------------------------
	Eventi
------------------------------------------------*/
.eventi .slider img {
  width: 100%; }

.eventi .slider__wrap {
  padding: 30px 15px; }

.eventi__list__wrapper {
  height: 100%;
  top: 0;
  left: 0;
  background-color: #F5F4F4;
  overflow-y: scroll; }
  .eventi__list__wrapper ul {
    padding: 30px 20px; }

.eventi__evento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 28px; }
  .eventi__evento svg {
    fill: #F5F4F4;
    position: absolute;
    right: -1px;
    top: 20px; }
  .eventi__evento__data {
    background: #0090D1;
    color: white;
    text-align: center;
    width: 70px;
    padding: 15px 0;
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .eventi__evento__text {
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .eventi__evento__giorno {
    font-size: 38px;
    line-height: 0.8; }
  .eventi__evento__mese {
    font-size: 18px; }
  .eventi__evento__title {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0; }
  .eventi__evento__cta {
    color: #1A171B;
    font-weight: 600; }

@media only screen and (min-width: 768px) {
  .eventi .slider__wrap {
    padding: 30px 60px; }
  .eventi__list__wrapper {
    position: absolute;
    width: calc(100% - 15px); }
  .eventi__evento__data {
    width: 50px; }
  .eventi__evento__giorno {
    font-size: 32px; }
  .eventi__evento__mese {
    font-size: 16px; }
  .eventi__evento__abstract {
    font-size: 12px; } }

@media only screen and (min-width: 992px) {
  .eventi__evento__data {
    width: 70px; }
  .eventi__evento__giorno {
    font-size: 38px; }
  .eventi__evento__mese {
    font-size: 18px; }
  .eventi__evento__abstract {
    font-size: 14px; } }

/*------------------------------------------------
	Free education e magazine
------------------------------------------------*/
.edumag__item {
  font-size: 14px;
  line-height: 1.3; }

.edumag__image {
  border-radius: 50%;
  overflow: hidden;
  border-style: solid;
  border-width: 3px;
  max-width: 175px;
  margin-left: auto;
  margin-right: auto; }
  .edumag__image img {
    width: 100%;
    border: 6px solid white; }

.edumag__title {
  font-weight: 600;
  font-size: 24px; }

/*------------------------------------------------
	Altre Soluzioni Digitali
------------------------------------------------*/
.alt-sol-dig__item {
  font-size: 14px;
  line-height: 1.3; }
  .alt-sol-dig__item:hover {
    text-decoration: none; }

.alt-sol-dig__image {
  border-radius: 50%;
  overflow: hidden;
  max-width: 175px;
  margin-left: auto;
  margin-right: auto; }
  .alt-sol-dig__image img {
    width: 100%;
    max-width: 110px; }

.alt-sol-dig__title {
  font-size: 20px;
  text-transform: uppercase;
  color: #1A171B;
  padding-bottom: 20px;
  font-weight: 600; }

.alt-sol-dig__text {
  color: #1A171B; }

/*------------------------------------------------
	Store
------------------------------------------------*/
.store__item {
  background: white;
  color: #1A171B;
  font-size: 14px; }
  .store__item:hover {
    color: #1A171B;
    text-decoration: none; }
    .store__item:hover .store__item__cta {
      background: #006d9e; }
  .store__item__wrapper {
    padding: 15px;
    background: white; }
  .store__item img {
    width: 50px;
    height: 50px;
    margin: 0 auto; }
  .store__item__title {
    font-size: 20px;
    margin-bottom: 0; }
  .store__item__price strong {
    font-size: 28px;
    display: block; }
  .store__item__cta {
    background: #0090D1;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    -webkit-transition: background .4s;
    transition: background .4s; }

.store .slick-track {
  padding-bottom: 24px; }

.store .slick-slide {
  margin-left: 30px;
  -webkit-box-shadow: 0 60px 40px -70px;
          box-shadow: 0 60px 40px -70px; }

/*------------------------------------------------
	Fanbase
------------------------------------------------*/
.fanbase {
  background-image: radial-gradient(#f6ad05, #e23153);
  font-size: 33px;
  color: white; }
  .fanbase a {
    -webkit-transition: all .4s;
    transition: all .4s; }
    .fanbase a:hover {
      opacity: .7; }

/*------------------------------------------------
	Prefooter
------------------------------------------------*/
.prefooter {
  background: #676767;
  color: white;
  text-align: left;
  font-size: 14px; }
  .prefooter a {
    color: white; }
  .prefooter__ts-mark {
    -ms-flex-preferred-size: 25px;
        flex-basis: 25px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0; }
    .prefooter__ts-mark img {
      width: 25px;
      height: 25px; }
  .prefooter__service-links a {
    display: inline-block; }
  @media only screen and (min-width: 768px) {
    .prefooter__main-links ul {
      white-space: nowrap; }
    .prefooter__main-links li {
      display: inline-block;
      margin-right: 10px; } }
  @media only screen and (min-width: 992px) {
    .prefooter__main-links ul {
      white-space: nowrap; } }

/*------------------------------------------------
	Footer
------------------------------------------------*/
.footer {
  background: #505050;
  color: white;
  font-size: 12px;
  text-align: left; }
  .footer .teamsystem img {
    width: 160px;
    height: auto; }
  @media only screen and (min-width: 768px) {
    .footer .teamsystem {
      direction: rtl; } }

@media only screen and (min-width: 992px) {
  body {
    padding-top: 60px; } }

.main-nav {
  text-align: left;
  position: relative;
  height: auto;
  /* ------------------------------
    Search
  -------------------------------*/
  /* ------------------------------
    Secondary
  -------------------------------*/
  /* ------------------------------
    Primary
  -------------------------------*/
  /**
   *----------------------------------------------------------
   *  Subnav styles
   *----------------------------------------------------------
   */ }
  .main-nav .dropdown-link-style, .main-nav .main-nav__secondary .dropdown .dropdown-menu a, .main-nav__secondary .dropdown .dropdown-menu .main-nav a, .main-nav .dropdown-menu .ui-menu a {
    -webkit-transition: all .4s;
    transition: all .4s;
    border-radius: 4px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px 10px; }
    .main-nav .dropdown-link-style:hover, .main-nav .main-nav__secondary .dropdown .dropdown-menu a:hover, .main-nav__secondary .dropdown .dropdown-menu .main-nav a:hover, .main-nav .dropdown-menu .ui-menu a:hover {
      background: #006d9e;
      text-decoration: none !important;
      color: white; }
  .main-nav .navbar {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
    width: 100%; }
    .main-nav .navbar:before {
      position: absolute;
      width: 100%;
      height: 60px;
      top: 0;
      left: 0;
      z-index: -1;
      border-top: 60px solid white; }
    .main-nav .navbar-brand {
      margin: 6px 15px; }
      .main-nav .navbar-brand img {
        width: 180px;
        height: 32px; }
    .main-nav .navbar-toggler {
      font-size: 24px;
      color: #0090D1;
      outline: 0;
      cursor: pointer; }
      .main-nav .navbar-toggler-icon {
        width: 23px;
        height: 17px; }
    .main-nav .navbar-collapse {
      background: grey; }
    .main-nav .navbar-collapse {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: relative;
      z-index: 200; }
      .main-nav .navbar-collapse.show {
        background: grey; }
  .main-nav .dropdown-toggler:after {
    content: '';
    font-family: 'FontAwesome';
    float: right;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s; }
  .main-nav .dropdown-toggler.open {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: white; }
    .main-nav .dropdown-toggler.open:after {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .main-nav .dropdown-menu {
    display: none;
    font-size: 13px;
    -webkit-box-shadow: 0 5px 20px rgba(26, 23, 27, 0.2);
            box-shadow: 0 5px 20px rgba(26, 23, 27, 0.2); }
    .main-nav .dropdown-menu .menu {
      position: relative;
      background: rgba(0, 0, 0, 0.1); }
      .main-nav .dropdown-menu .menu ul {
        position: static;
        display: none; }
      .main-nav .dropdown-menu .menu li {
        list-style: none; }
      .main-nav .dropdown-menu .menu a {
        color: #1A171B; }
  .main-nav__search {
    margin-right: 20px; }
    .main-nav__search .input-group {
      width: 140px;
      height: 16px;
      margin-top: 10px; }
      .main-nav__search .input-group .btn {
        background: none;
        padding: 0;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        cursor: pointer; }
      .main-nav__search .input-group .ts-icon--search {
        vertical-align: super; }
    .main-nav__search .form-control {
      background: none;
      border: 0;
      border-bottom: 1px solid grey;
      border-radius: 0;
      font-size: 12px;
      padding: 0; }
  .main-nav__secondary {
    font-size: 14px;
    height: 60px;
    padding: 12px 8px;
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
    .main-nav__secondary a:hover {
      color: #0090D1; }
    .main-nav__secondary .dropdown .dropdown-menu {
      top: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 20px; }
    .main-nav__secondary .nav-item:last-child {
      margin-left: 10px; }
    .main-nav__secondary .nav-link {
      color: #1A171B;
      font-weight: 600; }
    .main-nav__secondary .btn {
      padding: 4px 16px; }
    @media only screen and (min-width: 992px) {
      .main-nav__secondary {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
  .main-nav__primary {
    font-size: 13px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
    .main-nav__primary a, .main-nav__primary strong, .main-nav__primary span {
      display: block; }
    .main-nav__primary a {
      color: white;
      padding: 5px 10px;
      display: block;
      padding: 5px 15px; }
    .main-nav__primary li {
      border-bottom: 1px solid rgba(26, 23, 27, 0.1); }
    .main-nav__primary .nav-item {
      position: relative;
      border-bottom: 1px solid rgba(26, 23, 27, 0.1);
      background: white;
      font-size: 13px; }
      .main-nav__primary .nav-item:last-child .nav-link:after {
        content: none; }
      .main-nav__primary .nav-item ul {
        padding: 0; }
      .main-nav__primary .nav-item .nav-link {
        font-weight: 600;
        text-transform: uppercase;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        color: #1A171B;
        font-size: 13px; }
    @media only screen and (min-width: 992px) {
      .main-nav__primary {
        height: 45px;
        padding-top: 10px;
        font-size: 14px; }
        .main-nav__primary a {
          padding-bottom: 5px;
          padding-left: 5px; }
        .main-nav__primary li {
          border: 0; }
        .main-nav__primary .nav-item {
          border-bottom: 0;
          background: none; }
          .main-nav__primary .nav-item.open, .main-nav__primary .nav-item.active, .main-nav__primary .nav-item:hover {
            border-bottom: 5px solid #0090D1; }
          .main-nav__primary .nav-item .nav-link {
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 7px;
            padding-right: 7px;
            font-size: 14px;
            color: white; }
            .main-nav__primary .nav-item .nav-link:after {
              content: '';
              width: 1px;
              height: 20px;
              background: white;
              position: absolute;
              display: inline-block;
              top: 4px;
              right: -6%;
              border: 0; } }
  .main-nav .dropdown-menu {
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
    border-radius: 0;
    top: calc(100% + 5px); }
    .main-nav .dropdown-menu .ui-menu {
      width: 250px;
      top: 0 !important;
      min-height: 100%;
      border: 0 !important;
      -webkit-box-shadow: 0 5px 20px rgba(26, 23, 27, 0.2);
              box-shadow: 0 5px 20px rgba(26, 23, 27, 0.2);
      font-family: "lft-etica", Arial, sans-serif;
      font-size: 13px;
      padding: 10px 0;
      position: absolute !important; }
      .main-nav .dropdown-menu .ui-menu a, .main-nav .dropdown-menu .ui-menu strong, .main-nav .dropdown-menu .ui-menu span {
        text-decoration: none;
        color: white; }
      .main-nav .dropdown-menu .ui-menu span {
        color: #d1f1ff;
        font-size: 12px; }
      .main-nav .dropdown-menu .ui-menu .dropdown-toggler {
        margin-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
      .main-nav .dropdown-menu .ui-menu .ui-state-active {
        margin-top: 0;
        margin-bottom: 0;
        border: 0 !important; }
      .main-nav .dropdown-menu .ui-menu-item {
        outline: none !important;
        border: 0 !important; }
      .main-nav .dropdown-menu .ui-menu .ui-menu {
        background: #0090D1; }
    .main-nav .dropdown-menu > .ui-menu {
      padding-right: 0; }
      .main-nav .dropdown-menu > .ui-menu > .ui-menu-item {
        color: #1A171B; }
        .main-nav .dropdown-menu > .ui-menu > .ui-menu-item > a {
          color: #1A171B;
          border: 0;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px; }
          .main-nav .dropdown-menu > .ui-menu > .ui-menu-item > a:hover {
            color: white;
            background: #0090D1; }
      .main-nav .dropdown-menu > .ui-menu .ui-state-active {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        background: #0090D1;
        color: white !important; }
  @media only screen and (min-width: 992px) {
    .main-nav .navbar > .container {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      height: 105px; }
    .main-nav .navbar-collapse {
      background: none; }
    .main-nav .navbar:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 60px;
      top: 0;
      left: 0;
      z-index: -1;
      border-top: 60px solid white;
      border-bottom: 45px solid rgba(0, 0, 0, 0.5); }
    .main-nav .navbar-brand {
      margin-left: 0; }
      .main-nav .navbar-brand img {
        width: 180px;
        height: 32px; }
    .main-nav .dropdown-toggler:after {
      content: none; }
    .main-nav .dropdown-menu .menu {
      background: white; }
    .main-nav .nav-item:hover > .dropdown-menu {
      display: block; } }

/**
 * --------------------------------------------
 *   HAMBURGER 
 * --------------------------------------------- 
 */
.navbar-toggler {
  /* -------------------------------------
    Chiuso
  ------------------------------------- */ }
  .navbar-toggler .main-nav__hamburger {
    width: 22.5px;
    height: 17.25px;
    position: relative;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: block; }
    .navbar-toggler .main-nav__hamburger span {
      display: block;
      position: absolute;
      height: 3px;
      width: 50%;
      background: #0090D1;
      -webkit-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out; }
      .navbar-toggler .main-nav__hamburger span:nth-child(1), .navbar-toggler .main-nav__hamburger span:nth-child(6) {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .navbar-toggler .main-nav__hamburger span:nth-child(2), .navbar-toggler .main-nav__hamburger span:nth-child(5) {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg); }
      .navbar-toggler .main-nav__hamburger span:nth-child(1), .navbar-toggler .main-nav__hamburger span:nth-child(2) {
        top: 3.92045px; }
      .navbar-toggler .main-nav__hamburger span:nth-child(1), .navbar-toggler .main-nav__hamburger span:nth-child(5) {
        left: calc(50% - 9px); }
      .navbar-toggler .main-nav__hamburger span:nth-child(2), .navbar-toggler .main-nav__hamburger span:nth-child(6) {
        right: calc(50% - 9px); }
      .navbar-toggler .main-nav__hamburger span:nth-child(3), .navbar-toggler .main-nav__hamburger span:nth-child(4) {
        top: 7.125px; }
      .navbar-toggler .main-nav__hamburger span:nth-child(3), .navbar-toggler .main-nav__hamburger span:nth-child(4) {
        opacity: 0; }
      .navbar-toggler .main-nav__hamburger span:nth-child(3) {
        left: -50%; }
      .navbar-toggler .main-nav__hamburger span:nth-child(4) {
        right: -50%; }
      .navbar-toggler .main-nav__hamburger span:nth-child(5), .navbar-toggler .main-nav__hamburger span:nth-child(6) {
        top: 10.32955px; }
  .navbar-toggler.collapsed .main-nav__hamburger span {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
    background: #0090D1; }
    .navbar-toggler.collapsed .main-nav__hamburger span:nth-child(even) {
      right: 0;
      border-radius: 0 3px 3px 0; }
    .navbar-toggler.collapsed .main-nav__hamburger span:nth-child(odd) {
      left: 0;
      border-radius: 3px 0 0 3px; }
    .navbar-toggler.collapsed .main-nav__hamburger span:nth-child(1), .navbar-toggler.collapsed .main-nav__hamburger span:nth-child(2) {
      top: 0px; }
    .navbar-toggler.collapsed .main-nav__hamburger span:nth-child(5), .navbar-toggler.collapsed .main-nav__hamburger span:nth-child(6) {
      top: 14.25px; }

.hero {
  background: url(../img/hero/bg.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 40px; }
  .hero, .hero strong {
    color: white; }
  .hero__headline {
    font-size: 38px;
    line-height: 1.1;
    text-align: left; }
    .hero__headline strong {
      font-weight: 600; }
  .hero__slider {
    padding: 40px;
    padding-bottom: 5px; }
    .hero__slider__image {
      height: 0;
      padding-bottom: 200px;
      border-radius: 100%;
      -webkit-box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
              box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.2);
      max-width: 200px;
      margin: 0 auto;
      background-size: cover; }
    .hero__slider__text blockquote {
      font-style: italic; }
      .hero__slider__text blockquote footer {
        font-style: normal; }
    .hero__slider .slick-arrow.slick-next {
      right: -32px; }
    .hero__slider .slick-arrow.slick-prev {
      left: -32px; }
  .hero__cta {
    text-align: center;
    padding-top: 30px;
    margin-top: 20px; }
    .hero__cta .btn:hover {
      color: white;
      border-color: white; }
  @media only screen and (min-width: 576px) {
    .hero__headline {
      font-size: 48px; } }
  @media only screen and (min-width: 768px) {
    .hero__headline {
      font-size: 63px; } }
  @media only screen and (min-width: 992px) {
    .hero__slider {
      background: rgba(255, 255, 255, 0.5); }
      .hero__slider__image {
        max-width: 100%;
        padding-bottom: 100%; }
      .hero__slider__text {
        text-align: left; }
    .hero__cta {
      border-top: 1px solid white; } }

/*

// Custom animations
@import "animations-custom.scss";

// Layout 
@import "variables.scss";
@import "utils.scss";
@import "global.scss";
@import "slick-config.scss";
@import "forms.scss"; 
@import "typography.scss";
@import "main-nav.scss";
@import "footer.scss";

// Components 
@import "social-stories.scss"; 
@import "alladececco.scss"; 

// Pages
@import "home.scss"; 
@import "news.scss"; 
@import "ricette.scss"; 
@import "faq.scss"; 
@import "storia.scss"; 
@import "certificati.scss"; 
@import "contatti.scss"; 
@import "scheda.scss"; 
@import "fullpages.scss"; 

*/

/*# sourceMappingURL=maps/main.css.map */
