@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
/* -----------------------
  Test request
------------------------*/
.test-request__filters {
  background: #edf0f7;
}
@media screen and (min-width: 992px) {
  .test-request__by-query {
    -ms-flex-preferred-size: 180px;
        flex-basis: 180px;
  }
}
.test-request__reset {
  border: 0;
  background: none;
  cursor: pointer;
  border: 0;
  background: none;
  cursor: pointer;
  opacity: 0.4;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.test-request__table tr {
  position: relative;
}
.test-request__table tr:before {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-box-shadow: 0 5px 30px rgba(0,0,0,0.2);
          box-shadow: 0 5px 30px rgba(0,0,0,0.2);
  z-index: 0;
  opacity: 0;
}
.test-request__table tr:nth-child(odd) {
  background: #fff;
}
.test-request__table tr:nth-child(even) {
  background: #edf0f7;
}
.test-request__table tr:hover:before {
  opacity: 1;
}
.test-request__table th,
.test-request__table td {
  padding: 15px;
  position: relative;
  z-index: 1;
  border: 0;
}
@media screen and (min-width: 992px) {
  .test-request__table th,
  .test-request__table td {
    padding: 40px 15px;
  }
}
.test-request__table th {
  color: #005da9;
  font-size: 13px;
  vertical-align: bottom;
  font-weight: 300;
  border-bottom: 1px solid #bdbfbf;
}
.test-request__table td {
  vertical-align: top;
}
.test-request__samples input {
  background: none;
  border: 1px solid #bdbfbf;
  max-width: 50px;
  text-align: center;
  padding: 4px;
}
.test-request__samples--error input {
  border-color: #e30613;
}
.test-request__selector {
  border: 0;
  background: none;
  cursor: pointer;
  color: #005da9;
  display: block;
  text-align: center;
  font-size: 27px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 500;
  padding: 0;
  line-height: 1;
}
.test-request__selector:hover {
  color: #fff;
}
.test-request__selector--disabled {
  opacity: 0.5;
  cursor: default;
}
.test-request__selector--selected {
  background: #005da9;
  color: #fff;
}
.test-request__selector--muted {
  opacity: 0.5;
}
.test-request__selector--resume,
.test-request__selector--resume:hover {
  background: #e30613;
  color: #fff;
  border-color: #e30613;
  font-size: 14px;
  line-height: 2;
  border-radius: 30px;
  width: 30px;
}
.test-request__footer {
  border: 1px solid #e0e3e3;
  border-left: 0;
  border-right: 0;
}
.test-request__resume {
  list-style: none;
  padding: 0;
}
.test-request__resume li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #bdbfbf;
  padding: 7px 0;
  font-weight: 700;
  color: #020202;
}
/* -----------------------
  Lancio richiedi test
------------------------*/
.tests-website .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 576px) {
  .tests-website .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.tests-website .copy {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.tests-website .ampolle {
  min-width: 150px;
  max-width: 100%;
}
@media screen and (min-width: 992px) {
  .tests-website .ampolle {
    min-width: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .tests-website .ampolle {
    min-width: 350px;
  }
}
@media screen and (min-width: 1200px) {
  .tests-website .ampolle {
    min-width: 400px;
  }
}

/*# sourceMappingURL=test-request.css.map */
