@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
/* -----------------------
  downloads
------------------------*/
.download-tab-pane {
  position: relative;
  line-height: 1;
}
.download-tab-pane .palette {
  position: absolute;
  width: 400px;
  background: #fff;
  right: -15px;
  bottom: 0;
  height: 100px;
}
.download-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.download-item {
  display: block;
  width: 120px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
  margin-right: 30px;
}
.download-item,
.download-item:hover {
  text-decoration: none;
  color: #5b5e60;
}
.download-item footer,
.download-item:hover footer {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
@media screen and (min-width: 576px) {
  .download-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .download-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
@media screen and (min-width: 992px) {
  .download-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
  }
}
@media screen and (min-width: 1200px) {
  .download-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}
.download-item .thumb {
  width: 120px;
  height: 170px;
}
@media screen and (min-width: 992px) {
  .download-item .footer {
    opacity: 0;
    -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
    transition: opacity 0.4s, -webkit-transform 0.4s;
    -o-transition: transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
  }
}
.download-item strong {
  display: block;
}

/*# sourceMappingURL=download.css.map */
