.scheda__finiture .nav-link {
  font-family: "AndesCndW04-Lt", sans-serif;
}
.scheda__finiture .nav-link.active {
  font-family: "AndesCndW04-Bold", sans-serif;
}
/* -----------------------
  Features
----------------------- */
.scheda__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1;
}
.scheda__features .item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  text-align: center;
  padding: 0 10px 40px;
}
@media screen and (min-width: 576px) {
  .scheda__features .item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
    padding-bottom: 0;
  }
}
.scheda__features .thumb {
  height: 40px;
  margin: 0 auto 15px;
}
.scheda__features img {
  max-width: 40px;
  max-height: 40px;
}
.scheda__features .title {
  font-size: 18px;
}
.scheda__features .copy {
  color: #75726f;
  font-size: 13px;
  line-height: 1.2;
}
/* -----------------------
  Gallery
----------------------- */
.scheda__gallery .gallery-wrap {
  position: relative;
}
.scheda__gallery .gallery {
  position: absolute;
}
.scheda__gallery .slick-list {
  z-index: 2;
}
@media screen and (min-width: 992px) {
  .scheda__gallery .slick-slide {
    margin-right: 80px;
  }
}
/* -----------------------
  Finiture
----------------------- */
.scheda__finiture .nav-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.scheda__finiture .nav-link {
  font-size: 18px;
  text-transform: uppercase;
  padding: 0;
  position: relative;
  display: inline-block;
}
.scheda__finiture .nav-link,
.scheda__finiture .nav-link.active {
  color: #75726f;
  background: none;
}
.scheda__finiture .nav-link:after {
  content: '';
  display: block;
  width: 40px;
  height: 2px;
  background: #a3a19f;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  -o-transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1), -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}
.scheda__finiture .nav-link:hover:after,
.scheda__finiture .nav-link.active:after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
.scheda__finiture .nav-link:hover:after {
  opacity: 0.5;
}
.scheda__finiture .nav-link.active:after {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .scheda__finiture .nav-link {
    font-size: 24px;
  }
}
/* -----------------------
  Download
----------------------- */
.scheda__download .downloads {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.scheda__download .downloads li {
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}
@media screen and (min-width: 576px) {
  .scheda__download .downloads li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}
@media screen and (min-width: 768px) {
  .scheda__download .downloads li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33.3333%;
            flex: 1 0 33.3333%;
  }
}

/*# sourceMappingURL=contatti.css.map */
