/* -----------------------
  Punti vendita
----------------------- */
.scheda__map .map {
  background: url("../../pages/scheda/img/map.png") no-repeat center center;
  background-size: cover;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
          box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
}
.scheda__map img {
  width: 42px;
  height: 52px;
}
@media print {
  .scheda__map {
    display: none;
  }
}

/*# sourceMappingURL=punti-vendita.css.map */
