@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
/* -------------------------------
  Vertical gallery
------------------------------- */
.vertical-gallery {
  position: relative;
}
.vertical-gallery .nav {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 80px;
  background: #020202;
}
.vertical-gallery .nav button {
  background: none;
  border: 0;
  font-size: 14px;
  color: #bdbfbf;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  white-space: nowrap;
}
.vertical-gallery .nav button:after {
  content: '';
  width: 0;
  background: #005da9;
  height: 1px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  -webkit-transition: width 0.2s ease-out;
  -o-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
.vertical-gallery .nav button.selected:after {
  width: 36px;
}
@media screen and (min-width: 576px) {
  .vertical-gallery .nav {
    background: none;
    left: -80px;
  }
}
/* -------------------------------
  Horizontal gallery
------------------------------- */
.horizontal-gallery .slick-list {
  z-index: 2;
  overflow: visible;
}
.horizontal-gallery .slick-slide {
  margin: 0 20px;
}
@media screen and (min-width: 992px) {
  .horizontal-gallery .slick-slide {
    margin: 0 20px;
  }
}
/* -------------------------------
  Centered gallery
------------------------------- */
.centered-gallery .slick-list {
  z-index: 2;
}
@media screen and (min-width: 1200px) {
  .centered-gallery .slick-slide {
    margin: 0 20px;
  }
}
/* -------------------------------
  Grid gallery
------------------------------- */
.grid-gallery .blur-shadow__wrapper {
  display: block;
  position: relative;
}
.grid-gallery .blur-shadow__wrapper:hover:before {
  opacity: 1;
}
.grid-gallery .blur-shadow__wrapper:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: '+';
  position: absolute;
  height: 87.8%;
  width: 100%;
  opacity: 0;
  background: rgba(2,2,2,0.6);
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  font-size: 80px;
  color: #fff;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  text-decoration: none;
}
.no-supports .grid-gallery .blur-shadow__wrapper:before {
  height: 93.9%;
}

/*# sourceMappingURL=galleries.css.map */
