/*------------------------------
	Fancybox
------------------------------*/
.fancybox-item {
  cursor: pointer;
  position: relative;
  display: block;
}
.fancybox-item:hover:after {
  opacity: 0.5;
}
.fancybox-item:after {
  font-family: arial, sans-serif;
  content: '🞡';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  font-weight: 100;
  font-size: 60px;
  padding: 0 30px;
  color: rgba(255,255,255,0.667);
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.fancybox-item img {
  width: 100%;
}
.fancybox-item .btn-playvideo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.fancybox-slide .fancy-image {
  display: block;
  position: relative;
  padding: 0;
}
.fancybox-slide .fancy-image .btn-share {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}
.fancybox-slide .fancy-image img {
  max-width: 1600px;
  max-height: 800px;
}

/*# sourceMappingURL=fancybox.css.map */
