@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
.news-preview .item {
  padding: 10px 0;
}
.news-preview .item a:hover {
  text-decoration: none;
}
.news-preview .info strong {
  font-weight: 600;
}
.news-preview .copy {
  color: #5b5e60;
  text-decoration: none;
}

/*# sourceMappingURL=news-preview.css.map */
