@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
.tab-horizontal {
  background: #edeeee;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 992px) {
  .tab-horizontal {
    padding-left: 0;
    padding-right: 0;
    position: static;
  }
}
.tab-horizontal > .row {
  margin-left: 0;
  margin-right: 0;
}
.tab-horizontal .aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-shadow: 0 7px 14px rgba(0,0,0,0.2);
          box-shadow: 0 7px 14px rgba(0,0,0,0.2);
}
@media screen and (min-width: 768px) {
  .tab-horizontal .aside {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.tab-horizontal .nav {
  background: #fff;
}
.tab-horizontal .nav button {
  border: 0;
  background: none;
  cursor: pointer;
  text-align: left;
  padding-right: 70px;
  color: #e0e3e3;
  position: relative;
  font-size: 15px;
}
.tab-horizontal .nav button:after {
  content: '';
  background: #e30613;
  height: 1px;
  width: 40px;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}
.tab-horizontal .nav button.active {
  color: #020202;
  font-weight: 600;
}
.tab-horizontal .nav button.active:after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
@media screen and (min-width: 992px) {
  .tab-horizontal .nav button {
    font-size: 18px;
    display: block;
    width: 100%;
    text-align: right;
  }
}
@media screen and (min-width: 992px) {
  .tab-horizontal .cols {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .tab-horizontal .cols {
    -webkit-column-count: 3;
            column-count: 3;
  }
}

/*# sourceMappingURL=tab-horizontal.css.map */
