.hero .media,
.hero .image,
.hero .video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
}
.hero {
  overflow: hidden;
  text-align: center;
}
.hero .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 580px;
  max-height: 1200px;
  text-align: left;
  padding: 0 8.333333%;
}
.hero .wrapper:before {
  content: '';
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(70%, rgba(0,0,0,0.067)));
  background-image: -o-linear-gradient(top, #000, rgba(0,0,0,0.067) 70%);
  background-image: linear-gradient(to bottom, #000, rgba(0,0,0,0.067) 70%);
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  opacity: 0.8;
  top: 0;
  left: 0;
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .hero .wrapper {
    height: calc(100vh - 20px);
  }
}
.hero .slide {
  position: relative;
  overflow: hidden;
  color: #fff;
}
.hero .image {
  z-index: 1;
  background-position: center center;
  background-size: cover;
  opacity: 0;
}
.hero .video {
  z-index: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.hero .btn-playvideo {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 50px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.hero .title {
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s ease-out;
  transition: opacity 0.4s, -webkit-transform 0.4s ease-out;
  -o-transition: opacity 0.4s, transform 0.4s ease-out;
  transition: opacity 0.4s, transform 0.4s ease-out;
  transition: opacity 0.4s, transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  position: relative;
  z-index: 2;
  line-height: 1;
  overflow: hidden;
  max-width: 650px;
}
.hero .title > span {
  display: block;
}
.hero .title .word {
  display: inline-block;
}
.hero .title-xxl-bd {
  line-height: 1;
}
.hero .copy {
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s ease-out;
  transition: opacity 0.4s, -webkit-transform 0.4s ease-out;
  -o-transition: opacity 0.4s, transform 0.4s ease-out;
  transition: opacity 0.4s, transform 0.4s ease-out;
  transition: opacity 0.4s, transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  position: relative;
  z-index: 2;
  padding: 0 15px;
  opacity: 0;
}
.hero .animejs {
  display: inline-block;
  opacity: 0;
}
.hero .slick-prev,
.hero .slick-next {
  z-index: 10;
  width: 58px;
  height: 16px;
  bottom: 60px;
  top: initial;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  -o-transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1), -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.hero .slick-prev img,
.hero .slick-next img {
  width: 100%;
}
.hero .slick-prev:before,
.hero .slick-next:before {
  content: none;
}
.hero .slick-prev {
  left: 8.333333%;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.hero .slick-prev:hover {
  -webkit-transform: translate(-15px, 0);
      -ms-transform: translate(-15px, 0);
          transform: translate(-15px, 0);
}
.hero .slick-next {
  right: 8.333333%;
}
.hero .slick-next:hover {
  -webkit-transform: translate(15px, 0);
      -ms-transform: translate(15px, 0);
          transform: translate(15px, 0);
}
.hero .slick-dots {
  bottom: 60px;
}
.hero .slick-dots li {
  margin: 0 15px;
}
.hero .slick-dots li,
.hero .slick-dots li button,
.hero .slick-dots li button:before {
  width: 10px;
  height: 10px;
}
.hero .slick-dots li button {
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 0;
}
.hero .slick-dots li button:before {
  content: '';
  opacity: 1;
  position: relative;
}
.hero .slick-dots li:hover button {
  background: rgba(0,0,0,0.2);
}
.hero .slick-dots li.slick-active button {
  background: rgba(0,0,0,0.667);
}
@media screen and (min-width: 768px) {
  .hero-short .wrapper {
    height: 824px;
  }
}
.hero-shortest .wrapper {
  min-height: 400px;
}
@media screen and (min-width: 768px) {
  .hero-shortest .wrapper {
    height: 400px;
  }
}
.hero--empty {
  height: 86px;
  background: #47433f;
}
@media screen and (min-width: 1200px) {
  .hero--empty {
    height: 146px;
  }
}
@media print {
  .hero {
    display: none;
  }
}

/*# sourceMappingURL=hero.css.map */
