@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
.vernici-faidate .wrapper,
.vernici-faidate .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 576px) {
  .vernici-faidate .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.vernici-faidate .copy {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.vernici-faidate .icaforyou {
  width: 150px;
}
.vernici-faidate .pennello {
  width: 100px;
}
@media screen and (min-width: 576px) {
  .vernici-faidate .pennello {
    width: 150px;
  }
}
@media screen and (min-width: 768px) {
  .vernici-faidate .pennello {
    width: 220px;
  }
}
@media screen and (min-width: 992px) {
  .vernici-faidate .pennello {
    width: auto;
  }
}

/*# sourceMappingURL=vernici-faidate.css.map */
