<section class="view view--calendar">


  <header class="view-header">
    <h1 class="view-header__title">
      {{ 'My week' | yandex }}
    </h1>
  </header> 

  
  <img src="img/loader.svg" class="d-block mx-auto anim-fade" alt="" width="50" ng-show="!ctrl.viewReady">
  
  <table class="week" ng-show="ctrl.viewReady"> 
  
    <tr> 
      <th class="text-center">
        <!-- {{ 'Day' | yandex }} -->
      </th>
      <th class="">{{ 'lunch' | yandex }}</th>
      <th class="">{{ 'dinner' | yandex }}</th>
    </tr>
  
    
    <tr  
      class="week__day anim-fade"
      ng-repeat="day in ctrl.week" 
      ng-class="{'week__day--past': day.date < ctrl.today}" 
      title="{{day | json}}"
    > 
      <td 
        class="week__date"
        ng-class="{'week__date--past': day.date < ctrl.today}"
      >
        <span>{{ day.date | date:'EEE' }} </span>
        <small>{{ day.date | date:'dd / MM' }} </small>
        <small hidden>{{ day.date }} </small>
      </td>  
   
      <!-- Lunch -->
      <td 
        class="week__meal week__meal--lunch"
        ng-class="{'week__meal--today': day.date === ctrl.today, 'week__meal--past': day.date < ctrl.today}"
      >
        <a 
          href="#!/recipes" 
          class="week__recipe" 
          ng-click="ctrl.editSelection(day, 'lunch')"
          ng-if="day.lunch"
        >
          {{ day.lunch.name }}
        </a>  
        <a 
          href="#!/recipes" 
          class="week__choose" 
          ng-click="ctrl.setSelection(day.date, 'lunch')"
          ng-if="!day.lunch"
        >
          {{ 'Choose' | yandex }}
        </a>  
      </td>
      <!-- /Lunch -->

      
      <!-- Dinner -->  
      <td 
        class="week__meal week__meal--dinner"
        ng-class="{'week__meal--today': day.date === ctrl.today,'week__meal--past': day.date < ctrl.today}"
        >
        <a 
          href="#!/recipes" 
          class="week__recipe" 
          ng-click="ctrl.editSelection(day.date, 'dinner')"
          ng-if="day.dinner"
        >
          {{ day.dinner.name }}
        </a>  
        <a 
          href="#!/recipes" 
          class="week__choose" 
          ng-click="ctrl.setSelection(day.date, 'dinner')"
          ng-if="!day.dinner"
        >
          {{ 'Choose' | yandex }}
        </a>
      </td>
      <!-- /Dinner -->  



    </tr>
    
  
  </table>



  <pre hidden>
    {{ ctrl.recipesArr | json }}   
  </pre>


</section>