<section class="login-view flex-v-center">
  <div class="w-100 mx-4">

    

    <div ng-if="!ctrl.logged">
      <header class="logo mb-3">        
        <img src="img/loader--white.svg" alt="">
        <span>EAT<strong>WHAT</stron></spa>
      </header>
      <button 
        class="btn btn-outline-white anim-fade"
        ng-click="ctrl.createUser()"
      > 
        {{ 'Login with Google' | yandex }}
      </button>
    </div>

 
    <div
      ng-if="ctrl.logged"
      class="anim-fade"
    >
      {{ 'Successfully logged in as' | yandex }}<br> 
      <h3>{{ ctrl.user.displayName }} </h3>
    </div>

    <!-- 
    <form action="">
      <input class="form-control" placeholder="Username" type="email" ng-model="ctrl.username">
      <input class="form-control" placeholder="Password" type="password" ng-model="ctrl.password" autocomplete>
    </form>
    <button class="btn btn-primary" ng-click="ctrl.createUser()"> 
      Create user
    </button>
    <button class="btn btn-error" ng-click="ctrl.deleteUser()"> 
      Delete user
    </button>
    <hr>
    {{ ctrl.firebaseUser.displayName }}
    {{ message }}
    -->
    <pre>
      {{ ctrl.state | json }}
    </pre>
  </div>
</section>