<section class="view view--recipe">

  <header class="view-header">
    <a 
      class="view-header__back"
      title=""
      ng-href="#!/search" 
    >
      <ico-arrow-left color="white"></ico-arrow-left>
    </a>
  </header> 

  <div class="recipe__hero" style="background-image: url({{ctrl.recipe.image}})">
    <h1 class="recipe__title px-3 mb-4">
      {{ ctrl.recipe.label | yandex }}
      <small class="recipe__author mt-2">By {{ctrl.recipe.source}} </small>
    </h1>
  </div>

  <div class="col pt-4">

    <ul class="recipe__labels">
      <li ng-repeat="healthLabel in ctrl.recipe.healthLabels" class="mb-2 pr-3">
        {{ healthLabel | yandex }}
      </li>
    </ul>

    <h4>{{ 'Ingredients' | yandex }}: </h4>

    <ul class="recipe__ingredients">
      <li ng-repeat="ingredient in ctrl.recipe.ingredientLines">
        {{ ingredient | yandex }}
      </li>
    </ul>

    <footer class="mt-4">
      <a ng-href="{{ctrl.recipe.url}}" class="btn btn-outline-primary btn-block" target="_blank">
        {{ 'See full recipe' | yandex }}
      </a>

    </footer>
    
  </main> 

</section>  