<section class="view view--recipes">

  <header class="view-header">
    <a 
      class="view-header__back"
      title=""
      ng-click="ctrl.goBack()"
      ng-href="#!/calendar" 
    >
      <ico-arrow-left></ico-arrow-left>
    </a>
    <h1 class="view-header__title">
      {{ 'Recipes' | yandex }}
    </h1>
    <a 
      class="view-header__btn btn btn-outline-primary ml-auto" 
      title=""
      ng-href="#!/search" 
    >
      <span class="oi oi-book"></span>
    </a>
    <button 
      class="view-header__btn btn btn-outline-primary" 
      ng-click="ctrl.showAddRecipe = !ctrl.showAddRecipe"
    >
      <ico-plus></ico-plus>
    </button>
  </header> 

  <img src="img/loader.svg" class="d-block mx-auto anim-fade" alt="" width="50" ng-show="!ctrl.viewReady">


  
  <div class="col pt-3">

    <!-- Add recipe -->
    <div ng-show="ctrl.showAddRecipe">
      <div class="input-group mb-3">
        <input 
          type="text" 
          class="form-control" 
          placeholder="{{ 'Add a recipe' | yandex }}" 
          ng-model="ctrl.newRecipe"
        >
        <div class="input-group-append">
          <button 
            class="btn btn-outline-secondary" 
            type="button"
            ng-click="ctrl.addRecipe($event)" ng-disabled="!ctrl.newRecipe"
          >
            {{ 'Aggiungi' | yandex }}
          </button>
        </div>
      </div>
    </div>
    <!-- /Add recipe -->



    <table class="recipes mb-4"> 

      <!-- Table head -->
      <tr>
        <th>
          <button ng-click="ctrl.sortOrder = 'name'">
            {{ 'Recipe' | yandex }} 
            <span class="oi oi-caret-bottom" ng-show="ctrl.sortOrder === 'name'"></span>
          </button>
        </th>
        <th class="text-center">
          <button ng-click="ctrl.sortOrder = 'daysAgo'">
            {{ 'Days ago' | yandex }}
            <span class="oi oi-caret-bottom" ng-show="ctrl.sortOrder === 'daysAgo'"></span>
          </button>
        </th>
        <th class="text-center"> </th>
      </tr>
      <!-- /Table head -->        


      <!-- Recipes -->        
      <tr ng-repeat="recipe in ctrl.mappedRecipesArray | orderBy: ctrl.sortOrder" ng-class="">
        <td>
          <a 
            class="recipes__recipe"
            title="{{recipe.name}}" 
            ng-href="#!/my-recipes/{{recipe.id}}" 
            ng-class="{'recipes__recipe--selected': ctrl.selectedRecipe === recipe.$id}">
            {{ recipe.name }}
          </a>
        </td>
        <td class="text-center">
          {{ recipe.dates | mostRecent | daysAgo:ctrl.state.selecting.date }}
        </td>
        <td class="text-center" ng-show="ctrl.state.selecting.active">
          <toggle-selection 
            selected-recipe="ctrl.selectedRecipe"
            recipe-id="recipe.$id"
          ></toggle-selection>
        </td>
      </tr>
      <!-- /Recipes -->   

    </table>


    <!-- Confirm recipe -->
    <a
      href="#!/calendar" 
      class="btn btn-block btn-primary mb-4" 
      ng-show="ctrl.recipesArr.length > 0 && ctrl.state.selecting.active"
      ng-click="ctrl.confirmRecipe()"
    >
      {{ 'Confirm' | yandex }}
    </a>
    <!-- /Confirm recipe -->


    Current: {{ ctrl.selectedRecipe }}
  
    <pre hidden>
    filter
      {{ ctrl.state | json }}
    </pre> 


  </div>


</section>