<section class="view view--search">


  <header class="view-header">
    <a 
      class="view-header__back"
      title=""
      ng-href="#!/recipes" 
    >
      <ico-arrow-left></ico-arrow-left>
    </a>
    <h1 class="view-header__title">
      {{ 'Search' | yandex }}
    </h1>
  </header> 


  <div class="col bg-primary py-3 mb-3">         
    <form action="" class="search__form" ng-submit="ctrl.search($event)">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="{{ 'Search recipe' | yandex }}" ng-model="ctrl.query">
        <div class="input-group-append">
          <button class="btn btn-outline-white" type="submit">
            {{ 'Search' | yandex }}
          </button>
        </div>
      </div>
    </form>
  </div>

  <img src="img/loader.svg" class="d-block mx-auto anim-fade" alt="" width="50" ng-show="ctrl.loadingData">


  <div ng-show="ctrl.response">
    <div class="col">
      <h5 class="card-title">
        {{ 'Results from' | yandex }} Edamam</h5>
    </div>
    <ul class="search__list">
      <li 
        class="search__item anim-fade" 
        ng-repeat="item in ctrl.response.hits">
        <a 
            ng-click="ctrl.state.recipeDetail = item.recipe" 
            ng-href="#!/recipe/{{ item.recipe.label | urlize}}" 
            title="{{ item.recipe.label }}"
          >
          <img class="search__thumb" ng-src="{{item.recipe.image}}" alt="{{ item.recipe.label }}">
        </a>
        <div class="search__content mx-3">
          <h5 class="search__recipe-name my-0">
            {{ item.recipe.label | yandex}}
          </h5>
          <a 
            ng-click="ctrl.state.recipeDetail = item.recipe" 
            ng-href="#!/recipe/{{ item.recipe.label | urlize}}" 
            title="{{ item.recipe.label }}">
            {{ 'See details' | yandex }}
          </a>
        </div>
      </li>
    </ul>
  </div>



  <pre>
    {{ vm.state | json }}
  </pre>

</section>