.main-menu .mobile-toggler,
.main-menu .secondary .item,
.main-menu .megamenu,
.main-menu__markets a {
  font-family: "AndesCndW04-Lt", sans-serif;
}
.main-menu .primary > li > a {
  font-family: "AndesCndW04-Md", sans-serif;
}
.main-menu__markets {
  padding: 0;
  list-style: none;
}
.main-menu .secondary a,
.main-menu .secondary button,
.main-menu .primary > li > a {
  cursor: pointer;
  text-decoration: none;
}
.main-menu .secondary a:hover:after,
.main-menu .secondary button:hover:after,
.main-menu .primary > li > a:hover:after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
.main-menu .secondary a:after,
.main-menu .secondary button:after,
.main-menu .primary > li > a:after {
  content: '';
  background: #fff;
  width: 100%;
  height: 1px;
  display: block;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.main-menu {
  width: 100%;
  z-index: 1000;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
  position: absolute;
  top: 0;
  max-width: 1920px;
}
.main-menu.open,
.main-menu:hover,
.main-menu.scrolled {
  background-color: #000;
}
.main-menu.scrolled .wrapper {
  padding-top: 28px;
  padding-bottom: 5px;
}
.main-menu.scrolled .secondary {
  top: 0;
}
@media screen and (min-width: 1200px) {
  .main-menu {
    position: fixed;
  }
}
.main-menu .wrapper {
  padding: 30px 5%;
  -webkit-transition: padding 0.4s cubic-bezier(0.33, 0, 0, 1);
  -o-transition: padding 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: padding 0.4s cubic-bezier(0.33, 0, 0, 1);
}
.main-menu .wrapper > ul display none > li {
  width: 100%;
  float: none;
  display: block;
}
.main-menu .wrapper > ul display none > li a {
  width: 100%;
  display: block;
}
.main-menu .wrapper > ul display none > li > ul {
  position: relative;
}
.main-menu .wrapper > ul display none > li > ul.normal-sub {
  width: 100%;
}
.main-menu .wrapper > ul display none > li > ul > li {
  float: none;
  width: 100%;
  margin-top: 20px;
}
.main-menu .wrapper > ul display none > li > ul > li:first-child {
  margin: 0;
}
.main-menu .wrapper > ul display none > li > ul > li > ul {
  position: relative;
}
.main-menu .wrapper > ul display none > li > ul > li > ul > li {
  float: none;
}
@media screen and (min-width: 1200px) {
  .main-menu .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 70px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 1600px) {
  .main-menu .wrapper {
    padding-left: 8.333333%;
    padding-right: 8.333333%;
  }
}
.main-menu .logo {
  position: relative;
  z-index: 150;
}
.main-menu .logo img {
  width: 150px;
}
@media screen and (min-width: 992px) {
  .main-menu .logo img {
    width: 210px;
  }
}
@media screen and (min-width: 1200px) {
  .main-menu .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 8%;
  }
}
@media screen and (min-width: 1600px) {
  .main-menu .logo img {
    width: 320px;
  }
}
.main-menu .mobile-toggler {
  background: none;
  border: 0;
  color: #fff;
  position: absolute;
  right: 5%;
  padding: 0;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 34px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-menu .mobile-toggler:focus {
  outline: none;
}
.main-menu .mobile-toggler span {
  display: block;
  width: 21px;
  margin-left: 5px;
}
.main-menu .mobile-toggler img {
  width: 21px;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}
.main-menu .mobile-toggler .x {
  display: none;
}
@media screen and (min-width: 1200px) {
  .main-menu .mobile-toggler {
    display: none;
  }
}
.main-menu .secondary {
  display: none;
  -webkit-transition: top 0.4s cubic-bezier(0.33, 0, 0, 1);
  -o-transition: top 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: top 0.4s cubic-bezier(0.33, 0, 0, 1);
}
@media screen and (min-width: 1200px) {
  .main-menu .secondary {
    position: absolute;
    right: 5%;
    top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-menu .secondary li {
    list-style: none;
    margin-left: 80px;
  }
  .main-menu .secondary .item {
    color: #fff;
    text-transform: uppercase;
    background: none;
    border: 0;
    display: block;
    line-height: 30px;
    font-size: 12px;
    padding: 0;
  }
  .main-menu .secondary .item img {
    display: inline-block;
    margin-right: 15px;
  }
}
@media screen and (min-width: 1600px) {
  .main-menu .secondary {
    right: 8.333333%;
  }
}
.main-menu .primary {
  display: none;
  width: 100%;
  margin: 0 auto;
  width: 100%;
  list-style: none;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 0;
}
.main-menu .primary > li {
  padding: 0;
  margin: 0;
}
.main-menu .primary > li:focus {
  background: rgba(255,255,255,0.133);
}
.main-menu .primary > li:hover a:after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
.main-menu .primary > li > a {
  text-decoration: none;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px 0;
}
.main-menu .primary .secondary-mobile a,
.main-menu .primary .secondary-mobile button {
  display: inline-block;
  background: none;
  border: 0;
  margin-right: 15px;
}
.main-menu .primary .secondary-mobile a:hover,
.main-menu .primary .secondary-mobile button:hover {
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .main-menu .primary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-menu .primary > li > a {
    font-size: 14px;
    padding: 0;
  }
  .main-menu .primary .secondary-mobile {
    display: none;
  }
}
@media screen and (min-width: 1600px) {
  .main-menu .primary > li > a {
    font-size: 18px;
  }
}
.main-menu .megamenu {
  display: none;
  width: 100%;
  background: #000;
  color: #000;
  z-index: 99;
  left: 0;
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
}
.main-menu .megamenu li {
  margin: 0;
  padding-bottom: 0;
  list-style: none;
  opacity: 0;
}
.main-menu .megamenu a {
  color: #fff;
  display: block;
  white-space: nowrap;
}
.main-menu .megamenu a.normal-sub {
  width: 300px;
  left: auto;
  padding: 10px 20px;
}
.main-menu .megamenu a.normal-sub > li {
  width: 100%;
}
.main-menu .megamenu a.normal-sub > li a {
  border: 0;
  padding: 1em 0;
}
@media screen and (min-width: 1200px) {
  .main-menu .megamenu {
    position: absolute;
    padding: 60px 5%;
    font-size: 18px;
  }
}
@media screen and (min-width: 1600px) {
  .main-menu .megamenu {
    padding: 60px 8.333333%;
  }
}
.main-menu .mm-links .title {
  color: #a3a19f;
  font-size: 16px;
}
.main-menu .mm-links ul {
  padding: 0;
  margin-bottom: 20px;
}
.main-menu .mm-links a {
  padding: 5px 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.main-menu .mm-links a:hover {
  opacity: 0.75;
  text-decoration: none;
}
.main-menu .mm-links .see-all {
  text-transform: capitalize;
  font-size: 16px;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .main-menu .mm-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-menu .mm-links ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .main-menu .mm-links .title {
    font-size: 24px;
    margin-bottom: 35px;
  }
  .main-menu .mm-links ul {
    padding: 0 30px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-menu .mm-links li {
    margin-bottom: 10px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .main-menu .mm-links .see-all {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media screen and (min-width: 1600px) {
  .main-menu .mm-links li {
    margin-bottom: 20px;
  }
}
.main-menu .sedi {
  border-top: 1px solid #75726f;
  padding-top: 20px;
}
.main-menu .sedi ul {
  padding: 0;
}
.main-menu .sedi a {
  display: block;
  padding: 5px 0;
  color: #fff;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.main-menu .sedi a:hover {
  text-decoration: none;
  opacity: 0.75;
}
.main-menu .sedi img {
  display: none;
}
.main-menu .sedi span {
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .main-menu .sedi {
    border-top: none;
    border-left: 1px solid #75726f;
    padding-left: 60px;
  }
  .main-menu .sedi ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  .main-menu .sedi li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0 30px;
  }
  .main-menu .sedi a {
    padding: 0;
  }
  .main-menu .sedi img {
    display: block;
    width: 100%;
  }
}
.main-menu .spessori {
  display: none;
}
.main-menu .spessori ul {
  padding: 0;
}
@media screen and (min-width: 1200px) {
  .main-menu .spessori {
    border-left: 1px solid #75726f;
    padding: 60px 30px;
    display: block;
  }
  .main-menu .spessori ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-menu .spessori .item {
    background: no-repeat center center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-menu .spessori .item:hover {
    outline: 0;
    outline-offset: 0;
  }
  .main-menu .spessori .item:hover .logo {
    -webkit-transform: scale(0.45);
        -ms-transform: scale(0.45);
            transform: scale(0.45);
  }
  .main-menu .spessori .item:hover .logo:after {
    opacity: 1;
  }
  .main-menu .spessori .item:hover .bg {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    background-size: 100%;
  }
  .main-menu .spessori .spacer {
    width: 100%;
  }
  .main-menu .spessori .logo,
  .main-menu .spessori .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transition-property: background-size, -webkit-transform;
    transition-property: background-size, -webkit-transform;
    -o-transition-property: transform, background-size;
    transition-property: transform, background-size;
    transition-property: transform, background-size, -webkit-transform;
    -webkit-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .main-menu .spessori .logo {
    border: 2px solid #fff;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: -webkit-transform 0.4s ease-out;
    -o-transition: transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
    background-size: cover;
    z-index: 1;
  }
  .main-menu .spessori .logo:after {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 0 10px #000;
            box-shadow: 0 0 10px #000;
    display: block;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
    opacity: 0;
  }
  .main-menu .spessori .bg {
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    background-position: center center;
    background-size: 180%;
  }
}
.main-menu__markets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-menu__markets li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  text-align: center;
}
.main-menu__markets a {
  color: #fff;
  text-transform: uppercase;
}
@media print {
  .main-menu {
    display: none;
  }
}

/*# sourceMappingURL=main-menu.css.map */
