@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
.fascia-spessori .icon span {
  font-family: "AndesCndW04-Lt", sans-serif;
}
.fascia-spessori .copy {
  font-size: 24px;
}
/* -----------------------
  Spessori
------------------------*/
.fascia-spessori {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background: url("img/spessori.jpg") no-repeat right 10% center;
  background-size: auto 100%;
}
.fascia-spessori .copy {
  font-size: 24px;
}
.fascia-spessori .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.fascia-spessori .icon {
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 90px;
  height: 90px;
}
.fascia-spessori .icon:before,
.fascia-spessori .icon:after {
  height: 90px;
  width: 100%;
}
.fascia-spessori .icon:before,
.fascia-spessori .icon:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.fascia-spessori .icon:before {
  background: #000;
  z-index: 4;
  -webkit-transition: background 0.4s cubic-bezier(0.33, 0, 0, 1), -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: background 0.4s cubic-bezier(0.33, 0, 0, 1), -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  -o-transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1), background 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1), background 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(0.33, 0, 0, 1), background 0.4s cubic-bezier(0.33, 0, 0, 1), -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
}
.fascia-spessori .icon:after {
  -webkit-transition: opacity 0.4s cubic-bezier(0.33, 0, 0, 1);
  -o-transition: opacity 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: opacity 0.4s cubic-bezier(0.33, 0, 0, 1);
  opacity: 0;
  -webkit-box-shadow: 0 20px 80px #000;
          box-shadow: 0 20px 80px #000;
  z-index: 3;
}
.fascia-spessori .icon img {
  width: 100%;
  position: relative;
  z-index: 5;
}
.fascia-spessori .icon span {
  color: #000;
  font-size: 12px;
}
@media screen and (min-width: 576px) {
  .fascia-spessori .icons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .fascia-spessori .icon {
    width: 110px;
    height: 110px;
    margin: 0 20px;
  }
  .fascia-spessori .icon:before,
  .fascia-spessori .icon:after {
    height: 110px;
    width: 100%;
  }
  .fascia-spessori .icon:hover:before {
    -webkit-transform: scale(1.4) translateZ(1px);
            transform: scale(1.4) translateZ(1px);
    background-color: #897054;
  }
  .fascia-spessori .icon:hover:after {
    opacity: 1;
  }
}
@media screen and (min-width: 992px) {
  .fascia-spessori {
    min-height: 700px;
  }
  .fascia-spessori .icon {
    margin: 0;
  }
}
/* -----------------------
  Progetto
------------------------*/
.fascia-progetto {
  color: #fff;
}
.fascia-progetto .image {
  -webkit-box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
          box-shadow: 5px 5px 25px rgba(0,0,0,0.2);
  background-size: cover;
  background-position: center center;
}
.fascia-progetto img {
  width: 100%;
  opacity: 0;
}
.fascia-progetto .copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fascia-progetto .content {
  background: url("../../img/ui/bg-dark.jpg") #fff;
  position: relative;
}
.fascia-progetto .cta {
  background: #fff;
  color: #272727;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .fascia-progetto .cta {
    display: inline-block;
    padding: 10px 40px;
  }
}
@media screen and (min-width: 768px) {
  .fascia-progetto .cta {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

/*# sourceMappingURL=home.css.map */
