@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
.scheda__colori .main-title {
  font-family: 'Libre Franklin', sans-serif;
  letter-spacing: 0.6px;
}
.scheda__colori .main-title {
  font-size: 30px;
}
/* -----------------------
  Colori
----------------------- */
.scheda__colori .main-title {
  color: #5b5e60;
}
.scheda__colori .slider {
  margin-left: -30px;
  margin-right: -30px;
}
/* ------------------------------
  Filtri
------------------------------ */
/* ------------------------------
  Navigazione
------------------------------ */
.colors-nav {
  font-size: 18px;
}
.colors-nav button {
  border: 0;
  background: none;
  cursor: pointer;
}
/* ------------------------------
 Color grid
------------------------------ */
.color-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 100%;
  margin-left: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 30px 30px;
}
/* ------------------------------
 Color tile
------------------------------ */
.color-tile {
  -ms-flex-preferred-size: calc(50% - 4px);
      flex-basis: calc(50% - 4px);
  position: relative;
  color: #fff;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  z-index: 1;
  padding: 2px;
}
.color-tile.selected .thumb {
  opacity: 1;
}
.color-tile.unselected .thumb {
  opacity: 0.7;
}
.color-tile:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 2;
}
.color-tile:hover:after {
  opacity: 1;
}
.color-tile:hover .content {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  text-decoration: none;
}
.color-tile:after {
  content: '';
  display: block;
  position: absolute;
  width: calc( 100% - 4px );
  height: calc( 100% - 4px );
  -webkit-box-shadow: 0 0 40px #000;
          box-shadow: 0 0 40px #000;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0;
  z-index: 1;
  top: 2px;
  left: 2px;
}
@media screen and (min-width: 576px) {
  .color-tile {
    -ms-flex-preferred-size: calc( 33.3333% - 4px );
        flex-basis: calc( 33.3333% - 4px );
  }
}
@media screen and (min-width: 992px) {
  .color-tile {
    -ms-flex-preferred-size: calc( 25% - 4px );
        flex-basis: calc( 25% - 4px );
  }
}
.color-tile .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 100%;
  padding: 30px;
  width: 100%;
  z-index: 2;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%);
          transform: translateY(10%);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  top: 0;
  color: #fff;
}
.color-tile .btn {
  margin: 0;
  background: transparent;
  font-size: 12px;
}
.color-tile .thumb {
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: opacity 0.4s, -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  -o-transition: opacity 0.4s, transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: opacity 0.4s, transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: opacity 0.4s, transform 0.4s cubic-bezier(0.33, 0, 0, 1), -webkit-transform 0.4s cubic-bezier(0.33, 0, 0, 1);
  width: 100%;
}
/* ------------------------------
 Title tile
------------------------------ */
.title-tile {
  background: #fff;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  pointer-events: none;
}
.title-tile .content {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  opacity: 1;
  color: #5b5e60;
  display: block;
  text-transform: none;
}
/* ------------------------------
  Detail
------------------------------ */
.tile-detail {
  width: 100%;
  background: transparent;
}
.tile-detail .zoom {
  width: 100%;
}
.tile-detail .catalog {
  -webkit-box-shadow: 0 7px 14px rgba(0,0,0,0.2);
          box-shadow: 0 7px 14px rgba(0,0,0,0.2);
}

/*# sourceMappingURL=color-grid.css.map */
