@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
/*------------------------------------
  Prefooter
------------------------------------*/
.main-prefooter {
  font-size: 12px;
}
.main-prefooter,
.main-prefooter a {
  color: #fff;
}
.main-prefooter a {
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.main-prefooter a:hover {
  opacity: 0.6;
}
.main-prefooter li:before {
  content: none;
}
.main-prefooter main {
  background: url("img/prefooter-bg.jpg") no-repeat center center;
  background-size: cover;
}
.main-prefooter header {
  min-height: 80px;
}
.main-prefooter .lifeincolor,
.main-prefooter .palette {
  margin: 0 auto;
  display: block;
}
.main-prefooter .lifeincolor {
  width: 300px;
}
@media screen and (min-width: 768px) {
  .main-prefooter .lifeincolor {
    width: 478px;
  }
}
.main-prefooter .palette {
  margin-bottom: -10px;
}
.main-prefooter .title {
  color: #5b5e60;
}
.main-prefooter .form-group {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.main-prefooter .form-control {
  padding-top: 11px;
}
.main-prefooter .btn {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
@media screen and (min-width: 1200px) {
  .main-prefooter .btn {
    width: auto;
  }
}
/*------------------------------------
  Footer
------------------------------------*/
.main-footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#292929), to(#46474b));
  background-image: -o-linear-gradient(top, #292929, #46474b);
  background-image: linear-gradient(to bottom, #292929, #46474b);
}
.main-footer,
.main-footer a {
  color: #fff;
}
.main-footer li:before {
  content: none;
}
.main-footer .service-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-footer .link-group {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
.main-footer .link-group .title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}
.main-footer .link-group ul {
  list-style: none;
  padding: 0;
}
.main-footer .link-group a {
  font-size: 12px;
}
@media screen and (min-width: 576px) {
  .main-footer .link-group {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media screen and (min-width: 768px) {
  .main-footer .link-group {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}
.main-footer .bottom {
  font-size: 12px;
  list-style: none;
  padding: 0;
}
.main-footer .bottom li {
  display: inline-block;
  margin-right: 10px;
}
@media screen and (min-width: 1200px) {
  .main-footer .bottom {
    padding-top: 5px;
  }
}
.main-footer .webagency {
  color: #fff;
}

/*# sourceMappingURL=main-footer.css.map */
