.faq__menu .faq__menu--active {
  font-family: "AndesCndW04-Lt", sans-serif;
}
.faq__menu .faq__menu--active {
  font-size: 48px;
}
/* -----------------------
  Group
----------------------- */
.faq__divider {
  background: #000;
  width: 100%;
  margin: 0 auto;
  display: block;
  height: 1px;
  border: 0;
}
@media screen and (min-width: 992px) {
  .faq__divider {
    width: 83.3333%;
  }
}
/* -----------------------
  Menu
----------------------- */
.faq__menu {
  font-size: 18px;
}
.faq__menu button {
  display: none;
  width: 100%;
  border: 0;
  background: none;
  text-align: left;
  color: #75726f;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  padding: 0;
  margin-bottom: 10px;
}
.faq__menu button:hover {
  opacity: 1;
}
@media screen and (min-width: 992px) {
  .faq__menu button {
    display: block;
  }
}
.faq__menu .faq__menu--active {
  font-size: 36px;
  line-height: 1;
  opacity: 1;
  text-transform: uppercase;
  color: #000;
}
@media screen and (min-width: 992px) {
  .faq__menu .faq__menu--active {
    font-size: 42px;
  }
}
/* -----------------------
  List
----------------------- */
.faq__list {
  list-style: none;
  padding: 0;
}
.faq__item {
  border-bottom: 1px solid #d1d0cf;
}
.faq__item--open .arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.faq__item .arrow {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.faq__header {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 991px) {
  .faq__header .title {
    font-size: 20px;
  }
}
.faq__body {
  display: none;
}
/* -----------------------
  Feedback
----------------------- */
.feedback {
  background: #f2f3f4;
  display: inline-block;
  color: #47433f;
}
.feedback__response {
  display: none;
}

/*# sourceMappingURL=faq.css.map */
