/* -----------------------
  Tiles
------------------------*/
.tech-area__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e1e3e5;
  position: relative;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
  min-width: 325px;
}
.tech-area__item:hover {
  background: #000;
}
.tech-area__item:hover,
.tech-area__item:hover .abstract {
  color: #fff;
}
.tech-area__item:hover .bg {
  opacity: 0.3;
}
.tech-area__item .bg {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: no-repeat center center;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.tech-area__item .wrapper {
  max-width: 340px;
  position: relative;
  z-index: 1;
}
.tech-area__item .abstract {
  color: #75726f;
}

/*# sourceMappingURL=tech-area.css.map */
