@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
.socialize {
  text-align: center;
  background: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.socialize .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.socialize .item {
  color: #000;
  text-decoration: none;
}
.socialize .item:hover {
  color: #897054;
}
.socialize .item:hover span {
  opacity: 1;
}
.socialize .fa {
  display: block;
  font-size: 26px;
}
@media screen and (min-width: 992px) {
  .socialize .fa {
    font-size: 36px;
  }
}
.socialize span {
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  display: none;
}
@media screen and (min-width: 992px) {
  .socialize span {
    display: block;
  }
}

/*# sourceMappingURL=texts.css.map */
