
@mixin fadeInUpCustom($offset) {

	@keyframes fadeInUp#{$offset} {
		0% {
				opacity: 0;
				transform: translate3d(0,#{$offset}px,0)
		}
	
		to {
				opacity: 1;
				transform: none
		}
	}
	
	
	

}


@for $i from 1 through 10 {
	$j: $i*10;

	@include fadeInUpCustom(#{$j});
	
	.fadeInUp#{$j} { 
		animation-name: fadeInUp#{$j};
	}
}