.eventi {

	&__slider {
		position: relative;

		&__wrap {
			position: relative;
			overflow: hidden;
		}
		
		&__desc {
			position: absolute;
			padding: 60px 30px;
			color: white;
			width: 100%;
			height: 100%;
			z-index: 10;
			pointer-events: none;

			.type { font-size: 40px;}
		}

		.slick {			
			&-list { 
				overflow: visible;
				&:before {
					content: '';
					position: absolute;
					background: $primary;
					width: 100%;
					height: 100%;
					opacity: .6;
					z-index: 10;
				} 
			}
			&-slide {
				.eventi__slider__desc { display: none;}
			}
			&-active {
				.eventi__slider__desc {
					
				}
			}
			&-next, &-prev {	
				width: 17px;
				height: 32px;		
				background-size: cover;
				z-index: 20;
				&:before {
					content: none;
				}
			}
			&-next { 
				background-image: url(../img/ui/next-lg.svg);	
				right: 28px;				
			}
			&-prev {
				background-image: url(../img/ui/prev-lg.svg);	
				left: 28px;
			}
			
		} // .slick

		@include sm-min {
			.slick {
				&-next, &-prev {	width: 33px; height: 62px; }
				&-next { right: -50px;}
				&-prev { left: -50px;	}
			}
		}

	} // .slider

	&__lista {
		overflow: hidden;
		max-width: 1920px;
	}


	&__articolo {
		color: $dark;		

		&, &:hover { text-decoration: none; }
		
		&__image {
			height: 190px;
			position: relative;
			order: 0;
			overflow: hidden; 

			.data {
				margin-left: 15px;
				display: flex; 	
				position: relative;
				z-index: 1;
				color: white;
				.dd {
					font-size: 60px;
					margin-right: 10px;
				}
				.mmyy {
					padding-top: 20px;
					line-height: 1;
					font-size: 20px;
					span {
						display: block;
						text-transform: uppercase; 
					}
				}
				.mm { margin-bottom: 10px; }
			}

			img {position: absolute; right: 15px; top: 0;}

		} // &__image

		&__copy {
			order: 2;
		} 

		

		@include sm-min {
			&__image {overflow: visible; }
			&:nth-child(even) { 
				.eventi__articolo__image { 
					order: 2; 
					img { right: auto; left: 15px; }
				}
				.eventi__articolo__copy {
					order: 1;
				}
			}
		}


	} // &__articolo

	

} // .eventi