



.facemosaic {  
  $bgcolor: $primary;
  position: relative;
  margin: 0 auto;  

  &__mosaic {
    overflow: hidden;  
    background: $bgcolor; 
  }

  &__wrapper {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  &__scroller {
    width: 100%;
    height: auto;
    position: relative;
    top: 0; 
    left: 0;
    transition: transform 2s;
    overflow: hidden;
  } 
  
  &__person {
    background: $bgcolor; 
    float:left;    
    overflow: hidden;         
    // border: 1px solid var(--bgcolor);

    &.empty {
      background-image: linear-gradient(to right, transparent, rgba(0,0,0,.3))
    }
    
    a {
      display: block;
      background: $bgcolor;    
      position: relative;
    }
    
    .cta {
      position: absolute;
      width: 100%;
      bottom: -20px;
      color: white;
      z-index: 1;
      text-align: center;
      display: block;
      transition: all .4s;
      font-size: 11px;
      text-transform: uppercase;
    }

    img { 
      width: 100%;
      filter: grayscale(80%);
      opacity: .7;
      transition: opacity .4s, filter .8s, transform .8s;       
    }

    &:hover {
      .cta {bottom: 0; }
      img { 
        opacity: 1;
        transform: scale(1.1);
      }
    }
  } // &__person


  &__detail {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background: white;
    left: 0;
    top: 0;
    box-shadow: 10px 10px 90px rgba(0, 0, 0, 0.4);
    overflow: hidden;

    > div { 
      position: relative; 
      width: 100%;
      height: 100%;
    }

    img { 
      width: 100%; 
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &__copy {
      width: 100%; 
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      text-align: center;
      padding: 15px 10px;
      background: rgba(255, 255, 255, .6);

      h4 { font-size: 22px; color: $primary; margin-bottom: 0; font-weight: normal;}
      p { font-size:16px; margin-bottom: 0;}
    }

    &__close {
      position: absolute;
      top: 10px;
      left: 10px;
      border:0;
      background: none;
      z-index: 2;
      font-size: 13px;

      svg {
        line { stroke: $primary}
      }

      &:hover {cursor: pointer; }
      .oi { font-size: 12px;}
    }

    @include md-min {
      left: calc(-100% - 30px);
      width: calc(100% + 30px);
    }
  } // .detail 



  // Vue Transitions classes
  .fade-enter-active, .fade-leave-active {
    transition: all .4s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
    transform: translateX(10%);
  }
  
  .fade-move {
    transition: all .4s;
  }
    
    
}
