.main-footer {  
  font-size: 12px;
  padding-bottom: 60px;

  &:before {
    content: '';
    height: 10px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.1), transparent);
    width: 100%; 
    display: block;
    background-repeat: no-repeat;
  }

  .breadcrumb { 
    background: none;
    padding-left: 0;
    padding-right: 0;

    &-item {
      color: $dark;
      font-weight: 600;
      &:before {content: '';}
      &.active {font-weight: normal;}
    }
  }


  &__divisions {
    display: flex;
    justify-content: space-between;

    nav { flex-grow: 1}

    a {
      display: inline-block;
      height: 36px; 

      img { width: auto; height: 100%; display: block;}

      &.teamsystem {
        align-self: flex-end;
        margin-right: 0;
        height: 36px; 
      }
    }
  }


  &__service {
    background: url(../img/ui/footer-service.png) no-repeat center center;
    padding: 8px 0;
    margin: 30px 0;
    height: 49px;

    a {
      color: white; 
    }
  }

  &__bottom {
    margin-top: 30px;
    .row { justify-content: space-between;}
  }

  &__credits {
    align-content: flex-start;
    li { align-self: flex-start; }
    a {display: inline; }
    img { height: 18px;}
  }



  &__social {
    display: flex;
    align-items: center;
    img { height: 36px; width: auto; }
  }

}