// Vars
$c-factory: #65a6d9;
$c-cloud: #2c4491;
$c-sales: #b10e6c;
$c-support: #d1694e;
$c-vertical: #e7b042;
$c-staff: #b1b1b1;




// Globals
body {
  @include body-font;
  max-width: 1920px;
} 
    

// Shadows 
.shadow-light {
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}



// Default header
.header-default {
  height: 190px;
  display: flex;
  align-items: center;
  background: no-repeat center center;
}


 
  
// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $primary;
}



