body.home {
	
	.home-nav {
		display: none;
		background: white;

		&__logo { height: auto; }
	}
	.main-footer {display: none;}

	@include md-min {
		.main-nav {
			display: none;
		}
		.home-nav {
			display: block;
			margin: 0 auto; 

			.row {				
				height: 106px;
				background: white;
				align-items: center;
			}

			.col { 
				text-align: center;
				line-height: 1;
			}

			a { 
				text-transform: uppercase;
				font-size: 15px;
				white-space: nowrap;
			}

			&__logo {
				width: 180px;
			}
		}
	} // md-min

	@include lg-min {
		.home-nav {
			a { font-size: 22px;}
			&__logo { width: 240px;}
		} 
	}

	@include xl-min {
		.home-nav__logo {

			a { font-size: 18px;} 
			&__logo {	width: 345px;	}
			
		}
	}

} 


.home-bg {
	max-width: 100%; 
}
