﻿
$grid-breakpoints-sm: 576px;
$grid-breakpoints-md: 768px;
$grid-breakpoints-lg: 992px;
$grid-breakpoints-xl: 1200px;



@mixin sm-min {
  @media only screen and (min-width: $grid-breakpoints-sm) {
    @content;
  }
}

@mixin md-min {
  @media only screen and (min-width: $grid-breakpoints-md) {
    @content;
  }
}

@mixin lg-min {
  @media only screen and (min-width: $grid-breakpoints-lg) {
    @content;
  }
}

@mixin xl-min {
  @media only screen and (min-width: $grid-breakpoints-xl) {
    @content;
  }
}