.main-nav {
  background: white;
  padding-top: 20px;


  .navbar {
    padding: 0;

    li { padding: 0;}

    a {
      color: $primary;
      text-transform: uppercase;
    }

    &-brand { 
      padding: 0;
      img {
        width: 150px;
      }
    }

    &-toggler {
      padding: 0; border: 0; outline: none!important;

      &:hover {cursor: pointer;}

      &-icon { 
        background-image: url("../img/ui/menu-close.svg");     
        width: 26px;
        height: 26px;   
      }  

      &.collapsed .navbar-toggler-icon {
        background-image: url("../img/ui/menu.svg");    
      }
    }

  } // .navbar 

  @include md-min {
    padding-top: 58px;

    .navbar {
      &-brand img {
        width: 250px;
      }

      &-nav {
        flex-direction: row;
        padding-top: 30px;
      }

      .nav-item { 
        padding-left: 15px; padding-right: 15px;
        &:first-child { padding-left: 0;}
      }
    }
  } // md-min

  @include xl-min {
    .navbar {
      &-brand img {
        width: 340px;
      }
    }
  } // xl-min
 

} // .main-nav