.people {

	&__areas {
		
		&__item {
			@extend .shadow-light;
			display: flex;
			height: 190px; 
			align-items: center;
			padding: 0 25px;
			color: white;

			div { 
				float: left;
				width: 220px;	
			}

			h2 { 
				line-height: 0.9;
				text-transform: capitalize;
			}

			&:hover {
				color: white;
				text-decoration: none;
			}
			
			&:nth-child(even) { // Elementi pari
				background-position: right top;
				flex-direction: row-reverse;

				div { float: right;}
			}

		} // &__item

	} // &__areas	
	
} // .people
 