.percorsi {

	&__header {
		background-image: url(../img/percorsi/header.jpg);
	}

	&__tabs {

		&__header {			
			a {		
					
				&:after {
					content: '';
					
				}
				footer { 
					text-align: right; 	
					border-bottom: 1px solid $primary;
					box-shadow: 0 5px 12px -3px rgba(0, 0, 0, 0.2);	
					max-width: 240px;						
				}
			}
		}

		&__logo {
			width: 240px;
			max-width: 100%;
		}

		&__detail {
			display: none;
			position: relative;

			.title {
				color: $primary;
			}
			
			&:before, &:after {
				content: '';
				display: block;
				background: $primary;
				height: 1px;
			}
			&:before {
				margin-bottom: 30px;
				box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.6);
			}
			&:after {
				margin-top: 30px;
				box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
			}
		}

		&__close { 
			position: absolute;
			right: 0;
			top: 10px;
			&:hover {
				cursor: pointer;
			}
		}

		&__tree {
			max-width: 90%;
			max-height: 70vw;
			overflow: hidden;
			transition: opacity .4s;
			margin: 0 auto -16px;

			&.isOpen {
				opacity: .5;
			}

			@include sm-min {
				margin-bottom: -96px;
			}

			@include lg-min {
				max-width: 760px;
				max-height: 650px;
			}
		}

	}
	  
} // .percorsi
 