.fade-enter-active, .fade-leave-active {
	transition: transform .4s;
}
.fade-enter, .fade-leave-to {
	opacity: 0
}

.fade-move {
	transition: transform .4s;
}


/* Departments */
$depts: 'factory', 'business', 'cloud-newbusiness', 'sales-delivery', 'customers', 'vertical', 'staff';



.posizioni {

	&__header {
		position: sticky;
		top: 0;		
		background: white;
	}

	&__filtro {
		z-index: 10;
		color: $primary;
		display: flex;
		flex-direction: column-reverse;
		text-align: right;
		position: relative;		

		@include md-min {
			.form-inline {
				position: absolute;
				bottom: 0;
				right: 0;
			}
		}
	} // &__filtro

	&__risultati {
		> .row {position: relative;}
	}

	&__item {
		@extend .shadow-light;
		margin-bottom: 30px;

		@each $dept in $depts {
			&.#{$dept} {
				background: url(../img/posizioni/#{$dept}.png);
			}
		}
		
		a { 
			overflow: hidden;
			display: flex;
			align-items: center;
			padding-left: 30px;
			height: 95px;

			&:hover { text-decoration: none;}
		}

		&__name {
			display: block;
			font-size: 30px;
			color: white;
			font-weight: 300;
			line-height: 1.4;
		}

		.text-link {
			color: white;
			background-image: url(../img/ui/next.svg);
		}

		@include md-min {
			&__name {
				font-size: 40px;
			}	
		}

		

	} // &__item

	
	
} // .posizioni
	 

/* ----------------------------------------
	Pagina dettaglio
-----------------------------------------*/
.posizione {

	&__header {
		height: 190px;
		display: flex;
		align-items: center;
		background: no-repeat center center;

		@each $dept in $depts {
			&.#{$dept} {
				background: url(../img/posizioni/#{$dept}.jpg);
			}
		}


		&__name {
			display: block;
			font-size: 30px;
			color: white;
			font-weight: 300;
			line-height: 1.4;
		}

		&__dept {
			color: white;
			font-size: 18px;
		}
	}

	&__details {
		dt { 
			color: $primary;			
			&:before {
				content: '__';
			}
		}
		dd {
			padding-left: 15px;
			margin-bottom: 30px;
		}
	}

	@include md-min {
		&__header__name {
			font-size: 40px;
		}	
	}
} // .posizione
