.tslife {

	&__list {
		overflow: hidden;
		padding-top: 20px;
	}  

	&__article {
		position: relative; 

		&__bg { position: absolute; right: -12px;}

		&__header { 
			display: block; 
			position: relative; 
			height: 275px;
			color: white;
			padding-top: 24px;

			.title { color: white; font-weight: 500; }
			.date { font-size: 16px;}
		}		
		
		&__body {position: relative;}

		&__location {
			position: absolute; 
			font-size: 18px; 
			color: $primary; 
			font-weight: 400;
			top: -35px;			
		}

		&__person {			
			margin-left: auto;
			&__header {
				display: flex;
				flex-direction: column;
				height: auto;
				&, .title {color: $primary;}
				img {
					box-shadow: 5px 5px 14px rgba(0,0,0,0.4);
				}
			}			
		}

		

		@include sm-min {
			&__body {padding-right: 17%;}
		}

		@include md-min {

			&__person {			
				&__header {
					flex-direction: row;
					color: white;
					img {
						margin-top: -41px;
					}
				}				
			}

			&:nth-child(even) {			
				.tslife__article__bg { right:auto; left: -12px;}
				.tslife__article__event {
					order: 2;				
					margin-left: 8.333%;
				}
				.tslife__article__person {
					order: 1;
					margin-left: 0;
					.tslife__article__header {
						flex-direction: row-reverse;
						justify-content: space-between;
					}
					.tslife__article__body {padding-right: 0; padding-left: 17%;}
				}			
			}	

		}

	} // &__article
 
} // .tslife