p {
  line-height: 1.75;
}
 

// Links
a {
  color: $primary;
  &.active,
  &:focus,
  &:hover {
    color: darken($primary, 10%);
  }
} 

.text-link {
  font-size: 14px;
  font-weight: 600;
  transition: color $transition-time;
  color: $dark;
  background: url(../img/ui/next--blue.svg) no-repeat right center;
  background-size: 14px 14px;
  padding-right: 20px;

  &:hover {
    cursor: pointer;
    color: $primary;  
  }

  &--back {
    @extend .text-link;
    background: url(../img/ui/prev--blue.svg) no-repeat left center;
    background-size: 14px 14px;
    padding-right: 0;
    padding-left: 20px;

    &--white {
      background-image: url(../img/ui/prev--white.svg) 
    }
  }  
}
 



/* Titles */
h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
}  
h1 {
  font-size: 58px;
  color: $primary; 
}

h2 {
  font-size: 44px; 
}

.title {
  color: $primary;

  &-md {
    font-size: 24px;
  }
}

.section-name {
  font-size: 14px;
  font-weight: 600;
  color: $primary;
}


/* Text */