// Variables
$primary: #3f90cf;
$dark: #393939;


$transition-time: .4s;



@mixin body-font { 
  font-family:  "lft-etica", Arial, sans-serif;
  font-size: 16px;
  color: $dark;
}


// Gray and Brand Colors for use across theme

/*
$theme-primary: #1fd6a6; //#fed136;
$theme-danger: #e74c3c;

$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default;
$gray-dark: lighten($gray-base, 20%) !default;
$gray: lighten($gray-base, 33.5%) !default;
$gray-light: lighten($gray-base, 46.7%) !default;
$gray-lighter: lighten($gray-base, 93.5%) !default;
*/