body.video-playing {
	background: #ddd;
	transition: background-color .5s ease-out;
}

body.video-not-playing {
	background: $theme-primary;
	transition: background-color .5s ease-out;
}


.works {

	padding-bottom: 0;

	&__title {
		font-weight: 400;
		font-size: 44px; 
		margin-bottom: 30px;
	}
}

.project {
	margin-bottom: 240px;   
	 
	.slick {  

		&-list { overflow: visible; }
 
		&-slide {
			margin-right: 10px; 
 
			&:focus, &:hover {
				outline: none;
			}
			video {
				//border: 1px solid #ddd;
				&:hover { cursor: pointer; } 
			}
		}		
	} // .slick
   

	.wrapper {
		display: grid; 
		grid-gap: 10px;
		// height: 730px;
		// width: 360px;

		> * {
			grid-template-columns: span 1;
			grid-template-rows: span 1;
			box-shadow: 30px 30px 60px rgba(0,0,0,.05);
			transition: all .4s;
		}

		> a {
			transition: transform .2s ease-out;
			&:hover {transform: scale(1.04)}
		}  

		.active {
			position: relative;
			z-index: 10;
		} 

		.inactive {
			filter: brightness(90%);
		}

		.spacer {
			height: 360px; 
			width: 360px; 
			box-shadow: none;

			&--sm {
				width: 90px;
			}
		}    

		.description {
			display: flex; 
			padding: 10px;
			height: 360px;
			width: 360px;
			flex-direction: column;  
			justify-content: flex-end;
			box-shadow: none;
			// text-align: right;

			&--reverse {
				justify-content: flex-start;
			}

			h3 {
				@include body-font;  
				text-transform: none; 
				font-weight: 400;  
				margin-bottom: 10px;
			}

			p {
				line-height: 1.5; 
				margin-bottom: 20px;
				:last-child {
					margin-bottom: 20px;
				}
			}   
	
			a {
				&:before {
					content: '';
					width: 10px;
					height: 1px;
					background-color: $theme-primary;
					display: inline-block; 
					vertical-align: sub;
					transition: width .4s;
				}
				&:hover {
					text-decoration: none;
					&:before {
						width: 30px;
					}
				}
			}

		} //. description

	}  // .wrapper


} // .project



 

.modal-content {
	background: none;
	img { 
		max-width: 100%;
	}

	.close-modal--bottom {
		position: absolute;
		top: auto;
		bottom: 0; 
	}
}   
  
  