<article 
  class="schedaDomanda col-xs-12" 
  data-id="{{$ctrl.id}}"
  ng-show="$ctrl.isVisible()"
>
    <div class="border-bottom margin-bottom">
        <header class="padding-quartered" ng-click="$ctrl.toggle()"> 
            <span 
                class="pull-right font-size24"                            
            >
                <i class="icon icon_expand-button" ng-show="!$ctrl.isOpen"></i>
                <i class="icon icon_expand-arrow" ng-show="$ctrl.isOpen"></i>
            </span>
            <h4 class="schedaDomanda__title">{{$ctrl.title}}</h4>
        </header>
        <div class="card-body">
            <div 
                class="padding-halved" 
                ng-show="$ctrl.isOpen"
                ng-transclude
            >
            </div>
        </div>
        <div class="layout-style2__footer padding-quartered" hidden>
            <div class="bottombar-style2 text-right">
                <button data-interruttoreTipoCard="generale" class="interruttoreTipoCard button-style2">generale</button>
            </div>
        </div>
    </div>
</article>