.correlato .link {
  background-size: cover;
}
.correlato .link:hover:before {
  opacity: 0.95;
}
.correlato .link:before {
  content: '';
  background: #a3a19f;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.7;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.correlato .content {
  position: relative;
  z-index: 1;
  color: #fff;
}

/*# sourceMappingURL=correlato.css.map */
