<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="25" height="25">
  <defs>
    <style>
      .cls-1 {
        fill: none;
        stroke: #707070;
        stroke-width: 2px;
      }
    </style>
  </defs>
  <g id="Group_27" data-name="Group 27">
    <line id="Line_8" data-name="Line 8" class="cls-1" x1="0" y1="13" x2="25" y2="13" />
    <line id="Line_9" data-name="Line 9" class="cls-1" x1="12" y1="0" x2="12" y2="25" />
  </g>
</svg>
