<table class="w-100"> 
    <tr>
      <th class="text-center">{{ 'Day' | yandex }}</th>
      <th class="text-center">{{ 'lunch' | yandex }}</th>
      <th class="text-center">{{ 'dinner' | yandex }}</th>
    </tr>
    <tr 
      class="anim-fade"
      ng-repeat="day in $ctrl.week" 
      ng-class="{'past': day.date < $ctrl.today}" 
      title="{{day | json}}"
    >
      <td class="day">
        <span>{{ day.date | date:'dd' }} </span>
        <small>{{ day.date | date:'MMM' }} </small>
        <small>{{ day.date }} </small>
      </td>

      <td class="">
        <btn-remove 
          day="day"
          on-select="$ctrl.removeSelection(day, 'lunch')"
          ng-if="day.lunch && day.date >= $ctrl.today"
        ></btn-remove>
        <span ng-if="day.lunch">{{ day.lunch.name }}</span>
        <a 
          href="#!/ricette" 
          class="btn btn-sm btn-outline-primary" 
          ng-click="$ctrl.setSelection(day.date, 'lunch')"
          ng-if="!day.lunch && day.date >= $ctrl.today"
        >
          {{ 'Choose' | yandex }}
        </a>
      </td>

      <td class="text-center">
        <btn-remove 
          day="day"
          on-select="$ctrl.removeSelection(day, 'dinner')"
          ng-if="day.dinner && day.date >= $ctrl.today"
        ></btn-remove>
        <span ng-if="day.dinner">{{ day.dinner.name }}</span>
        <a 
          href="#!/ricette" 
          class="btn btn-sm btn-outline-primary" 
          ng-click="$ctrl.setSelection(day.date, 'dinner')"
          ng-if="!day.dinner && day.date >= $ctrl.today"
        >
          {{ 'Choose' | yandex }}
        </a>
      </td>
    </tr>
  </table>

  <pre>
    {{ $ctrl.week | json }}
  </pre>