@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
/* -----------------------
  Posizioni
----------------------- */
.jobs__intro a {
  color: #5b5e60;
  text-transform: uppercase;
}
.jobs__reparto,
.jobs__reparto header {
  border-bottom: 1px solid #e0e3e3;
}

/*# sourceMappingURL=jobs.css.map */
