@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
.sottolinee-lanci .item,
.sottolinee-lanci .copy {
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s, -webkit-transform 0.4s;
  -o-transition: opacity 0.4s, transform 0.4s;
  transition: opacity 0.4s, transform 0.4s;
  transition: opacity 0.4s, transform 0.4s, -webkit-transform 0.4s;
}
.sottolinee-lanci .item {
  padding: 10px 0;
  opacity: 0.6;
}
.sottolinee-lanci .item:hover {
  opacity: 1;
}
.sottolinee-lanci .item:hover .copy {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.sottolinee-lanci a:hover {
  text-decoration: none;
}
.sottolinee-lanci .image {
  -webkit-box-shadow: 0 7px 14px rgba(0,0,0,0.2);
          box-shadow: 0 7px 14px rgba(0,0,0,0.2);
}
.sottolinee-lanci .image img {
  width: 100%;
}
.sottolinee-lanci .copy {
  color: #5b5e60;
  text-decoration: none;
}
@media screen and (min-width: 992px) {
  .sottolinee-lanci .copy {
    -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
}
.sottolinee-lanci .slick-dots {
  position: static;
}

/*# sourceMappingURL=sottolinee-lanci.css.map */
