@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
/* -----------------------
  Filiali
----------------------- */
.filiali-lanci .item {
  -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: opacity 0.4s, -webkit-transform 0.4s;
  -o-transition: opacity 0.4s, transform 0.4s;
  transition: opacity 0.4s, transform 0.4s;
  transition: opacity 0.4s, transform 0.4s, -webkit-transform 0.4s;
}
.filiali-lanci .item {
  padding: 10px 0;
}
.filiali-lanci .item:hover .image {
  -webkit-box-shadow: 0 7px 14px rgba(0,0,0,0.2);
          box-shadow: 0 7px 14px rgba(0,0,0,0.2);
}
.filiali-lanci a:hover {
  text-decoration: none;
}
.filiali-lanci .image {
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  -o-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}
.filiali-lanci .image img {
  width: 100%;
}

/*# sourceMappingURL=filiali-lanci.css.map */
