

/* ---------------------------------------------------------
  Vars
----------------------------------------------------------*/
$green = #6ba542
$grey = #464746
$grey-light = #7b7b7b


/*------------------------------------------------
	Screen sizes
------------------------------------------------*/
screen = {
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
} 


/*------------------------------------------------
	Media query mixins
------------------------------------------------*/

// Mobile first
sm-min()
  @media screen and (min-width screen.sm)
    {block}
md-min()
  @media screen and (min-width screen.md)
    {block}    
lg-min()
  @media screen and (min-width screen.lg)
    {block}    
xl-min()
  @media screen and (min-width screen.xl)
    {block}     
xxl-min()
  @media screen and (min-width screen.xxl)
    {block}      

// Desktop first    
sm-max()
  @media screen and (max-width screen.sm + 1)
    {block}
md-max()
  @media screen and (max-width screen.md + 1)
    {block}    
lg-max()
  @media screen and (max-width screen.lg + 1)
    {block}    
xl-max()
  @media screen and (max-width screen.xl + 1)
    {block}     
xxl-max()
  @media screen and (max-width screen.xxl + 1)
    {block}  


 
/* ---------------------------------------------------------
  Utils
----------------------------------------------------------*/
.flex
  display flex

.flex-horizontal-center
  @extend .flex  
  justify-content center

.flex-vertical-center
  @extend .flex   
  align-items center

.flex-center
  @extend .flex-horizontal-center
  @extend .flex-vertical-center


// Colors
$colors = {
  green: #6ba542,
  grey: #464746 
}

for key, value in $colors 
  .{key}
    color value !important
  .bg-{key}
    background-color value !important


// Gutters large
.row.gutters-lg
  margin-left -26px
  margin-right -26px
  [class*="col-"]
    padding-left 26px
    padding-right 26px

 
// Spacers
$spacers = {
  '0': 0,
  '1': 1rem,
  '1dot5': 1.5rem,
  '2': 2rem,
  '2dot5': 2.5rem,
  '3': 3rem,
  '4': 4rem,
  '5': 5rem,
  '10': 10rem  
}

for key, value in $spacers 
  .pb-{key}
    padding-bottom value
  .mt-{key}
    margin-top value
  .mb-{key}
    margin-bottom value



// Titles  
.title--lg
  font-size: 1.5em
  color $green
  line-height 1.3
  +lg-min()
    font-size: 1.875em

.title--xl
  color $green
  font-size: 2.25em
  +lg-min()
    font-size: 4.25em

.title--xxl
  font-size: 5.25em
  color $green


// Text
.text--sm
  font-size .875em    

.text--lg
  font-size 1.1em    
  +lg-min()
    font-size 1.625em    


// margin
.mx-auto 
  margin 0 auto  
 

/* ---------------------------------------------------------
  Layout
----------------------------------------------------------*/
.wrapper 
  max-width 1400px
  margin 0 auto

  

 