@require '_fonts'
@require '_vars-utils'


/* ---------------------------------------------------------
  Global
----------------------------------------------------------*/
body.blog
  .container--sm 
    max-width 840px
    margin 0 auto



/* ---------------------------------------------------------
  Share
----------------------------------------------------------*/
.blog__share
  line-height 34px
  text-transform uppercase
  span 
    display block
  &--mobile    
    margin-bottom 40px
  &--desktop
    display none
    text-align right
    span 
      display inline
  +lg-min()
    &--mobile
      display none
    &--desktop
      display block

.blog__social
  display inline-block
  color white
  background $green
  border-radius 30px
  width 30px
  height 30px
  text-align center
  margin 0 1px
  &:hover
    color white
    transform scale(1.1)



/* ---------------------------------------------------------
  Hero
----------------------------------------------------------*/
.blog__hero
  background no-repeat center center
  background-size cover
  height 360px
  color $green
  position relative
  &:before
    position absolute
    width 100%
    height 100%
    content ''
    background alpha(white, .5)
  .container
    display flex
    align-items flex-end
    height 100%
    position relative
    z-index 1
    padding-bottom 15px
  .wrapper
    width 100%
  footer 
    color $grey
    text-transform uppercase
  +sm-min()
    height 415px
    footer 
      display flex
      justify-content space-between

.blog__title
  font-size 32px
  font-weight 100
  margin-bottom 20px
  display block
  +sm-min()
    font-size 45px
  +lg-min()
    font-size 60px

.blog__author
  display block
  margin-bottom 20px
  strong 
    color $green
  +sm-min()
    margin 0



/* ---------------------------------------------------------
  Body
----------------------------------------------------------*/
.blog__subtitle
  margin-bottom 20px
  font-size 24px
  +lg-min()
    font-size 36px

.blog__body
  font-size 14px
  color $grey  
  padding 60px 0
  line-height 1.6
  +lg-min()
    font-size 18px



/* ---------------------------------------------------------
  image
----------------------------------------------------------*/  
.blog__image
  margin 30px 0
  img 
    max-width 100%

.blog__caption
  font-size 12px 
  color $grey-light



/* ---------------------------------------------------------
  Video
----------------------------------------------------------*/
.embed-responsive
  margin 30px 0



/* ---------------------------------------------------------
  CTA
----------------------------------------------------------*/
.blog__cta
  font-size 22px
  font-weight 700
  text-align center
  text-transform uppercase
  color $green
  line-height 1.2
  p
    max-width 800px
    margin 0 auto 30px
  +md-min()
    font-size 40px
    padding 40px 0



/* ---------------------------------------------------------
  Related
----------------------------------------------------------*/
.related
  margin 60px 0
  &__title
    text-align center
    color $green
    margin-bottom 30px
    text-transform uppercase


.post
  margin-bottom 30px
  font-size 14px
  &__title
    color $green
  &__abstract
    margin-bottom 20px
  +lg-min
    font-size 18px

    
