@require '_fonts'
@require '_vars-utils'


/* ---------------------------------------------------------
  Cover
----------------------------------------------------------*/
.cover
  height 425px 
  display flex
  align-items center
  justify-content center

  &__title
    text-transform uppercase
    font-size 40px 
    display block
    +lg-min()
      font-size 70px 


  &__button
    color $grey
    border 2px solid $grey
    background rgba(255,255,255,0)
    box-shadow none
    color $grey
    font-family Pluto, sans-serif
    font-weight 400
    border-radius 0
    padding 10px 30px
    outline none
    font-size 16px
    font-weight 300
    transition background .3s
    .fa
      margin-left 10px
    &:hover
      background rgba(255,255,255,.7)


// .cover




/* ---------------------------------------------------------
  Intro
----------------------------------------------------------*/
.intro  
  font-size 19px
  padding 90px 0 30px

  &__title
    font-size 40px
    color $green    
    text-transform uppercase
    +lg-min()
      font-size 60px

  &__subtitle
    font-size 27px





/* ---------------------------------------------------------
  Socialize
----------------------------------------------------------*/
.socialize
  &__headline
    @extend .title--lg
    color $grey  
  &__icons
    text-align center
  &__channel
    display inline-block
    background $grey
    border-radius 50px
    width 50px
    height 50px
    font-size 30px
    color white
    line-height 50px
    margin 0 20px
    transition all .4s
    &:hover
      color white
      background $green

// .socialize  




/* ---------------------------------------------------------
  Storie
----------------------------------------------------------*/
.storie
  &__slider
    .slick-dots
      bottom -45px
    .slick-prev:before, .slick-next:before
      color $green


.storia  
  font-size 16px
  color $grey
  margin-bottom 60px
  &__thumb
    overflow hidden
    margin-bottom 20px
    img 
      width 100%
      transition transform .8s ease-out
  &__title
    color $green
    margin-bottom 0
  &:hover
    img 
      transform scale(1.05)
  +md-min()
    font-size 19px
