@require '_fonts'
@require '_vars-utils'

/* ---------------------------------------------------------
  Vars
----------------------------------------------------------*/
$test-height = {
  lg: 730px
}


/* ---------------------------------------------------------
  Global
----------------------------------------------------------*/
body  
  max-width 1920px 
  font-family "Pluto"
  color $grey


/* ---------------------------------------------------------
  Test app
----------------------------------------------------------*/
.test
  font-size 16px
  overflow hidden
  +lg-min()
    height: $test-height.lg

  .container
    align-self center
    margin 0 auto

  // Titles
  &__title--xl
    font-size 30px
    color $green
    +lg-min()
      font-size 50px

  &__title--xxl
    font-size 50px
    color $green
    +lg-min()
      font-size 55px


  &__separator-line
    content ''
    position absolute 
    width 37px
    height 2px
    background $grey
    top -15px
    left 0
  


  // Button
  &__button
    color $green
    background none 
    border 2px solid $green 
    font-size 16px
    padding 10px 20px
    display inline-block
    transition color .4s, background .4s
    &--disabled
      opacity .5
      pointer-events none
    &:hover
      background $green
      color white


  // Intro
  &__intro
    @extend .flex-center 
    background url(../img/intro.jpg) no-repeat center center
    background-size cover
    text-align center
    padding 150px 0
    justify-content space-around
    +lg-min()
      height: $test-height.lg


  &__cursor 
    display none!important
    +lg-min()
      display block!important
      position absolute
      top 40%
      transition transform .4s ease-in-out
      z-index 10
      pointer-events none

  
  &__stage
    margin 0 auto
    position relative
    background no-repeat center top
    background-size 1120px auto
    +lg-min()
      width 1120px
      height 340px


  &__question
    overflow hidden
    position relative
    +lg-min()
      text-align center
      padding 0 15px  


  &__question-title
    @extend .title--lg
    width 100% 
    color $grey
    margin-bottom 30px
    padding 0 15px 


  &__question-bg
    position absolute
    left 0
    top 0
    width 100%
    display none!important
    +lg-min()
      display block!important

  
  &__thumb
    background none 
    border none     
    outline none
    display flex
    cursor pointer
    margin-bottom 20px
    margin-left -15px
    .image
      transform scale(.7)
      flex-basis 200px
      flex-shrink 0
      position relative
      padding-top: 10px
      &:before
        @extend .test__separator-line
    img   
      transition transform .2s ease-in-out
      margin 0 auto
      width auto
      height 50%
      transform translateZ(0)
    &:hover img
      transform scale(1.1)
    &.selected
      opacity 1
      img
        transition none
        transform scale(1.1)  rotate(7deg)
        animation item-selected .4s
      &:nth-child(odd) 
        img 
          transform scale(1.1)  rotate(-7deg)
          animation-name item-selected--invert
    +lg-min()
      position absolute
      margin 0
      .image
        display block
        transform none
        padding-top 0
        &:before
          content none
      img
        margin 0

  // &__thumb


  &__answers
    max-width 1090px
    margin 0 auto
    display none
    article 
      flex-basis 25%
      text-align left
      padding 15px
      transition opacity .4s
      &.muted
        opacity .7
      &.selected
        opacity 1!important
        color $green
    h5 
      font-size 14px
      position relative
      line-height 1.5
      &:before
        content none
    &--mobile
      display block      
      text-align left
      flex-grow 1
      width calc(100% + 15px)
      margin-left: -15px;
      padding-top 20px
    +sm-min()
      h5 
        font-size 18px
    +lg-min()
      display flex
      h5
        font-size 19px
        &:before
          @extend .test__separator-line
          content ''
      &--mobile
        display none

  
  &__steps
    text-align center
    margin-top 30px
    span
      width 22px
      height 22px
      border 2px solid $green
      border-radius 22px
      transition background .2s ease-in-out
      display inline-block
      margin 0 10px
      &.active
        background $green
    +lg-min()
      span
        margin 0 30px
 

// .test    


/* ---------------------------------------------------------
  Profile
----------------------------------------------------------*/
.profile
  padding-top 30px 
  position relative
  +lg-min()
    height: $test-height.lg


  &__bg
    position absolute 
    width 100%
    height 100%
    background-repeat no-repeat
    background-position right top
    top 0
    left 0
    div
      position relative
      width 100%
      height 100%
    img
      position absolute
    +lg-min()
      display block

  &__wrapper
    position relative

  &__bg--desktop
    display none
    +lg-min()
      display block
  
  &__bg--mobile
    height 360px
    width 100vw
    margin-left -15px
    margin-bottom 30px
    .profile__bg      
      position relative
      transform scale(.5) translateX(-50%) translateY(-50%)
      width 200%
      height 200%
      background-size 1280px
    +lg-min()
      display none


  &__your-profile,
  &__name  
    color $green

  
 
  &__share
    text-transform uppercase
    font-size (14/16)em
    margin-right 55px
    display inline-block
    margin-bottom 15px
    &:after
      content ''
      width 100%
      height 2px
      background $green
      display block
      transition transform .3s
      transform scaleX(0)  
    &:hover:after
      transform scaleX(1)  
    .fa 
       font-size .8em 
       vertical-align middle
       margin-right (5/16)em

 

/* ---------------------------------------------------------
  Animations
----------------------------------------------------------*/
.animate
  opacity 0


.rotate
  animation rotation 10s infinite linear

@keyframes item-selected {
  0% {
    transform: scale(1.1)
  }
  50% {
    transform: scale(1.2) rotate(7deg)
  }
  100% {
    transform: scale(1.1) rotate(7deg)
  }
}

@keyframes item-selected--invert {
  0% {
    transform: scale(1.1)
  }
  50% {
    transform: scale(1.2) rotate(-7deg)
  }
  100% {
    transform: scale(1.1) rotate(-7deg)
  }
}
 

@keyframes rotation {
  0% {
    transform rotate(0)
  }
  100% {
    transform rotate(360deg)
  }
}

for n in (1..10)
  .duration-{n}
    animation-duration n s


for n in (1..10)
  .delay-{n}
    animation-delay (n*50) ms

  