@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
.casehistory-preview .complex-wrapper {
  position: relative;
}
@media screen and (min-width: 992px) {
  .casehistory-preview .complex-details {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 50%;
    padding: 40px 60px 0;
    right: calc(8.3333% + 15px);
  }
}
@media screen and (min-width: 1200px) {
  .casehistory-preview .complex-details {
    right: calc(16.6666% + 15px);
  }
}
@media screen and (min-width: 1600px) {
  .casehistory-preview .complex-details {
    right: calc(25% + 15px);
  }
}

/*# sourceMappingURL=casehistory-preview.css.map */
