@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
/*------------------------------
	Fancybox
------------------------------*/
.fancybox-item {
  cursor: pointer;
  position: relative;
  display: block;
}
.fancybox-item:hover:after {
  opacity: 0.5;
}
.fancybox-item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5b5e60;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.fancybox-item img {
  width: 100%;
}
.fancybox-slide .fancy-image {
  display: block;
  position: relative;
  padding: 0;
}
.fancybox-slide .fancy-image a {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}
.fancybox-slide .fancy-image img {
  width: 100%;
}

/*# sourceMappingURL=fancybox.css.map */
