@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
.banner {
  padding: 30px;
  font-size: 14px;
  display: block;
}
@media screen and (min-width: 992px) {
  .banner {
    font-size: 18px;
  }
}
.banner img {
  max-width: 100%;
}
.banner--border {
  border: 1px solid #edeeee;
}

/*# sourceMappingURL=banner.css.map */
