@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
.main-menu .primary > li > a,
.main-menu .secondary a,
.main-menu .secondary button {
  cursor: pointer;
  text-decoration: none;
}
.main-menu .primary > li > a:hover:after,
.main-menu .secondary a:hover:after,
.main-menu .secondary button:hover:after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
.main-menu .primary > li > a:after,
.main-menu .secondary a:after,
.main-menu .secondary button:after {
  content: '';
  background: #e30613;
  width: 100%;
  height: 2px;
  display: block;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.main-menu {
  width: 100%;
  z-index: 1000;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
  position: relative;
  top: 0;
}
.main-menu.scrolled .wrapper {
  padding-top: 22px;
  padding-bottom: 22px;
}
.main-menu.scrolled .secondary {
  top: -30px;
}
.main-menu a {
  color: #5b5e60;
}
@media screen and (min-width: 1200px) {
  .main-menu {
    position: relative;
  }
}
.main-menu .wrapper {
  -webkit-transition: padding 0.4s cubic-bezier(0.33, 0, 0, 1);
  -o-transition: padding 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: padding 0.4s cubic-bezier(0.33, 0, 0, 1);
}
.main-menu .wrapper > ul display none > li {
  width: 100%;
  float: none;
  display: block;
}
.main-menu .wrapper > ul display none > li a {
  width: 100%;
  display: block;
}
.main-menu .wrapper > ul display none > li > ul {
  position: relative;
}
.main-menu .wrapper > ul display none > li > ul.normal-sub {
  width: 100%;
}
.main-menu .wrapper > ul display none > li > ul > li {
  float: none;
  width: 100%;
  margin-top: 20px;
}
.main-menu .wrapper > ul display none > li > ul > li:first-child {
  margin: 0;
}
.main-menu .wrapper > ul display none > li > ul > li > ul {
  position: relative;
}
.main-menu .wrapper > ul display none > li > ul > li > ul > li {
  float: none;
}
@media screen and (min-width: 1200px) {
  .main-menu .wrapper {
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media (min-width: 1400px) {
  .main-menu .wrapper {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media screen and (min-width: 1600px) {
  .main-menu .wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }
}
.main-menu .logo {
  position: relative;
  z-index: 150;
  display: inline-block;
  margin: 15px 10px;
}
.main-menu .logo img {
  width: 120px;
  height: 45px;
}
@media screen and (min-width: 768px) {
  .main-menu .logo {
    margin-left: 15px 0;
  }
  .main-menu .logo img {
    width: 150px;
    height: 56px;
  }
}
@media screen and (min-width: 992px) {
  .main-menu .logo img {
    width: 210px;
    height: 78px;
  }
}
@media screen and (min-width: 1200px) {
  .main-menu .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .main-menu .logo img {
    width: 150px;
    height: 56px;
  }
}
@media screen and (min-width: 1600px) {
  .main-menu .logo img {
    width: 184px;
    height: 69px;
  }
}
.main-menu .mobile-toggler {
  background: none;
  border: 0;
  color: #5b5e60;
  position: absolute;
  right: 15px;
  padding: 0;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-menu .mobile-toggler:focus {
  outline: none;
}
.main-menu .mobile-toggler span {
  display: block;
  width: 21px;
  margin-left: 5px;
}
.main-menu .mobile-toggler img {
  width: 21px;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}
.main-menu .mobile-toggler .x {
  display: none;
}
@media screen and (min-width: 768px) {
  .main-menu .mobile-toggler {
    top: 31px;
  }
}
@media screen and (min-width: 992px) {
  .main-menu .mobile-toggler {
    top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .main-menu .mobile-toggler {
    display: none;
  }
}
.main-menu .primary {
  display: none;
  width: 100%;
  margin: 0 auto;
  width: 100%;
  list-style: none;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 0 0;
  border-top: 1px solid #e0e3e3;
}
.main-menu .primary > li {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #e0e3e3;
}
.main-menu .primary > li:focus {
  background: rgba(255,255,255,0.133);
  color: #e30613;
}
.main-menu .primary > li:hover > a color $red:after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
.main-menu .primary > li > a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
  display: inline-block;
}
@media screen and (min-width: 1200px) {
  .main-menu .primary > li > a {
    font-size: 18px;
    display: block;
  }
  .main-menu .primary > li > a:before {
    content: attr(data-title);
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 700;
    display: none;
    z-index: 2;
    color: #5b5e60;
    white-space: nowrap;
  }
  .main-menu .primary > li > a:hover {
    color: #fff;
  }
  .main-menu .primary > li > a:hover:before {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .main-menu .primary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 90px;
    border: 0;
    padding-left: 4%;
  }
  .main-menu .primary > li {
    border: 0;
  }
  .main-menu .primary > li > a {
    font-size: 14px;
    padding: 0;
  }
}
@media screen and (min-width: 1600px) {
  .main-menu .primary {
    padding-left: 5%;
  }
  .main-menu .primary > li > a {
    font-size: 15px;
  }
}
.main-menu .megamenu {
  display: none;
  width: 100%;
  background: #e0e3e3;
  color: #5b5e60;
  z-index: 99;
  left: 0;
  margin: 0;
  font-size: 14px;
  top: 120px;
  padding: 15px 15px 0;
}
@media screen and (min-width: 1200px) {
  .main-menu .megamenu {
    background: #fff;
    position: absolute;
    padding: 30px 1% 0;
    font-size: 18px;
    -webkit-box-shadow: 0 20px 40px rgba(0,0,0,0.4);
            box-shadow: 0 20px 40px rgba(0,0,0,0.4);
  }
}
@media screen and (min-width: 1600px) {
  .main-menu .megamenu {
    padding: 30px 5% 0;
    margin: 0 auto;
    max-width: 1600px;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
  }
}
.main-menu .megamenu .link-group {
  padding-right: 15px;
  opacity: 0;
}
.main-menu .megamenu .link-group--expand {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.main-menu .megamenu .link-group--image {
  max-width: 380px;
  font-size: 12px;
  margin-right: 30px;
}
.main-menu .megamenu .link-group--double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-menu .megamenu .link-group--double > div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.main-menu .megamenu .link-group--faidate a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-menu .megamenu .link-group--faidate a,
.main-menu .megamenu .link-group--faidate a:hover {
  color: #000;
}
.main-menu .megamenu .link-group--faidate .copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  text-transform: uppercase;
}
.main-menu .megamenu .link-group--faidate .text-link {
  padding: 0;
  color: #020202;
}
@media screen and (min-width: 1600px) {
  .main-menu .megamenu .link-group--image {
    max-width: 420px;
  }
}
.main-menu .megamenu li {
  margin: 0;
  padding-bottom: 0;
  list-style: none;
}
.main-menu .megamenu a {
  color: #74787a;
  display: block;
  white-space: nowrap;
}
.main-menu .megamenu a.normal-sub {
  width: 300px;
  left: auto;
  padding: 10px 20px;
}
.main-menu .megamenu a.normal-sub > li {
  width: 100%;
}
.main-menu .megamenu a.normal-sub > li a {
  border: 0;
  padding: 1em 0;
}
.main-menu .mm-links .title {
  color: #5b5e60;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 0 10px;
  border: 0;
  border-bottom: 1px solid #edeeee;
  background: none;
  display: block;
  width: 100%;
  text-align: left;
}
.main-menu .mm-links ul {
  padding: 0;
  margin-bottom: 40px;
}
.main-menu .mm-links li {
  margin-bottom: 5px;
}
.main-menu .mm-links a {
  color: #020202;
  position: relative;
}
.main-menu .mm-links a:after {
  font-weight: 800;
  color: #e30613;
  content: attr(data-title);
  position: absolute;
  left: 0;
  display: none;
  top: 0;
}
.main-menu .mm-links a:hover {
  text-decoration: none;
  color: #fff;
}
.main-menu .mm-links a:hover:after {
  display: block;
}
@media screen and (min-width: 768px) {
  .main-menu .mm-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-menu .mm-links ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .main-menu .mm-links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-menu .mm-links .title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .main-menu .mm-links ul {
    display: block;
    padding: 0 30px 0 0;
  }
}
.main-menu .secondary {
  display: none;
  -webkit-transition: top 0.4s cubic-bezier(0.33, 0, 0, 1);
  -o-transition: top 0.4s cubic-bezier(0.33, 0, 0, 1);
  transition: top 0.4s cubic-bezier(0.33, 0, 0, 1);
  padding-top: 10px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .main-menu .secondary {
    margin-left: 5%;
    padding-top: 0;
    display: block;
  }
}
@media screen and (min-width: 1600px) {
  .main-menu .secondary {
    margin-left: 10%;
    right: 5%;
  }
}
.main-menu .secondary ul {
  padding: 0;
  white-space: nowrap;
}
.main-menu .secondary li {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
}
@media screen and (min-width: 1600px) {
  .main-menu .secondary li {
    margin: 0 10px;
  }
}
.main-menu .secondary .link-group {
  display: block;
}
.main-menu .secondary .top {
  border-bottom: 1px solid #e5ebef;
  -ms-flex-item-align: center;
      align-self: center;
  padding-bottom: 10px;
}
.main-menu .secondary .top a:after,
.main-menu .secondary .top button:after {
  content: none;
}
.main-menu .secondary .item {
  text-transform: uppercase;
  background: none;
  border: 0;
  display: block;
  line-height: 30px;
  font-size: 12px;
  padding: 0;
}
.main-menu .secondary .item img {
  display: inline-block;
  margin-right: 15px;
}
.main-menu .secondary .bottom {
  font-size: 12px;
}
.main-menu .verniciper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 280px;
          flex: 0 0 280px;
  justify-self: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .main-menu .verniciper {
    margin-bottom: 0;
  }
}
.main-menu .verniciper,
.main-menu .verniciper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}
.main-menu .verniciper ul,
.main-menu .verniciper li {
  margin: 0;
  padding: 0;
}
.main-menu .verniciper ul {
  height: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media screen and (min-width: 1200px) {
  .main-menu .verniciper ul {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main-menu .verniciper li {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  position: relative;
}
.main-menu .verniciper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  font-weight: 600;
}
.main-menu .verniciper span {
  color: #fff;
  display: block;
}
.main-menu .verniciper span:after {
  margin-top: 5px;
}
.main-menu .servizi {
  justify-self: flex-end;
  background: url("../main-menu/img/pennello.jpg") no-repeat center 100px;
  background-size: cover;
  position: relative;
}
.main-menu .servizi__cta {
  width: 100%;
  bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .main-menu .servizi__cta {
    position: absolute;
  }
}
.main-menu .servizi .btn {
  color: #fff;
}
/* -----------------------
  Fancy
----------------------- */
.fancy--country ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.fancy--country li {
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  display: block;
}
.fancy--country a {
  color: #fff;
}
.fancy--country .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .fancy--country .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

/*# sourceMappingURL=main-menu.css.map */
