@page {
  margin: 1.5cm;
}
.color-tile.unselected,
.color-tile .close {
  display: none;
}
.color-tile .thumb {
  max-width: 15cm;
}
.color-tile .feats li {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  opacity: 1;
}
.color-detail {
  background: none;
  color: #272727;
  padding: 0;
}
.color-detail,
.color-detail .intro {
  font-size: 0.6cm;
}
.color-detail .intro {
  padding-right: 1cm;
}
.color-detail header .btn-share,
.color-detail header a {
  display: none;
}
.color-detail .logo,
.color-detail .formati-list li img {
  -webkit-print-color-adjust: exact;
  background: #d1d0cf;
}
.color-detail .title {
  color: #272727;
}
.color-detail .formati-list li {
  max-width: none;
}
.color-detail .formati-list svg rect {
  background-color: transparent;
  stroke: #272727;
}

/*# sourceMappingURL=scheda-print.css.map */
