@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
/* ------------------------------
  Main app
------------------------------ */
.lanci-fiere-news .item a {
  color: #5b5e60;
}
.lanci-fiere-news .item .copy {
  border-bottom: 2px solid #e0e3e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.lanci-fiere-news .item time,
.lanci-fiere-news .item .title {
  color: #020202;
  display: block;
}
.lanci-fiere-news .item time {
  font-size: 12px;
  text-transform: uppercase;
}
.lanci-fiere-news .item .title {
  font-size: 18px;
  font-weight: 800;
}
.lanci-fiere-news .item .abstract {
  font-size: 14px;
}
.lanci-fiere-news .slick-dots {
  position: static;
}

/*# sourceMappingURL=lanci-fiere-news.css.map */
