@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
.complex-media {
  position: relative;
  height: 50%;
}
.complex-media .media {
  position: relative;
  width: 91.66666666666666%;
  left: 8.333333333333332%;
  z-index: 1;
}
@media screen and (min-width: 576px) {
  .complex-media .media {
    width: 83.33333333333334%;
    left: 16.666666666666664%;
  }
}
@media screen and (min-width: 768px) {
  .complex-media .media {
    width: 83.33333333333334%;
    left: 16.666666666666664%;
  }
}
@media screen and (min-width: 992px) {
  .complex-media .media {
    width: 66.66666666666666%;
    left: 25%;
  }
}
.complex-media .poster {
  z-index: 1;
  background: no-repeat center center;
  background-size: cover;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 1;
  position: relative;
  padding-top: 56.25%;
  width: 100%;
  -webkit-box-shadow: -20px 50px 80px -20px rgba(0,0,0,0.4);
          box-shadow: -20px 50px 80px -20px rgba(0,0,0,0.4);
}
.complex-media .poster:before {
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(91,94,96,0.7)), to(rgba(91,94,96,0.2)));
  background: -o-linear-gradient(rgba(91,94,96,0.7), rgba(91,94,96,0.2));
  background: linear-gradient(rgba(91,94,96,0.7), rgba(91,94,96,0.2));
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
}
.complex-media .btn-play {
  position: absolute;
  z-index: 2;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}
.complex-media .copy {
  position: relative;
  width: 66.66666666666666%;
  left: 16.666666666666664%;
  margin-top: -7%;
  z-index: 2;
  color: #fff;
}
@media screen and (min-width: 576px) {
  .complex-media .copy {
    left: 25%;
    width: 58.333333333333336%;
  }
}
@media screen and (min-width: 992px) {
  .complex-media .copy {
    width: 41.66666666666667%;
    left: 33.33333333333333%;
  }
}
@media screen and (min-width: 1200px) {
  .complex-media .copy {
    width: 41.66666666666667%;
  }
}
.complex-media .bg {
  position: absolute;
  z-index: 0;
  background: no-repeat center center;
  background-size: cover;
  top: 10%;
  width: 91.66666666666666%;
  bottom: 0;
}
@media screen and (min-width: 992px) {
  .complex-media .bg {
    width: 83.33333333333334%;
  }
}
.complex-media .palette {
  position: absolute;
  z-index: 2;
  right: 8.333333333333332%;
  bottom: -21px;
}
@media screen and (min-width: 992px) {
  .complex-media .palette {
    right: 16.666666666666664%;
  }
}

/*# sourceMappingURL=complex-media.css.map */
