@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}
/* -----------------------
  Colori categorie
------------------------*/
/* -----------------------
  Filters
------------------------*/
.filters-wrap {
  background: #fff;
}
.filters {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 576px) {
  .filters {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) {
  .filters {
    display: block;
  }
}
.filters li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}
@media screen and (min-width: 576px) {
  .filters li {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media screen and (min-width: 768px) {
  .filters li {
    -ms-flex-preferred-size: 33.3333%;
        flex-basis: 33.3333%;
  }
}
.filters-logo,
.filters-title {
  padding-left: 40px;
}
.filters-title {
  text-transform: uppercase;
  font-weight: 600;
  color: #bdbfbf;
}
/* -----------------------
  Filter
------------------------*/
.filter {
  border: 0;
  background: none;
  cursor: pointer;
  color: #bdbfbf;
  position: relative;
  padding-left: 50px;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.filter:before {
  content: '';
  background: #e30613;
  width: 40px;
  position: absolute;
  height: 1px;
  top: 12px;
  left: 0;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}
.filter:hover {
  color: #5b5e60;
}
.filter--selected {
  color: #5b5e60;
}
.filter--selected:before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
.filter .avatar {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  vertical-align: bottom;
  margin-right: 20px;
}
.filter[data-dealer-type=rivenditore]:before,
.filter[data-dealer-type=rivenditore] .avatar {
  background-color: #e27a3f;
}
.filter[data-dealer-type=agente]:before,
.filter[data-dealer-type=agente] .avatar {
  background-color: #efc94c;
}
.filter[data-dealer-type=deposito]:before,
.filter[data-dealer-type=deposito] .avatar {
  background-color: #3ca866;
}
.filter[data-dealer-type=distributore]:before,
.filter[data-dealer-type=distributore] .avatar {
  background-color: #864199;
}
.filter[data-dealer-type=filiale]:before,
.filter[data-dealer-type=filiale] .avatar {
  background-color: #d30f4c;
}
.filter[data-dealer-type=sede]:before,
.filter[data-dealer-type=sede] .avatar {
  background-color: #0092c8;
}
.reset-filters {
  border: 0;
  background: none;
  cursor: pointer;
  padding-left: 56px;
  opacity: 0.4;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.reset-filters:hover {
  opacity: 1;
}
.reset-filters img {
  margin-right: 15px;
}
/* -----------------------
  Dealers
------------------------*/
.dealers {
  position: relative;
}
.dealers .palette {
  position: absolute;
}
.dealer {
  background-color: #fff;
  padding: 15px;
  color: #5b5e60;
}
.dealer[data-dealer-type=rivenditore] .pin {
  background-color: #e27a3f;
}
.dealer[data-dealer-type=agente] .pin {
  background-color: #efc94c;
}
.dealer[data-dealer-type=deposito] .pin {
  background-color: #3ca866;
}
.dealer[data-dealer-type=distributore] .pin {
  background-color: #864199;
}
.dealer[data-dealer-type=filiale] .pin {
  background-color: #d30f4c;
}
.dealer[data-dealer-type=sede] .pin {
  background-color: #0092c8;
}
.dealer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dealer-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  -webkit-box-shadow: 0 1px 4px #000;
          box-shadow: 0 1px 4px #000;
  margin-right: 20px;
  border-radius: 40px;
}
.dealer-popup .pin {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #fff;
  border-radius: 20px;
}
.dealer-name {
  font-size: 16px;
  font-weight: 700;
}
.dealer-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dealer-loghi {
  white-space: nowrap;
}

/*# sourceMappingURL=rete-vendita.css.map */
